<hab-banner></hab-banner>
<div class="notifications">
  <hab-notifications
    [notifications]="state.notifications.all"
    [removeNotification]="removeNotification">
  </hab-notifications>
</div>
<div class="app {{ layout }}">
  <nav class="menu">
    <hab-side-nav [isSignedIn]="isSignedIn"></hab-side-nav>
  </nav>
  <nav class="main">
      <hab-header
      [appName]="state.app.name"
      [isUserNavOpen]="isUserNavOpen"
      [isSignedIn]="isSignedIn"
      [username]="username"
      [avatarUrl]="avatarUrl"
      [signOut]="signOut"
      [toggleUserNavMenu]="toggleUserNavMenu">
    </hab-header>
  </nav>
  <main>
    <ng-container *ngIf="isSigningIn">
      <header></header>
      <div class="body">
        <h5>
          <hab-icon symbol="loading" class="spinning"></hab-icon>
          Loading...
        </h5>
      </div>
    </ng-container>  
    <router-outlet *ngIf="!isSigningIn"></router-outlet>
  </main>
</div>
<hab-footer [currentYear]="state.app.currentYear"></hab-footer>
