---
title: Add configuration to your plan
---

<div class="slider--nav">
  <a class="button" href="/tutorials/getting-started/mac/configure-plan">Mac</a>
  <a class="button" href="/tutorials/getting-started/linux/configure-plan">Linux</a>
</div>

# Add configuration to your plan (Linux)
<%= partial "/shared/configure_plan_common" %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/linux/process-build" class="button cta">Next - Process your build</a></li>
  <li><a href="/tutorials/getting-started/linux/add-hooks/">Back to previous step</a></li>
</ul>
