---
title: Getting set up with Habitat | Linux
---

<div class="slider--nav">
  <a class="button" href="/tutorials/getting-started/mac/setup-environment">Mac</a>
  <a class="button" href="/tutorials/getting-started/linux/setup-environment">Linux</a>
</div>

# Set up your environment (Linux)
The `hab` command-line interface (CLI) tool downloads its other components when it needs them, so setup for Habitat is centered on where you want the `hab` CLI installed and getting it integrated into your shell.

1. Open a terminal window and copy `hab` to your `/bin` directory. This is because running the `hab` CLI natively on Linux requires you to run as root.

       sudo cp where/you/extracted/hab /bin

2. Run `hab setup` and follow the instructions in the setup script. 

       sudo hab setup

    <%= partial "/shared/setup_environment_script_step" %>

    > Note: The only rights the GitHub personal authorization token needs at present is `user:email` since it is only used for authentication. Also, you can opt-out of providing usage data at a later point in time by re-running the `hab setup` subcommand and typing `No` when asked if you want to provide usage data.

That's it. You're all set up and ready to create your first package. The first step in that process is to create a plan.

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/linux/create-plan" class="button cta">Next - Create your first plan</a></li>
  <li><a href="/tutorials/getting-started/basic-concepts/">Back to previous step</a></li>
</ul>
