.docker-export-settings-component {

  .toggle {
    display: flex;

    .unconfigured {
      font-style: italic;
      margin-left: $default-margin;
      line-height: 20px;
    }
  }

  .fields {

    label {
      font-size: $small-font-size;
    }

    input[type="text"] {
      font-family: $monospace-font-family;
      font-size: $small-font-size;
    }
  }
}
