hab-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
  width: 1em;
  height: auto;

  .mat-icon {
    display: inline-block;
    line-height: inherit;
    width: auto;
    height: auto;

    svg {
      display: inline-block;

      path {
        fill: currentColor;
      }
    }
  }

  &.spinning {
    svg {
      transform-origin: 50%;
      animation: threeSixty 1s linear infinite;
    }
  }

  @keyframes threeSixty {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
