@import "build-detail/build-detail.component";
@import "build-list/build-list.component";
@import "build-notice/build-notice.component";
@import "build-status/build-status.component";
@import "package/package.component";
@import "package-builds/package-builds.component";
@import "package-latest/package-latest.component";
@import "package-readme/package-readme.component";
@import "package-release/package-release.component";
@import "package-detail/package-detail.component";
@import "package-settings/package-settings.component";
@import "package-sidebar/package-sidebar.component";
@import "package-versions/package-versions.component";
