{{ define "main" }}

<div id="main-content-col" class="cell auto index-page">
<div class="col-content">
  <h1>Chef Documentation</h1>


    <div class="index-prose">
      <p>Welcome to the Chef Habitat Documentation!</p>
      <p>This is the documentation for:</p>

      <ul>
        <li>Chef Habitat</li>
      </ul>

      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">

          <div class="cell small-12 mediumlarge-6">
            <h4><i class="Chef Habitat"></i>Getting Started</h4>
            <ul>
              <li><a href="/community">Community</a></li>
              <li><a href="/licensing">Licensing</a></li>
              <li><a href="/overview">Chef Habitat Overview</a></li>
              <li><a href="https://learn.chef.io/tracks/getting-started/" class="external">Learn Chef</a>
                <div class="external_link_icon"></div>
              </li>
            </ul>
          </div>

          <div class="cell small-12 mediumlarge-6">
            <h4><img src="/images/chef-logo-gray.svg" alt="Chef logo">Chef Infra</h4>
            <ul>
              <li><a href="/overview">Chef Habitat</a></li>
              <li><a href="/overview">Chef Habitat</a></li>
              <li><a href="/overview">Chef Habitat</a></li>
              <li><a href="/overview">Chef Habitat</a></li>
            </ul>
          </div>
        </div>
      </div>

      <p>If you need documentation for previous versions, see the <a href="https://docs-archive.chef.io">Docs
      Archive</a>.</p>
    </div>
  </div>
</div>
{{ end }}
