.section-tabs {
  @include transition();

  .tabs {
    background: none;
    border: none;
  }

  .tabs-nav {
    @include reset-ul();
    border-bottom: none;
    background: none;
    border: none;

    li {

      @include breakpoint(medium) {
        width: auto;

        &:not(:last-child){
          margin-right: 10px;
        }
      }

      > a {
        border-radius: 0;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        padding: 12px 9px;
        background-color: $charcoal;
        color: white;
        margin: 0;
        border: 1px solid $charcoal;

        &:before {
          display: none;
        }

        @include breakpoint(small only) {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        @include breakpoint(small) {
          padding: 12px 15px;
        }

        @include breakpoint(medium) {
          padding: rem-calc(16px 24px);
        }

        body:not(.touch-device) & {
          &:hover {
            background-color: white;
            color: $charcoal;
            border: 1px solid #ddd;
          }
        }

        &:focus {
          outline: none;
        }
      }

      &.is-active {

        @include breakpoint(small only) {
          width: 100%;
        }

        > a {
          background-color: white;
          color: $charcoal;
          border: 1px solid #ddd;
          border-bottom: none;
          position: relative;

          @include breakpoint(small down) {
              padding: 12px 15px;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 3px;
            background: white;
          }
        }
      }
    }
  }

  .tabs-content {
    @include box-shadow();
    background: white;
    padding: 22px;
    border: 1px solid #ddd;
    margin-top: -1px;

    @include breakpoint(medium) {
      padding: rem-calc(40);
    }
  }

  .cell {
    a.cta {
      display: block;
      margin: 0 0 16px 8px;

      @include breakpoint(medium) {
        margin: 0 0 16px 38px;
      };
    }

    img {
      box-shadow: 0 4px 32px rgba($lightgray, 0.50);
    }
  }
}
