// We're specifying this here because the base/_forms.scss selectors are too
// strong and we have to override them.
input.hab-checking-input--input {
  padding-right: $base-spacing * 1.2;

  &:focus {
    box-shadow: none;
  }

  &.loading {
    &:focus {
      border-color: $light-gray;
    }
  }
}

.hab-checking-input {
  &--input-wrapper {
    position: relative;
  }

  &--input-icon {
    position: absolute;
    right: $small-spacing;
    top: $small-spacing;

    &.spinning {
      color: $light-gray;
    }

    &.invalid {
      color: $failure-color;
    }

    &.valid {
      color: $success-color;
    }
  }

  &--input-msg-wrap {
    text-align: right;
  }

  &--input-msg {
    > span {
      margin-left: $base-spacing;
    }

    &.invalid {
      color: $failure-color;
    }

    &.valid {
      color: $success-color;
    }
  }
}
