.dialog {
  color: $hab-gray-dark;

  section {

    &.heading {
      h1 {
        font-size: rem(16);
      }

      hab-icon, h1 {
        display: inline-block;
      }
    }

    &.body {
      font-size: rem(14);
    }

    &.controls {
      font-size: rem(14);

      button, a {
        display: inline-block;
        margin-right: 18px;
        cursor: pointer;
      }
    }
  }
}
