$tablet-width: 768px;
$desktop-width: 1024px;

@mixin shadow {
  box-shadow: 0 0 $small-margin 0 $medium-gray;
}

@mixin shadow-panel {
  @include shadow;
  background-color: $white;
  border-radius: $default-radius;
  padding: $default-padding;
  height: auto;
  width: auto;
}

@mixin icon-size($size: 16) {
  width: #{$size}px;
  height: #{$size}px;
}

@mixin clickable-icon {
  cursor: pointer;
  @include icon-size(16);
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
