<div class="explore-component">
  <div class="upper">
    <section class="heading">
      <div>
        <h1>Everything you need to build your app and run it on any platform</h1>
      </div>
    </section>
    <section class="search">
      <div>
        <form (ngSubmit)="search(term.value)">
          <input #term type="search" placeholder="What dependencies does your app have?">
          <button mat-raised-button color="primary" type="submit">Find Packages</button>
        </form>
      </div>
    </section>
    <section class="packages">
      <div>
        <ul class="popular">
          <li class="heading">
            <h4>Popular Packages</h4>
          </li>
          <li *ngFor="let item of store.getState().packages.explore.popular">
            <a [routerLink]="['/pkgs', item.origin, item.name, 'latest']">
              <span class="title">{{item.origin}} / {{item.name}}</span>
            </a>
            <div class="caret">
              <hab-icon symbol="caret-right"></hab-icon>
            </div>
          </li>
        </ul>
        <ul class="top">
          <li class="heading">
            <h4>Packaging Your App</h4>
          </li>
          <li *ngFor="let item of store.getState().packages.explore.your_app">
            <a [routerLink]="['/pkgs', item.origin, item.name, 'latest']">
              <span class="title">{{item.origin}} / {{item.name}}</span>
            </a>
            <div class="caret">
              <hab-icon symbol="caret-right"></hab-icon>
            </div>
          </li>
        </ul>
        <ul class="recent">
          <li class="heading">
            <h4>From the Community</h4>
          </li>
          <li *ngFor="let item of store.getState().packages.explore.community">
            <a [routerLink]="['/pkgs', item.origin, item.name, 'latest']">
              <span class="title">{{item.origin}} / {{item.name}}</span>
            </a>
            <div class="caret">
              <hab-icon symbol="caret-right"></hab-icon>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="stats">
      <div>
        <div class="group plans">
          <strong>{{ store.getState().packages.explore.stats.plans.toLocaleString() }}</strong>
          Core packages
        </div>
        <div class="group builds">
          <strong>{{ store.getState().packages.explore.stats.builds.toLocaleString() }}</strong>
          Core package builds
        </div>
        <p>
          Keep your app and its dependencies fresh and secure. The Habitat Build Service is continually rebuilding core packages, enabling
          you to stay on top of things such as critical patches, upgrades, and more, so you can focus on writing and delivering
          features.
        </p>
      </div>
    </section>
  </div>
  <div class="lower">
    <section class="scaffolding">
      <div>
        <div class="item">
          <div class="image"></div>
          <div class="content">
            <h3>Automate Your Own App</h3>
            <div class="subhead">Habitat Docs</div>
            <p>
              Ready to add Habitat to your application? Unleash all the great features of Habitat by simply adding a plan.sh file and optional
              configuration files to your source code repo.
            </p>
            <div class="links">
              <a href="https://www.habitat.sh/docs/create-plans/">Write your first plan</a>
            </div>
            <p>Packaging a node or ruby app? It's even easier. With a very minimal plan.sh file, you can use scaffolding to
              generate common, pre-configured hook and config files.
            </p>
            <div class="links">
              <a href="https://www.habitat.sh/docs/concepts-scaffolding/">Learn about scaffolding</a>
              <a href="https://github.com/habitat-sh/core-plans/tree/master/scaffolding-node">Try Node scaffolding</a>
              <a href="https://github.com/habitat-sh/core-plans/tree/master/scaffolding-ruby">Try Ruby scaffolding</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="compliance">
      <div class="item">
        <div class="image">
          <iframe width="100%" height="300" src="https://www.youtube.com/embed/rTTL-HekZpw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="content">
          <h3>Continuously Scan for Compliance</h3>
          <div class="subhead">06:53</div>
          <p>
            Automating your apps with Habitat gets even better when you start scanning them with InSpec. Simply point your packages at
            the security profile(s) you need, define a time interval, and let InSpec + Habitat handle the rest &ndash; providing
            you with easily accessible, continuous test results.
          </p>
          <div class="links">
            <a href="http://inspec.io/docs/reference/habitat/">Learn about using InSpec with Habitat</a>
            <a href="https://blog.chef.io/2017/03/30/inspec-habitat-and-continuous-compliance/">
              Blog: InSpec, Habitat and Continuous Compliance
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="community">
    <div>
      <div class="content">
        <h3>Habitat is free open-source software.</h3>
        <p>
          Join the community today to ramp up your knowledge, share your ideas, and contribute to the project.
        </p>
        <a class="cta" mat-raised-button color="accent" href="https://www.habitat.sh/community/">Join the Community</a>
      </div>
    </div>
  </section>
</div>
