<div class="hab-explore">
  <div class="upper">
    <section class="heading">
      <div>
        <h1>Everything you need to build your app and run it on any platform</h1>
      </div>
    </section>
    <section class="search">
      <div>
        <form (ngSubmit)="search(term.value)">
          <input #term placeholder="What dependencies does your app have?">
          <button type="submit">Find Packages</button>
        </form>
      </div>
    </section>
    <section class="packages">
      <div>
        <ul class="popular">
          <li class="heading">
            <h4>Popular Packages</h4>
          </li>
          <li *ngFor="let item of store.getState().packages.explore.popular">
            <a [routerLink]="['/pkgs', item.origin, item.name]">
              <span class="title">{{item.origin}} / {{item.name}}</span>
            </a>
            <div class="caret">
              <img src="/assets/images/icon-caret-right.svg">
            </div>
          </li>
        </ul>
        <ul class="top">
          <li class="heading">
            <h4>Packaging Your App</h4>
          </li>
          <li *ngFor="let item of store.getState().packages.explore.your_app">
            <a [routerLink]="['/pkgs', item.origin, item.name]">
              <span class="title">{{item.origin}} / {{item.name}}</span>
            </a>
            <div class="caret">
              <img src="/assets/images/icon-caret-right.svg">
            </div>
          </li>
        </ul>
        <ul class="recent">
          <li class="heading">
            <h4>From the Community</h4>
          </li>
          <li *ngFor="let item of store.getState().packages.explore.community">
            <a [routerLink]="['/pkgs', item.origin, item.name]">
              <span class="title">{{item.origin}} / {{item.name}}</span>
            </a>
            <div class="caret">
              <img src="/assets/images/icon-caret-right.svg">
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="stats">
      <div>
        <div class="group plans">
          <strong>{{ store.getState().packages.explore.stats.plans.toLocaleString() }}</strong>
          Core packages
        </div>
        <div class="group builds">
          <strong>{{ store.getState().packages.explore.stats.builds.toLocaleString() }}</strong>
          Core package builds
        </div>
        <p>
          Keep your app and its dependencies fresh and secure. The Habitat Build Service is
          continually rebuilding core packages, enabling you to stay on top of things such as
          critical patches, upgrades, and more, so you can focus on writing and delivering
          features.
        </p>
      </div>
    </section>
  </div>
  <div class="lower">
    <!-- <section class="getting-started">
      <div>
        <div class="image">
          <img src="/assets/images/habitat-box.svg">
        </div>
        <div class="content">
          <h3>Getting Started with Habitat</h3>
          <div class="subhead">11:29</div>
          <p>
            New to Habitat? Building and managing apps is a complex endeavor, but with
            Habitat's built-in features you'll soon have your app up and running easier
            than ever before. We recommend you start with the short demo, then roll up
            your sleeves and package your first app with Habitat.
          </p>
          <div class="links">
            <a href="https://www.habitat.sh/try/">Try the Habitat Quick Start Demo</a>
            <a href="https://www.habitat.sh/tutorials/">Tutorial: Packaging Your First Habitat App</a>
          </div>
        </div>
      </div>
    </section> -->
    <section class="scaffolding">
      <div>
        <div>
          <div class="image">
            <img src="/assets/images/scaffolding.svg">
          </div>
          <div class="content">
            <h3>Automate Your Own App</h3>
            <div class="subhead">Habitat Docs</div>
            <p>
              Ready to add Habitat to your application? Unleash all the great features of
              Habitat by simply adding a plan.sh file and optional configuration files to
              your source code repo.
            </p>
            <div class="links">
              <a href="https://www.habitat.sh/docs/create-plans/">Write your first plan</a>
            </div>
            <p>Packaging a node or ruby app? It's even easier. With a very minimal plan.sh file, you can use
              scaffolding to generate common, pre-configured hook and config files.
            </p>
            <div class="links">
              <a href="https://www.habitat.sh/docs/concepts-scaffolding/">Learn about scaffolding</a>
              <a href="https://github.com/habitat-sh/core-plans/tree/master/scaffolding-node">Try node scaffolding</a>
              <a href="https://github.com/habitat-sh/core-plans/tree/master/scaffolding-ruby">Try ruby scaffolding</a>
            </div>
            <!-- <ul class="tags">
              <li><a href="https://github.com/habitat-sh/core-plans/tree/master/scaffolding-ruby">ruby</a></li>
            </ul> -->
          </div>
        </div>
       </div>
    </section>
    <section class="compliance">
      <div>
        <div class="image">
          <iframe width="100%" height="300" src="https://www.youtube.com/embed/rTTL-HekZpw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="content">
          <h3>Continuously Scan for Compliance</h3>
          <div class="subhead">06:53</div>
          <p>
            Automating your apps with Habitat gets even better when you start scanning
            them with InSpec. Simply point your packages at the security profile(s) you
            need, define a time interval, and let InSpec + Habitat handle the rest &ndash;
            providing you with easily accessible, continuous test results.
          </p>
          <div class="links">
            <a href="http://inspec.io/docs/reference/habitat/">Learn about using InSpec with Habitat</a>
            <a href="https://blog.chef.io/2017/03/30/inspec-habitat-and-continuous-compliance/">
              Blog: InSpec, Habitat and Continuous Compliance
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="community">
    <div>
      <div class="content">
        <h3>Habitat is free open-source software.</h3>
        <p>
          Join the community today to ramp up your knowledge, share your ideas,
          and contribute to the project.
        </p>
        <a href="https://www.habitat.sh/community/" class="button cta">Join the Community</a>
      </div>
    </div>
  </section>
</div>
