.package-promote-component {
  @include transition(border box-shadow);
  font-size: $smaller-font-size;
  font-weight: 600;
  border-radius: 11px;
  color: $hab-blue;
  padding: 2px 8px 4px 8px;
  border: 1px solid transparent;
  cursor: pointer;

  > span {
    white-space: nowrap;

    > hab-icon {
      @include icon-size(14);
      margin: 0;
    }
  }

  &:hover {
    @include shadow;
  }

  .promoting {
    color: map-get($status-colors, processing);
  }
}
