.package-promote-component {
  font-size: $smaller-font-size;
  font-weight: 600;
  border-radius: 11px;
  color: $hab-blue;
  padding: 2px 8px 4px 8px;
  cursor: pointer;

  span {
    white-space: nowrap;
  }

  &:hover {
    @include shadow;
  }

  .promoting {
    color: map-get($status-colors, processing);
  }
}
