<div class="dialog">
  <form (ngSubmit)="onSubmit()" #dockerForm="ngForm">
    <section class="heading">
      <hab-icon symbol="docker"></hab-icon>
      <h1>Add Registry Account</h1>
    </section>
    <section class="body">
      <label for="name">Integration Name</label>
      <input
        type="text"
        name="name"
        #name="ngModel"
        [(ngModel)]="model.name"
        placeholder="integration name"
        [class.invalid]="name.invalid && name.dirty"
        autocomplete="off"
        [disabled]="data.name"
        required>
      <ng-container *ngIf="data.type !== 'docker'">
        <label>Registry URL</label>
        <input
          type="text"
          name="registry_url"
          #registry_url="ngModel"
          [(ngModel)]="model.registry_url"
          placeholder="registry URL"
          [class.invalid]="registry_url.invalid && registry_url.dirty"
          autocomplete="off">
      </ng-container>
      <label for="username">Registry Username</label>
      <input
        type="text"
        name="username"
        #username="ngModel"
        [(ngModel)]="model.username"
        placeholder="username"
        [class.invalid]="username.invalid && username.dirty"
        autocomplete="off"
        required>
      <label for="password">Registry Password</label>
      <input
        type="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="model.password"
        placeholder="password"
        [class.invalid]="password.invalid && password.dirty"
        required>
      <p *ngIf="creds.validating || creds.validated" [class]="status.className">
        <hab-icon [symbol]="status.icon" [class.spinning]="creds.validating"></hab-icon>
        {{ creds.message }}
      </p>
    </section>
    <section class="controls">
      <button mat-raised-button tabindex="1" color="primary" type="submit" [disabled]="!dockerForm.form.valid">Save Account</button>
      <a (click)="close()">Cancel</a>
    </section>
  </form>
</div>
