---
title: Studio
description:
---

# <a name="glossary-studio" id="glossary-studio" data-magellan-target="glossary-studio" type="anchor">Studio</a>

The Chef Habitat Studio is a clean, self-contained, minimal environment in which you can develop, build, and package software that is free from any upstream operating system distribution. All tools and dependencies included in the Studio are installed through Chef Habitat packages, thus preventing any unwanted dependencies from being used by your package.

