---
title: glossary
description: Important Chef Habitat concepts explained
---
# <a name=hab-glossary> Chef Habitat Glossary</a>
Chef Habitat is a framework comprised of multiple components: Chef Habitat Builder; the Supervisor; an HTTP interface on that supervisor to report package status; a communication model for disseminating rumors through a supervisor ring, and others.

This section will delve into each of these major components to give a shared vocabulary on what they are, what they do, and how they work together. For information about the underlying design goals that motivated these components, see [Why Chef Habitat?](/about/).

You can also check out Chef Habitat's [reference architectures](/docs/diagrams).