.members-tab {

  h3 {
    margin-bottom: rem(5);
    font-size: rem(12);
    text-transform: uppercase;
  }

  .members-actions {
    @include span-columns(9);

    .members-invites {
      @include row;
      margin-bottom: 32px;

      .members-invite {
        @include span-columns(5 of 9);

        .members-search {
          width: 100%;
          margin-bottom: 20px;

          .label {
            font-size: rem(14);
          }

          input {
            margin: 12px 0;
            box-sizing: border-box;
            padding: 12px;
            outline: none;
            border-radius: $global-radius;
            border: 1px solid $medium-gray;
            font-size: rem(14);
            font-weight: 600;

            &.ng-pristine:focus {
              box-shadow: inherit;
            }

            &::placeholder {
              font-weight: normal;
              font-size: rem(14);
              color: $medium-gray;
            }
          }

          .error {
            color: $hab-red;
            font-size: inherit;
          }
        }
      }
    }

    .members {
      @include row;
      margin-bottom: 26px;
    }
  }

  .members {

    ul {

      &:first-child {
        margin-bottom: rem(30);
      }

      li {
        @include row;
        border-bottom: 1px solid $very-light-gray;
        padding: 12px;

        hab-icon {
          width: 16px;
          height: 16px;
        }

        .name {
          @include span-columns(10);
          font-weight: 600;

          hab-icon {
            margin-right: 6px;
          }
        }

        .actions {
          @include span-columns(2);
          text-align: right;

          hab-icon {
            color: $hab-blue;
            cursor: pointer;
            margin-left: 12px;
            transition: color .2s linear;

            &:hover {
              color: darken($hab-blue, 10%);
            }
          }
        }
      }
    }
  }

  .members-sidebar {
    @include span-columns(3);
    font-size: rem(14);
    padding-left: 20px;
    border-left: 1px solid $very-light-gray;

    p {
      margin-bottom: 0;
    }
  }
}
