<div class="page-body">
  <div class="hab-origin--left">
    <div class="member-actions">
      <div class="member-invite">
        <h3>Invite Member</h3>
        <form
          #formValues="ngForm"
          [formGroup]="form"
          (ngSubmit)="submit(formValues.value.username)">
          <div class="member-search">
            <span class="label">Add existing Habitat users by GitHub username.</span>
            <input type="search" name="username"
              [formControl]="form.controls['username']"
              placeholder="GitHub Username">
            <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
          </div>
          <div>
            <button
              md-raised-button
              color="primary"
              [disabled]="!control.valid">
              Send invitation
            </button>
          </div>
        </form>
      </div>
      <div class="members-pending-invites">
        <h3>Pending Invites</h3>
        <p *ngIf="invitations.size === 0">No pending invitations.</p>
        <ul class="pending">
          <li *ngFor="let invitation of invitations"
            class="hab-item-list hab-no-select">
            <h3>{{invitation.account_name}}</h3>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="hab-origin-members-tab--section">
      <h3>Current Members</h3>
      <p *ngIf="members.size === 0">No Members.</p>
      <ul>
        <li *ngFor="let member of members"
          class="hab-item-list hab-no-select">
          <h3>{{member}}</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="hab-origin--right">
    <h4 class="uppercase">About Members</h4>
    <p>
      Members are able to upload and utilize both private and public packages.
      They can also invite new members.
    </p>
    <p>
      By default, the creator of an origin is also the owner.
    </p>
    <p>
      In addition to regular member privelege, the owner can also remove other members
    </p>
  </div>
</div>
