<div class="origin-members-tab-component body">
  <div class="content">
    <section>
      <h3>Invite Member</h3>
      <form #formValues="ngForm" [formGroup]="form" (ngSubmit)="submit(formValues.value.username)">
        <p>
          Add existing Habitat users by GitHub username.
        </p>
        <input type="search" name="username" [formControl]="form.controls['username']" placeholder="GitHub username">
        <p class="error" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>
        <div class="controls">
          <button mat-raised-button color="primary" [disabled]="!control.valid">
            Send invitation
          </button>
        </div>
      </form>
    </section>
    <hr>
    <section>
      <ul class="action-list">
        <li class="heading">
          <h4>Pending Invites</h4>
        </li>
        <li class="none" *ngIf="invitations.size === 0">
          <span>No pending invitations.</span>
        </li>
        <li *ngFor="let invitation of invitations" class="item pending-invite">
          <span class="column name">{{ invitation.account_name }}</span>
          <span class="column actions">
            <hab-icon symbol="cancel" (click)="rescind(invitation)" title="Rescind this invitation"></hab-icon>
          </span>
        </li>
      </ul>
    </section>
    <hr>
    <section>
      <ul class="action-list">
        <li class="heading">
          <h4>Current Members</h4>
        </li>
        <li class="none" *ngIf="members.size === 0">
          <span>No members.</span>
        </li>
        <li *ngFor="let member of members" class="item">
          <span class="column name">{{ member }}</span>
          <span class="column actions">
            <hab-icon symbol="cancel" (click)="delete(member)" *ngIf="canDelete(member)" title="Remove this member from this origin"></hab-icon>
          </span>
        </li>
      </ul>
    </section>
  </div>
  <aside>
    <h3>About Members</h3>
    <p>
      Members are able to upload and utilize both private and public packages. They can also invite new members.
    </p>
    <p>
      By default, the creator of an origin is also the owner.
    </p>
    <p>
      In addition to regular member privelege, the owner can also remove other members.
    </p>
  </aside>
</div>
