---
title: Reference Overview
category: Reference
---
# <a name="reference" id="reference" data-magellan-target="reference">Chef Habitat Reference Overview</a>

When defining a package in Chef Habitat, there are different files, settings, variables, and functions that you can use to set up specific installation and configuration details. You have a great deal of flexibility in how you build and define your application.

The Chef Habitat reference material covers important material about writing and building plans, as well as for managing both Chef Habitat and your application's lifecycle.


