export HAB_DOCKER_OPTS="-p 9636:80 -p 9631:9631 -p 9638:9638"
export HAB_STUDIO_SUP="--auto-update"
export HAB_ORIGIN_KEYS
HAB_CONFIG=~/.hab/etc/cli.toml
if [ -e "$HAB_CONFIG" ]; then
  export HAB_AUTH_TOKEN=$(cat $HAB_CONFIG | grep "auth_token" | awk '{print $3}' | tr -d '"')
  export HAB_ORIGIN=$(cat $HAB_CONFIG | grep "origin" | awk '{print $3}' | tr -d '"')
fi
if ls ~/.hab/cache/keys/core-*.sig.key 1> /dev/null 2>&1; then
  HAB_ORIGIN_KEYS="core"
fi
if [ -n $HAB_ORIGIN ]; then
  HAB_ORIGIN_KEYS="${HAB_ORIGIN_KEYS},${HAB_ORIGIN}"
fi
