export HAB_DOCKER_OPTS="-p 9636:80 -p 9631:9631 -p 9638:9638"
export HAB_STUDIO_SUP="--channel unstable --auto-update"
HAB_CONFIG=~/.hab/etc/cli.toml
if [ -e "$HAB_CONFIG" ]; then
  export HAB_AUTH_TOKEN=$(cat $HAB_CONFIG | grep "auth_token" | awk '{print $3}' | tr -d '"')
fi