components/sup-protocol/src/generated/*.rs linguist-generated
components/butterfly/src/generated/*.rs linguist-generated
components/launcher-protocol/src/message/net.rs linguist-generated
components/launcher-protocol/src/message/error.rs linguist-generated
components/launcher-protocol/src/message/launcher.rs linguist-generated
components/launcher-protocol/src/message/supervisor.rs linguist-generated
components/eventsrv-protocol/src/message/event.rs linguist-generated
www/source/partials/docs/_reference-template-data.html.md.erb linguist-generated
www/source/docs/habitat-cli.html.md linguist-generated
