# Adam Jacob
Adam Jacob <adam@chef.io> Adam Jacob <adam@chef.io>
Adam Jacob <adam@chef.io> Adam Jacob <adam@opscode.com>

# Ben Rockwood
Benr Rockwood <benr@cuddletech.com> Benr Rockwood <benr@cuddletech.com>
Benr Rockwood <benr@cuddletech.com> Ben Rockwood <benr@joyent.com>
Benr Rockwood <benr@cuddletech.com> Ben Rockwood <benr@chef.io>

# Dave Parfitt
Dave Parfitt <dparfitt@chef.io> Dave Parfitt <dparfitt@chef.io>
Dave Parfitt <dparfitt@chef.io> Dave Parfitt <diparfitt@gmail.com>

# Julian C. Dunn
Julian C. Dunn <jdunn@chef.io> Julian C. Dunn <jdunn@chef.io>
Julian C. Dunn <jdunn@chef.io> Julian C. Dunn <jdunn@aquezada.com>
