branches:
  only:
    - master
    - /^sentinel.+$/
    - /^acceptance_deploy.+$/
    - /^test_development-.*$/
    - /^\d+\.\d+\.\d+$/

os: linux

env:
  global:
    - PATH=$HOME/.cargo/bin:$PATH
    # Habitat Rust program components
    - _RUST_HAB_BIN_COMPONENTS="components/hab components/launcher components/pkg-export-docker components/pkg-export-kubernetes components/pkg-export-helm components/sup components/eventsrv components/pkg-export-tar"
    # Habitat Rust crate components
    - _RUST_HAB_LIB_COMPONENTS="components/builder-api-client components/builder-depot-client components/butterfly components/common components/eventsrv-client components/launcher-client"

matrix:
  include:

# Testing Jobs
########################################################################

#
# Job for linting Habitat shell program components
#
    - sudo: false
      script:
        - ./test/shellcheck.sh

#
# Job for testing Habitat Rust program components
#
    - language: rust
      env:
        - COMPONENTS=bin
        - AFFECTED_FILES="Cargo.lock"
        - AFFECTED_DIRS="$_RUST_HAB_BIN_COMPONENTS $_RUST_HAB_LIB_COMPONENTS"
      rust: 1.27.1
      sudo: false
      services:
        - docker
      addons:
        apt:
          sources:
            - kalakris-cmake
          packages:
            - build-essential
            - busybox          # Currently only needed for unit tests in the supervisor, sadly.
            - ca-certificates
            - cmake
            - curl
            - libbz2-dev
            - liblzma-dev
            - libprotobuf-dev
            - libssl-dev
            - pkg-config
      cache:
        apt: true
        cargo: true
        directories:
          - "$HOME/pkgs"
      before_script:
        - rustup component add rustfmt-preview
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - ./support/ci/compile_libsodium.sh
        - ./support/ci/compile_libarchive.sh
        - ./support/ci/compile_zmq.sh
      script:
        - ./support/ci/rust_tests.sh
        - ./support/ci/lint.sh

#
# Job for testing Habitat Rust crate components
#
    - language: rust
      env:
        - COMPONENTS=lib
        - AFFECTED_FILES="Cargo.lock"
        - AFFECTED_DIRS="$_RUST_HAB_LIB_COMPONENTS"
      rust: 1.27.1
      sudo: required
      addons:
        apt:
          sources:
            - kalakris-cmake
          packages:
            - build-essential
            - ca-certificates
            - cmake
            - curl
            - libbz2-dev
            - liblzma-dev
            - libprotobuf-dev
            - libssl-dev
            - pkg-config
      cache:
        apt: true
        cargo: true
        directories:
          - "$HOME/pkgs"
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - ./support/ci/compile_libsodium.sh
        - ./support/ci/compile_libarchive.sh
        - ./support/ci/compile_zmq.sh
      before_script:
        - rustup component add rustfmt-preview
      script:
        - ./support/ci/rust_tests.sh
        - ./support/ci/lint.sh

# Web Jobs
########################################################################

#
# Job for building and deploying the web site
#
    - language: ruby
      rvm: 2.3.1
      sudo: false
      cache:
        bundle: true
        directories:
          - www/build
      env:
        - AFFECTED_FILES=""
        - AFFECTED_DIRS="www"
        - AWS_BUCKET=habitat-www
        - AWS_DEFAULT_REGION=us-west-2
        - AWS_ACCESS_KEY_ID=AKIAJE6NFCK7ZR6TDVTQ
        # AWS_SECRET_ACCESS_KEY
        - secure: "HjOuNxDjf2BXnGqBBlrUdWJm56vb/ZbMKPT5STjtBuDAHIJy5D4UBaaT8yGOZL3TsRuC8MjHPLE5Pnn273fVghIjNoiUsxBf3sFIPuQylSMB4V4AvojVQiyVqgMyU82BN4qXXmOc7HD2fb3gfRVnBlkqu+lqJPwJPQx6x2H5X8SdyEMYhKxOxxI38e7KtVOHPLqBjbh0pnGTheRdCTa70jDIZpEbjD7OBOKjpLzVax/hfzTGyrHOVQkbMUWG9yNNY6CHW8sP3Lbbsa0Xg63xI/HODKDfjvfKXOSn9G08gwiS9R+8cZhtgXrKC19iLWp11mTVOhxMP0xptLGNRCrKTwknhHprP4E0xyoT79pDrNh0+fxmoY64yZ77pmZdYi1ikZxE1PI6KrFXwMsjke6TKmnSOtwrbKjl8keovosiU8Yu0zgPSpW5RDGuTk/xvb7Luyb7w39qxHzTA1FCgKXLbAIEPz4NUzV9CuPj658v+KM7iCNNRuhIZfdNwwE/tQeAHwf4Rs6x/2r46BpFy4i+Bcz1ZDf+iXlhFT5SK2GP2ql/cEevMICs4MMAg49MErFkbo1000Nbn8pf4h8ro2ZbZELRS5TDEEt6EpDU+r/R7vPc8+cmV37aQu3Rvznx53gEsUT6Wj4yC9poMwucahdUAk1FzY/45XwPuzTZ9Bp0X5E="
        # NETLIFYKEY
        - secure: "EyM8UThsqW8bFLzhUs/YeqDyGZh5dplgFkCs6Ps7hLx30BQArMy9PV8xVfvGfoWtLunw0TrBWd6vwmymF6Hf8Dv/p/qQgRD5m3OVSx50KJA7TTr42AhfKmfGfWaSQVYE8SayAiE+fPb4eHB85hekfpt2yawuRbUNyzCfmcic4sX+IIUBKHJih+6P+ovP9+aYXmo62VwEaLac0sOWB6n7wa57Y4vs/BIf4B3CjOUqAVpFxHdply+WcBCxuja3AQGyebofPpe7A+NdNoGgOSKiWgGL0ke7rW1/8r3icqQO0/MigOkvdZz8l/p19aeMcUR7NfDjTCKC8y4HbXIUltjHlatCiFPwjyqC9req/RTK7fYid7mOdQ6VEQD28oW0l4geEgwQltV6N/nsKmNX5JFvr7BhR3FKV3F7oA+bwUBBntxzPqkgSYOSwz4HnfZhTdJWtD0h1FYFU+rcHXw5JRTdoS0gA2wG22yXuROjOewPt0rIrrFHw8rj5T+457P55h33k4P+Ekx8W70TarSP0uweB646nGj62IHGXKrLS6VHwTeWxLwf9wdMx3c+JLrm4VPe0FHY642MlW2AERvDu9f48xGvwNUF9y+cIsGkghB1USYqs82tTW/oV9sAmRwoWPuBlT1mFf5RQe6HGXA/T7ThO/F7aKFWj8FZFG9BNNWDfq0="
        # FASTLY_API_KEY
        - secure: "a376gD8mJCV6hzzugodQf+qXgVeivn4ElB8yHEAygMu94//62KT37TDlsfzCvcf1yth8jnWaJpQ+zDMCgNvo7IBiTRDingGXu+uEOheDjPssYuhwLUiTjKMb2cEdU78oEGKEWMTK6IYPJ8U6D/Q+odRevbnlS1zdUvNyNTcW3+41G83ZxFGsJCU2we5cw0w7NigqZaEG0yD6S7WPxOb+qxcZJ5/UQ/OKEnb68iIvvCJV782BcWZzxSUAyilPuRmZkfGgSQ9TZUMiKdf0KEtJfisxEBZX1s46sxAz4OssyIDM/0tp/bBnKJStyGYJODo5O6/dy2EkFd7YWsRhRoCkf+HXMQiG4V//CpNwkmTVUpNVpjoELkkLqqxew/bIN897H6pb4D4n7cUm5OFl5N6V798u67DWfSXxSsuwIc+INFkAYWEAakLJj0xt0K5WULPG84PWSPuNkBY/tqj/2wOiuFsdXQqFhzATvQa4fBEOyNBMS3knd2ovmAxpRDabeH05chE2+PvzSmP+avBIaRPuqBM2XdMqxVWrKfVsXQ+/Tezo3KqMujv5Zo4HR1Jlo4Yqnm75gDDYu1U0J3PMSERxpr8IP7bYb3511Th5KH3/pRQLaVXOCOGWXPMHk8ofN7u2rRDvWAbG4to56M1ZuHhVrGhpOuMT2uYpIjm83qWyFa0="
        # FASTLY_SERVICE_KEY
        - secure: "nndTwXiUkVqtLaZ6ndFZHXKPoHvgCQmyJYpNHokgAA54cc8ART8F3ZZuka+fcM5a6dLUttB/rfvWm+Ytxi9XTpj0G2rAsR7+kBnWJf/FyfVi+r2YmYd7Bg9kGaDTigpYLgL+GUQxz3S2+QI/P1jzRDSRAz9LBVYIRnVyNVp8zYNcizD8HGopNfeFO3a2KIIEM4qvkQbwPVfHp9PmSLQfDPSStS6QBf1q2ebv94TzQz+xWozLQgY025KtY78YCXdj2930HJnbrrHiGfpvSAUSKjZcygLWXVSRKGkRTJJbenBXqK0uni4odpGmN+xL1afQlHfd+CBlXq6lyiZqoaRtIk2vkR8aGww5pouXBWA7UO4NMrqIk7nSzc1zpKgkNhiApr5O8xoy5dYSu6//tiRk63+jBSbZ7EoVPHqx2oBadykKJSlgeWzVGMSnEzad4fb2DDQKNVLObg0POZX/YdZKqbWv8DmiRkJkLKkE7iD5NYqpppl6OsCJDEBiKFbGokWi0YODOMkyTie9s9KQ3rZAIcnz4RjkYbj0F8S93BQ9Pefid3Yv20ix9OZQL1Cdf0HPBcE7fBWxfcWwbQVnoNrNIGsR3bbuqbuTuyiHT7E527QhOg12G4YZsrwoNZA6qGYZYg/4NNQTILFluTtG1YaZmWdN7vGXgiAYA4sDgGb9eiA="
      before_install: ./support/ci/fast_pass.sh || exit 0
      script: ./support/ci/deploy_website.sh


# Packaging / Release Jobs
########################################################################

#
# Job for building and publishing Habitat Linux release packages
#
    - env:
        # These Habitat packages will build in the provided order; do
        # *not* change this order unless you are very sure of what you
        # are doing! (The dependencies among this group of packages are
        # sometimes implicit.)
        - PACKAGES="hab hab-plan-build hab-backline hab-bintray-publish hab-studio hab-sup"
        # HAB_AUTH_TOKEN
        - secure: "PLeYdfVwRhhmsLVA+7cv1qlTWPADDNmZQzfts/jUjXYCJXciHGKSd6NCGdbCB29N9vv/4AHfkuz5xzkSxlxnyqqc9/45zMr9CgsKBL6zyzRXFl4iTRGFj5dOAn6MGcjJybXF6wXcT91RaFfbAYqbGSEUDXdiJdlLnJuY8fC+rJlWz/QJUyGFwa6tV1rtfwH4HcaafBMkTny/Zt/rmVvb7gtWGn8eNcmdwsD8i6I6X35GhIofy4lCEEYjF/AeERxJeluXNfcCGgqAIGro/jX0FZsnB1KYxCUGJ7P+UQSkshA7LiwH6VlK+ULKi/ZlEhng29sIi06GlZg9xVTEIvRw8YdJYR1gauxmblEgKudw4qOqSklw0DgoOpuG2anpYOkvqmc0rHOs6Rd/FUBKqcAXIF2lLFThcSaf8Cxu3CSv4/Bc4kQ8Mkyg0m3Uzx8/7uxbCc7SrGolsPG84vXKD/PFcrQJDBS6ovVxbOxzU2PgvJ/MOBcGkzwFUxFjH9mnJd+5bdDsRDNq+CBRKrwJ17vD+r0lJrUR4OVZ0ugBeyom5cn9N9HkHosJoZIOJoAlreyU02WX6utraeMtYqerZ+KmDNJswuV3bBfqpmNyP4FOOLkkNHd8L+9QbXi1K1ZMnU1L4pmKVOPMWAzp7gzCr6mMms1iLxYgR9irjmVHlAykhE0="
        # HAB_ORIGIN_KEY
        - secure: "uZ70GE8qK3GBgs7ZIsoy5DhPlHNs2hoLxLBGKq+u+0XrE017pOnW6mNHsn7J7i2r8CPtd4KFsFEN52wZSA+Sf96MFIL2w9E+geykBgbRMZzv4icuCf0xSGwm4iRMgZ9A08TfurMX6y6N+4JNsrCv9syVNuGq09EL2wLHPXOQhesMpodijQLcFikxfEXXbaWla1xHnYxJk+fbvYDoXVCbdqnpdeLTmGuQHFaaNI7jm1B3L/dl+IGZxwFdvqBT3G9mHiXBdyi8bALs7rcZNdV7PqtFFpp98zIeqwNHtHPd5cBRmqDRTRxucRSACS/lurrz9J+001a9RjPvUkYlLrn0hQY9pN6oo+kCpN/1r0bc17i4FbGx7R73FnFgPK/cno0ENBFygNZn7/jg6cENgjkBlHsZhc1+L1xhILo46nQU9XbWJrwelVYUOOGXI76tECOkGhkglx1vYK8fcMVLJMhL7psgPpbGbDJQDuAKhHS+75txNK+356ompNL+YUzeWZc4KSGZCNTQsPK+rsGttmA+JXtAaquFaY5xwSgyKHwETiSVg4dYXb3xh6goNxf2JTOZOosWaypyykHqcqsqCu2fzIDdmkgCx6I5/5q8I/7Z0es0jlUpHamlihZwe4E5YdYFCSouaDoeTnVdJKVI1p9fnAjpFqjivFgqLE/Z504vCNU="
        - BINTRAY_USER=chef-releng-ops
        # BINTRAY_KEY
        - secure: "ZQCvv7A2R+tjUYl8ywDnI6sadMNrIcIG9EGZtRcTdKNqDoCOOGu7a+hfAvKuVdptpN6x9UeANYGyuqE2FqPLxiAzufAF2+rZNB431lHAfA0IFkI0/+L1v8pcWR9VFFYGDOde2rfnOHyGRQk9clSli4+TDIadrNkVzEzKg8VAeAOEX2Eh5VPwb2CtgLKoptKU/cnoKbzvwN9EQQ8fA2DI7Dp/KNxYxs3MciESTfl/RkU+kXZ9tJXPZz9W3BgHN0Ybt7Tws0jyXlocHdmt8BaOqHgs0ZiFYoQQ4P8flYzO5stnVETOruZZwV5hx9c9kXd5nRc9JpG5g0vtPkK08812Y56iIKs1UE3wnakhRAWzbix4uZ6tC0DxUXpW44+6jXEAHZcLZa1UOJxE2brgiFTIYuHu+slaL1OalF0PRY6xchJhH+RmXifqRwPdhkUpzEfGSb+ziJ6x+TauDGUZAxXcoBYG3MuKAFtjcNrbxcXFzFRs+muP7DvfdntbkQLx2axCLND6UJVdj/6EXXUe7M5BDv4SJRaRWc2EhIizd0GVaKRUAWzirEttWvp9igajJBXB/wZJvMWawqtDPl1OXXceggZLnW9QCSnyjwwuQeHAZ4DRdK5V7Of8un87C/YSujpn338s5tdfbQjztWZEohh0Dw3ht+6wrO95EqCyMj1UOuM="
        # BINTRAY_PASSPHRASE
        - secure: "jOhfYhQShwodrNuXwkh1PMiVBPgokP8Q+orBTampINoTJ/P4W6vNiXbc1VaAHhqxqvTebIiB2CkNICLSt/Fys9eO0d7DQREhhkvQIjhX9rFs3AYYop5HZ+m+uZYGfqSY1G298XaCA0IAGfl2EWp5VFM/+NENCFtdlUSDaVHekmWKgGbfzhmL7Ho+jRas4naIehDSUBJZfQ837DJ8Xeew2Ec3wPnbsU+NeE/Fv042QmOGsmEoKlUf9Ak/6jAc6sOQl+84UKB7xrIpA5BOHq3DA2td+vgFEByBfthvDsF6VexISARFk36M5OC4EtjjZ3hkJA47AlE1jdPlo1PbNOwoPhWLsfHbCqffg3VAmiY5horPZoyGuyFQsXq6DHhyiiYUAqSMuRYwEzpp3dl3g1lK1Y7akgqSqxrNcjgwmExwt9ncfTTC2jjN+nzLD3zAruuNpqHOnrK6xLG4JfvpC53o+LvmTjuUPEe2q7LgixjWid+Zk8AezfndtKVk0T+0JJk+XAmq/MQIHTKQOy1hJGFUkBEi8xM0hFw6+h/PXqhsuv0J2dwDuLhhXtvYExyTLJEo0qIUAPnnAFmBI/rR4KjSpv4I1A6cw8i1prrGOMQ+BK5xqXArixR6HUooq4KmWGoBf2E8tgJOJRYXBPrTFpL9/e5fy4+jNgUDcpFwlTKhXUM="
      sudo: required
      services:
        - docker
      addons:
        apt:
          packages:
            - ca-certificates
            - curl
            - wget
            - jq
      cache:
        apt: true
        cargo: true
        directories:
          - /root/travis_bootstrap
          - /hab/studios/home--travis--build--habitat-sh
          - /root/.cargo
      before_install:
        - ./support/ci/only_master.sh || exit 0
        - sudo ./support/ci/install_rq.sh
        - if [[ ! -x ./support/ci/deploy.sh ]]; then chmod +x ./support/ci/deploy.sh; fi
        - openssl aes-256-cbc -K $encrypted_50e90ce07941_key -iv $encrypted_50e90ce07941_iv -in ./support/ci/habitat-srv-admin.enc -out /tmp/habitat-srv-admin -d
      script:
        - sudo ./support/ci/deploy.sh

#
# Job for building and publishing Habitat exporter release packages
#
    - env:
        # These Habitat packages will build in the provided order
        - PACKAGES="hab-pkg-aci hab-pkg-cfize hab-pkg-export-docker hab-pkg-export-kubernetes hab-pkg-export-helm hab-pkg-export-tar hab-pkg-mesosize"
        # HAB_AUTH_TOKEN
        - secure: "PLeYdfVwRhhmsLVA+7cv1qlTWPADDNmZQzfts/jUjXYCJXciHGKSd6NCGdbCB29N9vv/4AHfkuz5xzkSxlxnyqqc9/45zMr9CgsKBL6zyzRXFl4iTRGFj5dOAn6MGcjJybXF6wXcT91RaFfbAYqbGSEUDXdiJdlLnJuY8fC+rJlWz/QJUyGFwa6tV1rtfwH4HcaafBMkTny/Zt/rmVvb7gtWGn8eNcmdwsD8i6I6X35GhIofy4lCEEYjF/AeERxJeluXNfcCGgqAIGro/jX0FZsnB1KYxCUGJ7P+UQSkshA7LiwH6VlK+ULKi/ZlEhng29sIi06GlZg9xVTEIvRw8YdJYR1gauxmblEgKudw4qOqSklw0DgoOpuG2anpYOkvqmc0rHOs6Rd/FUBKqcAXIF2lLFThcSaf8Cxu3CSv4/Bc4kQ8Mkyg0m3Uzx8/7uxbCc7SrGolsPG84vXKD/PFcrQJDBS6ovVxbOxzU2PgvJ/MOBcGkzwFUxFjH9mnJd+5bdDsRDNq+CBRKrwJ17vD+r0lJrUR4OVZ0ugBeyom5cn9N9HkHosJoZIOJoAlreyU02WX6utraeMtYqerZ+KmDNJswuV3bBfqpmNyP4FOOLkkNHd8L+9QbXi1K1ZMnU1L4pmKVOPMWAzp7gzCr6mMms1iLxYgR9irjmVHlAykhE0="
        # HAB_ORIGIN_KEY
        - secure: "uZ70GE8qK3GBgs7ZIsoy5DhPlHNs2hoLxLBGKq+u+0XrE017pOnW6mNHsn7J7i2r8CPtd4KFsFEN52wZSA+Sf96MFIL2w9E+geykBgbRMZzv4icuCf0xSGwm4iRMgZ9A08TfurMX6y6N+4JNsrCv9syVNuGq09EL2wLHPXOQhesMpodijQLcFikxfEXXbaWla1xHnYxJk+fbvYDoXVCbdqnpdeLTmGuQHFaaNI7jm1B3L/dl+IGZxwFdvqBT3G9mHiXBdyi8bALs7rcZNdV7PqtFFpp98zIeqwNHtHPd5cBRmqDRTRxucRSACS/lurrz9J+001a9RjPvUkYlLrn0hQY9pN6oo+kCpN/1r0bc17i4FbGx7R73FnFgPK/cno0ENBFygNZn7/jg6cENgjkBlHsZhc1+L1xhILo46nQU9XbWJrwelVYUOOGXI76tECOkGhkglx1vYK8fcMVLJMhL7psgPpbGbDJQDuAKhHS+75txNK+356ompNL+YUzeWZc4KSGZCNTQsPK+rsGttmA+JXtAaquFaY5xwSgyKHwETiSVg4dYXb3xh6goNxf2JTOZOosWaypyykHqcqsqCu2fzIDdmkgCx6I5/5q8I/7Z0es0jlUpHamlihZwe4E5YdYFCSouaDoeTnVdJKVI1p9fnAjpFqjivFgqLE/Z504vCNU="
      sudo: required
      services:
        - docker
      addons:
        apt:
          packages:
            - ca-certificates
            - curl
            - wget
            - jq
      cache:
        apt: true
        cargo: true
        directories:
          - /root/travis_bootstrap
          - /hab/studios/home--travis--build--habitat-sh
          - /root/.cargo
      before_install:
        - ./support/ci/only_master.sh || exit 0
        - sudo ./support/ci/install_rq.sh
        - if [[ ! -x ./support/ci/deploy.sh ]]; then chmod +x ./support/ci/deploy.sh; fi
        - openssl aes-256-cbc -K $encrypted_50e90ce07941_key -iv $encrypted_50e90ce07941_iv -in ./support/ci/habitat-srv-admin.enc -out /tmp/habitat-srv-admin -d
      script:
        - sudo ./support/ci/deploy.sh

#
# Job for building and publishing Habitat Mac packages
#
    - env:
        - AFFECTED_FILES=".travis.yml .bldr.toml support/ci/deploy.sh Cargo.toml Cargo.lock VERSION"
        - AFFECTED_DIRS="components/hab $_RUST_HAB_LIB_COMPONENTS"
        # HAB_ORIGIN_KEY
        - secure: "uZ70GE8qK3GBgs7ZIsoy5DhPlHNs2hoLxLBGKq+u+0XrE017pOnW6mNHsn7J7i2r8CPtd4KFsFEN52wZSA+Sf96MFIL2w9E+geykBgbRMZzv4icuCf0xSGwm4iRMgZ9A08TfurMX6y6N+4JNsrCv9syVNuGq09EL2wLHPXOQhesMpodijQLcFikxfEXXbaWla1xHnYxJk+fbvYDoXVCbdqnpdeLTmGuQHFaaNI7jm1B3L/dl+IGZxwFdvqBT3G9mHiXBdyi8bALs7rcZNdV7PqtFFpp98zIeqwNHtHPd5cBRmqDRTRxucRSACS/lurrz9J+001a9RjPvUkYlLrn0hQY9pN6oo+kCpN/1r0bc17i4FbGx7R73FnFgPK/cno0ENBFygNZn7/jg6cENgjkBlHsZhc1+L1xhILo46nQU9XbWJrwelVYUOOGXI76tECOkGhkglx1vYK8fcMVLJMhL7psgPpbGbDJQDuAKhHS+75txNK+356ompNL+YUzeWZc4KSGZCNTQsPK+rsGttmA+JXtAaquFaY5xwSgyKHwETiSVg4dYXb3xh6goNxf2JTOZOosWaypyykHqcqsqCu2fzIDdmkgCx6I5/5q8I/7Z0es0jlUpHamlihZwe4E5YdYFCSouaDoeTnVdJKVI1p9fnAjpFqjivFgqLE/Z504vCNU="
        - BINTRAY_USER=chef-releng-ops
        # BINTRAY_KEY
        - secure: "ZQCvv7A2R+tjUYl8ywDnI6sadMNrIcIG9EGZtRcTdKNqDoCOOGu7a+hfAvKuVdptpN6x9UeANYGyuqE2FqPLxiAzufAF2+rZNB431lHAfA0IFkI0/+L1v8pcWR9VFFYGDOde2rfnOHyGRQk9clSli4+TDIadrNkVzEzKg8VAeAOEX2Eh5VPwb2CtgLKoptKU/cnoKbzvwN9EQQ8fA2DI7Dp/KNxYxs3MciESTfl/RkU+kXZ9tJXPZz9W3BgHN0Ybt7Tws0jyXlocHdmt8BaOqHgs0ZiFYoQQ4P8flYzO5stnVETOruZZwV5hx9c9kXd5nRc9JpG5g0vtPkK08812Y56iIKs1UE3wnakhRAWzbix4uZ6tC0DxUXpW44+6jXEAHZcLZa1UOJxE2brgiFTIYuHu+slaL1OalF0PRY6xchJhH+RmXifqRwPdhkUpzEfGSb+ziJ6x+TauDGUZAxXcoBYG3MuKAFtjcNrbxcXFzFRs+muP7DvfdntbkQLx2axCLND6UJVdj/6EXXUe7M5BDv4SJRaRWc2EhIizd0GVaKRUAWzirEttWvp9igajJBXB/wZJvMWawqtDPl1OXXceggZLnW9QCSnyjwwuQeHAZ4DRdK5V7Of8un87C/YSujpn338s5tdfbQjztWZEohh0Dw3ht+6wrO95EqCyMj1UOuM="
        # BINTRAY_PASSPHRASE
        - secure: "jOhfYhQShwodrNuXwkh1PMiVBPgokP8Q+orBTampINoTJ/P4W6vNiXbc1VaAHhqxqvTebIiB2CkNICLSt/Fys9eO0d7DQREhhkvQIjhX9rFs3AYYop5HZ+m+uZYGfqSY1G298XaCA0IAGfl2EWp5VFM/+NENCFtdlUSDaVHekmWKgGbfzhmL7Ho+jRas4naIehDSUBJZfQ837DJ8Xeew2Ec3wPnbsU+NeE/Fv042QmOGsmEoKlUf9Ak/6jAc6sOQl+84UKB7xrIpA5BOHq3DA2td+vgFEByBfthvDsF6VexISARFk36M5OC4EtjjZ3hkJA47AlE1jdPlo1PbNOwoPhWLsfHbCqffg3VAmiY5horPZoyGuyFQsXq6DHhyiiYUAqSMuRYwEzpp3dl3g1lK1Y7akgqSqxrNcjgwmExwt9ncfTTC2jjN+nzLD3zAruuNpqHOnrK6xLG4JfvpC53o+LvmTjuUPEe2q7LgixjWid+Zk8AezfndtKVk0T+0JJk+XAmq/MQIHTKQOy1hJGFUkBEi8xM0hFw6+h/PXqhsuv0J2dwDuLhhXtvYExyTLJEo0qIUAPnnAFmBI/rR4KjSpv4I1A6cw8i1prrGOMQ+BK5xqXArixR6HUooq4KmWGoBf2E8tgJOJRYXBPrTFpL9/e5fy4+jNgUDcpFwlTKhXUM="
      sudo: required
      addons:
        apt:
          packages:
            - ca-certificates
      cache:
        apt: true
        directories:
          - /root/travis_bootstrap
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - ./support/ci/only_master.sh || exit 0
        - if [[ ! -x ./support/ci/deploy_mac_launcher.sh ]]; then chmod +x ./support/ci/deploy_mac_launcher.sh; fi
        - openssl aes-256-cbc -K $encrypted_50e90ce07941_key -iv $encrypted_50e90ce07941_iv -in ./support/ci/habitat-srv-admin.enc -out /tmp/habitat-srv-admin -d
      script:
        - sudo ./support/ci/deploy_mac_launcher.sh

notifications:
  webhooks:
    urls:
      - http://bots.habitat.sh:4567/travis
    on_success: always
    on_failure: always
    on_start: always
  slack:
    template:
      - "%{repository} (%{commit}) : %{message}"
      - "Build details: %{build_url}"
      - "Status: %{result}"
    rooms:
      - secure: "uERbGr6e+5PdQLQdAhkElVg4NGmg0SCcFuebxcpFGKAbb5l5w5pYmmorNHdcDDpG4L+g3/wtTlRt9EiN2R1VYsJ/tLydrQF+9ZS7ERiYi7VhJRjZsVxOsNNz6VJNfypB7ZMq3t3zlwThWCqQyx6scvL9H1GEBWzd34Cm8+KA8t+37OfcTDU5UNWpblYx4HaSVsJygPQdGJM7SJ1nu9k7qkLsR2QNPKc9gJHbbhcUZQjjp6jFb1YMM1RWh6iK/GBxA2rTlqykmDiWBjQNDq6/G+jfPCuAVchMB2CBDH1SUYRfqOQ3A3/66seBnLif2m4q+cDJcjH2BggXkqu3MEGvNx8R8+d5dJnamS1T3G0zPax0kEQ3Uozsf/W+KEDTGylh57MqS/i8aIjKxlzPqia74S2d85IyP6hM8qgGzZUlcoRUXwNyaM1rj1K7uL8JHOq/3JHalQOV0qhq12pYKagSqwP/LV/+WvJE1U6aO39VnOGSzfN6ukxbfZAzP+dR6C08EJC137tcLEL4a32rEjK2C95vCw2Po02mXdatK7Sa0XI1hl5ZaQwm0nXycCcZDt1YYAotk3S5fCCe0Tsdw2gSxiOyXWalWC74WeMnP5vithZpReGIcwq4UvGlHx2/LEjP9azLhzTzDRQypaTMYVJFvcg6NccB4Z9gh5eNn1wWz90="
    on_pull_requests: false
    on_failure: always
    on_success: change
