branches:
  only:
    - master
    - /^sentinel.+$/
    - /^test_development-.*$/
env:
  global:
    - PATH=$HOME/.cargo/bin:$PATH
matrix:
  include:
    - os: linux
      language: ruby
      rvm: 2.3.1
      env:
        - AFFECTED_DIRS="components/hab|components/sup"
      sudo: required
      addons:
        apt:
          packages:
          - build-essential
          - ca-certificates
          - curl
          - wget
      cache:
        apt: true
        cargo: true
        directories:
          - /root/travis_bootstrap
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
      script:
        - sudo ./support/ci/specs.sh
    - os: linux
      language: rust
      env:
        - COMPONENTS=bin LIBSODIUM_PREFIX=$HOME/pkgs/libsodium/1.0.8 LIBARCHIVE_PREFIX=$HOME/pkgs/libarchive/3.2.0 LIBZMQ_PREFIX=$HOME/pkgs/zeromq/4.1.4 PKG_CONFIG_PATH="$PKG_CONFIG_PATH:$LIBARCHIVE_PREFIX/lib/pkgconfig:$LIBSODIUM_PREFIX/lib/pkgconfig:$LIBZMQ_PREFIX/lib/pkgconfig" LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$LIBARCHIVE_PREFIX/lib:$LIBSODIUM_PREFIX/lib:$LIBZMQ_PREFIX/lib" LIBRARY_PATH="$LIBRARY_PATH:$LIBZMQ_PREFIX/lib"
        - AFFECTED_DIRS="components/director|components/hab|components/sup"
      rust: stable
      sudo: false
      addons:
        apt:
          sources:
            - kalakris-cmake
          packages:
            - build-essential
            - ca-certificates
            - cmake
            - curl
            - libbz2-dev
            - liblzma-dev
            - libprotobuf-dev
            - libssl-dev
            - pkg-config
      cache:
        apt: true
        cargo: true
        directories:
          - "$HOME/pkgs"
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - ./support/ci/compile_libsodium.sh
        - ./support/ci/compile_libarchive.sh
        - ./support/ci/compile_zmq.sh
        - ./support/ci/install_rustfmt.sh
      script:
        - ./support/ci/rust_tests.sh
        - ./support/ci/lint.sh
    - os: linux
      language: rust
      env:
        - COMPONENTS=lib LIBSODIUM_PREFIX=$HOME/pkgs/libsodium/1.0.8 LIBARCHIVE_PREFIX=$HOME/pkgs/libarchive/3.2.0 LIBZMQ_PREFIX=$HOME/pkgs/zeromq/4.1.4 PKG_CONFIG_PATH="$PKG_CONFIG_PATH:$LIBARCHIVE_PREFIX/lib/pkgconfig:$LIBSODIUM_PREFIX/lib/pkgconfig:$LIBZMQ_PREFIX/lib/pkgconfig" LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$LIBARCHIVE_PREFIX/lib:$LIBSODIUM_PREFIX/lib:$LIBZMQ_PREFIX/lib" LIBRARY_PATH="$LIBRARY_PATH:$LIBZMQ_PREFIX/lib"
        - AFFECTED_DIRS="components/builder-dbcache|components/builder-protocol|components/common|components/core|components/builder-depot-client|components/http-client|components/net|components/butterfly"
      rust: stable
      sudo: false
      addons:
        apt:
          sources:
            - kalakris-cmake
          packages:
            - build-essential
            - ca-certificates
            - cmake
            - curl
            - libbz2-dev
            - liblzma-dev
            - libprotobuf-dev
            - libssl-dev
            - pkg-config
      cache:
        apt: true
        cargo: true
        directories:
          - "$HOME/pkgs"
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - ./support/ci/compile_libsodium.sh
        - ./support/ci/compile_libarchive.sh
        - ./support/ci/compile_zmq.sh
        - ./support/ci/install_rustfmt.sh
      script:
        - ./support/ci/rust_tests.sh
        - ./support/ci/lint.sh
    - os: linux
      language: rust
      env:
        - COMPONENTS=srv LIBSODIUM_PREFIX=$HOME/pkgs/libsodium/1.0.8 LIBARCHIVE_PREFIX=$HOME/pkgs/libarchive/3.2.0 LIBZMQ_PREFIX=$HOME/pkgs/zeromq/4.1.4 PKG_CONFIG_PATH="$PKG_CONFIG_PATH:$LIBARCHIVE_PREFIX/lib/pkgconfig:$LIBSODIUM_PREFIX/lib/pkgconfig:$LIBZMQ_PREFIX/lib/pkgconfig" LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$LIBARCHIVE_PREFIX/lib:$LIBSODIUM_PREFIX/lib:$LIBZMQ_PREFIX/lib" LIBRARY_PATH="$LIBRARY_PATH:$LIBZMQ_PREFIX/lib"
        - AFFECTED_DIRS="components/builder-api|components/builder-admin|components/builder-jobsrv|components/builder-sessionsrv|components/builder-vault|components/builder-worker|components/builder-depot"
      rust: stable
      sudo: false
      addons:
        apt:
          sources:
            - kalakris-cmake
          packages:
            - build-essential
            - ca-certificates
            - cmake
            - curl
            - libbz2-dev
            - liblzma-dev
            - libprotobuf-dev
            - libssl-dev
            - pkg-config
      cache:
        apt: true
        cargo: true
        directories:
          - "$HOME/pkgs"
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - ./support/ci/compile_libsodium.sh
        - ./support/ci/compile_libarchive.sh
        - ./support/ci/compile_zmq.sh
        - ./support/ci/install_rustfmt.sh
      script:
        - ./support/ci/rust_tests.sh
        - ./support/ci/lint.sh
    - os: linux
      language: node_js
      node_js: 4.4.3
      sudo: required
      env:
        - CXX=g++-4.8
        - AFFECTED_DIRS="components/builder-web"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.8
            - wget
      cache:
        apt: true
        directories:
          - components/builder-web/node_modules
          - components/builder-web/typings
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
        - npm config set spin=false
      install:
        - "(cd components/builder-web && npm install)"
      script:
        - "(cd components/builder-web && npm run travis)"
        - sudo -E bash -c "./support/ci/build_builder_web.sh"
    - os: linux
      language: ruby
      rvm: 2.3.1
      sudo: false
      cache:
        bundle: true
        directories:
          - www/build
      env:
        - AFFECTED_DIRS="www"
        - AWS_BUCKET=habitat-www
        - AWS_DEFAULT_REGION=us-west-2
        - AWS_ACCESS_KEY_ID=AKIAIE3PM7VKCMUX7TIA
        # AWS_SECRET_ACCESS_KEY
        - secure: "QadoE7tZXlUoLcgqlQsJOb0B5CjW/pOz/geBe3ObzYJ0vs60JztT1ySbz0LSqiUWXJyWL+RroBcoauzILUBjN5uszFaxZQ80J5GL+bwhlLaK/PpIf/37HCXmEQ0yzJyGWMKsr0Mp6d2DXUC2XNqf1InmygEwGbgFZFzMvdZ2KB981EfxxzZNsQhxak/WFUjvvJ9m95OfSGerb8swvpIH0zIg0MG3Gmj+xPCI+4eSLOYa+xLkDIjBngEPKZ0Uvfg32fB6k47XktFRpOkoS6ecDxPF7fjqjVRF+j7Y9MkH+FvSOohF48u5klqYZA7SMAbGO5n4xRkDkA2Wn3XH8jnOkt307OGm2zvTRSa3QowaJgnHRfSsGy5+ql6J3w7Ap0jqCGWwqV3qldkyC7rblz3oRHhyB52xm283T4ptDuIN29UNn+zWOgk3sSKIO3jmShNc/x7l+DoTTuMz72hw1gd3YTrCJ651pTPDXjkCb5Yn7Gt4SxKPUENL+USHohHD69WuhruFawdgctFh1WhFLr2vTvqh1eHxU5oyXV4PJwXuG2wIqnGwjaAYoRph58r28GE8YX487MlLKpGL8xXOaEdcQaADRQVihE5QW9XOt/E3DWFA+Ntt+U0SsegY1HHT/lkA29U3inXV1Nvt6P1+AKz8AuYT4QndZSMI8K9YOUlcP8E="
        # FASTLY_API_KEY
        - secure: "t3dUI5oNwsB1gSP3DIwwxnY7z/NigMm4XgMrQuiU5xda4sL67JQ/sU8j00I3B9TnfA1fekMBzMOKES+F7SI1y+b6K7q+SOI4mgcNqRcQKJans6o6XuBVT9Tp8om7izxOgp0lVLuHxv4OVEhmhORTCWjk/jW1M45oG5oAYOvATsbQ/gZiVCKMrb8bSSpl6eSn5YqIvJiqDW707O2wUDJsdiS4bXTIVUtai+hCeIckitrrFWWkDNWnP0/OnFb3F2ka3lFRwfuUH8UQ6oqT4YcumngIMbIvBSCOBOenGagvrhpcX2m0cVDNY/sE6iv9c2HBSlEK6vaYAbkfX6mpNseruPPq7xv5HGBhj6wlkCHpML1xse7qbCTgzKUlIfkAQQljmUH7c/mN1i9YucoMtgJxRqZCiuoO/hNILcAoQFv14NvqUNOgGeYqHzi3RSxMeQxs3uLA1l0AZpLR6aPNOM9XZyVxhFw55htS5yY52rvXVz4TR1JF22RZesT8V/WpQoPSP1d4bmVVIqa83piqQJ65cMQ0YyhQWRLtWIipvKlztnwpSV/J2LjXzbZm4J//0ArCNx0wNggrkyL7xBpmgbLgRCgid9SUlIX1HPisdJkL/z7lmz9s05ppATiipy/PduaqCZ/Lpq4wMZ8S2ILLPbNtYx8EOPGjLspPnXbpHB4z73A="
        # FASTLY_SERVICE_KEY
        - secure: "SFcY62bzpxUVD6ZDE23KudYX5gCt9fuH8QE2wAE+Pu4LPj9SKQyOwpbx3Aej2EzPk14RNA2HKXr3jY+rGdSpNrSyTmbf2IMOolVjIDSoT2xD5E+hAARfuurjHH8l9Bwb8KRiPG3oxcM85oXU6kd882SN5CsM3jY65vj94I/SMZYpUB7KSUQP8ji7hoE1eVeXQWi2AM+fjPFwWG1BhiP16j7SyAaDCAI+jDAeTplrdg10pxIKv7ef1wOHahyGlORdxubAilQW+dZuubMjl2qgPem8FQRmYSLJNEAvj663QYZf1XfH1fDYavW7J0l9vj4E8BwXUAdYn20JPwR6HSI/XsJrpxEc/PEt/2HqhTPAnxVwKQkXEgbKxCamPDIwBANwhjOdetY9dR8w9W4rsJ7wT7WQw40chlFO1gU8Ct4dIlCYogtTBxRdrCObTWRkGlsEH2XNxt4lE4xoE79njlQqNj/Wq0FeyljLPIaK90E1C9O0Q5Li1LaiIQTxyaoivLGELXrsysvkRwEOOCGiFt6w8P1LDEqoKz7Z5tu7+dbh3c31KCgPsgo150/Q4+plnq6+GoY+3ejWac7qf+q1dbp5Gx4lNPBKKuUylhx7TYUlpAp3hLcoA3fs245eYbbv1+fJ1SLIFGYNTHzRRmbB1bZaHQeHl8dMNuMh4JVDexAuCXc="
      before_install: ./support/ci/fast_pass.sh || exit 0
      install: "(cd www && bundle install)"
      script: ./support/ci/deploy_website.sh
    - os: linux
      env:
        - AFFECTED_DIRS="Cargo\.toml|Cargo\.lock|components/hab|components/common|components/core|components/builder-depot-client|components/http-client"
        # HAB_ORIGIN_KEY
        - secure: "uZ70GE8qK3GBgs7ZIsoy5DhPlHNs2hoLxLBGKq+u+0XrE017pOnW6mNHsn7J7i2r8CPtd4KFsFEN52wZSA+Sf96MFIL2w9E+geykBgbRMZzv4icuCf0xSGwm4iRMgZ9A08TfurMX6y6N+4JNsrCv9syVNuGq09EL2wLHPXOQhesMpodijQLcFikxfEXXbaWla1xHnYxJk+fbvYDoXVCbdqnpdeLTmGuQHFaaNI7jm1B3L/dl+IGZxwFdvqBT3G9mHiXBdyi8bALs7rcZNdV7PqtFFpp98zIeqwNHtHPd5cBRmqDRTRxucRSACS/lurrz9J+001a9RjPvUkYlLrn0hQY9pN6oo+kCpN/1r0bc17i4FbGx7R73FnFgPK/cno0ENBFygNZn7/jg6cENgjkBlHsZhc1+L1xhILo46nQU9XbWJrwelVYUOOGXI76tECOkGhkglx1vYK8fcMVLJMhL7psgPpbGbDJQDuAKhHS+75txNK+356ompNL+YUzeWZc4KSGZCNTQsPK+rsGttmA+JXtAaquFaY5xwSgyKHwETiSVg4dYXb3xh6goNxf2JTOZOosWaypyykHqcqsqCu2fzIDdmkgCx6I5/5q8I/7Z0es0jlUpHamlihZwe4E5YdYFCSouaDoeTnVdJKVI1p9fnAjpFqjivFgqLE/Z504vCNU="
        - BINTRAY_USER=smurawski
        # BINTRAY_KEY
        - secure: "CHOiAfgFYbUBwYNIx7yJ7Y6697IzoX5zZtxHnByblU7Mei990vP+wUMjWrp2OY4I5UKdfSg5bkUtkEHBMUdoaiZZB+420dnZWPX94hQEYAGSdFzsgZlNZlu9vwnHout6+tDhylW0eIv7yMB1BViyOpeGxJ5rgCCmdDBEF5uWfnzuOMSeaOmcMQe24mzHY7vxIwfqJwEbVD08AOtJXVp2Kk0nLoA0GfJS1ZCcibK6TbXuZfUwYmF9jaZZdQj26UH8KtkiKYLy4Ti1c54XLwVahGeszBdi3xCAY6OWidAaTtnvEahtltXRl0HQCmhgLxpuZ/94lB4Mo4TqSf9NgZS7pqDB35YpYddy2hwW5HZFZlZoXgAqCTT+70NB0hoICpvNlvo4p7zRB7PVHbipgg64eA/OlLW+Bd4KXTHn+y+JrN1g9pDR9YF2lVewbmtzKbmxgQZYIrSK9SVZNP30DeN6uoedAxFFZGqgmPoC6Fcu5HG9Y1BY08HRVwRxLtLj8bciKgMHLNSKfVOdNlFac9nGn65aqenRGEmCd4wyjMZ7gd74V75aMdZozhFacDva0Qw5hRzhnJ8rYXBzG0juyodznMtVCARlRijPn0TW9LjYNb8+5f7LoxtywRmCNwYBB1OWghOePhWGMHBVAYTLzalIkX4WR0fc+xdhOq6lfAbgU4s="
        # BINTRAY_PASSPHRASE
        - secure: "XkZuLadu8aGACYdDN9QLUvuuGciiC8PahELGn2gfI8ILeIozzsWCclmNp2eKfduYsAu0otdps2dHAI1VwYH6+xGq+6byMMpXaXbQl3fahMe2vwaREpstmjbglWMNHcBqH4Bccx3aMxZjROO6NeT1U49uk7lKW+Enf+Dhw90L8sVP3v/xbmynYnue32heeQklkNH57RZ3uWJOUOPxOn5vcXsI0PqvJ8i53qIiUDQLivjLmOJUuudQiU/WP6rpewiIMoPO/REfyxq3gkCcYkzeXxytpVLEFwWjS6mvpLQbTJ+8/tp06sLXBxqknFboEWsqcraswROXi4ZXpubraFFNO/9jn9c1RaSmJqBEIQEK0/4K5VDYjukWMWpMQcwGq/I5dqUaDZJpoWPGqvw9b3zgsZNjlvLq2FEeuQEj2eD2Z4S5/PpgQRFhJMS+uMdPpingQMQAn9y83bZeDdtakWcX/IRjMBSF+UXCaXfTF9SWwURsCqakMEQhtZ+A3g5MAtZ6N/2QMsUcI7K56PjxXJiRSnZw821+VJgkpbk8Z8M2koZ6+Jy4jOGrUvDVGZ8umj3ipNmX8nFjP2s8jS7ihfIuG33p1fNw2397dEf0pDnPdsCnT/43c1RgTunpjla8486GirOApl/P8B0VXimwrquhkXxVItOYHX+O400UtC6C7MQ="
      sudo: required
      addons:
        apt:
          packages:
          - ca-certificates
          - curl
          - wget
      cache:
        apt: true
        directories:
          - /root/travis_bootstrap
          - /hab/studios/home--travis--build--habitat-sh
          - /root/.cargo
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
      script:
        - sudo ./support/ci/deploy_unstable.sh
    - os: osx
      osx_image: xcode6.4
      language: generic
      sudo: true
      before_install:
        - ./support/ci/fast_pass.sh || exit 0
      script: support/ci/macos-pkg.sh
      env:
        - AFFECTED_DIRS="Cargo\.toml|Cargo\.lock|components/hab|components/common|components/core|components/builder-depot-client|components/http-client"
        - secure: WUMBBYM1qMbmwXlf883rl6g5UqFTjtelawCOAhpSFSe9Kcit8HakutFr6b1NfTDF0b4S7R7YLj6j0Di2RP/Tk8brol/z/xmHHCWfFvadxhf/95HJbWmTeD0zDD3wpAbOfQCYHhSKYpLoXVpd/uZnnYLsTJNibFyO54SmOyApH0whHI0bYMZAOluB9vkIduH7Hv80lm4GA0xirHsuXYAirm0wYKdCx+ArWZfA9nci6NCa/D1swRvlmcnXeqvtTF3AJ5B6GP3+H5iDbam8anBe+dAe3YyqxTWw/+Th1h2F0h9Gghuh/dQNHZ7QqGV/rc5jY5jiRo41kptbgj8TBuY+4URsCfm/l5lKvm7GCtUp9LFq/rIaLLatp7mCwQeGwepWTnw9qe2scSP4XsyxusWbvxMQTfmccRq6dydwD1JgXy25pOKVTKY8uVk9THF5uvViYwsdUOGJWvkOHUZArHc0oSqi3cFp7DKTrP1nig4Oqd+9w6lbOPnEdWgGcu11k2rG/cpF0X/+sXD+CAR607ctVTxxW5WzZePtwqWqy5IujO4Uh8CnwUDB51TETbhIsteFHBwv2n08DUVEatew2sEhXJJ2eI3UMxnXPOFCI2197BoTjHU7FHW+z5Vx2JSKb6VTULCDHXYId4XjjVbh7WzyAEVkFituAcddqXpn6HOxqOo=
      deploy:
        on: master
        provider: bintray
        file: out/hab-bintray.json
        user:
          secure: "RAnTccM0w4ODqonvvAgTVwloxvr+9J7vIXhowlqupj7PXsCi6DhuAPn+ZkRI5XznO1y/j3l6YyCTzMqjn66Px+0xsl3lD4kI17I9iUuHUkyJQpVvZ4G+h0es4pzhmcpTJKLhyYDgYO8H0k+q2skuT0brmxjsr/oghiNks8eUT+brSp7XyqtFmxrqr+inILUFIRMIUcF93etshlBEYrOCSxlY9yrxZCjMkbo4fKEBHhckDXpVFmrHslQVVBkTUTTr0ef7Lbe2ynoWRplB/Sw27DPr+eLRGtD9LiHOh/XIDWBhkF1dwAIlydxLaBcJTzpu1V78HE61nGRVc86Qww/rmqh55OG4VvEXjeblop0mV3KBDNHVKgcG/UN9gcL3TiEMwWn0XB4aef9Lxt82LuyQ5jASpQE2ThPY6qIkVn7/RC+ADJA1PDFICm08t48x69anAsB1JEzP0I6xL2SqWQI/07pf9pqJJpfhdJTpbs8pNZnZiJujcxhNPrAxBPJyCy6wdGSyWmU8outDjfs58bR6bCmf4g+QyZA8VmWQxKJOjuaSHYCXQRW47wb+e2k1OAswK/FvGA/LWDDrDfdv3EwNVjI+usEDsEAbBsWG5Z3FIkszELZA9sY2Qyd6tpyxjSpwOfnZn55u8HjF1k2iPJqBGHWjLUQBQOjgyWVyl0p/1/g="
        key:
          secure: "M/sbm/YLwyE2kbB1o8dX46SohcvXJjo3Px9yINzPMz6Z2bHyYpz741D0hAomFGXfQbnIrMBD+HKK6w5NsP804rExzMD9p2gUVyOicDb7YbDs4AGoFqW7nAyk+/F2H2J3KGlZwHXSIIuStVyNYTi2OLbB0i7rX1u6Fl+hfRRtX8+tt4AtBcf91EtSZteeiOU+BjeuVX+4ZFnA0cuvqR4wOaWkybymRYLecCJBihOVrNJrJD/paGXdJ4K62MGS9O8CQIVtGJZAjH9U0q96+96gLhXJf8zl4vBrEV/nj+JbfAMVPZ0k8sQ1n8ANF2fUZsjad1LNaVJWRi87qknFcYUGx7DjsW/0RW5dQs6t1Sgo53Mf6RtIVIWF5pQYEmUuOz5X6VY3FT3P58lVQcd61+5gF6FTMnvJU7S45ERj4wvzzKYpyYC0bXmc2Djxi72/NdYhPPA0B/fJP0OSbpdIEAFrDOpWXuim2sWw+i7sUNZuwZ8RTOuMywyMtknVMYu9RuQUIpcGFsQmpih46evZWPcBCGagTwgPSmdcEtDP5pZ/cdeEThPgHItI0mwUvdwgISJ6UgayfMwHARW0tn5EatEdYp2cZYwaTIPORV6hpMyXC0eokZnE+Fz3bkE8k27t6lbDRq+mySOELxoMRrB9Kri7vRHWEJU9p2uaJnm0gmssCUc="
        passphrase:
          secure: "k1/k25G+jYIa3/B24vOg+6tdDk7CO9udp/G2HoPiyoNGFjpZoOWXKBQIdITI8rqbuRwUtc9GFKGQtdz2dXNzQs3A8+XfaAcebQL3AqBM2BG/MPm5EiIMt2XHVees+VoZfhhOZXKZIs78cPVC4QiVI+T5K/LrCsBowSTXp4AjOgK885sdd0oGD1SDfus7gei4vjeWkah/aKooNLsH9KPJ1OSvPgQccQysscHFwWCbdBK3vIe1w6Ay5oLPSQH/EbLtSGVuPlj5o4lReShFeC7dF/S3jv7Cwl1PrG2pBPTWuT/0J9o2TQkn0lsWaa2FF/lypJXpVEGFdxy1o9Tm28ZWVK+LXsmELg55CAGqOAc1YpwqxWgwqSzaO2SypeqK1z40tOeUJ8d9JAZaPZ0hZZPWxVqgAch+nXjLnPirJw/evBZb7UXBeiGHtO+v9W3twcCS2/NOubGUmJgfAdkBRKZKHYQQmps0TAe5aoQyC6l7cPx89rfz3t7/mNKbgE2+VcNPXn7gM3iznySEmjYTjTid4Erz9+Laiyr/skgwuyktpdIvVQjdw3TrbY+CtNUAWMr67qdbiDTBxV8BIeCiKX52kcp9EoITVK/85YZ98OgD2t7vpfWeqRZkztT3PlG0041OBSwItDLTHqFxaTWDkQ8dAYSk2V1CcHMhTEg0e3iCRiU="
notifications:
  webhooks:
    urls:
      - http://bots.habitat.sh:4567/travis
    on_success: always
    on_failure: always
    on_start: always
