hab-project-settings {
  @include row;

  h3 {
    text-transform: uppercase;
    font-size: rem(12);
  }

  p {
    font-size: rem(14);
    margin: 8px 0 12px;

    &.note {
      @include row;
      position: relative;
      margin-top: 0;
      padding: 14px;
      background-color: $very-light-gray;
      border-radius: $global-radius;
      color: $dark-blue;
      margin-bottom: 18px;

      hab-icon {
        @include span-columns(1);
        width: 24px;
        height: 24px;
        color: $dark-gray;
      }

      span {
        @include span-columns(8);

        &.cta {
          @include span-columns(3);
          text-align: center;
        }
      }
    }

    code {
      font-family: $monospace-font-family;
      font-size: rem(12);
    }
  }

  .connect {
    margin-bottom: 14px;
    font-size: rem(14);

    button {
      margin-bottom: 12px;
    }

    .no-keys {
      color: $hab-blue;
      margin-left: 8px;

      hab-icon {
        margin-right: 4px;
      }

      a {
        color: $hab-blue;
        text-decoration: underline;
      }
    }
  }

  .connected-plans {

    li {
      @include row;

      &.heading {
        border-bottom: 1px solid $very-light-gray;
      }

      &.item {
        font-size: rem(12);
        padding: 12px 0;
      }

      .plan-path {
        @include span-columns(6);

        hab-icon {
          margin-right: 12px;
        }
      }

      .plan-exports, .plan-status, .plan-actions {
        @include span-columns(2);
      }

      .plan-actions {

        hab-icon {
          width: 16px;
          color: $hab-blue;
          margin-right: 22px;
          cursor: pointer;
          transition: color .2s linear;

          &:hover {
            color: darken($hab-blue, 10%);
          }

          &:active {
            color: $hab-blue;
          }
        }
      }

      .plan-status {

        hab-icon {
          width: 18px;

          &.success {
            color: $hab-green-light;
          }
        }

        span {
          color: $medium-gray;
        }
      }
    }
  }

  .connecting {

    ol {
      background-color: $hab-blue;
      border-radius: $global-radius;
      color: $hab-white;
      font-size: rem(14);
      padding: 4px 14px;
      margin-bottom: 28px;

      li {
        display: inline-block;
        margin-right: 8px;

        &.active {
          font-weight: 600;
        }

        &:first-child {
          cursor: pointer;
        }

        &:not(:first-child) {
          &:before {
            content: '→';
            margin-right: 12px;
          }
        }
      }
    }

    hab-checking-input {

      input {
        font-family: $monospace-font-family;
        font-size: rem(12);
        margin-bottom: 16px;

        &::placeholder {
          color: $medium-gray;
        }
      }

      small {
        text-align: left;
        display: block;
        margin-bottom: 12px;
        font-size: rem(12);

        span {
          margin-left: 0;
        }
      }

      hab-icon {
        top: 7px;
        right: 6px;
        width: 16px;
        height: 16px;
      }
    }

    .try-again {
      cursor: pointer;

      hab-icon {
        width: 0.9em;
        margin-right: 1px;
      }
    }

    .docker-export-settings {
      margin-top: 28px;
    }

    .repo-link {
      font-size: rem(12);
      float: right;
      display: block;
    }

    .controls {
      margin: 24px 0;

      a {
        cursor: pointer;
      }

      button, a {
        display: inline-block;
        font-size: rem(14);
        margin-right: 16px;
      }
    }
  }

  .content {
    @include span-columns(9);
  }

  .sidebar {
    @include span-columns(3);
    padding-left: 20px;
    border-left: 1px solid $very-light-gray;

    h3 {
      margin-bottom: 16px;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
