.project-settings-component {

  .note {
    margin-bottom: $default-margin;
    padding: $default-padding;
    background-color: $very-light-gray;
    border-radius: $default-radius;
    color: $dark-blue;

    hab-icon {
      width: 24px;
      height: 24px;
    }

    .icon, .info {
      margin-right: $default-margin;
      margin-bottom: $default-margin;
    }

    .icon {
      float: left;
    }

    .cta {
      .button {
        background-color: $hab-orange;
        color: $white;
      }
    }

    @include tablet-up {
      display: flex;

      .icon {
        flex: 0 0 24px;
      }

      .info {
        flex: 1;
      }

      .cta {
        flex: 0 0 140px;

        .button {
          background-color: $hab-orange;
          color: $white;
        }
      }
    }
  }

  code {
    font-family: $monospace-font-family;
    font-size: $small-font-size;
  }

  .connect {
    margin-bottom: $default-margin;

    .no-keys {
      color: $hab-blue;
      margin-left: 8px;

      hab-icon {
        margin-right: 4px;
      }

      a {
        color: $hab-blue;
        text-decoration: underline;
      }
    }
  }

  .connected-plans {

    li {

      &.heading {
        border-bottom: 1px solid $very-light-gray;
      }

      &.item {
        font-size: $small-font-size;
        padding: $default-padding 0;
      }

      .plan-path {

        hab-icon {
          margin-right: $default-margin;
        }
      }

      .plan-actions {

        hab-icon {
          width: 16px;
          color: $hab-blue;
          margin-right: 22px;
          cursor: pointer;
          transition: color .2s linear;

          &:hover {
            color: darken($hab-blue, 10%);
          }

          &:active {
            color: $hab-blue;
          }
        }
      }

      .plan-status {

        hab-icon {
          width: 18px;

          &.success {
            color: $success;
          }
        }

        span {
          color: $medium-gray;
        }
      }
    }
  }

  .connecting {

    ol {
      background-color: $hab-blue;
      border-radius: $default-radius;
      color: $white;
      padding: 4px 14px;
      margin-bottom: 28px;

      li {
        display: inline-block;
        margin-right: 8px;

        &.active {
          font-weight: 600;
        }

        &:first-child {
          cursor: pointer;
        }

        &:not(:first-child) {
          &:before {
            content: '→';
            margin-right: 12px;
          }
        }
      }
    }

    .try-again {
      cursor: pointer;

      hab-icon {
        width: 0.9em;
        margin-right: 1px;
      }
    }

    .docker-export-settings {
      margin-top: 28px;
    }

    .repo-link {
      font-size: rem(12);
      float: right;
      display: block;
    }

    .controls {
      margin: 24px 0;

      a {
        cursor: pointer;
      }

      button, a {
        display: inline-block;
        font-size: rem(14);
        margin-right: 16px;
      }
    }
  }
}
