hab-project-settings {

  h3 {
    text-transform: uppercase;
    font-size: rem(12);
  }

  .plan {
    @include row;

    p {
      font-size: rem(14);
      margin-bottom: 0;
    }

    .connect {
      margin-bottom: 14px;
    }

    .installations {
      @include span-columns(4.5 of 9);

      img {
        width: 24px;
        height: 24px;
        border-radius: 2px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    .repos {
      @include span-columns(4.5 of 9);

      input {
        margin-bottom: 8px;
      }
    }

    .browser {
      @include row;
    }

    .installations, .repos {

      li {
        line-height:  40px;
        padding: 0 4px;
        border-bottom: 1px solid $very-light-gray;

        a {
          display: block;
          position: relative;
          font-size: rem(14);
          font-weight: 600;
          color: $hab-gray-dark;
          cursor: pointer;

          hab-icon {
            display: none;
            width: 20px;
            height: 20px;
            @include chevron-right;
          }

          &:hover, &.active {
            background-color: rgba($medium-gray, 0.05);

            hab-icon {
              display: block;
            }
          }
        }
      }
    }

    .plans {

      li {
        @include row;

        &.heading {
          border-bottom: 1px solid $very-light-gray;
        }

        &.item {
          font-size: rem(12);
          padding: 12px 0;
        }

        .plan-path {
          @include span-columns(6);

          hab-icon {
            margin-right: 12px;
          }
        }

        .plan-exports, .plan-status, .plan-actions {
          @include span-columns(2);
        }

        .plan-actions {

          hab-icon {
            width: 16px;
            color: $hab-blue;
            margin-right: 22px;
            cursor: pointer;
            transition: color .2s linear;

            &:hover {
              color: darken($hab-blue, 10%);
            }

            &:active {
              color: $hab-blue;
            }
          }
        }

        .plan-status {

          hab-icon {
            width: 18px;

            &.success {
              color: $hab-green-light;
            }
          }

          span {
            color: $medium-gray;
          }
        }
      }
    }

    .connecting {
      @include span-columns(9);
      @include omega;

      ol {
        background-color: $hab-blue;
        border-radius: $global-radius;
        color: $hab-white;
        font-size: rem(14);
        padding: 4px 14px;
        margin-bottom: 36px;

        li {
          display: inline-block;
          margin-right: 8px;

          &.active {
            font-weight: 600;
          }

          &:first-child {
            cursor: pointer;
          }

          &:not(:first-child) {
            &:before {
              content: '→';
              margin-right: 12px;
            }
          }
        }
      }

      .select {

        p {
          font-size: rem(14);
          margin-bottom: 12px;
        }
      }

      .docker-export-settings {
        margin-top: 28px;
      }

      md-radio-button {
        display: block;
        line-height: rem(40);
        border-bottom: 1px solid $very-light-gray;

        .mat-radio-container {
          margin-right: 40px;
        }

        label {
          margin-bottom: 2px;
        }

        hab-icon {
          margin-right: 12px;
        }

        span {
          font-size: rem(12);
          text-transform: none;
        }
      }

      .controls {
        margin-top: 30px;

        a {
          cursor: pointer;
        }

        button, a {
          display: inline-block;
          font-size: rem(14);
          margin-right: 16px;
        }
      }
    }
  }
}
