<section class="plan">
    <div class="connect" *ngIf="!project && !connecting && !loading">
        <button md-raised-button color="primary" class="button" (click)="connect()">
            Connect a plan file
        </button>
        <div *ngIf="name">
            <p><strong>There are currently no Habitat plan files connected.</strong></p>
            <p>If you have a plan file in a GitHub repo, connect it here for automated build jobs.</p>
            <p>
                <em>
                    Don't have a plan file? Learn more about
                    <a href="https://www.habitat.sh/docs/create-plans/">creating plan files</a> or
                    <a href="{{ config['demo_app_url'] }}">try the demo app</a>.
                </em>
            </p>
        </div>
    </div>
    <div *ngIf="project && !connecting">
        <ul class="plans">
            <li class="heading">
                <h3 class="plan-path">Plan</h3>
                <h3 class="plan-exports">&nbsp;</h3>
                <h3 class="plan-status">Status</h3>
                <h3 class="plan-actions">Actions</h3>
            </li>
            <li class="item">
                <div class="plan-path">
                    <hab-icon [symbol]="iconFor(project.plan_path)"></hab-icon>
                    <span>{{ project.plan_path }}</span>
                </div>
                <div class="plan-exports">
                    &nbsp;
                </div>
                <div class="plan-status">
                    <hab-icon symbol="check" class="success"></hab-icon>
                    <span>connected</span>
                </div>
                <div class="plan-actions">
                    <hab-icon symbol="cancel" (click)="disconnect()"></hab-icon>
                    <hab-icon symbol="settings" (click)="editConnection()"></hab-icon>
                </div>
            </li>
        </ul>
    </div>
    <div class="connecting" *ngIf="connecting">
        <ol>
            <li [class.active]="!selectedRepo" (click)="deselect()">Select a GitHub repo</li>
            <li [class.active]="selectedRepo">Set path to Habitat plan file</li>
        </ol>
        <div class="browser" *ngIf="!selectedRepo">
            <div class="installations">
                <h3>
                    <hab-icon symbol="github"></hab-icon>
                    Installed Apps
                </h3>
                <ul>
                    <li *ngFor="let installation of installations">
                        <a (click)="selectInstallation(installation)" [class.active]="installation === selectedInstallation">
                            {{ installation.getIn(["account", "login"]) }}
                            <hab-icon symbol="chevron-right"></hab-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="repos">
                <h3>Repositories for App</h3>
                <input [(ngModel)]="filter.name" placeholder="Filter by name">
                <ul>
                    <li *ngFor="let repo of repos | habGitHubRepoFilter:filter:'name'">
                        <a (click)="selectRepo(repo)">
                            {{ repo.get("name") }}
                            <hab-icon symbol="chevron-right"></hab-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="select" *ngIf="selectedRepo">
            <h3>Select a Plan File</h3>
            <p *ngIf="files.size > 0">
                If the selected repo contains any plan files, they will be listed below. When repo changes are detected,
                the Build Service will create a new .hart file from the selected plan.
            </p>
            <div *ngIf="files.size === 0">
                <p><em>No plan files were found in this GitHub repo.</em></p>
            </div>
            <md-radio-group [(ngModel)]="selectedPath">
                <md-radio-button *ngFor="let file of files" [value]="file.get('path')" [disabled]="isWindows(file.get('path'))">
                    <hab-icon [symbol]="iconFor(file.get('path'))"></hab-icon>
                    <span>{{ file.get("path") }}</span>
                </md-radio-button>
            </md-radio-group>
            <hab-docker-export-settings #docker
                *ngIf="files.size > 0"
                [integrations]="integrations">
            </hab-docker-export-settings>
        </div>
        <div class="controls">
            <button md-raised-button color="primary" class="button" (click)="saveConnection()" [disabled]="!valid">
                {{ connectButtonLabel }} Connection
            </button>
            <a (click)="clearConnection()">Cancel</a>
        </div>
    </div>
</section>
