<section class="plan">
    <div class="connect" *ngIf="!project && !connecting && !loading">
        <button md-raised-button color="primary" class="button" (click)="connect()">
            Connect a plan file
        </button>
        <div *ngIf="name">
            <p><strong>There are currently no Habitat plan files connected.</strong></p>
            <p>If you have a plan file in a GitHub repo, connect it here for automated build jobs.</p>
            <p>
                <em>
                    Don't have a plan file? Learn more about
                    <a href="https://www.habitat.sh/docs/create-plans/">creating plan files</a> or
                    <a href="{{ config['demo_app_url'] }}">try the demo app</a>.
                </em>
            </p>
        </div>
    </div>
    <div *ngIf="project && !connecting">
        <ul class="plans">
            <li class="heading">
                <h3 class="plan-path">Plan</h3>
                <h3 class="plan-exports">&nbsp;</h3>
                <h3 class="plan-status">Status</h3>
                <h3 class="plan-actions">Actions</h3>
            </li>
            <li class="item">
                <div class="plan-path">
                    <hab-icon [symbol]="iconFor(project.plan_path)"></hab-icon>
                    <span>{{ project.plan_path }}</span>
                </div>
                <div class="plan-exports">
                    &nbsp;
                </div>
                <div class="plan-status">
                    <hab-icon symbol="check" class="success"></hab-icon>
                    <span>connected</span>
                </div>
                <div class="plan-actions">
                    <hab-icon symbol="cancel" (click)="disconnect()"></hab-icon>
                    <hab-icon symbol="settings" (click)="editConnection()"></hab-icon>
                </div>
            </li>
        </ul>
    </div>
    <div class="connecting" *ngIf="connecting">
        <p class="note">
            <hab-icon symbol="github"></hab-icon>
            GitHub organizations and repositories with the <a href="{{ config['github_app_url'] }}" target="_blank">Habitat GitHub app</a>
            installed are listed below. You can install the app
            <a href="https://help.github.com/articles/installing-an-app-in-your-personal-account/" target="_blank">on your personal account</a>
            or <a href="https://help.github.com/articles/installing-an-app-in-your-organization/" target="_blank">on an organization</a> of which
            <em>you are the owner</em>.
        </p>
        <ol>
            <li [class.active]="!selectedRepo" (click)="deselect()">Select a GitHub repo</li>
            <li [class.active]="selectedRepo">Set path to Habitat plan file</li>
        </ol>
        <div class="browser" *ngIf="!selectedRepo">
            <div class="installations">
                <h3>
                    <hab-icon symbol="github"></hab-icon>
                    GitHub Orgs for {{ username }}
                </h3>
                <ul>
                    <li *ngIf="installations.size === 0">
                        None.
                    </li>
                    <li *ngFor="let installation of installations">
                        <a (click)="selectInstallation(installation)" [class.active]="installation === selectedInstallation">
                            {{ installation.getIn(["account", "login"]) }}
                            <hab-icon symbol="chevron-right"></hab-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="repos">
                <div *ngIf="selectedInstallation">
                    <h3>GitHub Repos for Selected Org</h3>
                    <input [(ngModel)]="filter.name" placeholder="Filter by name">
                    <ul>
                        <li *ngIf="repos.size === 0">
                            None.
                        </li>
                        <li *ngFor="let repo of repos | habGitHubRepoFilter:filter:'name'">
                            <a (click)="selectRepo(repo)">
                                {{ repo.get("name") }}
                                <hab-icon symbol="chevron-right"></hab-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="select" *ngIf="selectedRepo">
            <a class="repo-link" href="{{ repoUrl }}" target="_blank">
                <hab-icon symbol="open-in-new"></hab-icon>
                Go to your repo
            </a>
            <h3>Path to Plan File</h3>
            <p>
                Enter the path to your plan file from the root of your repo. By default,
                we check for <code>habitat/plan.sh</code>.
            </p>
            <div class="files">
                <form [formGroup]="form" #formValues="ngForm">
                    <hab-checking-input
                        id="plan_path"
                        name="plan_path"
                        availableMessage="found!"
                        notAvailableMessage="does not exist in the repository."
                        displayName="Plan file"
                        [form]="form"
                        [pattern]="false"
                        [maxLength]="false"
                        [isAvailable]="doesFileExist"
                        [value]="selectedPath">
                    </hab-checking-input>
                </form>
            </div>
            <hab-visibility-selector
                [setting]="visibility"
                (changed)="settingChanged($event)">
            </hab-visibility-selector>
            <hab-docker-export-settings #docker
                *ngIf="selectedRepo"
                [integrations]="integrations">
            </hab-docker-export-settings>
        </div>
        <div class="controls">
            <button md-raised-button color="primary" class="button" (click)="saveConnection()" [disabled]="!valid">
                {{ connectButtonLabel }} Connection
            </button>
            <a (click)="clearConnection()">Cancel</a>
        </div>
    </div>
</section>
