#utility-bar, #menu, #footer {
  flex-shrink: 0;
}

#main-content {
  // Make sure the header offset does not layer above the nav
  z-index: 0;

  //flex: 1 0 auto;

  > .grid-container {
    height: 100%;

    > .grid-x {
      height: 100%;

      .position-left{
        width: 260px;
      }
    }
  }

  .col-sidebar {
    margin-top: rem-calc(24);
    padding: rem-calc(8 0);
    background-color: $sidebargray;
    overflow-y: hidden;

    @include breakpoint(medium) {
      margin-top: 0;
    }

    .sticky.is-stuck {
      z-index: 1;
    }
  }

  .col-content {
    padding-top: rem-calc(14);
    background-color: $white;
    height: 100%;
    word-wrap: break-word;
    min-height: 100vh;

    p img {
      margin-bottom: rem-calc(32);
    }

    a {
      .fa-link {
        margin-left: rem-calc(8);
        color: $lightgray;
        vertical-align: middle;
        font-size: 14px !important;
      }

      &:hover .fa-link {
        color: $blue-darker;
      }
    }
  }
}

.has-sidebar {
  @include breakpoint(medium) {
    #main-content {
      position: relative;
      background: linear-gradient(90deg, $sidebargray 50%, $white 50%);
    }
  }
}

