.sidebar {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 260px;
}

#left-nav-off-canvas{
  border-bottom: 1px solid $border;
}

#sidebar-nav{
  height: 100%;
  z-index: 25;
  width: 260px;
  overflow-y: scroll;

  &.offCanvas{
    width: inherit;
  }

> .nav {
  margin-bottom: 30px;
  overflow-y: scroll;

  @include breakpoint(medium) {
    overflow-y: scroll;
  };

  > .accordion-menu {
    font-size: rem-calc(14px);

    > li {
      padding-right: 8px;

      > a {
        font-weight: 700;
        color: $charcoal;

        @include breakpoint(medium) {
          border-radius: $border-radius-base 0 0 $border-radius-base;
        };
      }
    }
    
    .nested.is-active li.active a {
      font-weight: normal;
      background: none;
      color: $menu-item-color-active
    }

    .nested.is-accordion-submenu {
      margin-left: rem-calc(8);

    .is-accordion-submenu-item a{
      line-height: 1.4rem;
      padding: .5rem 1rem;
    }
    }
  }

  .menu {
    a {
      color: $body-font-color;
    }
  }
}
> .search {
    text-align: center;
    margin: 12px 12px;
    object-fit: contain;
  }
}

#header-logo {

  img {
    @include transition();
    padding: 8px 0;
    width: 90px;
    margin: 2px 18px;
  }
}
