h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,{
	margin: 0;

	// Adjust the anchor position to account for the fixed header
	&:before {
		content: '';
		display: block;
		position: relative;
		width: 0px;
		height: rem-calc(100px);
		margin-top: rem-calc(-100px);
	}

	& > a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
}

h1, .h1 {
	@include inter();
	line-height: 1.25;
	font-weight: normal;
	letter-spacing: normal;
	color: $charcoal;
	text-transform: none;
	margin-bottom: 26px;
}

h2, .h2 {
	@include inter();
	line-height: 1.25;
	font-weight: normal;
	letter-spacing: normal;
	color: $charcoal;
	text-transform: none;
	margin-bottom: 12px;
	margin-top: rem-calc(24px);
}

h3, .h3 {
	@include inter();
	line-height: 1.33;
	font-weight: normal;
	letter-spacing: normal;
	color: $charcoal;
	text-transform: none;
	margin-bottom: 17px;
	margin-top: rem-calc(32px);
}

h4, .h4 {
	@include inter();
	line-height: 1.36;
	font-weight: $bold;
	letter-spacing: normal;
	color: $charcoal;
	text-transform: none;
    margin-bottom: rem-calc(18px);
    margin-top: rem-calc(32px);
}

h5, .h5 {
	@include inter();
	line-height: 1.67;
	font-weight: $bold;
	letter-spacing: normal;
	color: $charcoal;
	text-transform: uppercase;
	margin-bottom: 8px;
}

h6, .h6, {
	@include inter();
	line-height: 1.25;
	font-weight: $bold;
	letter-spacing: normal;
	color: $charcoal;
	text-transform: uppercase;
	margin-bottom: 8px;
}
