<section id="blurbs" class="padding-bottom">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-4">
        <div class="padded-medium text-center">
          <p>Do things with Chef Habitat.</p>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="padded-medium text-center">
          <p>Chef Habitat is Awesome.</p>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="padded-medium text-center">
          <p>Do More Things with Habitat.</p>
        </div>
      </div>
    </div>
  </div>
</section>
