<section id="callout-section" class="callout-section padding-top padding-bottom">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 medium-5">
        <h2>Introducing Chef Habitat</h2>
        <p>Chef Habitat ....</p>
        <a href="#callout-section" class="button-animated" data-omnitruck-download="chef-habitat">
          <span class="text">Download Chef Habitat</span>
          <span class="line -right-top"></span>
          <span class="line -right-bottom"></span>
          <span class="line -top-left"></span>
          <span class="line -top-right"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
        <br/><br/>
        <p><a href="/docs/chef-habitat/getting-started/" class="cta">Learn more about Chef Habitat</a></p>
      </div>
      <div class="cell small-12 medium-6 medium-offset-1">
        <ul class="bordered-items">
          <li>
            <p class="title">Effortless Habitat Setup</p>
            <p class="desc">Chef Habitat's one-click install makes it easier than ever to start automating your infrastructure.</p>
          </li>
          <li>
            <p class="title">Ad-Hoc Configuration Tasks</p>
            <p class="desc">Apply dynamic, repeatable configurations to your servers directly over SSH or WinRM.</p>
          </li>
          <li>
            <p class="title">Robust Testing & Development Tools</p>
            <p class="desc">Chef Habitat includes the full Chef Development Kit, providing tools for authoring and testing your own Chef Cookbooks.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
