<section id="cards" class="cards padding-bottom padding-top">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y" data-equalizer>
      <div class="cell small-12">
        <div class="header-content text-center">
          <h2 class="h3">Repeatable, Automated Builds Drive Continuous Improvement</h2>
        </div>
      </div>
      <div class="cell large-3 medium-6" data-equalizer-watch>
        <div class="boxed">
          <img src="/images/chef/icon-cog-refresh.svg" alt="cog icon" class="icon">
          <h3 class="h6"><a href="">Ad-Hoc Tasks</a></h3>
          <p>Use Chef Habitat to deploy anywhere</p>
        </div>
      </div>
      <div class="cell large-3 medium-6" data-equalizer-watch>
        <div class="boxed">
          <img src="/images/chef/icon-circuit.svg" alt="circuit icon" class="icon">
          <h3 class="h6"><a href="">Manage Dependencies</a></h3>
          <p>Things</p>
        </div>
      </div>
      <div class="cell large-3 medium-6" data-equalizer-watch>
        <div class="boxed">
          <img src="/images/chef/icon-page.svg" alt="page icon" class="icon">
          <h3 class="h6"><a href="">Tutorials</a></h3>
          <p>Get started creating your own Chef Habitat plans in our self-guided learning modules at Learn Chef Rally.</p>
        </div>
      </div>
      <div class="cell large-3 medium-6" data-equalizer-watch>
        <div class="boxed">
          <img src="/images/chef/icon-light-bulb.svg" alt="light bulb icon" class="icon">
          <h3 class="h6"><a href="">Containers</a></h3>
          <p>Containers are exciting</p>
        </div>
      </div>
    </div>
  </div>
</section>
