<section class="grid-x">
    <div class="cell small-12">
      <div class="content header-content text-center">
        <h2 class="h3">Lorem ipsum dolor sit amet integer et elit eget elit. </h2>
        <a href="#" class="button">Downloads</a> <a href="#" class="button white arrow-right">Get Started</a>
      </div>
    </div>
    <hr class="no-margin">
    <div class="cell medium-10 medium-offset-1 large-8 large-offset-2">
      <div class="content header-content text-center margin-top">
        <h3>Lorem ipsum dolor sit amet integer et elit eget elit. </h3>
        <p class="intro-medium">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit volutpat aliquam facilisis tristique. </p>
      </div>
    </div>
    <div class="grid-x cols-with-dividers cols-with-dividers-medium">
      <div class="cell medium-4">
        <div class="content">
          <h4 class="text-blue margin-bottom-20">News</h4>
          <ul class="article-roll show-first-on-mobile">
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
          </ul>
          <a href="#" class="cta show-for-small-only">More News</a>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="content">
          <h4 class="text-blue margin-bottom-20">Events</h4>
          <ul class="article-roll show-first-on-mobile">
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
          </ul>
          <a href="#" class="cta show-for-small-only">More News</a>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="content">
          <h4 class="text-blue margin-bottom-20">Twitter</h4>
          <ul class="article-roll show-first-on-mobile">
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
            <li>
              <article class="article">
                <a href="#">
                  <h1 class="title">March 26, 2018</h1>
                  <p class="desc">Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. </p>
                </a>
              </article>
            </li>
          </ul>
          <a href="#" class="cta show-for-small-only">More News</a>
        </div>
      </div>
    </div>
  </section>
