<section id="getting-started" class="section-overlay-dropdown padding-bottom">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <div class="overlay-dropdown">
          <button data-toggle="getting-started-dropdown" class="overlay-dropdown-bar white-text">
            <p>Get started in minutes with <strong>Chef Habitat</strong>.</p>
            <i class="fas fa-chevron-down dropdown-icon"></i>
          </button>
          <div id="getting-started-dropdown" class="dropdown-pane overlay-dropdown-content" data-dropdown data-parent-class="overlay-dropdown">
            <p>Chef Habitat gives you ...</p>
            <ul class="bordered-items">
              <li>
                <p class="title"> Habitat Setup</p>
                <p class="desc">Chef Habitat's .</p>
              </li>
              <li>
                <p class="title">Chef Habitat Builder</p>
                <p class="desc">Do Things.</p>
              </li>
              <li>
                <p class="title">Build Packages</p>
                <p class="desc">Chef Habitat includes things</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
