<section id="hero">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell large-5">
        <h1>Powerful Infrastructure Automation</h1>
        <p>Chef ensures that systems are configured consistently and continuously in any environment, at any scale.</p>
        <a href="/about" class="button-animated">
          <span class="text">Learn More About Chef</span>
          <span class="line -right-top"></span>
          <span class="line -right-bottom"></span>
          <span class="line -top-left"></span>
          <span class="line -top-right"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
      <!-- </div>
      <div class="cell large-6 large-offset-1">
        <img src="{{ "images/chef/chef_recipe.png" | relURL }}" alt="Screenshot of Infrastructure as Code with Chef">
      </div>
    </div> -->
  </div>
</section>
