<div class="checking-input-component">
  <div class="wrapper">
    <hab-icon [symbol]="symbolForState(control)"
      [class.spinning]="control.pending"
      [class.invalid]="control.dirty && !control.pending && !control.valid"
      [class.valid]="!control.pending && control.valid">
    </hab-icon>
    <input
      type="text"
      [class.loading]="control.pending"
      autocomplete="off"
      autofocus="{{autofocus}}"
      id="{{id}}"
      [formControl]="form.controls[name]"
      placeholder="{{placeholder}}">
  </div>
  <div class="validation-message" *ngIf="control.dirty && !control.pending ">
    <span *ngIf="!control.valid" class="hab-checking-input--input-msg invalid">
      <span *ngIf="control.errors.invalidFormat">
        {{displayName}} {{unmatchedMessage}}
      </span>
      <span *ngIf="control.errors.required">
        {{displayName}} is required
      </span>
      <span *ngIf="control.errors.taken">
        {{displayName}} {{notAvailableMessage}}
      </span>
      <span *ngIf="control.errors.maxlength">
        Cannot be longer than {{maxLength}} characters
      </span>
    </span>
    <span *ngIf="control.valid" class="hab-checking-input--input-msg valid">
      {{displayName}} {{availableMessage}}
    </span>
  </div>
</div>
