---
title: Install Habitat
description:
---

# <a name="install-habitat" id="install-habitat" data-magellan-target="install-habitat">Installing Chef Habitat</a>

In this section, you'll find installation instructions for each platform and their requirements. The Chef Habitat CLI is currently supported on Linux, Mac, and Windows.
