---
title: Get Chef Habitat
description: Install the Chef Habitat CLI and configure your workstation for Chef Habitat development
---

# <a name="installing-packages" id="installing-packages" data-magellan-target="installing-packages">Get Chef Habitat</a>

<section class="download mt-2">
<%= partial "/partials/global/download-and-install" %>
</section>
