---
title: Install Chef Habitat
description: Install the Chef Habitat CLI and configure your workstation for Chef Habitat development
---

# <a name="installing-packages" id="installing-packages" data-magellan-target="installing-packages">Installing Chef Habitat</a>
Below you'll find installation instructions for each platform and their requirements. The Chef Habitat CLI is currently supported on Linux, Mac, and Windows.

<section class="download mt-2">
<%= partial "/partials/global/download-and-install" %>
</section>
