---
title: Get Chef Habitat
description: Install the Chef Habitat CLI and configure your workstation for Chef Habitat development
---

# <a name="install-cli" id="install-cli" data-magellan-target="install-cli">Get Chef Habitat</a>

<section class="download mt-2">
<%= partial "/partials/global/download-and-install" %>
</section>
