{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "# Authentication\nThe Chef Automate API typically uses an API token passed in the header of your API request.\n\nTo create admin token can and set it as an environment variable use the following command:\n\n```\nexport TOKEN=`chef-automate iam token create <TOKEN-NAME> --admin`\n```\n\nAn admin token has unlimited access the entire Chef Automate API.\n\nPass the token as part of the API call. For example:\n\n```\ncurl -s -H \"api-token: $TOKEN\" https://automate.example.com/apis/iam/v2/policies -v\n```\n\nTo create api tokens with limited permissions, use your admin token to create a standard token. You can then write a policy that exactly defines the API access for the standard token.\n\nIn this example, the `curl` command creates the new token and the `export` command saves it as an environment variable with the name \"TOKEN2\".\n\n```\ncurl -s -H \"api-token: $TOKEN\" -d '{\"name\":\"New Token\", \"id\":\"new-token\"}' https://automate.example.com/apis/iam/v2/tokens\n  {\n    \"token\": {\n      \"id\": \"new-token\",\n      \"name\": \"New Token\",\n      \"value\": \"bww8EEpr39_eYMnQ2zybtrP9uzk=\",\n      \"active\": true,\n      \"created_at\": \"2020-02-26T19:36:07Z\",\n      \"updated_at\": \"2020-02-26T19:36:07Z\",\n      \"projects\": []\n    }\n  }\n\nexport TOKEN2=bww8EEpr39_eYMnQ2zybtrP9uzk=\n```\n\nThe Chef Automate documentation covers policies, authentication, and authorization in greater detail.\n* **[API Tokens](https://automate.chef.io/docs/api-tokens/)** explains authentication in Chef Automate.\n* **[Authorization Overview](https://automate.chef.io/docs/iam-v2-overview)** explains authorization in Chef Automate.\n",
    "title": "Chef Automate API Documentation",
    "termsOfService": "https://www.chef.io/terms-and-conditions-of-use/",
    "contact": {
      "url": "https://www.chef.io/support/",
      "email": "support@chef.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/chef/automate/blob/master/LICENSE"
    },
    "version": "version not set",
    "x-logo": {
      "altText": "Chef logo",
      "url": "/images/chef-automate-logo.svg"
    }
  },
  "host": "automate.chef.io",
  "paths": {
    "/api/beta/cfgmgmt/rollouts/create": {
      "post": {
        "description": "Creates a Rollout record. A rollout represents the process of nodes acquiring\nthe latest policy revision pushed to a policy group.\n\nAuthorization Action:\n```\ningest:unifiedEvents:create\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "CreateRollout",
        "operationId": "CreateRollout",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.request.CreateRollout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.Rollout"
            }
          }
        }
      }
    },
    "/api/beta/cfgmgmt/rollouts/find": {
      "get": {
        "description": "Returns the rollout for the given Chef Server/org, policy group, policy name, and policy revision\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "GetRolloutForChefRun",
        "operationId": "GetRolloutForChefRun",
        "parameters": [
          {
            "type": "string",
            "name": "policy_name",
            "in": "query"
          },
          {
            "type": "string",
            "name": "policy_group",
            "in": "query"
          },
          {
            "type": "string",
            "name": "policy_revision_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.Rollout"
            }
          }
        }
      }
    },
    "/api/beta/cfgmgmt/rollouts/list": {
      "get": {
        "description": "Gives a list of rollouts\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "GetRollouts",
        "operationId": "GetRollouts",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters to apply to the request for the rollouts list.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.Rollouts"
            }
          }
        }
      }
    },
    "/api/beta/cfgmgmt/rollouts/progress_by_node_segment": {
      "get": {
        "tags": [
          "ConfigMgmt"
        ],
        "operationId": "ListNodeSegmentsWithRolloutProgress",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters to apply to the request for the node segments list.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.NodeSegmentsWithRolloutProgress"
            }
          }
        }
      }
    },
    "/api/beta/cfgmgmt/rollouts/rollout/{rollout_id}": {
      "get": {
        "description": "Returns the rollout with the given Id\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "GetRolloutById",
        "operationId": "GetRolloutById",
        "parameters": [
          {
            "type": "string",
            "name": "rollout_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.Rollout"
            }
          }
        }
      }
    },
    "/api/beta/cfgmgmt/rollouts/test_create": {
      "post": {
        "description": "CreateRolloutTest is a no-op endpoint that has the same auth requirements as\nCreateRollout. It can be used to verify end-to-end config/connectivity for\nclients\n\nAuthorization Action:\n```\ningest:unifiedEvents:create\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "CreateRolloutTest",
        "operationId": "CreateRolloutTest",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.request.CreateRolloutTest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.CreateRolloutTest"
            }
          }
        }
      }
    },
    "/api/beta/content/credentials": {
      "post": {
        "description": "Submit a Chef Cloud Credentials to enable content\n\nAuthorization Action:\n```\ncontent:credentials:add\n```",
        "tags": [
          "Cds"
        ],
        "summary": "SubmitCredentials",
        "operationId": "SubmitCredentials",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cds.request.Credentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cds.response.Credentials"
            }
          }
        }
      }
    },
    "/api/beta/content/enabled": {
      "get": {
        "description": "Check if the content is enable for this Automate instance. \n\nAuthorization Action:\n```\ncontent:credentials:enabled\n```",
        "tags": [
          "Cds"
        ],
        "summary": "IsContentEnabled",
        "operationId": "IsContentEnabled",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cds.response.ContentEnabled"
            }
          }
        }
      }
    },
    "/api/beta/content/install": {
      "post": {
        "description": "Installs a content item from its ID\n\nAuthorization Action:\n```\ncontent:items:install\n```",
        "tags": [
          "Cds"
        ],
        "summary": "InstallContentItem",
        "operationId": "InstallContentItem",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cds.request.InstallContentItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cds.response.InstallContentItem"
            }
          }
        }
      }
    },
    "/api/beta/content/items": {
      "get": {
        "description": "Returns a list of metadata for each CDS content. Provides a description and current \nstate of each content item.\n\nAuthorization Action:\n```\ncontent:items:list\n```",
        "tags": [
          "Cds"
        ],
        "summary": "ListContentItems",
        "operationId": "ListContentItems",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cds.response.ContentItems"
            }
          }
        }
      }
    },
    "/api/v0/applications/delete_disconnected_services": {
      "post": {
        "description": "Removes services marked as disconnected based on the `threshold_seconds` setting.\nThis function is not used by the API or CLI and is here for testing purposes.\nThe functionality is currently covered by a periodically running job that can be configured using `UpdateDeleteDisconnectedServicesConfig`.\n\nAuthorization Action:\n```\napplications:serviceGroups:delete\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "Remove Disconnected Services",
        "operationId": "DeleteDisconnectedServices",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.DisconnectedServicesReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesRes"
            }
          }
        }
      }
    },
    "/api/v0/applications/delete_services_by_id": {
      "post": {
        "description": "Authorization Action:\n```\napplications:serviceGroups:delete\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "Delete the services with the given IDs",
        "operationId": "DeleteServicesByID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.DeleteServicesByIDReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesRes"
            }
          }
        }
      }
    },
    "/api/v0/applications/disconnected_services": {
      "get": {
        "description": "Marks services as disconnected based on the `threshold_seconds` setting.\nThis function is not used by the API or CLI and is here for testing purposes.\nThe functionality is currently covered by a periodically running job that can be configured\nby utilizing the `UpdateDisconnectedServicesConfig` endpoint.\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "Mark Services as Disconnected",
        "operationId": "GetDisconnectedServices",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "Threshold for marking services disconnected in seconds.",
            "name": "threshold_seconds",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesRes"
            }
          }
        }
      }
    },
    "/api/v0/applications/service-groups": {
      "get": {
        "description": "Lists service groups with name, health information, and application, environment, package, release metadata.\nAccepts pagination, sorting, search, and status filters.\n\nExample:\n```\napplications/service-groups?sorting.field=percent_ok&sorting.order=ASC&pagination.page=1&pagination.size=25\n```\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "List Service Groups",
        "operationId": "GetServiceGroups",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Applies search and status filters, in the format of `fieldname:value` or `status:value`.\n\nValid filter fieldnames are:\n* `origin`: origin component of the service's package identifier\n* `service`: the name component of the service's package identifier\n* `version`: the version number component of the service's package identifier\n* `buildstamp`: the build timestamp (also called \"release\") of the service's package identifier\n* `channel`: the package channel to which the service subscribes for updates\n* `application`: the application field of the service's event-stream metadata\n* `environment`: the environment field of the service's event-stream metadata\n* `site`: the site field of the service's event-stream metadata\n* `group`: the suffix of the service group name\n\n`status` filters refine the service group results by a service's\n most recent connected/disconnected state or healthcheck result.\n\n Valid status filter parameters are:\n* `status:disconnected`: returns service groups with at least one service in a disconnected state\n* `status:critical`: returns service groups with a with at least one service in a \"critical\" healthcheck result\n* `status:unknown`: returns service groups with at least one service with an \"unknown\" healthcheck result\n* `status:warning`: returns service groups with at least one service with a \"warning\" healthcheck result\n* `status:ok`: returns service groups with at least one service with an \"ok\" health check result",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Page number of the results to return.",
            "name": "pagination.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Amount of results to include per page.",
            "name": "pagination.size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort the list results on.",
            "name": "sorting.field",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "Order the results should be returned in.",
            "name": "sorting.order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServiceGroups"
            }
          }
        }
      }
    },
    "/api/v0/applications/service-groups/{service_group_id}": {
      "get": {
        "description": "List the services for a service group with health status and service metadata.\nUses the service group ID generated by Chef Automate instead of the Chef Habitat- provided ID.\nSupports pagination and filtering.\n\nExample:\n```\napplications/service-groups/1dfff679054c60a10c51d059b6dbf81a765c46f8d3e8ce0752b22ffe8d4d9716?pagination.page=1&pagination.size=25\n```\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "List Services for a Service Group",
        "operationId": "GetServicesBySG",
        "parameters": [
          {
            "type": "string",
            "description": "Service group ID.",
            "name": "service_group_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Page number of the results to return.",
            "name": "pagination.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Amount of results to include per page.",
            "name": "pagination.size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort the list results on.",
            "name": "sorting.field",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "Order the results should be returned in.",
            "name": "sorting.order",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Applies filters, in the format of `fieldname:value`.\nSee documentation for ServicesReq for valid filter parameters.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesBySGRes"
            }
          }
        }
      }
    },
    "/api/v0/applications/service_groups_health_counts": {
      "get": {
        "description": "Lists the total service group health reports by critical, warning, ok and unknown responses. Supports search and status filtering.\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "List Service Groups Health Counts",
        "operationId": "GetServiceGroupsHealthCounts",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Applies search filters, in the format of `fieldname:value`.\nSee the documentation for ServiceGroupsReq for valid filter parameters.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.HealthCounts"
            }
          }
        }
      }
    },
    "/api/v0/applications/services": {
      "get": {
        "description": "Lists service health status and service metadata for services.\nSupports pagination and search and status filtering. For a list of services for a specific service-group see \"List Services for a Service Group\" (GetServicesBySG endpoint).\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "List Services",
        "operationId": "GetServices",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Applies search filters, in the format of `fieldname:value`.\n\nValid filter fieldnames are:\n* `origin`: origin component of the service's package identifier\n* `service`: the name component of the service's package identifier\n* `version`: the version number component of the service's package identifier\n* `buildstamp`: the build timestamp (also called \"release\") of the service's package identifier\n* `channel`: the package channel to which the service subscribes for updates\n* `application`: the application field of the service's event-stream metadata\n* `environment`: the environment field of the service's event-stream metadata\n* `site`: the site field of the service's event-stream metadata\n* `group`: the suffix of the service group name\n\n`status` filters refine service results by a service's\n current state or most recent healthcheck result.\n Disconnected services keep their last healthcheck result\n until their reports are removed by Chef Automate.\n When you apply a healthcheck filter, the report includes\n all recently disconnected services.\n Valid status filter parameters are:\n* `status:disconnected`: returns services in a disconnected state\n* `status:critical`: returns services with a \"critical\" healthcheck result\n* `status:unknown`: returns services with an \"unknown\" healthcheck result\n* `status:warning`: returns services with a \"warning\" healthcheck result\n* `status:ok`: returns services with an  \"ok\" health check result",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Page number of the results to return.",
            "name": "pagination.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Amount of results to include per page.",
            "name": "pagination.size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort the list results on.",
            "name": "sorting.field",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "Order the results should be returned in.",
            "name": "sorting.order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesRes"
            }
          }
        }
      }
    },
    "/api/v0/applications/services-distinct-values": {
      "get": {
        "description": "Lists all of the possible filter values for a given valid field.\nLimit the returned values by providing at one or more characters in the `query_fragment` parameter.\nSupports wildcard (* and ?)\n\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "List Filter Values",
        "operationId": "GetServicesDistinctValues",
        "parameters": [
          {
            "type": "string",
            "description": "Field name of service values.",
            "name": "field_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Query value, supports wildcards (* and ?).",
            "name": "query_fragment",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Applies filters, in the format of `fieldname:value`.\nSee documentation for ServicesReq for valid filter parameters.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesDistinctValuesRes"
            }
          }
        }
      }
    },
    "/api/v0/applications/stats": {
      "get": {
        "description": "Shows a summary of service-groups, services, deployments, and supervisors.\nUsed for telemetry.\nDoes not support filtering.\n\nAuthorization Action:\n```\napplications:serviceGroups:list\n```",
        "tags": [
          "service_groups"
        ],
        "summary": "Show Summary",
        "operationId": "GetServicesStats",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.applications.ServicesStatsRes"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/errors": {
      "get": {
        "description": "Returns a list of the most common errors reported for infra nodes' most recent Chef Infra Client runs.\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Errors",
        "operationId": "GetErrors",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "The number of results to return.\nIf set to zero, the default size of 10 will be used. Set to a negative\nvalue for unlimited results.",
            "name": "size",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters in the request select the nodes from which the errors are\ncollected. The same filters may be specified for this request as for other\nNodes requests, with the exception of 'status' which is not valid for this\nrequest.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.Errors"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/node_metadata_counts": {
      "get": {
        "description": "For each type of field requested this returns distinct values the amount of each. For example, \nif the 'platform' field is requested 'windows' 10, 'redhat' 5, and 'ubuntu' 8 could be returned. \nThe number next to each represents the number of nodes with that type of platform.\n\nExample:\nrequest\n```\ncfgmgmt/node_metadata_counts?type=platform&type=status\n```\nresponse\n```\n{\n\"types\": [\n{\n\"values\": [\n{\n\"value\": \"mac_os_x 10.11.5\",\n\"count\": 28\n},\n{\n\"value\": \"linux 8.9\",\n\"count\": 1\n},\n{\n\"value\": \"macos 8.9\",\n\"count\": 1\n},\n{\n\"value\": \"windows 8.9\",\n\"count\": 1\n}\n],\n\"type\": \"platform\"\n},\n{\n\"value\": [\n{\n\"value\": \"missing\",\n\"count\": 29\n},\n{\n\"value\": \"failure\",\n\"count\": 2\n}\n],\n\"type\": \"status\"\n}\n]\n}\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "GetNodeMetadataCounts",
        "operationId": "GetNodeMetadataCounts",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Types of node fields to collect value counts for.",
            "name": "type",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters to apply to the counts returned.",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest most recent check-in node information to return.",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest most recent check-in node information to return.",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.NodeMetadataCounts"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/node_runs_daily_status_time_series": {
      "get": {
        "description": "Provides the status of runs for each 24-hour duration. For multiple runs in one 24-hour duration, \nthe most recent failed run will be returned. If there are no failed runs the most recent successful \nrun will be returned. If no runs are found in the 24-hour duration, the status will be \"missing\" \nand no run information will be returned.\n\nExample:\nrequest\n```\ncfgmgmt/node_runs_daily_status_time_series?node_id=507bd518-5c18-4c2d-a445-60fe7dde9961&days_ago=3\n```\nresponse\n```\n{\n\"durations\": [\n{\n\"start\": \"2020-04-25T19:00:00Z\",\n\"end\": \"2020-04-26T18:59:59Z\",\n\"status\": \"missing\",\n\"run_id\": \"\"\n},\n{\n\"start\": \"2020-04-26T19:00:00Z\",\n\"end\": \"2020-04-27T18:59:59Z\",\n\"status\": \"missing\",\n\"run_id\": \"\"\n},\n{\n\"start\": \"2020-04-27T19:00:00Z\",\n\"end\": \"2020-04-28T18:59:59Z\",\n\"status\": \"failure\",\n\"run_id\": \"b7904f41-68b5-44ec-9da6-cf2481ff8600\"\n}\n]\n}\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "GetNodeRunsDailyStatusTimeSeries",
        "operationId": "GetNodeRunsDailyStatusTimeSeries",
        "parameters": [
          {
            "type": "string",
            "description": "Node ID of the runs.",
            "name": "node_id",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Number of past days.",
            "name": "days_ago",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.NodeRunsDailyStatusTimeSeries"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/nodes": {
      "get": {
        "description": "Returns a list of infra nodes that have checked in to Automate.\nAdding a filter makes a list of all nodes that meet the filter criteria.\nFilters for the same field are ORd together, while filters across different fields are ANDed together.\nSupports pagination, filtering (with wildcard support), and sorting.\nLimited to 10k results.\n\nExample:\n```\ncfgmgmt/nodes?pagination.page=1&pagination.size=100&sorting.field=name&sorting.order=ASC&filter=name:mySO*&filter=platform:ubun*\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Checked-in Nodes",
        "operationId": "GetNodes",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters to apply to the request for nodes list.",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Page number of the results to return.",
            "name": "pagination.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Amount of results to include per page.",
            "name": "pagination.size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort the list results on.",
            "name": "sorting.field",
            "in": "query"
          },
          {
            "enum": [
              "ASC",
              "DESC"
            ],
            "type": "string",
            "default": "ASC",
            "description": "Order the results should be returned in.",
            "name": "sorting.order",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest most recent check-in node information to return.",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest most recent check-in node information to return.",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/nodes/export": {
      "post": {
        "description": "Stream nodes in JSON (default) or CSV format.\n\nSupports filtering and sorting, but not pagination.\n\nInclude the value `csv` for the `output_type` parameter in the request to receive CSV formatted data.\nInclude the value `json` for the `output_type` parameter in the request to receive JSON formatted data.\nInclude the value `0` to sort descending.\nInclude the value `1` to sort ascending.\n Example: \n\n ```'{\"output_type\":\"csv\",\"sorting\":{\"order\": 1, \"field\": \"name\"},\"filters\":[{\"status\":\"success\",\"environment\":\"prod\", \"organization:chef\"}]}'```",
        "produces": [
          "application/json",
          "text/csv"
        ],
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "NodeExport",
        "operationId": "NodeExport",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.request.NodeExport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.common.ExportData"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/nodes/{node_id}/attribute": {
      "get": {
        "description": "Returns the latest reported attributes for the provided node ID.\n\nAuthorization Action:\n```\ninfra:nodes:get\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "Show Attributes",
        "operationId": "GetAttributes",
        "parameters": [
          {
            "type": "string",
            "description": "Chef guid for the requested node.",
            "name": "node_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.NodeAttribute"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/nodes/{node_id}/runs": {
      "get": {
        "description": "Returns a list of run metadata (id, start and end time, and status) for the provided node ID.\nSupports pagination.\nAccepts a `start` parameter to denote start date for the list and a filter of type `status`.\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Run Details",
        "operationId": "GetRuns",
        "parameters": [
          {
            "type": "string",
            "description": "Chef guid for the node.",
            "name": "node_id",
            "in": "path",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters to apply to the request for runs list.",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Page number of the results to return.",
            "name": "pagination.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Amount of results to include per page.",
            "name": "pagination.size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest (in history) run information to return for the runs list.",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest (in history) run information to return for the runs list.",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/nodes/{node_id}/runs/{run_id}": {
      "get": {
        "description": "Returns the infra run report for the provided node ID and run ID.\n\nAuthorization Action:\n```\ninfra:nodes:get\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "Show Node Run",
        "operationId": "GetNodeRun",
        "parameters": [
          {
            "type": "string",
            "description": "Chef guid for the requested node.",
            "name": "node_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Run id for the node.",
            "name": "run_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "End time on the node's run.",
            "name": "end_time",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.Run"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/organizations": {
      "get": {
        "description": "Returns a list of all organizations associated with nodes that have checked in to Automate.\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Organizations",
        "operationId": "GetOrganizations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/policy_revision/{revision_id}": {
      "get": {
        "description": "Returns Policy Names with a list of cookbook names and associated policy identifiers based on a policy revision ID. \nPolicy revision IDs are sent with an infra run report and identifies which instance of a policy the node used for this run.\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Policy Cookbooks",
        "operationId": "GetPolicyCookbooks",
        "parameters": [
          {
            "type": "string",
            "description": "Revision id for the policy.",
            "name": "revision_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.PolicyCookbooks"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/reports/export": {
      "post": {
        "description": "Stream node run reports in JSON (default) or CSV format.\n\nSupports filtering, but not pagination or sorting.\n\nInclude the value `csv` for the `output_type` parameter in the request to receive CSV formatted data.\nInclude the value `json` for the `output_type` parameter in the request to receive JSON formatted data.\nInclude the node ID for the `node_id` for the reports to receive.\nInclude the number of seconds since the Unix Epoch for the `start` and `end` fields.\n Example: \n\n ```'{\"output_type\":\"csv\"node_id\":\"80e73cf5-32eb-3556-ac99-6597274a8522\",\"start\":{\"seconds\":1585336095},\"end\":{\"seconds\":1585337095},\"filters\":[{\"status\":\"success\"}]}'```",
        "produces": [
          "application/json",
          "text/csv"
        ],
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "ReportExport",
        "operationId": "ReportExport",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.request.ReportExport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.common.ExportData"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/source_fqdns": {
      "get": {
        "description": "Returns a list of all Chef Infra Servers associated with nodes that have checked in to Automate.\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Associated Chef Infra Servers",
        "operationId": "GetSourceFqdns",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/stats/checkin_counts_timeseries": {
      "get": {
        "description": "Returns a daily time series of unique node check-ins for the number of days requested.\nIf `days ago` value is empty, API will return the default 1 day ago results.\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Node Checkins",
        "operationId": "GetCheckInCountsTimeSeries",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "List of filters to be applied to the time series.",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "Number of past days to create the time series.",
            "name": "days_ago",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.CheckInCountsTimeSeries"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/stats/missing_node_duration_counts": {
      "get": {
        "description": "Returns a count of missing nodes for the provided durations.\n\nExample:\n```\ncfgmgmt/stats/missing_node_duration_counts?durations=3d&durations=1w&durations=2w&durations=1M&durations=3M\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Missing Nodes Count",
        "operationId": "GetMissingNodeDurationCounts",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "A valid duration is any number zero or greater with one of these characters 'h', 'd', 'w', or 'M'. \n'h' is hours\n'd' is days\n'w' is weeks\n'M' is months\nWill contain one or many.",
            "name": "durations",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.MissingNodeDurationCounts"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/stats/node_counts": {
      "get": {
        "description": "Returns totals for failed, success, missing, and overall total infra nodes that have reported into Automate.\nSupports filtering.\n\nExample:\n```\ncfgmgmt/stats/node_counts?filter=name:mySO*&filter=platform:ubun*\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Node Status Counts",
        "operationId": "GetNodesCounts",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "List of filters to be applied to the node count results.",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest node check-in.",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest node check-in.",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.NodesCounts"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/stats/run_counts": {
      "get": {
        "description": "Returns totals for failed and successful runs given a `node_id`.\n\nExample:\n```\ncfgmgmt/stats/run_counts?node_id=821fff07-abc9-4160-96b1-83d68ae5cfdd&start=2019-11-02\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Run Status Totals",
        "operationId": "GetRunsCounts",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "List of filters to be applied to the run count results.",
            "name": "filter",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest (in history) run information to return for the run counts.",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest (in history) run information to return for the run counts.",
            "name": "end",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Node id associated with the run.",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.cfgmgmt.response.RunsCounts"
            }
          }
        }
      }
    },
    "/api/v0/cfgmgmt/suggestions": {
      "get": {
        "description": "Returns possible filter values given a valid `type` parameter. All values returned until two or more characters are provided for the `text` parameter.\nSupports wildcard (* and ?).\n\nExample:\n```\ncfgmgmt/suggestions?type=environment&text=_d\n```\n\nAuthorization Action:\n```\ninfra:nodes:list\n```",
        "tags": [
          "ConfigMgmt"
        ],
        "summary": "List Filter Suggestions",
        "operationId": "GetSuggestions",
        "parameters": [
          {
            "type": "string",
            "description": "Field for which suggestions are being returned.",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Text to search on for the type value.",
            "name": "text",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filters to be applied to the results.",
            "name": "filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v0/compliance/market/read/{name}/version/{version}": {
      "get": {
        "description": "Show the details of an un-installed profile using the profile name and version.\nin the UI, these are the profiles under the \"Available\" tab.\nThese profiles are created and maintained by Chef, shipped with Chef Automate.\n\n\nAuthorization Action:\n```\ncompliance:marketProfiles:get\n```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "Show an available profile",
        "operationId": "ReadFromMarket",
        "parameters": [
          {
            "type": "string",
            "description": "Name of the profile.",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Version of the profile.",
            "name": "version",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Automate user associated with the profile.",
            "name": "owner",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Profile"
            }
          }
        }
      }
    },
    "/api/v0/compliance/profiles": {
      "post": {
        "description": "Upload a profile to Chef Automate. This can be a tarball or zip of the profile, or a reference to one of the market profiles.\n\n Example: \n\n ```api/v0/compliance/profiles?owner=admin -d '{\"name\":\"cis-amazonlinux-2014.09-2015.03-level2\",\"version\":\"1.1.0-5\"}'```\n\n Example: \n\n ```-F file=@/path-to-local-file/linux-baseline-2.0.0.zip api/v0compliance/profiles?contentType=application/x-gzip&owner=admin``` \n\n Authorization Action:\n```compliance:profiles:create```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "Upload a Profile",
        "operationId": "Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.ProfilePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.CheckResult"
            }
          }
        }
      }
    },
    "/api/v0/compliance/profiles/metasearch": {
      "post": {
        "description": "The endpoint takes an array of compliance profile sha256 IDs and returns the ones that the backend\ndoesn't have metadata (profile title, copyright, controls title, code, tags, etc) for.\nThis is useful when deciding if a compliance report can be sent for ingestion without the associated profile metadata.\n\nAuthorization Action:\n```\ncompliance:profiles:list\n```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "Check if one or multiple profiles exist in the metadata database.",
        "operationId": "MetaSearch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Missing"
            }
          }
        }
      }
    },
    "/api/v0/compliance/profiles/read/{owner}/{name}/version/{version}": {
      "get": {
        "description": "Show the details of an installed profile given the profile name, owner (Automate user associated with the profile), and version.\n\n\nAuthorization Action:\n```\ncompliance:profiles:get\n```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "Show an installed profile",
        "operationId": "ReadMixin20",
        "parameters": [
          {
            "type": "string",
            "description": "Automate user associated with the profile.",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the profile.",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Version of the profile.",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Profile"
            }
          }
        }
      }
    },
    "/api/v0/compliance/profiles/search": {
      "post": {
        "description": "Lists all profiles available for the Automate instance.\nEmpty params return all \"market\" profiles.\nSpecifying the `owner` field returns all profiles installed for the specified user.\n\nSupports pagination, sorting, and filtering (wildcard supported).\n\nSupported sort fields: title, name (default: title)\nSupported filter fields: name, version, title\n\nExample:\n```\n{\n\"filters\":[\n{\"type\": \"title\", \"values\": [ \"Dev*\"]}\n],\n\"page\": 1,\n\"per_page\": 3,\n\"owner\": \"admin\"\n}\n```\n\n\nAuthorization Action:\n```\ncompliance:profiles:list\n```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "List all available profiles",
        "operationId": "ListMixin20",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Profiles"
            }
          }
        }
      }
    },
    "/api/v0/compliance/profiles/tar": {
      "post": {
        "description": "Download a profile in tarball form. The profile will be downloaded to the user's local workstation.\n\nExample: \n\n ```{\"name\":\"cis-amazonlinux2-level1\",\"version\":\"1.0.0-5\"}'``` \n\n Authorization Action:\n```compliance:profiles:get``` \n ```compliance:marketProfiles:get```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "Download a Profile",
        "operationId": "ReadTar",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.ProfileDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.ProfileData"
            }
          }
        }
      }
    },
    "/api/v0/compliance/profiles/{owner}/{name}/version/{version}": {
      "delete": {
        "description": "Delete an installed profile given the profile name, owner (Automate user associated with the profile), and version.\nNote: this action \"uninstalls\" the profile. This has no impact on the market profiles.\n\n\nAuthorization Action:\n```\ncompliance:profiles:delete\n```",
        "tags": [
          "ProfilesService"
        ],
        "summary": "Delete an installed profile",
        "operationId": "DeleteMixin20",
        "parameters": [
          {
            "type": "string",
            "description": "Automate user associated with the profile.",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of the profile.",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Version of the profile.",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {}
          }
        }
      }
    },
    "/api/v0/compliance/reporting/controls": {
      "post": {
        "description": "Lists controls from the last run, with optional filtering.\nSupports filtering, but not pagination or sorting.\nLimited to 100 results by default.\n\nAuthorization Action:\n```\ncompliance:controlItems:list\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "List Controls",
        "operationId": "ListControlItems",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.ControlItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.ControlItems"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/export": {
      "post": {
        "description": "Stream reports in JSON (default) or CSV format.\n\nSupports filtering, but not pagination or sorting.\n\nInclude the value `csv` for the `type` parameter in the request to receive CSV formatted data.\nIncluding more than one value for `profile_id`, or `profile_name` is not allowed.\nIncluding values for both `profile_id` and `profile_name` in one request is not allowed.\n\n Example: \n\n ```'{\"type\":\"csv\",\"filters\":[{\"type\":\"start_time\",\"values\":[\"2019-09-16T00:00:00Z\"]},{\"type\":\"end_time\",\"values\":[\"2019-09-18T23:59:59Z\"]}, {\"type\":\"environment\",\"values\":[\"_default\"]}]}'```",
        "produces": [
          "application/json",
          "text/csv"
        ],
        "tags": [
          "ReportingService"
        ],
        "summary": "Export reports",
        "operationId": "Export",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.common.ExportData"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/node/export": {
      "post": {
        "description": "Stream historical reports for a single node in JSON (default) or CSV format.\n\nSupports filtering, but not pagination or sorting.\nRequires one `node_id` filter.\n\nInclude the value `csv` for the `type` parameter in the request to receive CSV formatted data.\nIncluding more than one value for `profile_id`, `profile_name`, or `node_id` is not allowed.\nIncluding values for both `profile_id` and `profile_name` in one request is not allowed.\nLimited to 9999 results.\n\nExample: \n\n ```'{\"type\":\"csv\",\"filters\":[{\"type\":\"start_time\",\"values\":[\"2019-09-16T00:00:00Z\"]},{\"type\":\"end_time\",\"values\":[\"2019-09-18T23:59:59Z\"]}, {\"type\":\"node_id\",\"values\":[\"9b9f4e51-b049-4b10-9555-10578916e149\"]}]}'```",
        "produces": [
          "application/json",
          "text/csv"
        ],
        "tags": [
          "ReportingService"
        ],
        "summary": "Export node reports",
        "operationId": "Node Export",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.profiles.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.common.ExportData"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/nodes/id/{id}": {
      "get": {
        "description": "Show a specific node by ID.\nSupports filtering by profile or control.\nDoes not support pagination or sorting.\n\nAuthorization Action:\n```\ncompliance:reportNodes:get\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "Show Node by ID",
        "operationId": "ReadNode",
        "parameters": [
          {
            "type": "string",
            "description": "Unique identifier.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Node"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/nodes/search": {
      "post": {
        "description": "List all nodes, with optional filtering, pagination, and sorting.\nLimited to 10k results.\n\n| Sort parameter | Sort value |\n| --- | --- |\n| environment | environment.lower |\n| latest_report.controls.failed.critical | controls_sums.failed.critical |\n| latest_report.controls.failed.total | controls_sums.failed.total |\n| latest_report.end_time (default) | end_time |\n| latest_report.status | status |\n| name | node_name.lower |\n| platform | platform.full |\n| status | status |\n\nExample:\n```\n{\n\"filters\":[\n{\"type\":\"environment\",\"values\":[\"dev*\"]},\n{\"type\":\"start_time\",\"values\":[\"2019-10-26T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-11-05T23:59:59Z\"]}\n],\n\"page\":1,\"per_page\":100,\n\"sort\":\"environment\",\"order\":\"ASC\"\n}\n```\n\nAuthorization Action:\n```\ncompliance:reportNodes:list\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "List Nodes",
        "operationId": "ListNodes",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Nodes"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/profiles": {
      "post": {
        "description": "List all profiles in use, with optional filtering.\nSupports pagination, filtering, and sorting.\nValid sort fields: name, title\n\nAuthorization Action:\n```\ncompliance:reportProfiles:list\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "List Profiles",
        "operationId": "ListProfiles",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.ProfileMins"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/report-ids": {
      "post": {
        "description": "List all IDs for the latest report for each node, with optional filtering.\nSupports filtering, but not pagination or sorting.\nIncluding more than one value for `profile_id`, or `profile_name` is not allowed.\nIncluding values for both `profile_id` and `profile_name` in one request is not allowed.\nNot limited to 10k results.\n\nAuthorization Action:\n```\ncompliance:reportids:list\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "List Report IDs",
        "operationId": "ListReportIds",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.ReportIds"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/reports": {
      "post": {
        "description": "Makes a list of reports. Adding a filter makes a list of all node reports that meet the filter criteria.\nSupports pagination, filtering, and sorting.\nLimited to 10k results.\n\nValid sort fields: latest_report.controls.failed.critical, latest_report.controls.failed.total, latest_report.end_time, latest_report.status, node_name\n\nExample:\n```\n{\"filters\":\n[\n{\"type\":\"start_time\",\"values\":[\"2019-09-09T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-09-11T23:59:59Z\"]}\n],\n\"page\":1, \"per_page\": 3,\n\"sort\": \"latest_report.status\", \"order\": \"ASC\"\n}\n```\n\nAuthorization Action:\n```\ncompliance:reports:list\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "List Reports",
        "operationId": "ListReports",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Reports"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/reports/id/{id}": {
      "post": {
        "description": "Show a specific report by ID. Supports filtering, but not pagination or sorting.\nIncluding more than one value for `profile_id`, or `profile_name` is not allowed.\nIncluding values for both `profile_id` and `profile_name` in one request is not allowed.\n\nAuthorization Action:\n```\ncompliance:reports:get\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "Show Report by ID",
        "operationId": "ReadReport",
        "parameters": [
          {
            "type": "string",
            "description": "Unique identifier.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Report"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/stats/failures": {
      "post": {
        "description": "Returns the top failures for the specified object. A types filter is required for this api.\nSupported values are `platform`, `environment`, `control`, and `profile`.\nBy default, the top ten failed objects for the specified type are returned.\nSupports filtering and respects `size` parameter.\n\nExample:\n```\n{\n\"filters\":[\n{\"type\":\"start_time\",\"values\":[\"2019-10-26T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-11-05T23:59:59Z\"]},\n{\"type\":\"types\",\"values\":[\"platform\",\"environment\"]}\n]\n}\n```\n\nAuthorization Action:\n```\ncompliance:reportFailures:get\n```",
        "tags": [
          "StatsService"
        ],
        "summary": "Read Failures",
        "operationId": "ReadFailures",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Failures"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/stats/profiles": {
      "post": {
        "description": "Returns statistics and summary information for profiles executed as part of the compliance reports. \nIf called without specifying a profile ID (`id`), the API will return stats on all the profiles.\nIf the `id` field is provided (profile ID) as part of the query object, the `type` field must also be specified. Options are `controls` or `summary`.\nSupports filtering.\n\n```\n{\n\"type\":\"controls\",\n\"id\":\"09adcbb3b9b3233d5de63cd98a5ba3e155b3aaeb66b5abed379f5fb1ff143988\",\n\"filters\":[\n{\"type\":\"environment\",\"values\":[\"dev*\"]},\n{\"type\":\"start_time\",\"values\":[\"2019-10-26T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-11-05T23:59:59Z\"]}\n]\n}\n```\n\nAuthorization Action:\n```\ncompliance:reportProfiles:get\n```",
        "tags": [
          "StatsService"
        ],
        "summary": "Read Profiles",
        "operationId": "ReadProfiles",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Profile"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/stats/summary": {
      "post": {
        "description": "Returns summary statistics for compliance reports. \nGeneral report summary information is the default. \nAdding a `type` value of `nodes` or `controls` will return summary statistics for that object.\nSupports filtering.\n\nExample:\n```\n{\n\"type\":\"nodes\",\n\"filters\":[\n{\"type\":\"environment\",\"values\":[\"dev*\"]},\n{\"type\":\"start_time\",\"values\":[\"2019-10-26T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-11-05T23:59:59Z\"]}\n]\n}\n```\n\nAuthorization Action:\n```\ncompliance:reportSummary:get\n```",
        "tags": [
          "StatsService"
        ],
        "summary": "Read Summary",
        "operationId": "ReadSummary",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Summary"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/stats/trend": {
      "post": {
        "description": "Returns trendgraph statistics for compliance reports. \nThe `type` field is required for this api call. Options are `nodes` or `controls`.\nRequires minimum `interval` field of 3600 and defined start time and end time filters.\nSupports filtering.\n\nExample:\n```\n{\n\"type\":\"nodes\",\n\"interval\":86400,\n\"filters\":[\n{\"type\":\"environment\",\"values\":[\"dev*\"]},\n{\"type\":\"start_time\",\"values\":[\"2019-10-26T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-11-05T23:59:59Z\"]}\n]\n}\n```\n\nAuthorization Action:\n```\ncompliance:reportTrend:get\n```",
        "tags": [
          "StatsService"
        ],
        "summary": "Read Trend",
        "operationId": "ReadTrend",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.stats.v1.Trends"
            }
          }
        }
      }
    },
    "/api/v0/compliance/reporting/suggestions": {
      "post": {
        "description": "Get suggestions for compliance reporting resources based on matching text substrings.\nSupports filtering, but not pagination or sorting.\n`type` parameter is required. It must be one of the parameters from the following table.\n\n| Suggestion type parameter | Suggestion type value |\n| --- | --- |\n| chef_server | source_fqdn |\n| chef_tags | chef_tags |\n| control | profiles.controls.title |\n| control_tag_key | profiles.controls.string_tags.key |\n| control_tag_value | profiles.controls.string_tags.values |\n| environment | environment |\n| inspec_version | version |\n| node | node_name |\n| organization | organization_name |\n| platform | platform.name |\n| platform_with_version | platform.full |\n| policy_group | policy_group |\n| policy_name | policy_name |\n| profile | profiles.title |\n| profile_with_version | profiles.full |\n| recipe | recipes |\n| role | roles |\n\nExample:\n```\n{\n\"type\":\"environment\",\n\"text\":\"aws*\",\n\"filters\":[\n{\"type\":\"start_time\",\"values\":[\"2019-10-26T00:00:00Z\"]},\n{\"type\":\"end_time\",\"values\":[\"2019-11-05T23:59:59Z\"]}\n]\n}\n```\n\nAuthorization Action:\n```\ncompliance:reportSuggestions:list\n```",
        "tags": [
          "ReportingService"
        ],
        "summary": "List Reporting Suggestions",
        "operationId": "ListSuggestions",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.SuggestionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.reporting.v1.Suggestions"
            }
          }
        }
      }
    },
    "/api/v0/compliance/scanner/jobs": {
      "post": {
        "description": "Creates a scan job. A scan job executes Chef InSpec against the specified nodes.\nRequires a user-specified name. Type should be `detect` (checks if the node is reachable and reports the\nplatform information for the nodes) or `exec` (executes a set of profiles against the nodes).\nNodes to scan may be specified by including an array of node IDs to scan or a node manager ID along with some optional\nfiltering information.\nExec jobs require at least one profile to be used as part of the Chef InSpec scan.\nOptional recurrence schedules enable regularly scheduled (repeating) scans.\n\nExample:\n```\n{  \n\"name\": \"my testjob\",\n\"tags\": [],\n\"type\": \"exec\",\n\"nodes\": [\"i07uc612-7e97-43f2-9b19-256abh785820\"],\n\"profiles\": [\"https://github.com/dev-sec/linux-baseline/archive/master.tar.gz\", \"compliance://admin/ssh-baseline#2.2.0\"],\n\"retries\": 1,\n\"node_selectors\":[\n{\n\"manager_id\":\"e69dc612-7e67-43f2-9b19-256afd385820\",\n\"filters\":[{\"key\":\"name\",\"values\":[\"ins*\"],\"exclude\":false}]\n}\n],\n\"recurrence\":\"DTSTART=20191231T045100Z;FREQ=DAILY;INTERVAL=1\"\n}\n```\n\nAuthorization Action:\n\n```\ncompliance:scannerJobs:create\n```",
        "tags": [
          "JobsService"
        ],
        "summary": "Create a scan job",
        "operationId": "CreateMixin21",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.Job"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.Id"
            }
          }
        }
      }
    },
    "/api/v0/compliance/scanner/jobs/id/{id}": {
      "get": {
        "description": "Read the details of a scan job given an ID.\n\nAuthorization Action:\n\n```\ncompliance:scannerJobs:get\n```",
        "tags": [
          "JobsService"
        ],
        "summary": "Read a scan job",
        "operationId": "ReadMixin21",
        "parameters": [
          {
            "type": "string",
            "description": "Unique ID (UUID) assigned to object.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of object.",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.Job"
            }
          }
        }
      },
      "put": {
        "description": "PUT operation to update the details for a scan job, such as the name, profiles, node set, or recurrence schedule.\nPlease note that this is a PUT operation, so all scan job details included in the create function\nshould be included in the PUT message to update.\t\n\nAuthorization Action:\n\n```\ncompliance:scannerJobs:update\n```",
        "tags": [
          "JobsService"
        ],
        "summary": "Update a job",
        "operationId": "UpdateMixin21",
        "parameters": [
          {
            "type": "string",
            "description": "Unique ID (UUID) of the scan job.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.Job"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {}
          }
        }
      },
      "delete": {
        "description": "Delete a scan job given an ID. Note this does not delete the report(s) generated by the scan job.\n\nAuthorization Action:\n\n```\ncompliance:scannerJobs:delete\n```",
        "tags": [
          "JobsService"
        ],
        "summary": "Delete a scan job",
        "operationId": "DeleteMixin21",
        "parameters": [
          {
            "type": "string",
            "description": "Unique ID (UUID) assigned to object.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of object.",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {}
          }
        }
      }
    },
    "/api/v0/compliance/scanner/jobs/rerun/id/{id}": {
      "get": {
        "description": "Does not create a new job in the database. Reads the job info given the job ID\nand runs a scan. The latest job information is then updated to reflect this latest run.\t\n\nAuthorization Action:\n\n```\ncompliance:scannerJobs:rerun\n```",
        "tags": [
          "JobsService"
        ],
        "summary": "Rerun a scan job",
        "operationId": "RerunMixin21",
        "parameters": [
          {
            "type": "string",
            "description": "Unique ID (UUID) assigned to object.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Name of object.",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.RerunResponse"
            }
          }
        }
      }
    },
    "/api/v0/compliance/scanner/jobs/search": {
      "post": {
        "description": "Returns a list of scan jobs matching the query.\nSupports filtering, sorting, and pagination.\nValid filtering fields: job_type, parent_job, status\nValid sorting fields: name, type, status, start_time, end_time\n\nExample:\n```\n{\n\"filters\":[\n{\"key\":\"job_type\",\"values\":[\"exec\"]},\n{\"key\":\"parent_job\",\"values\":[\"\"]}\n],\n\"page\":1,\n\"per_page\":100,\n\"sort\":\"end_time\",\n\"order\":\"DESC\"\n} \n```\n\nAuthorization Action:\n\n```\ncompliance:scannerJobs:list\n```",
        "tags": [
          "JobsService"
        ],
        "summary": "List of scan jobs",
        "operationId": "ListMixin21",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.compliance.scanner.jobs.v1.Jobs"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/compliance/config": {
      "put": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "SetComplianceConfig configures the compliance data lifecycle scheduler and jobs",
        "operationId": "SetComplianceConfig",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetComplianceConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetComplianceConfigResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/compliance/run": {
      "post": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "RunCompliance runs the compliance data lifecycle jobs",
        "operationId": "RunCompliance",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunComplianceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunComplianceResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/compliance/status": {
      "get": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "GetComplianceStatus returns the compliance job scheduler status",
        "operationId": "GetComplianceStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.GetComplianceStatusResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/config": {
      "put": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "SetConfig provides a singular endpoint for configuring all data lifecycle jobs",
        "operationId": "SetConfig",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetConfigResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/event-feed/config": {
      "put": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "SetEventFeedConfig configures the event feed data lifecycle scheduler and jobs",
        "operationId": "SetEventFeedConfig",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetEventFeedConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetEventFeedConfigResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/event-feed/run": {
      "post": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "RunEventFeed runs the event feed data lifecycle jobs",
        "operationId": "RunEventFeed",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunEventFeedRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunEventFeedResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/event-feed/status": {
      "get": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "GetEventFeedStatus returns the event feed job scheduler status",
        "operationId": "GetEventFeedStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.GetEventFeedStatusResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/infra/config": {
      "put": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "SetInfraConfig configures the infra data lifecycle scheduler and jobs",
        "operationId": "SetInfraConfig",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetInfraConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetInfraConfigResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/infra/run": {
      "post": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "RunInfra runs the infra data lifecycle jobs",
        "operationId": "RunInfra",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunInfraRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunInfraResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/infra/status": {
      "get": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "GetInfraStatus returns the infra job scheduler status",
        "operationId": "GetInfraStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.GetInfraStatusResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/run": {
      "post": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "Run runs all data lifecycle actions across all data lifecycle jobs",
        "operationId": "Run",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/services/config": {
      "put": {
        "tags": [
          "DataLifecycle"
        ],
        "operationId": "SetServicesConfig",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetServicesConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.SetServicesConfigResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/services/run": {
      "post": {
        "tags": [
          "DataLifecycle"
        ],
        "operationId": "RunServices",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunServicesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.RunServicesResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/services/status": {
      "get": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "Services",
        "operationId": "GetServicesStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.GetServicesStatusResponse"
            }
          }
        }
      }
    },
    "/api/v0/data-lifecycle/status": {
      "get": {
        "tags": [
          "DataLifecycle"
        ],
        "summary": "GetStatus returns the aggregate status across all data lifecycle jobs",
        "operationId": "GetStatusMixin23",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.data_lifecycle.GetStatusResponse"
            }
          }
        }
      }
    },
    "/api/v0/datafeed/destination": {
      "post": {
        "tags": [
          "DatafeedService"
        ],
        "operationId": "AddDestination",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.AddDestinationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.AddDestinationResponse"
            }
          }
        }
      }
    },
    "/api/v0/datafeed/destination/{id}": {
      "get": {
        "tags": [
          "DatafeedService"
        ],
        "operationId": "GetDestination",
        "parameters": [
          {
            "type": "string",
            "format": "int64",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.GetDestinationResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DatafeedService"
        ],
        "operationId": "DeleteDestination",
        "parameters": [
          {
            "type": "string",
            "format": "int64",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.DeleteDestinationResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DatafeedService"
        ],
        "operationId": "UpdateDestination",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.UpdateDestinationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.UpdateDestinationResponse"
            }
          }
        }
      }
    },
    "/api/v0/datafeed/destinations": {
      "post": {
        "tags": [
          "DatafeedService"
        ],
        "operationId": "ListDestinations",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.ListDestinationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.ListDestinationResponse"
            }
          }
        }
      }
    },
    "/api/v0/datafeed/destinations/test": {
      "post": {
        "tags": [
          "DatafeedService"
        ],
        "operationId": "TestDestination",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/chef.automate.api.datafeed.URLValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
[...]
