---
title: Best Practice Guides
description: Documentation for using Chef Habitat Builder with other services such as Kubernetes, OpenShift, Amazon ECS, Mesos, pure Docker, and more
---

# <a name="best-practices" id="best-practices" data-magellan-target="best-practices">Chef Habitat Best Practice Guides</a>

This chapter covers recommended best practices for runtime and buildtime.
We focus on best practices for packages that use Chef Habitat Builder for continuous builds.

