.checking-input-component {
  margin: $default-margin 0;

  .wrapper {
    position: relative;

    input {
      margin-bottom: $default-margin;
    }

    hab-icon {
      @include vertically-centered;
      @include icon-size(16);
      right: $small-margin;
    }
  }

  .spinning {
    color: $waiting;
  }
}
