.hab-package-sidebar {

  .build button {
    font-size: rem(14);
  }

  .build, .platforms, .latest-stable, .command {
    margin-bottom: 30px;
  }

  .platforms, .latest-stable {

    p {
      font-size: rem(14);

      a {
        color: $hab-gray-dark;
        text-decoration: underline;
      }

      hab-icon {
        float: right;
      }
    }
  }
}
