<div class="package-sidebar-component">
  <section *ngIf="buildable">
    <h3>Build</h3>
    <button class="build" mat-raised-button color="primary" (click)="build()" [disabled]="building">
      {{ buildButtonLabel }}
    </button>
  </section>
  <section class="platforms">
    <h3>Supported Platforms</h3>
    <p *ngIf="platforms.length === 0">
      None.
    </p>
    <hab-platform-icon [platform]="platform" *ngFor="let platform of platforms"></hab-platform-icon>
  </section>
  <section class="latest-stable">
    <h3>Latest Stable</h3>
    <p *ngIf="latestStable">
      <a [routerLink]="['./', latestStable.ident.version, latestStable.ident.release]">
        {{ latestStable.ident.version }}/{{ latestStable.ident.release }}
      </a>
      <hab-platform-icon [platform]="latestStable.target"></hab-platform-icon>
    </p>
    <p *ngIf="!latestStable && !loadingLatestStable">
      None.
      <a [routerLink]="['./']">View available versions</a>.
    </p>
  </section>
  <ng-container *ngIf="isAService">
    <section>
      <h3>Run Command</h3>
      <hab-copyable style="input" [text]="runCommand"></hab-copyable>
    </section>
    <section>
      <h3>Export Command</h3>
      <hab-copyable style="input" [text]="exportCommand"></hab-copyable>
    </section>
  </ng-container>
</div>
