<div class="hab-package-sidebar">
  <div class="build" *ngIf="buildable">
    <h3>Build</h3>
    <button md-raised-button
      color="primary"
      class="button"
      (click)="build()"
      [disabled]="building">
      {{ buildButtonLabel }}
    </button>
  </div>
  <div class="platforms">
    <h3>Supported Platforms</h3>
    <hab-platform-icon [platform]="platform" *ngFor="let platform of platforms"></hab-platform-icon>
  </div>
  <div class="latest-stable">
    <h3>Latest Stable</h3>
    <p *ngIf="latestStable">
      <a [routerLink]="['./', latestStable.ident.version, latestStable.ident.release]">
        {{ latestStable.ident.version }}/{{ latestStable.ident.release }}
      </a>
      <hab-platform-icon [platform]="latestStable.target"></hab-platform-icon>
    </p>
    <p *ngIf="!latestStable && !loadingLatestStable">
      None. <a [routerLink]="['./']">View available versions</a>.
    </p>
  </div>
  <div class="command">
    <h3>Run Command</h3>
    <hab-copyable [command]="runCommand"></hab-copyable>
  </div>
  <div class="command">
    <h3>Export Command</h3>
    <hab-copyable [command]="exportCommand"></hab-copyable>
  </div>
</div>
