---
title: Add health monitoring to your plan
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a class="active" href="/tutorials/sample-app/mac/add-health-check-hook">Mac</a></li>
  <li><a href="/tutorials/sample-app/linux/add-health-check-hook">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/add-health-check-hook">Windows</a></li>
</ul>
<hr />

# Add health monitoring to your plan
<%= partial "/shared/add_hooks_sample_app", locals: { is_windows: false } %>

Congratulations, you have added a custom health_check hook to your sample application. It's time to build your sample rails application.

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/build-package" class="button cta">Next - Build the package</a></li>
  <li><a href="/tutorials/sample-app/mac/use-scaffolding/">Back to previous step</a></li>
</ul>
