---
title: Habitat - Build the sample package
type: tutorial
platform: macOS
platform_short: mac
---

= partial '/partials/tutorials/platform_switcher', locals: { platform: 'mac' }

= partial '/partials/tutorials/sample_app_build_package'
