---
title: Upload the sample app
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a class="active" href="/tutorials/sample-app/mac/upload-package">Mac</a></li>
  <li><a href="/tutorials/sample-app/linux/upload-package">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/upload-package">Windows</a></li>
</ul>
<hr />

<%= partial "/shared/upload_package", locals: { is_windows: false } %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/next-steps/" class="button cta">Next steps</a></li>
  <li><a href="/tutorials/sample-app/mac/update-app/">Back to previous step</a></li>
</ul>