---
title: Creating your first plan using scaffolding
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a class="active" href="/tutorials/sample-app/mac/use-scaffolding">Mac</a></li>
  <li><a href="/tutorials/sample-app/linux/use-scaffolding">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/use-scaffolding">Windows</a></li>
</ul>
<hr />

# Create your first plan

<%= partial "/shared/create_plan_sample_app", locals: { is_windows: false }%>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/add-health-check-hook" class="button cta">Next - Add health monitoring</a></li>
  <li><a href="/tutorials/sample-app/basic-concepts/">Back to previous step</a></li>
</ul>
