---
title: Habitat - Create Your Plan
platform: Ruby
platform_short: ruby
---

= partial '/partials/tutorials/scaffolding_switcher', locals: { platform: "#{current_page.data.platform}" }

= partial '/partials/tutorials/web_guide_create_plan'