<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Habitat Supervisor</title>
  <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist/swagger-ui.css">
</head>
<body>
  <div id="swagger-ui"></div>
  <script src="https://unpkg.com/swagger-ui-dist/swagger-ui-bundle.js"></script>
  <script>
    window.onload = () => {
      const spec = {{{spec}}};
      SwaggerUIBundle({
        spec: spec,
        dom_id: '#swagger-ui',
      });
    };
  </script>
</body>
</html>
