<div class="origin-page-component">
  <header>
    <h1>{{ origin.name }}</h1>
    <h2>origin</h2>
    <div class="private-builds">
      <hab-icon [symbol]="iconFor(origin.default_package_visibility)"></hab-icon>
      <span>Private Builds {{ labelFor(origin.default_package_visibility) }}</span>
    </div>
  </header>
  <nav class="tabs" mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{link}}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
