.banner-component {
  padding: $default-padding 0;
  position: relative;
  background-color: $hab-blue;
  color: $white;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;
  }

  .dismiss {
    display: block;
    @include icon-size(16);
    @include vertically-centered;
    right: $default-margin * 2;
    cursor: pointer;
  }
}
