<div class="hab-github-repo-picker">
  <div class="users">
    <h4>
      <hab-icon symbol="loading" [class.spinning]="areOrgsLoading"></hab-icon>
      Users/Organizations
    </h4>
    <ul>
      <li>
        <a (click)='orgSelect(user.get("login"), user.get("login"))' href="#" [class.active]='user.get("login") === selectedOrg'>
            <img height=16 width=16 src='{{user.get("avatar_url")}}?s=32'>
            {{user.get("login")}}
          </a>
      </li>
      <li *ngFor="let org of orgs">
        <a (click)='orgSelect(org.get("login"))' href="#" [class.active]='org.get("login") === selectedOrg'>
            <img height=16 width=16 src='{{org.get("avatar_url")}}?s=32'>
            {{org.get("login")}}
          </a>
      </li>
    </ul>
  </div>
  <div class="repos">
    <h4>
      <hab-icon symbol="loading" [class.spinning]="areReposLoading"></hab-icon>
      Repositories
    </h4>
    <label>Filter: <input [(ngModel)]="filter.name"></label>
    <ul>
      <li *ngIf="repos.size === 0 && selectedOrg && !areReposLoading">
        No repositories found in '{{selectedOrg}}'
      </li>
      <li *ngFor="let repo of repos | habGitHubRepoFilter:filter:'name'">
        <a (click)='repoSelect(repo.get("full_name"))' href="#">
            {{repo.get("name")}}
          </a>
      </li>
    </ul>
  </div>
</div>