hab-copyable {
  display: block;
  position: relative;

  span {
    display: block;
    font-size: rem(14);
    font-weight: 600;
    padding: 6px 8px;
    border: 1px solid $very-light-gray;
    border-radius: 2px 0 0 2px;
    overflow-x: auto;
    margin-right: 40px;
    white-space: nowrap;
    height: 35px;
  }

  button {
    position: absolute;
    padding: 8px 10px 10px 10px;
    border-radius: 0 2px 2px 0;
    background-color: $very-light-gray;
    background-image: unset;
    color: $dark-gray;
    width: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
    border: none;

    &:hover, &:focus {
      box-shadow: none;
      background-color: $very-light-gray;
      color: shade($dark-gray, 20%);
    }

    &.copied {
      color: $hab-green-dark;
    }

    hab-icon {
      width: 20px;

      svg {
        animation: fade 300ms linear;
      }
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
