.hab-side-nav {
  @include span-columns(2);
  padding-top: $base-spacing;
  position: relative;

  &:last-child {
    margin-right: rem(25);
  }

  .switcher {
    background-color: $hab-green;
    font-size: 90%;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 1em;
    margin-left: rem(-15);
    min-height: 56px;
    padding: 0 1em;

    a {
      color: $hab-white;
    }
  }

  h4 {
    text-transform: uppercase;
    margin-left: rem(15);
    margin-bottom: 8px;
    white-space: nowrap;
    color: $hab-white;
    font-size: rem(14);
  }

  hr {
    border-color: light-gray;
  }

  &--list {
    line-height: $base-line-height * 1.333;
    margin-bottom: $base-spacing * 1.5;
    margin-left: rem(15);

    a {
      color: $hab-white;
      display: block;

      &:hover {
        color: $hover-color;
      }

      &.active {
        background: url("../assets/images/sidebar-active.png") no-repeat right;
        background-size: 10px;
        color: $hab-green;
      }
    }
  }
}
