<nav class="hab-side-nav">
  <h4>Builder</h4>
  <ul class="hab-side-nav--list">
    <li *ngIf="isSignedIn">
      <a [routerLink]="['/origins']">My Origins</a>
    </li>
    <li>
      <a [routerLink]="['/pkgs']">Search Packages</a>
    </li>
  </ul>
  <h4>Quick Links</h4>
  <ul class="hab-side-nav--list">
    <li>
      <a href="{{ config['docs_url'] }}/using-habitat/#install-habitat">Download CLI</a>
    </li>
    <li>
      <a href="{{ config['docs_url'] }}">Habitat Docs</a>
    </li>
    <li>
      <a href="{{ config['tutorials_url'] }}/get-started">Get Started</a>
    </li>
    <li>
      <a href="{{ config['www_url'] }}/about">Why Habitat?</a>
    </li>
  </ul>
</nav>
