[package]
name = "habitat-launcher-client"
version = "0.0.0"
edition = "2018"
authors = ["The Habitat Maintainers <humans@habitat.sh>"]
workspace = "../../"

[dependencies]
bincode = "*"
env_logger = "*"
habitat_core = { path = "../core" }
habitat-launcher-protocol = { path = "../launcher-protocol" }
habitat_common = { path = "../common" }
ipc-channel = { git = "https://github.com/habitat-sh/ipc-channel", branch = "hbt-windows" }
libc = "*"
log = "*"
# Must use fork see https://github.com/habitat-sh/habitat/issues/7270
prost = { git = "https://github.com/habitat-sh/prost" }
serde = "*"
