[package]
name = "habitat-launcher-client"
version = "0.0.0"
edition = "2024"
authors = ["The Habitat Maintainers <humans@habitat.sh>"]
workspace = "../../"

[dependencies]
# Please keep these alphabetized
env_logger = "*"
habitat_common = { path = "../common" }
habitat_core = { path = "../core" }
habitat-launcher-protocol = { path = "../launcher-protocol" }
ipc-channel = { version = "*" }
libc = "*"
log = "0.4"
prost = "*"
serde = "*"
thiserror = "*"
wincode = "*"
