[package]
name = "habitat-launcher-client"
version = "0.0.0"
authors = ["Jamie Winsor <reset@habitat.sh>"]

[dependencies]
bincode = "*"
env_logger = "*"
habitat_core = { git = "https://github.com/habitat-sh/core.git" }
habitat-launcher-protocol = { path = "../launcher-protocol" }
ipc-channel = { git = "https://github.com/habitat-sh/ipc-channel", branch = "hbt-windows" }
libc = "*"
log = "*"
protobuf = "1.5.1"
serde = "*"
