---
title: Chef Habitat Builder
description: Uploading, building, and deploying application packages with Chef Habitat Builder
---

# <a name="using-builder" id="using-builder" data-magellan-target="using-builder">Chef Habitat Builder</a>

<a target="_blank" href="https://bldr.habitat.sh/#/sign-in">Chef Habitat Builder</a> allows you to store, automatically build, and deploy your Chef Habitat packages. The documentation below covers everything from creating an account to setting up automated builds and exporting packages to a variety of container registries.

> For a guided walk-through of this process, try the [Build System demo](/demo/build-system/steps/1/).
