p For example, the Node.js scaffolding creates the following <code>default.toml</code> file.

pre
 code
  |
   # Default values that can be updated.

   node_env = "production"

   [app]
   port = 8000