pre
  code $ docker exec -it CONTAINERID yourapp-rake db:setup

p Once this successfully completes, head back to your browser, navigate to https://localhost:8000/someendpoint to view your web application connected to a PostgreSQL cluster.