 p Also, this guide assumes that you have an ASP.NET Core web application already created. If you do not have an ASP.NET Core application handy but would like one to walk through this tutorial, you could create one using a Visual Studio New Project template. Choose the Visual C#/.NET Core/ASP.NET Core Web Application. We suggest that you clone the Habitat ASP.NET Core sample application which communicates with a MySql database and includes a Habitat plan ready to build.

 = code(:ruby) do
   |
    git clone https://github.com/habitat-sh/habitat-aspnet-sample
