blockquote
 p <b>Important</b> Either a <code>build.gradle</code> or <code>settings.gradle</code> file must be present in the root of your project source for the #{current_page.data.platform} scaffolding to function correctly.