p For example, the #{current_page.data.platform} scaffolding creates the following <code>default.toml</code> file.

= code(:toml) do
  |
   # Default values that can be updated.

   [app]
   port = 8080
