p The default <code>init</code> hook provided by the scaffolding does the following:

ul
  li Sets up the environment variables for your app to connect to a database.
  li If your app type is a supported Rails app (version 4.1, 4.2, or 5.x), it will prompt you to set the <code>SECRET_KEY_BASE</code> value before initialization can complete.
  li If your app references the <code>pg</code> gem in your Gemfile.lock, it will attempt to connect to a PostgreSQL database (either as a standalone database, or as another Habitat package).