p For example, the Node.js scaffolding creates the following <code>default.toml</code> file.

= code(:toml, title: 'habitat/default.toml') do
  |
   # Default values that can be updated.

   node_env = "production"

   [app]
   port = 8000
