p The default <code>init</code> hook provided by the scaffolding makes any scaffolding-generated environment variables, such as <code>NODE_ENV</code> and <code>PORT</code>, available in the runtime environment. See #{link_to 'Define Variables',"/tutorials/build-your-own/#{current_page.data.platform_short}/define-variables"} and #{link_to 'Add Configuration',"/tutorials/build-your-own/#{current_page.data.platform_short}/add-config"} for more information on these variables and their values.