ul
  li <b>do_default_prepare</b>: Sets the gem path where gems will ultimately be installed in your package. Called in the <code>do_prepare()</code> callback. Overrides the existing behavior of the default <code>do_default_prepare()</code> function.
  li <b>do_default_build</b>: Cleans out existing gem cache, corrects rubygems shebangs to point to the correct location in your package, performs application and database configuration setup tasks. Called in the <code>do_build()</code> callback. Overrides the existing behavior of the default <code>do_default_build()</code> function.
  li <b>do_default_install</b>: Installs your web application, gems, creates binstubs, creates all necessary symlinks, and creates a process bin directory for #{link_to 'processes','/tutorials/build-your-own/define-processes/'} like `rake` and `console`. Called in the <code>do_install()</code> callback. Overrides the existing behavior of the default <code>do_default_install()</code> function.