p Currently no additional Habitat packages are added based on the contents of the <code>package.json</code> file, although some may be added in the future; however, if your app's root directory contains a <code>yarn.lock</code> file, then Yarn-related Habitat packages will be injected into your Plan's <code>pkg_build_deps</code> array for resolving and installing Node package dependencies. See the Package Manager section for more details. And if your app's root directory contains a <code>.git/</code> subdirectory, then Git-related Habitat packages will be injected into your Plan's <code>pkg_build_deps</code> array to better support installing your app while honoring the <code>.gitignore</code> file.