pre
  code
   |
    export RACK_ENV='production'
    export SECRET_KEY_BASE=''
    export RAILS_SERVE_STATIC_FILES='enabled'
    export LANG='en_US.UTF-8'
    export RAILS_ENV='production'
    export RAILS_LOG_TO_STDOUT='enabled'
    export PORT='8000'
    export DATABASE_URL='postgresql://package:package@172.17.0.2:5432/package_production'