ul
  li <b>do_default_prepare</b>: Sets the <code>NODE_ENV</code> environment variable and sets root level application directory inside the package. Called in the <code>do_prepare()</code> callback. Overrides the existing behavior of the default <code>do_default_prepare()</code> function.
  li <b>do_default_build</b>: Installs any Node.js modules specified in <code>package.json</code> and <code>npm-shrinkwrap.json</code>, corrects Node.js shebangs to point to the correct location in your package, and performs application configuration setup tasks. Called in the <code>do_build()</code> callback. Overrides the existing behavior of the default <code>do_default_build()</code> function.
  li <b>do_default_install</b>: Installs your web application, node modules, and creates a process bin directory for #{link_to 'processes','/tutorials/build-your-own/node/define-processes/'} like `web` and `sh`. Called in the <code>do_install()</code> callback. Overrides the existing behavior of the default <code>do_default_install()</code> function.