p The default <code>init</code> hook provided by the scaffolding makes any #{link_to 'scaffolding environment variables',"/tutorials/build-your-own/#{current_page.data.platform_short}/define-variables"} , such as <code>NODE_ENV</code> and <code>PORT</code>, available in the runtime environment.