p By default, the latest version of the <code>core/gradle</code> package will be injected into your plan's <code>pkg_build_deps</code> array. If you want to use a different version of Gradle, set the <code>scaffolding_gradle_pkg</code> variable in your plan. For example:

= code(:bash) do
  |
   pkg_name=my_app
   pkg_origin=acmecorp
   pkg_version="0.1.0"
   pkg_scaffolding=core/scaffolding-gradle

   scaffolding_gradle_pkg=myown/gradle

p The value of this variable specifies which Habitat package satisfies the Gradle version requirement of your application.

h4 Java Development Kit Version

p By default, the latest version of the <code>core/jdk8</code> package will be injected into your plan's <code>pkg_build_deps</code> array. If you want to use a different version of the Java Development Kit (JDK), set the <code>scaffolding_jdk_pkg</code> variable in your plan. For example:

= code(:bash) do
  |
   pkg_name=my_app
   pkg_origin=acmecorp
   pkg_version="0.1.0"
   pkg_scaffolding=core/scaffolding-gradle

   scaffolding_jdk_pkg=myown/jdk

p The value of this variable specifies which Habitat package satisfies the JDK version requirement of your application.

h4 Java Runtime Environment Version

p By default, the latest version of the <code>core/jre8</code> package will be injected into your plan's <code>pkg_deps</code> array. If you want to use a different version of the Java Runtime Environment (JRE), set the <code>scaffolding_jre_pkg</code> variable in your plan. For example:

= code(:bash) do
  |
   pkg_name=my_app
   pkg_origin=acmecorp
   pkg_version="0.1.0"
   pkg_scaffolding=core/scaffolding-gradle

   scaffolding_jre_pkg=myown/jre

p The value of this variable specifies which Habitat package satisfies the JRE version requirement of your application.
