p In the <code>habitat</code> directory inside your project repo, edit the <code>default.toml</code> to set the default correct database connection information. These default values will be overridden with the actual configuration data from the <code>config.json</code> file at runtime.

= code(:toml, title: 'habitat/default.toml') do
  |
   [mongo]
   host = "localhost"
   port = "27017"
