@import "origin-create-page/origin-create-page.component";
@import "origin-page/origin-page.component";
@import "origin-page/origin-integrations-tab/origin-integrations-tab.component";
@import "origin-page/origin-keys-tab/key-add-form/key-add-form.dialog";
@import "origin-page/origin-keys-tab/origin-keys-tab.component";
@import "origin-page/origin-members-tab/origin-members-tab.component";
@import "origin-page/origin-settings-tab/origin-settings-tab.component";
@import "origin-page/docker-credentials-form/docker-credentials-form.dialog";
@import "origins-page/origins-page.component";
