## <a name="accept-the-license" id="accept-the-license" data-magellan-target="accept-the-license">Accept the License</a>

Please visit <a href="https://docs.chef.io/chef_license_accept.html">the license acceptance page</a> on the Chef docs site for more information.
