# <a href="#iterative-development" id="iterative-development" data-magellan-target="iterative-development">Iterative Development</a>
To assist in creating new packages, or modifying existing ones, the Supervisor
has an option to allow you to use the configuration directly from a specific
directory, rather than the one it includes in the compiled artifact. This can
significantly shorten the cycle time when working on configuration and hooks.

First, build the plan as you normally would. Second, when you start the
Supervisor, pass the name of the directory with your plan inside it:

```
$ hab start core/redis --config-from /src
```

This would take the configuration and hooks from /src, rather than from the
package you have previously built. When the configuration is as you want it,
do a final rebuild of the package.
