# <a name="pkg-exports" id="pkg-exports" data-magellan-target="pkg-exports">Export a package</a>
Packages can be exported into multiple external, immutable runtime formats. This topic will be updated as more formats are supported in the future. Currently there are exports for: docker, ACI, mesos, tar, and cloudfoundry.

The command to export a package is `hab pkg export <FORMAT> <PKG_IDENT>`. See the [Habitat CLI Reference Guide](/docs/habitat-cli#hab-pkg-export) for more CLI information.

> **Note** If you specify an <code>origin/package</code> identifier, such as <code>core/postgresql</code>, the Habitat CLI will check Builder for the latest stable version of the package and export that.

> If you wish to export a package that is not on Builder, create a Habitat artifact by running the `build` command, then point `hab pkg` to the `.hart` file within the `/results` directory:
   ```shell
   hab pkg export tar ./results/example-app.hart
   ```

Read on for more detailed instructions.

## Exporting to Docker

You can create a Docker container image for any package by performing the following steps:

1. Ensure you have a Docker daemon running on your host system. On Linux, the exporter shares the Docker socket (`unix:///var/run/docker.sock`) into the studio.

1. Create an interactive studio with the `hab studio enter` command.

1. [Build](/docs/developing-packages/#plan-builds) the Habitat package from which you want to create a Docker container image and then run the Docker exporter on the package.

    ```shell
    $ hab pkg export docker ./results/<hart-filename>.hart
    ```

    > **Note** The command above is for local testing only. If you have uploaded your package to Builder, you can export it by calling <code>hab pkg export docker origin/package</code>. The default is to use the latest stable release; however, you can override that by specifying a different channel in an optional flag.

    > **Note** On Linux, exporting your Habitat artifact to a Docker image requires the Docker Engine supplied by Docker. Packages from distribution-specific or otherwise alternative providers are currently not supported.

    > **Note** In a Windows container studio, the `export` command will not be able to access the host docker engine. To export a Windows package or hart file built inside of a Windows container studio, first exit the studio and then export the `.hart` file in your local `results` directory.

1. You may now exit the studio. The new Docker image exists on your computer and can be examined with `docker images` or run with `docker run`.

1. Please note that when you run this docker container, you will need to pass the `HAB_LICENSE` environment variable into the container in order to accept the Habitat license. If you don't, your container will abort at a license acceptance prompt. One way to do this would be `docker run --env HAB_LICENSE=accept-no-persist IMAGE`. Alternatively, if you use a scheduler to run these docker containers, you should add that environment variable to your scheduler configuration.

## Exporting to a tarball

1. Enter the Habitat studio by using `hab studio enter`.

2. Install or [build](/docs/developing-packages/#plan-builds) the Habitat package from which you want to create a tarball, for example:

    ```shell
    $ hab pkg install <ORIGIN>/<NAME>
    ```

3. Run the tar exporter on the package.

    ```shell
    $ hab pkg export tar <ORIGIN>/<NAME>
    ```

    If you receive an error, try running

    ```shell
    $ hab pkg export tar /results/<your_package>.hart
    ```

4. Your package is now in a tar file that exists locally on your computer in the format `<ORIGIN>-<NAME>-<VERSION>-<TIMESTAMP>.tar.gz` and can be deployed and run on a target machine.

5. If you wish to run this tar file on a remote machine (i.e. a virtual machine in a cloud environment), scp (or whatever transfer protocol you prefer) the file to whatever you wish to run it.

6. SSH into the virtual machine

7. Run these commands to set up the required user and group:

    ```shell
    $ sudo adduser --group hab
    $ sudo useradd -g hab hab
    ```

8. Next, unpack the tar file:

    ```shell
    $ sudo tar xf your-origin-package-version-timestamp.tar.gz
    $ sudo cp -R hab /hab
    ```

9. Now, start the Supervisor and load your service package using the `hab` binary, which is included in the tar archive:

    ```shell
    $ sudo /hab/bin/hab sup run
    $ sudo /hab/bin/hab svc load <ORIGIN>/<NAME>
    ```

## Exporting to an Application Container Image (ACI)

You can create an Application Container Image (ACI) for any package by performing the following steps:

1. Create an interactive studio in any directory with the `hab studio enter` command.
2. Install or [build](/docs/developing-packages/#plan-builds) the Habitat package from which you want to create an ACI, for example:

    ```shell
    $ hab pkg install <ORIGIN>/<NAME>
    ```

3. Run the ACI exporter on the package.

    ```shell
    $ hab pkg export aci <ORIGIN>/<NAME>
    ```

4. Note that this will create unsigned ACI images. If you wish to sign your ACI with default options, pass `SIGN=true`:

    ```shell
    $ SIGN=true hab pkg export aci <ORIGIN>/<NAME>
    ```

5. The `.aci` can now be moved to any runtime capable of running ACIs (e.g. [rkt](https://coreos.com/rkt/) on CoreOS) for execution.

## Exporting to Kubernetes

The Kubernetes exporter is an additional command line subcommand to the standard Habitat CLI interface. It leverages the existing Docker image export functionality and, additionally, generates a Kubernetes manifest that can be deployed to a Kubernetes cluster running the Habitat operator.

1. Create an interactive studio in any directory with the `hab studio enter` command.

2. Install or [build](/docs/developing-packages/#plan-builds) the Habitat package from which you want to create an application, for example:

    ```shell
    $ hab pkg install <ORIGIN>/<NAME>
    ```

3. Run the Kubernetes exporter on the package.

    ```shell
    $ hab pkg export kubernetes ./results/<hart-filename>.hart
    ```

    You can run `hab pkg export kubernetes --help` to see the full list of available options and general help.

4. The Kubernetes exporter outputs a Kubernetes manifest yaml file. You can redirect the output to a file like this:

    ```shell
    $ hab pkg export kubernetes ./results/<hart-filename>.hart -o my_app.yaml
    ```
5. To push the Docker image created by the Kubernetes exporter to Docker Hub or another container registry, use:

    ```shell
    $ hab pkg export kubernetes --push-image --username <your_docker_hub_username> --password <your_docker_hub_password> -o my_app.yaml
    ```
6. Please note that you will need to add the HAB_LICENSE environment variable to the generated manifest yaml file. One way to do this is to add the environmental variable directly to the generated manifest like this example:

    ```yaml
    ---
    apiVersion: habitat.sh/v1beta1
    kind: Habitat
    customVersion: v1beta2
    metadata:
    ## Name of the Kubernetes resource.
    name: sample-node-app-1-1-0-20190516204636
    spec:
    v1beta2:
        ## Name of the Habitat service package exported as a Docker image.
        image: nellshamrell/sample-node-app:1.1.0-20190516204636
        ## Number of desired instances.
        count: 1
        ## An object containing parameters that affects how the Habitat service
        ## is executed.
        service:
        ## Name of the Habitat service.
        name: sample-node-app
        ## Habitat topology of the service.
        topology: standalone
        env:
        - name: HAB_LICENSE
          value: accept-no-persist
    ```

7. You can run this manifest in your Kubernetes cluster with:

    ```shell
    $ kubectl create -f my_app.yaml
    ```

8. This will create a Kubernetes StatefulSet running your package. To access the pod running your package from the outside internet, you will need to add a Kubernetes service (i.e. a Kubernetes load balancer) with an external IP. Here is an example.

    ```shell
    ---
    apiVersion: v1
    kind: Service
    metadata:
    name: app-0
    spec:
    type: LoadBalancer
    selector:
        habitat-name: sample-node-app-1-1-0-20190516204636
    ports:
    - protocol: TCP
        port: 8000
        targetPort: 8000
    ```

9. You can add this service to your Kubernetes cluster with:

    ```shell
    kubectl create -f ./service.yml
    ```

## Export to a Helm chart

The Helm exporter is an additional command line subcommand to the standard Habitat CLI interface. It is very similar to the Kubernetes exporter but it takes you even further. It also leverages the existing Docker image export functionality but unlike the Kubernetes exporter, instead of generating a Kubernetes manifest, it creates a distributable Helm chart directory. This chart directory can not only be deployed in your local Kubernetes cluster, but also easily packaged and distributed.

Additionally, the Kubernetes Habitat operator is automatically added to the Helm chart as a dependency and hence installed automatically as part of the Habitat Helm chart.

1. Create an interactive studio in any directory with the `hab studio enter` command.

2. Install or [build](/docs/developing-packages/#plan-builds) the Habitat package from which you want to create an application, for example:

    ```shell
    $ hab pkg install <ORIGIN>/<NAME>
    ```

3. Run the Helm exporter on the package.

    ```shell
    $ hab pkg export helm <ORIGIN>/<NAME>
    ```

    You can run `hab pkg export helm --help` to see the full list of available options and general help.

4. More information on how to setup Helm and use of the Helm exporter can be found on the [announcement blog](https://www.habitat.sh/blog/2018/02/Habitat-Helm/)

5. Please note that you will need to add the HAB_LICENSE environment variable to the generated chart (most likely in the templates/habitat.yaml file).

## Exporting to Apache Mesos and DC/OS

1. Create an interactive studio in any directory with the `hab studio enter` command.

2. Install or [build](/docs/developing-packages/#plan-builds) the Habitat package from which you want to create a Marathon application, for example:

    ```shell
    $ hab pkg install <ORIGIN>/<NAME>
    ```

3. Run the Mesos exporter on the package.

    ```shell
    $ hab pkg export mesos <ORIGIN>/<NAME>
    ```

4. This will create a Mesos container-format tarball in the results directory, and also print the JSON needed to load the application into Marathon. Note that the tarball needs to be uploaded to a download location and the "uris" in the JSON need to be updated manually. This is an example of the output:

    ```json
    { "id": "yourorigin/yourpackage", "cmd": "/bin/id -u hab &>/dev/null || /sbin/useradd hab; /bin/chown -R hab:hab *;
    mount -t proc proc proc/; mount -t sysfs sys sys/;mount -o bind /dev dev/; /usr/sbin/chroot . ./init.sh start
    yourorigin/yourpackage", "cpus": 0.5, "disk": 0, "mem": 256, "instances": 1, "uris":
    ["https://storage.googleapis.com/mesos-habitat/yourorigin/yourpackage-0.0.1-20160611121519.tgz" ] }
    ```

5. Note that the default resource allocation for the application is very small: 0.5 units of CPU, no disk, one instance, and 256MB of memory. To change these resource allocations, pass different values to the Mesos exporter as command line options (defaults are documented with `--help`).

6. See the article [Apaches Mesos and DC/OS](/docs/best-practices/#mesos-dcos) for more information on getting your application running on Mesos.

## Exporting to Cloud Foundry

Packages can be exported to run in a [Cloud Foundry plaform](https://www.cloudfoundry.org/certified-platforms/) through the use of a Docker image that contains additional layers meant to handle mapping from the Cloud Foundry environment to a Habitat default.toml file.

### Setting up Docker support in Cloud Foundry

If you have not done so already, you must enable Docker support for Cloud Foundry before you can upload your Cloud Foundry-specific Docker image.

To do so, make sure you have done the following:

1. Log in as an Admin user.
2. Enable Docker support on your Cloud Foundry deployment by enabling the `diego_docker` feature flag.

   ```shell
   $ cf enable-feature-flag diego_docker
   ```

### Creating a Mapping file

The mapping file is a TOML file that can add Bash-interpolated variables and scripts. The Bash code will have access to:

* all environment variables
* the jq binary
* the helper methods listed below

Here's an example of a mapping TOML file named `cf-mapping.toml`:

```toml cf-mapping.toml
secret_key_base = "$SECRET_KEY_BASE"
rails_env = "$RAILS_ENV"
port = ${PORT}

[db]
user = "$(service "elephantsql" '.credentials.username')"
password = "$(service "elephantsql" '.credentials.password')"
host = "$(service "elephantsql" '.credentials.host')"
name = "$(service "elephantsql" '.credentials.database')"
```

#### Helpers

The helper methods are designed to extract information from the standard Cloud Foundry environment variables [VCAP_SERVICES](https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES) and [VCAP_APPLICATION](https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-APPLICATION).

* `service <service-name> <jq-expression>` will extract the JSON associated with the given service-name from the `VCAP_SERVICES` environment variable and apply the jq-expression to it.
* `application <jq-expression>` will apply the jq-expression to the `VCAP_APPLICATION` environment variable

### Exporting and pushing to Cloud Foundry endpoint

1. Create a mapping.toml file using the format specified above and place that file in your local project repo.

2. Enter the Studio through `hab studio enter`.

3. Install or [build](/docs/developing-packages/#plan-builds) the package that you want to export.

    ```shell
    $ hab pkg install <ORIGIN>/<NAME>
    ```

4. Run the Cloud Foundry exporter on the package.

    ```shell
    $ hab pkg export cf <ORIGIN>/<NAME> /path/to/mapping.toml
    ```

   > **Note** To generate this image, a base Docker image is also created. The Cloud Foundry version of the docker image will have `cf-` as a prefix in the image tag.

5. (Optional) If you are creating a web app that binds to another Cloud Foundry service, such as ElephantSQL, you must have this service enabled in your deployment before running your app.

6. [Upload your Docker image to a supported registry](https://docs.cloudfoundry.org/devguide/deploy-apps/push-docker.html). Your Docker repository should be match the `origin/package` identifier of your package.

    ```shell
    $ docker push origin/package:cf-version-release
    ```

7. After your Cloud Foundry Docker image is built, you can deploy it to a Cloud Foundry platform.

    ```shell
    $cf push cf push APP-NAME --docker-image docker_org/repository
    ```

   Your application will start after it has been successfully uploaded and deployed.
