# <a name="glossary-builder" id="glossary-builder" data-magellan-target="glossary-builder">Builder</a>

Builder consists of a continuous build service and a searchable package repository.

## Chef Habitat Builder

Users have the option to connect their GitHub repos to Builder to enable continuous builds of their plans as either they checkin new code to GitHub, which will then initiate a new build via a Github hook, or as underlying package dependencies are updated. If  you've added your Chef Habitat plan to the root of your source code repository and a package you depend on (e.g. openssl, ruby, node) needs to be rebuilt due to a new release, your software will be rebuilt automatically and posted to your software's `unstable` channel for you to review and promote per your regular procedure.

## Depot
Chef Habitat Builder's depot is a repository that stores packages for download and upload by Supervisors and Studios.
