# <a name="glossary-hab" id="glossary-hab" data-magellan-target="glossary-hab">Hab</a>

Almost anything you could want to do in Chef Habitat can be managed via the `hab` CLI. 
    
It includes subcommands for executing package builds, loading services into the process Supervisor, uploading packages to Builder, and entering the Studio. For more information on all of the functionality of `hab` checkout our [CLI command documentation](/docs/habitat-cli).
