# <a name="quickstart-guide" id="quickstart-guide" data-magellan-target="quickstart-guide">Quickstart Guide</a>

This guide covers how to quickly get started with Habitat

## Prerequisites
  - You must have Docker installed for your platform (OSX, Windows, Linux)
  - For the sake of this guide you'll probably also want `docker-compose`.
  - You're definitely going to want internet access

## <a name="quickstart-install">Installation</a>

Download the latest release of the Habitat cli tool <code>hab</code>. We are working on supporting tools like homebrew but for now simply visit our [downloads page](https://www.habitat.sh/download/).

Looking for more information or if you'd like to grab the source of a specific release feel free to peruse our releases on [github](https://github.com/habitat-sh/habitat/releases).


Now that we have <code>docker</code> and <code>hab</code> installed on our machines we need to run a quick configuration.

<%= partial '/partials/global/configure-workstation' -%>

## <a name="quickstart-build">Initialize a Project</a>

Now that we have our workstation configured lets take a sample rails app we would normally run on heroku, package it with habitat, and export it to an ultra lightweight container.

Start by cloning down the heroku ruby rails sample app, change directories into its root and run the `hab plan init` command.


```shell
$ git clone git@github.com:heroku/ruby-rails-sample.git
$ cd ruby-rails-sample
$ hab plan init
```

This will dump out a mostly empty
