# <a name="concepts" id="concepts" data-magellan-target="overview">Concepts</a>

Habitat consists of Habitat Builder, the Supervisor, the Studio, and the `hab` CLI. 

- [Builder][#glossary-builder]
- [Supervisor][#glossary-supervisor]
- [Studio](#glossary-studio)
- [hab CLI](#glossary-hab)

---
<%= partial "/partials/docs/glossary-builder"%>
---
<%= partial "/partials/docs/glossary-supervisor"%>
---
<%= partial "/partials/docs/glossary-studio"%>
---
<%= partial "/partials/docs/glossary-hab"%>
---