## <a name="builder-account" id="builder-account" data-magellan-target="builder-account">Create a Builder Account</a>
Setting up your Chef Habitat account is easy! All you need is a valid [GitHub account](https://github.com/join).

### Sign In and Authorize Chef Habitat

Use the button below to simultaneously sign in to Builder and create your account. Chef Habitat Builder uses GitHub for authorization, so you'll see the prompt below authorizing the application.

<a href="https://bldr.habitat.sh/#/sign-in" class="button cta" target="_blank">Sign in to Builder</a>

<img src="/images/screenshots/authorize.png">

Once you have authorized Chef Habitat and signed in, you'll arrive at the 'My Origins' view. At this point, other Chef Habitat users can invite you to existing origins or you can proceed to create your own (see the next section).
