# <a name="overview" id="overview" data-magellan-target="overview">Using Chef Habitat</a>

Chef Habitat centers application configuration, management, and behavior around the application itself, not the infrastructure or operating system it runs on. This allows Chef Habitat to be deployed and run on a wide array of clouds, datacenters, schedulers, and platforms.

<%= partial 'partials/global/package_platform_support' %>

This section of the Chef Habitat documentation is dedicated to the operational aspects of the framework and how to use the various tools Chef Habitat brings to the table. If you don't yet have an understanding of the way Chef Habitat handles application automation, we recommend [checking out our tutorials](/learn/) for some quick hands-on experience before diving into the docs.

### Table of Contents

  - [Running Packages](#using-packages)
  - [Setting up a Ring](#setting-up-a-ring)
  - [Monitoring Services](#monitor-services)
  - [Service Groups](#service-groups)
  - [Topologies](#topologies)
  - [Configuration Updates](#config-updates)
  - [File Uploads](#file-uploads)
  - [Encryption](#using-encryption)
  - [Update Strategies](#using-updates)
  - [Continuous Deployment Using Channels](#continuous-deployment)
  - [Remote Command-and-Control of Supervisors](#remote-control)
