# <a name="using-packages" id="using-packages" data-magellan-target="using-packages">Using Habitat Packages</a>

Habitat packages used to start services are run under the Habitat Supervisor. At runtime, you can join Supervisors together in a service group running the same topology, send configuration updates to that group, and more. You can also export the Supervisor together with the package to an external immutable format, such as a Docker container or a virtual machine.

<%= partial 'partials/global/package_platform_support' %>

Information about [installing Habitat](/docs/install-habitat) and configuring your workstation can be found in the previous section.

## Running single packages for testing

Packages can be tested in the interactive studio environment or natively on a host machine running Linux or Windows.

When entering an interactive studio, a Supervisor is started for you in the background. To run packages inside of this Supervisor:

1. [Build your package](/docs/developing-packages/#plan-builds) inside an interactive studio. Do not exit the studio after it is built.
2. To start your service in the running Supervisor, type `hab sup start yourorigin/yourname`, substituting the name and origin of the package you built in step 1. Your service should now be running.

Because the Supervisor is running in the background, you will not see the Supervisor output as you start your service. However you can use the `sup-log` (or `Get-SupervisorLog` on Windows) command that will stream the tail of the Supervisor output.

If your host machine is running Linux, do the following to run your packages:

* Add the `hab` user and group.

    ```shell
    $ sudo adduser --group hab
    $ sudo useradd -g hab hab
    ```

* Run the `hab` CLI as root.

    ```shell
    $ sudo hab start yourorigin/yourname
    ```

You may use the same `hab start` command on Windows but omit the `sudo` command. However, you should be inside of an elevated shell. Also, note that the `hab` user is not necessary on Windows. If it is absent, services will run under the identity of the current user. If a `hab` user is present, you will need to provide its password via the`--password` argument:

```shell
PS C:\\> $cred = Get-Credential hab
PS C:\\> hab start yourorigin/yourname --password $cred.GetNetworkCredential().Password
```

## Running packages in any environment

The `hab` program can also be installed on servers. It will retrieve the necessary components (like the current release of the Supervisor) in order to run packages. Thus, you can start the Supervisor on any compatible system.

To start the Supervisor, you can write an init script or a systemd unit file. For example, for systemd:

    [Unit]
    Description=The Habitat Supervisor

    [Service]
    ExecStart=/bin/hab sup run

    [Install]
    WantedBy=default.target

On Windows, you can run the Supervisor as a Windows Service. You can use the `windows-service` Habitat package to host the Supervisor inside the Windows Service Control Manager. See the `windows-service` [readme](https://github.com/habitat-sh/windows-service/blob/master/README.md) for more details regarding its installation and use.

Next use `hab svc load` to load one or more services into the Supervisor for permanent supervision. Using the example from above:

```shell
$ sudo hab svc load yourorigin/yourname
```

## Running a package on a virtual machine (VM)

After you have built the hart package, do the following:

1. Spin up a Virtual Machine.
2. Securely copy the .hart package from your local workstation onto the virtual machine. SCP is a widely-used tool to do this; however, you can also use FTP or whatever tool you use to copy things from your local workstation to a remote server.
3. SSH into the virtual machine.
4. In the virtual machine - run these commands:

     1. Install Habitat

        ```shell
        $ curl https://raw.githubusercontent.com/habitat-sh/habitat/master/components/hab/install.sh | sudo bash
        ```

     2. Install the package (which should be on the virtual machine)

        ```shell
        $ sudo hab install your_package.hart
        ```

     3. Create the Habitat group

        ```shell
        $ sudo groupadd hab
        $ sudo useradd -g hab hab
        ```

     4. Start the package

        ```shell
        $ sudo hab start your_origin/your_package
        ```

On Windows this looks very similar with the additional step of installing the Chocolatey package manager:

```shell
PS C:\\> Set-ExecutionPolicy Bypass -Scope Process -Force
PS C:\\> iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
PS C:\\> choco install habitat
PS C:\\> hab install your_package.hart
PS C:\\> hab start your_origin/your_package
```

## Starting only the Supervisor

Starting the Supervisor is as simple as running:

```shell
$ hab sup run
```

This command also lets you override the default gossip and http gateway binding ports, just like when using `hab start`.

## Running the Supervisor with a Host's init System

Only one system service needs to be added. Your choice of Linux distribution may dictate which init system is in use (i.e. SysVinit, Systemd, runit, etc), but all options boil down to simply running `hab sup run` as the runnable program. The following example assumes that the Habitat program `hab` is installed, binlinked as `/bin/hab`, and a `hab` user and group are present.

For example, a suitable Systemd unit would simply be:

```
[Unit]
Description=The Habitat Supervisor

[Service]
ExecStart=/bin/hab sup run

[Install]
WantedBy=default.target
```

It is important to start the Supervisor via the `hab` program as upgrades to the `core/hab` Habitat package will also upgrade the version of the Supervisor on next start.

On Windows, you can run the Supervisor as a Windows Service. You can use the `windows-service` Habitat package to host the Supervisor inside the Windows Service Control Manager:

```shell
PS C:\\> hab pkg install core/windows-service
PS C:\\> hab pkg exec core/windows-service install
```

## Loading a Service for Supervision

To add a service to a Supervisor, you use the `hab svc load` subcommand. It has many of the same service-related flags and options as `hab start`, so there's nothing extra to learn here (for more details, read through the [Run packages sections](/docs/using-habitat)). For example, to load `yourorigin/yourname` in a Leader topology, a Rolling update strategy and a Group of "acme", run the following:

```shell
$ hab svc load yourorigin/yourname --topology leader --strategy rolling --group acme
```

Running the `hab svc load` subcommand multiple times with different package identifiers will result in multiple services running on the same Supervisor. Let's add `core/redis` to the Supervisor for some fun:

```shell
$ hab svc load core/redis
```

## Unloading a Service from Supervision

To unload and remove a service from supervision, you use the `hab svc unload` subcommand. If the service is was running, then it will be stopped first, then removed last. This means that the next time the Supervisor is started (or restarted), it will not run this unloaded service. For example, to remove the `yourorigin/yourname` service:

```shell
$ hab svc unload yourorigin/yourname
```

## Stopping a Loaded Running Service

Sometimes you need to stop a running service for a period of time, for example during a maintenance outage. Rather than completely removing a service from supervision, you can use the `hab svc stop` subcommand which will shut down the running service and leave it in this state until you start it again with the `hab svc start` subcommand, explained next. This means that all service-related options such as service topology, update strategy, etc. are preserved until the service is started again. For example, to stop the running `core/redis` service:

```shell
$ hab svc stop core/redis
```

## Starting a Loaded Stopped Service

To resume running a service which has been loaded but stopped (via the `hab svc stop` subcommand explained above), you use the `hab svc start` subcommand. Let's resume our `core/redis` service with:

```shell
$ hab svc start core/redis
```

## Querying the Supervisor for service status

You can query all services currently loaded or running under the local Supervisor using the `hab sup status` command. This command will list all services loaded by the Supervisor along with their current state. The `status` command includes the version and release of the service and for services that are running, it will include the `PID` of the running service.

To retrieve status for an individual service, you can pass the service identifier:

```shell
$ hab sup status core/mysql
```

The following exit codes are emitted by the `status` command:

* `0` - The status command successfully reports status on loaded services
* `1` - A generic error has occured calling the `hab` cli
* `2` - A service identifier was passed to `hab sup status` and that service is not loaded by the Supervisor
* `3` - There is no local running Supervisor

# <a name="monitor-services" id="monitor-services" data-magellan-target="monitor-services">Monitor services through the HTTP API</a>

When a service starts, the Supervisor exposes the status of its services' health and other information through an HTTP API endpoint. This information can be useful in monitoring service health, results of leader elections, and so on.

The HTTP API provides information on the following endpoints:

* `/census` - Returns the current Census of Services on the Ring (roughly what you see as a service in config.toml).
* `/services` - Returns an array of all the services running under this Supervisor.
* `/services/{name}/{group}/config` - Returns this service groups current configuration.
* `/services/{name}/{group}/{organization}/config` - Same as above, but includes the organization.
* `/services/{name}/{group}/health` - Returns the current health check for this service.
* `/services/{name}/{group}/{organization}/health` - Same as above, but includes the organization.
* `/butterfly` - Debug information about the rumors stored via Butterfly.

## Usage
Connect to the Supervisor of the running service using the following syntax. This example uses `curl` to do the GET request.

```shell
$ curl http://172.17.0.2:9631/services
```

> Note: The default listening port on the Supervisor is 9631; however, that can be changed by using the `--listen-http` option when starting a service.

Depending on the endpoint you hit, the data may be formatted in JSON, TOML, or plain text.
