## <a name="automated-builds" id="automated-builds" data-magellan-target="automated-builds">Set up Automated Builds</a>
By connecting a plan file in <a href="https://bldr.habitat.sh/#/sign-in" class="link-external" target="_blank">Habitat Builder</a>, you can trigger automated package rebuilds whenever a change is merged into the `master` branch of the repository containing your Habitat plan.

### Connect a Plan
To connect a plan to Builder, view one of your origins (while signed in), click the **Connect a plan file** button, and complete the following steps:

  - Install the Builder GitHub App
  - Choose the GitHub organization and repository containing your Habitat plan
  - Choose a privacy setting for the package
  - Specify container-registry publishing settings (optional)
