## <a name="automated-builds" id="automated-builds" data-magellan-target="automated-builds">Set up Automated Builds</a>
By connecting a plan file in <a href="https://bldr.habitat.sh/#/sign-in" class="link-external" target="_blank">Habitat Builder</a>, you can trigger automated package rebuilds any time your repo (containing the plan file) is updated.

> **Note** Builder will watch for merges to the Master branch by default, but you can override this behanior using a `.bldr.toml` file as seen in the previous section.

### Connect a Plan File
To connect a Plan, view one of your origins (while signed in), click on the **Connect a plan file** button, and complete the following steps:

  - Install the Builder GitHub App
  - Enter the GitHub Repo (that contains your plan.sh file)
  - Choose your privacy setting
  - (optional) Publish to container registries
