.channels-component {
  display: inline-block;

  ul {
    display: inline-block;
    margin-top: $small-margin;
    line-height: 16.5px;

    li {
      display: inline-block;
      font-size: $smaller-font-size;
      font-weight: 600;
      font-family: $base-font-family;
      padding: 2px 10px;
      border-radius: 11px;
      color: $hab-blue;
      background-color: $light-blue;
      border: 1px solid $light-blue;

      &.unstable {
        background-color: $white;
        border: 1px solid $very-light-gray;
        color: $hab-blue;
      }

      &.stable {
        background-color: $hab-blue;
        border: 1px solid $hab-blue;
        color: $white;
      }

      &:not(:last-child) {
        margin-right: $default-margin / 4;
      }
    }
  }
}
