.channels-component {
  display: inline-block;

  ul {
    display: inline-block;
    margin-top: $small-margin;
    line-height: 16.5px;

    li {
      display: inline-block;
      @include tag($color: $hab-blue, $background-color: $light-blue, $border-color: $light-blue);

      &.unstable {
        background-color: $white;
        border-color: $very-light-gray;
        color: $hab-blue;
      }

      &.stable {
        background-color: $hab-blue;
        border-color: $hab-blue;
        color: $white;
      }

      &:not(:last-child) {
        margin-right: $default-margin / 4;
      }
    }
  }
}
