[package]
name = "habitat_common"
version = "0.8.0"
authors = ["Adam Jacob <adam@chef.io>", "Jamie Winsor <reset@chef.io>", "Fletcher Nichol <fnichol@chef.io>", "Joshua Timberman <joshua@chef.io>", "Dave Parfitt <dparfitt@chef.io>"]
workspace = "../../"

[dependencies]
ansi_term = "*"
log = "*"
openssl = "*"
pbr = "*"
regex = "*"
rustc-serialize = "*"
time = "*"
toml = "*"

[dependencies.habitat_core]
path = "../core"

[dependencies.habitat_depot_client]
path = "../depot-client"

[dependencies.habitat_builder_protocol]
path = "../builder-protocol"

[dev-dependencies]
tempdir = "*"

[features]
functional = []
