
<footer id="footer">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell small-12 large-3 logo"><a href="/"><img src="{{ "images/chef-logo-light.svg" | relURL }}" alt="{{ .Site.Title }}"></a></div>
      <div class="cell small-12 large-9">
        <ul class="menu vertical medium-horizontal">
          <li><a href="/sitemap/" target="_self">Site Map</a></li>
          <li><a href="https://www.chef.io/online-master-agreement/" target="_blank">Licensing</a></li>
          <li><a href="https://www.chef.io/terms-of-service/" target="_blank">Terms &amp; Conditions</a></li>
          <li><a href="https://www.chef.io/trademark-policy/" target="_blank">Trademark Policy</a></li>
          <li><a href="https://www.chef.io/privacy-policy/" target="_blank">Privacy Policy</a></li>
          <li><a href="https://www.chef.io/cookie-policy/" target="_blank">Cookie Policy</a></li>
        </ul>
        {{ if and (ne .Kind "taxonomy") (ne .Kind "taxonomyTerm") (ne .Kind "404")}}
          <p class="modified">Page Last Modified: {{ .Lastmod }}</p>
        {{ end }}
        <p class="legal">&copy; 2008-{{ now.Format "2006" }} Chef Software, Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
