<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="{{ with .Params.robots }}{{ . }}{{ else }}{{ .Site.Params.robots }}{{ end }}">
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" type="image/png" href="{{ "images/favicon.ico" | relURL }}" />
  {{ $options := (dict "includePaths" (slice "node_modules")) }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
