<div class="search-component">
  <header>
    <h1>Search Packages</h1>
    <h2 *ngIf="searchQuery || query">Search Results</h2>
  </header>
  <div class="body">
    <div class="content">
      <section>
        <input
          type="search"
          #query autofocus
          [formControl]="searchBox"
          [value]="searchQuery"
          (keyup.enter)="submit(query.value)"
          placeholder="Search Packages&hellip;">
      </section>
      <section>
        <hab-search-results
          [noPackages]="(!ui.exists || packages.size === 0) && !ui.loading"
          [packages]="packages"
          [errorMessage]="ui.errorMessage">
        </hab-search-results>
      </section>
      <section class="more" *ngIf="packages.size < totalCount">
        Showing {{packages.size}} of {{totalCount}} packages.
        <a (click)="fetchMorePackages()">
          Load {{(totalCount - packages.size) > perPage ? perPage : totalCount - packages.size }} more.
        </a>
      </section>
    </div>
  </div>
</div>
