.hab-footer {
  background-color: $hab-green-light;
  background: url('/assets/images/footer-background.svg');
  background: url('/assets/images/footer-background.svg') left top repeat-x, linear-gradient($hab-green-light-2, $hab-blue-green) left 84px no-repeat;
  color: $white;
  margin-top: rem(90);
  padding: rem(90) 0 0;
  position: relative;
  z-index: 5;

  &.has-sidebar {
    padding-top: 0;
  }

  h4 {
    margin-bottom: rem(16);
    color: $white;
    font-size: .875rem;
  }

  a {
    color: lighten($hab-green-light, 25%);
  }

  a:hover,
  a:focus,
  a:active {
    color: $hab-white;
  }
}

.footer--cta {
  border-bottom: 1px solid lighten($hab-green-light, 10%);
  padding-bottom: rem(90);
  text-align: center;
}

.footer--cta-heading {
  font-size: rem(28);
  margin-bottom: rem(40);
  text-shadow: 0 2px 23px $medium-gray-40;
}

.footer--cta-button {
  @extend .button;
  @include primary-button;
  box-shadow: 0 2px 35px darken($hab-green, 20%);
  padding: rem(18) rem(40);
}

.footer--cta-subtext {
  color: lighten($hab-gray, 10%);
  font-size: rem(12);
  margin-bottom: 0;
}

.footer--logos {
  @include row;
  margin-bottom: rem(60);
}

.footer--logo {
  display: block;
  margin-bottom: rem(20);
  width: 160px;
}

.footer--sitemap {
  @include outer-container(1200px);
  @include pad(default 15px 0);
}

.footer--links {
  @include row;
  @extend %social-icons;

  ul {
    @include span-columns(6);
    display: block;
    margin-bottom: rem(30);

    @include media($medium-screen) {
      @include span-columns(2);
    }
  }
}

.footer--sitemap--link {
  margin-bottom: rem(10);
}

.footer--legal {
  @include row;
  padding-bottom: rem(16);
  border-top: 1px solid rgba($hab-white, .20);

  li {
    display: inline-block;
    margin-right: rem(25);
  }
}

.footer--copyright {
  @include span-columns(12);
  color: lighten($hab-green-light, 25%);
  font-size: rem(12);
  margin-top: rem(16);
}

.footer--version {
  display: block;
  font-size: 75%;
  margin-top: $small-spacing / 4;
}
