---
title: Building packages concepts
---

<%= partial "/shared/basic_concepts_sample_app" %>

The remainder of the steps in this tutorial will be tailored by platform, so select the OS platform where you wish 
to build and run Habitat packages. If you want to change the platform at any step in the tutorial, use the selector at the top of the page.

<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/use-scaffolding" class="button cta">macOS</a></li>
  <li><a href="/tutorials/sample-app/linux/use-scaffolding" class="button cta">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/use-scaffolding" class="button cta">Windows</a></li>
</ul>
