---
title: Choose your environment
---

# Choose your environment

The remainder of the steps in this tutorial will be tailored by platform and runtime environment, so select the OS platform where you wish to build and run Habitat packages and the runtime environment you wish to run those packages in. If you want to change the platform or environment at any step in the tutorial, use the selector at the top of the page.

[Insert selector for runtime environment]

<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/use-scaffolding" class="button cta">Mac</a></li>
  <li><a href="/tutorials/sample-app/linux/use-scaffolding" class="button cta">Linux</a></li>
  <li><a href="/tutorials/sample-app/windows/use-scaffolding" class="button cta">Windows</a></li>
</ul>

<%= partial "/shared/prerequisites" %>

In the next step, you will learn how to use the Ruby scaffolding to quickly create a package for your Rails webapp.

<ul class="main-content--button-nav">
  <li><a href="/tutorials/sample-app/mac/use-scaffolding" class="button cta">Next - Create a plan using scaffolding</a></li>
  <li><a href="/tutorials/sample-app/windows/basic-concepts/">Back to previous step</a></li>
</ul>