---
title: Habitat - Build and Test
platform: Gradle
platform_short: gradle
type: guide
---

= partial '/partials/tutorials/scaffolding_switcher', locals: { platform: "#{current_page.data.platform}" }

= partial '/partials/tutorials/web_guide_build_test'