---
title: Habitat - Define Processes
platform: Gradle
platform_short: gradle
---

= partial '/partials/tutorials/scaffolding_switcher', locals: { platform: "#{current_page.data.platform}" }

= partial '/partials/tutorials/web_guide_define_processes'