---
title: Habitat - Define Build Logic For Your App
platform: Gradle
platform_short: gradle
---

= partial '/partials/tutorials/scaffolding_switcher', locals: { platform: "#{current_page.data.platform}" }

= partial '/partials/tutorials/web_guide_build_logic'