---
title: Add hooks to your plan
---

<div class="slider--nav">
  <a class="button" href="/tutorials/getting-started/mac/add-hooks">Mac</a>
  <a class="button" href="/tutorials/getting-started/linux/add-hooks">Linux</a>
</div>

# Add hooks to your plan (Mac)
<%= partial "/shared/add_hooks_common" %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/mac/configure-plan" class="button cta">Next - Add configuration to your plan</a></li>
  <li><a href="/tutorials/getting-started/mac/create-plan/">Back to previous step</a></li>
</ul>
