---
title: Building packages concepts
---

<div class="slider--nav">
  <a class="button" href="/tutorials/getting-started/mac/basic-concepts">Mac</a>
  <a class="button" href="/tutorials/getting-started/linux/basic-concepts">Linux</a>
</div>

<%= partial "/shared/basic_concepts" %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/mac/setup-environment" class="button cta">Next - Set up your environment</a></li>
  <li><a href="/tutorials/getting-started/overview/">Back to previous step</a></li>
</ul>
