---
title: Getting set up with Habitat | Mac
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a class="active" href="/tutorials/getting-started/mac/setup-environment">Mac</a></li>
  <li><a href="/tutorials/getting-started/linux/setup-environment">Linux</a></li>
  <li><a href="/tutorials/getting-started/windows/setup-environment">Windows</a></li>
</ul>
<hr />

# Set up your environment
The `hab` command-line interface (CLI) tool downloads its other components when it needs them, so setup for Habitat is centered on where you want the `hab` CLI installed and getting it integrated into your shell.

1. [Download the `hab` CLI](/docs/get-habitat) and install it per the instructions on the download page. 

2. Run `hab setup` and follow the instructions in the setup script.

   <%= partial "/shared/setup_environment_script_step" %>

    > Note: The GitHub personal access token needs information provided from the `user:email` and `read:org` OAuth scopes. Habitat uses the information provided through these scopes for authentication and to determine features based on team membership. For more information, see [Setting up the `hab` CLI to authenticate to the depot](/docs/share-packages-overview#setting-up-hab-to-authenticate-to-the-depot).
    
    Also, you can opt-out of providing usage data at a later point in time by re-running the `hab setup` subcommand and typing `No` when asked if you want to provide usage data.

That's it. You're all set up and ready to create your first package. The first step in that process is to create a plan.

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/mac/create-plan" class="button cta">Next - Create your first plan</a></li>
  <li><a href="/tutorials/getting-started/basic-concepts/">Back to previous step</a></li>
</ul>
