.hab-build-list {

  ol {

    li {
      @include row;
      position: relative;

      font-size: rem(12);
      border-bottom: 1px solid $very-light-gray;
      padding: 0 10px;

      &.heading {
        font-weight: bold;
        font-family: $heading-font-family;
        text-transform: uppercase;
      }

      &.item {
        line-height: rem(60);
        color: $dim-slate-gray;

        &:hover {
          cursor: pointer;
          background-color: rgba($medium-gray, 0.05);

          .icons {

            hab-icon {
              width: 20px;

              &[symbol="chevron-right"] {
                display: block;
              }
            }
          }
        }

        .version {
          font-weight: bold;
          font-family: $heading-font-family;
          color: $dark-gray;
        }
      }

      .version {
        @include span-columns(3);
      }

      .count {
        @include span-columns(3);
      }

      .created {
        @include span-columns(3);
      }

      .icons {
        @include span-columns(3);

        hab-icon {
          width: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          &.status {
            right: 52px;
          }

          &.complete {
            color: $hab-green;
          }

          &.dispatched, &.processing {
            @extend hab-icon.spinning;
            color: $hab-orange;
          }

          &.pending {
            color: $hab-blue;
          }

          &.failed, &.rejected {
            color: $hab-red;
          }

          &[symbol="chevron-right"] {
            width: rem(30);
            height: rem(30);
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
