<div class="build-list-component">
  <ol class="nav-list">
    <li class="heading">
      <h4>Version</h4>
      <h4>Name</h4>
      <h4>Created</h4>
      <h4></h4>
    </li>
    <li class="none" *ngIf="!builds || builds.size === 0">
      <span>There are no available build jobs for this package.</span>
    </li>
    <li class="item" *ngFor="let build of builds" (click)="onClick(build)">
      <a>
        <span class="column name">
          {{ build.version || "&mdash;" }}
        </span>
        <span class="column">
          {{ build.origin }} / {{ build.name }}
        </span>
        <span class="column">
          {{ dateFor(build.created_at) }}
        </span>
        <span class="column icons">
          <hab-icon [symbol]="iconFor(build.state)" class="status {{ build.state | lowercase }}" title="{{ build.state | titlecase }}"></hab-icon>
          <hab-icon symbol="chevron-right"></hab-icon>
        </span>
      </a>
    </li>
  </ol>
</div>
