---
title: Studio
---

# Studio

<%= partial "/partials/studio_definition"%>

<hr>
<ul class="main-content--link-nav">
  <li>Continue to the next topic</li>
  <li><a href="/docs/concepts-services">Services</a></li>
</ul>
