---
title: Help Build Chef Habitat
---

## <a name="contribute" id="contribute" data-magellan-target="contribute" type="anchor">Help Build Chef Habitat</a>

We have been hard at work on Chef Habitat since fall 2015 and are very excited to share it with you as an open-source project [licensed](/legal/licensing) under the Apache 2.0 License. You can find the source on the [Chef Habitat GitHub repository](https://github.com/habitat-sh/habitat).

While we believe the foundational elements of Chef Habitat are in place, there will always be more work to do to make sure that we provide the _best_ possible experience in building, deploying and managing applications in the real world. This is where we hope you'll come in and contribute to our community.


### Getting Involved

The best way to find out how to contribute to Chef Habitat is in our [Contributing.md](https://github.com/habitat-sh/habitat/blob/master/CONTRIBUTING.md). It is a living document that covers almost all of the aspects of project governance from our triage process, to support channels and workstation setup. It's a great jumping off point.

All participants in the Chef Habitat community are expected to read and follow the [Code of Conduct](https://github.com/habitat-sh/habitat/blob/master/CODE_OF_CONDUCT.md).


### Rust

The Chef Habitat project is largely written in [Rust](https://www.rust-lang.org/en-US/), which may be a new language for you. We hope that doesn't dissuade you from getting involved. In our repo you'll find issues labeled with both `E-easy` and `E-mentored`. If you are new to rust and want to give it a shot,we highly encourage you to join the `#rust`` channel in the [Chef Habitat slack](https://habitat-sh.slack.com), grab one of these issues, and start Coding.

### Code-less Contributions

- [Help out with documentation](https://github.com/habitat-sh/habitat/issues?q=is%3Aissue+is%3Aopen+label%3AA-documentation)
- [Write a blog](https://github.com/habitat-sh/habitat/blob/master/www/source/blog/README.md)
- Run a meetup in your town? We've even got slide decks we can share if you want to talk about Chef Habitat but don't have time to build your own slides. Ping us in #general on [Slack](https://slack.habitat.sh) for assistance.
- Interested in some social programming, or want to share something cool you're working on? Hop on one of our [livestreams](https://twitch.tv/habitatsh).
- Contribute [ packages to the Core origin](https://github.com/habitat-sh/core-plans/blob/master/CONTRIBUTING.md). If you've packaged something up that you think would be helpful to the community at large but you'd prefer it exist in the core plans repository, you can totally open a pr [over there](https://github.com/habitat-sh/core-plans).

If you need any more suggestions on ways to contribute, drop by the [community slack](http://slack.habitat.sh) and ask in #general. I guarantee we can find plenty of ways for you to get involved.
