---
title: Diagrams
description: Chef Habitat architecture and process infographics
---

# Diagrams

With Chef Habitat comes a number of concepts - some you may be familiar with, some you may not. Not to worry, here you'll find a set of graphics that will help you and your team better understand the concepts and how they fit together into the larger Chef Habitat ecosystem.

## Table of Contents

- [Architecture Overview](#architecture-overview)
- [Initial Package Build Flow](#initial-package-build-flow)
- [Dependency Update Flow](#dependency-update-flow)
- [Application Rebuild Flow](#application-rebuild-flow)
- [Initial Docker Container Publishing Flow](#initial-docker-container-publishing-flow)
- [Automated Docker Container Publishing Flow](#automated-docker-container-publishing-flow)
- [Promote Packages Through Channels](#promote-packages-through-channels)
- [Runtime Services Group Binding](#runtime-services-group-binding)
- [Builder Architecture](#builder-architecture)
- [On-Premises Builder Depot Flow](#on-premises-builder-depot-flow)
- [Chef Habitat and Kubernetes](#habitat-and-kubernetes)

---
### Architecture Overview
<a target="_blank" href="/images/infographics/habitat-architecture-overview.png">
![Chef Habitat Architecture Overview Diagram](/images/infographics/habitat-architecture-overview.png)
</a>
<small>Click image to view full size in new tab</small>

### Initial Package Build Flow
<a target="_blank" href="/images/infographics/habitat-initial-package-build-flow.png">
![Chef Habitat Initial Package Build Flow Diagram](/images/infographics/habitat-initial-package-build-flow.png)
</a>
<small>Click image to view full size in new tab</small>

### Dependency Update Flow
<a target="_blank" href="/images/infographics/habitat-dependency-update-flow.png">
![Chef Habitat Dependency Update Flow Diagram](/images/infographics/habitat-dependency-update-flow.png)
</a>
<small>Click image to view full size in new tab</small>

### Application Rebuild Flow
<a target="_blank" href="/images/infographics/habitat-application-rebuild-flow.png">
![Chef Habitat Application Rebuild Flow Diagram](/images/infographics/habitat-application-rebuild-flow.png)
</a>
<small>Click image to view full size in new tab</small>

### Initial Docker Container Publishing Flow
<a target="_blank" href="/images/infographics/habitat-initial-docker-container-publishing-flow.png">
![Chef Habitat Initial Docker Container Publishing Flow Diagram](/images/infographics/habitat-initial-docker-container-publishing-flow.png)
</a>
<small>Click image to view full size in new tab</small>

### Automated Docker Container Publishing Flow
<a target="_blank" href="/images/infographics/habitat-automated-docker-container-publishing-flow.png">
![Chef Habitat Automated Docker Container Publishing Flow Diagram](/images/infographics/habitat-automated-docker-container-publishing-flow.png)
</a>
<small>Click image to view full size in new tab</small>

### Promote Packages Through Channels
<a target="_blank" href="/images/infographics/habitat-promote-packages-through-channels.png">
![Chef Habitat Promote Packages Through Channels Diagram](/images/infographics/habitat-promote-packages-through-channels.png)
</a>
<small>Click image to view full size in new tab</small>

### Runtime Services Group Binding
<a target="_blank" href="/images/infographics/habitat-runtime-service-group-binding.png">
![Chef Habitat Runtime Services Group Binding Diagram](/images/infographics/habitat-runtime-service-group-binding.png)
</a>
<small>Click image to view full size in new tab</small>

### Builder Architecture
<a target="_blank" href="/images/infographics/habitat-builder-architecture.png">
![Chef Habitat Builder Architecture Diagram](/images/infographics/habitat-builder-architecture.png)
</a>
<small>Click image to view full size in new tab</small>

### On-Premises Builder Depot Flow
<a target="_blank" href="/images/infographics/habitat-on-premises-builder-depot-flow.png">
![Chef Habitat On-premises Builder Depot Flow Diagram](/images/infographics/habitat-on-premises-builder-depot-flow.png)
</a>
<small>Click image to view full size in new tab</small>

### Chef Habitat and Kubernetes
<a target="_blank" href="/images/infographics/habitat-and-kubernetes-three-tiers-of-service-deployment.png">
![Chef Habitat and Kubernetes: Three Tiers of Service Deployment Diagram](/images/infographics/habitat-and-kubernetes-three-tiers-of-service-deployment.png)
</a>
<small>Click image to view full size in new tab</small>

<a target="_blank" href="/images/infographics/deploy-services-to-kubernetes-with-habitat-flow.png">
![Deploy Services to Kubernetes with Chef Habitat Flow Diagram](/images/infographics/deploy-services-to-kubernetes-with-habitat-flow.png)
</a>
<small>Click image to view full size in new tab</small>
