---
title: Habitat Docs - Getting Started
description: Documentation and tutorials for all aspects of Habitat including getting started; creating, building, and running Habitat packages; and implementation details.
---
<%= partial "/partials/docs/overview" %>
---
<section class="download">
<%= partial "/partials/global/download-and-install" %>
</section>