---
title: Install Chef Habitat
description: Install the Chef Habitat CLI and configure your workstation for Chef Habitat development
---
# <a name="installing-packages" id="installing-packages" data-magellan-target="installing-packages">Installing Chef Habitat</a>
Below you'll find installation instructions for each platform and their requirements. The Chef Habitat CLI is currently supported on Linux, Mac, and Windows.

 Table of Contents

  - [Download and Install the Chef Habitat CLI Tool ](#install-habitat)
    - [Install Chef Habitat for Linux](#hab-for-linux)
    - [Install Chef Habitat for Mac](#hab-for-mac)
    - [Install Chef Habitat for Windows](#hab-for-win)
  - [Accept the License](#accept-the-license)
  - [Configure Your Workstation](#configure-workstation)
  - [Download and Install FAQ](#install-faq)

<section class="download mt-2">
<%= partial "/partials/global/download-and-install" %>
</section>
---
## <a name="accept-the-license" id="accept-the-license" data-magellan-target="accept-the-license">Accept the License</a>

Please visit <a href="https://docs.chef.io/chef_license_accept.html">the license acceptance page</a> on the Chef docs site for more information.

---
## <a name="configure-workstation" id="configure-workstation" data-magellan-target="configure-workstation">Configure Your Workstation</a>
Once Chef Habitat has been installed, the <code>hab</code> CLI makes it easy to get your workstation configured by guiding through the setup process. To set up your workstation, run <code>hab cli setup</code> and follow the instructions.

<img alt="screenshot of hab cli setup output in CLI" src="/images/screenshots/hab-setup.png">

Setup asks you to create a new origin and a set of origin keys.

Optionally, you can also provide a Chef Habitat personal access token to upload packages to the public depot and share them with the Chef Habitat community. See the [access token documentation](/docs/using-builder/#builder-token) for details on generating and using your access token.

> For more information about using Chef Habitat Builder, see the section on [Using Builder](/docs/using-builder/).

You will also be asked if you want to register Supervisor control gateway secret (see [Remote Command-and-Control of Supervisors](/docs/using-habitat/#remote-control) for further details).

During setup, you may elect to provide anonymous usage data of the <code>hab</code> CLI tool. This information is used by the Chef Habitat team to improve the CLI experience.
For information on the types of data we gather and how we intend to use it, see [Analytics in Chef Habitat](/docs/about-analytics).

You can change your settings at any time by re-running the <code>hab cli setup</code> command.

<img alt="screenshot of completed hab cli setup in CLI" src="/images/screenshots/hab-setup-complete.png">

That's it. You're all set up and ready to use Chef Habitat to build and run packages!

---
## <a name="install-faq" id="install-faq" data-magellan-target="install-faq">Download and Install FAQ</a>

This section tracks some questions that are frequently encountered when downloading and installing the `hab` binary.

**Q: Can I just download a GitHub release of Chef Habitat?**

A: While we do cut releases in GitHub as part of our release process those archives are going to be a `.tar` point in time of our source code. As the `hab` cli is written in Rust, if you follow this approach you'll need to compile the source for your platform.

**Q: Compile for my platform? Does that mean there aren't any OS native packages of `hab`?**

A: We publish compiled packages for OSX, Linux, and Windows. `hab` has a requirement of either a Linux kernel >= 2.6.32, OSX >= 10.9, or 64-bit Windows 10 Pro, Enterprise, or Education editions (1511 November update, build 10586 or later) with Hyper-V enabled.

**Q: What if I need an old version of `hab`?**

A: We've got you covered! The script we provide for doing curl-bash installations will allow you to specify a `-v` flag to pull down a specific version of Chef Habitat, eg:

```
curl https://raw.githubusercontent.com/habitat-sh/habitat/master/components/hab/install.sh \
    | sudo bash -s -- -v 0.56.0
```

**Q: Oh! A curl bash I (love||hate) those.**

A: Indeed they are divisive, we know, that's why we provide a few different ways for you to download. If you'd like to take a look at the script before running it, you can find it in [the core Chef Habitat repo](https://github.com/habitat-sh/habitat/blob/master/components/hab/install.sh).

If you're staunchly in the anti-curl-bash camp, you can get the latest packages from the [download links](/docs/install-habitat/#install-habitat) listed previously.

**Q: How do I install `hab` across my server fleet?**

A: For the most part, we leave that up to you. You could just use the aforementioned curl-bash with your provisioner of choice. If your app was dockerized with Chef Habitat then you won't even need to ask this question, because you'll have everything you need inside your container. We are working on first class Mesosphere DC/OS, Cloud Foundry, and Kubernetes integrations - which you can keep up to date on in [our best practices section](/docs/best-practices/) and [blog](/blog).
