---
title: Chef Habitat Docs - Install Chef Habitat
description: Documentation installing the Chef Habitat CLI tool and configuring your workstation for Chef Habitat development.
---
# <a name="installing-packages" id="installing-packages" data-magellan-target="installing-packages">Installing Chef Habitat</a>
Below you'll find installation instructions for each platform and their requirements. The Chef Habitat CLI is currently supported on Linux, Mac, and Windows.

### Table of Contents

  - [Download and Install the Chef Habitat CLI Tool ](#install-habitat)
    - [Install Chef Habitat for Linux](#hab-for-linux)
    - [Install Chef Habitat for Mac](#hab-for-mac)
    - [Install Chef Habitat for Windows](#hab-for-win)
  - [Configure Your Workstation](#configure-workstation)
  - [Download and Install FAQ](#install-faq)

<section class="download mt-2">
<%= partial "/partials/global/download-and-install" %>
</section>
---
<%= partial "/partials/docs/using-hab-config-workstation"%>
---
<%= partial "/partials/docs/using-hab-install-faq"%>
