---
title: Reference Overview
category: Reference
---
# <a name="reference" id="reference" data-magellan-target="reference">Chef Habitat Reference and Syntax</a>

When defining a package in Chef Habitat, there are different files, settings, variables, and functions that you can use to set up specific installation and configuration details. You have a great deal of flexibility in how you build and define your application.

This section will cover as many of the modules and APIs that Chef Habitat is built upon to serve as helpful reference as you're developing your Chef Habitat packages.

---
<%= partial "/partials/docs/reference-template-data"%>
---

