---
title: Habitat Docs - Using Habitat
description: Documentation and tutorials for all aspects of Habitat including getting started; creating, building, and running Habitat packages; and implementation details.
---
<%
=begin
%>
For now this is incomplete. Let's wrap this in a comment and use the refactored overview until we get this in the appropriate shape.
<%= partial "/partials/docs/quickstart"%>
<%
=end
%>
<%= partial "/partials/docs/overview"%>
---
<section class="download">
<%= partial "/partials/global/download-and-install" %>
</section>