<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Habitat - Automation that travels with the app.</title>
    <meta name="description" content="Habitat allows automation to travel with your app, so you can be confident that what you build, deploy and manage will behave consistently in any runtime.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Habitat - Automation that travels with the app.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/images/habitat-social.jpg">
    <meta property="og:url" content="https://www.habitat.sh/">
    <meta property="og:description" content="Habitat allows automation to travel with your app, so you can be confident that what you build, deploy and manage will behave consistently in any runtime.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chef">
    <meta name="twitter:creator" content="@chef">
    <meta name="twitter:image" content="/assets/images/habitat-social.jpg">

    <link id="hab-css" rel="stylesheet" href="/assets/app.css">
    <base href="/">
  </head>
  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5VR24H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5VR24H');</script>
    <!-- End Google Tag Manager -->
    <hab>
    <script>
        window.Habitat = { config: {} };
        function habitatConfig(options) {
            window.Habitat.config = options || {};
        };
    </script>
    <script src="/habitat.conf.js"></script>
    <script id="hab-js" src="/assets/app.js"></script>
  </body>
</html>
