code {
  background-color: $code-background;
  border: 1px solid $ash;
  border-radius: $border-radius-base;
  font-size: 0.8rem;
  display: inline;
  max-width: 100%;
}


a {
  code {
    color: $blue-darker;
  }
}

pre {
  color: $charcoal;
  background-color: $sidebargray;
  border: 1px solid $ash;
  border-radius: $border-radius-base;
  margin-bottom: rem-calc(48);
  padding: .25rem;

  code {
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    padding: 0;
  }

  // customization for CodeMirror's line numbers
  .line-numbers {
    margin-right: rem-calc(16px);
    user-select: none;
  }
}

.code {
  background-color: $slate;
  color: $orange;
  font-family: $font-family-monospace;

  .output {
    color: $sidebargray;
  }
}

.codeblock {
  .title {
    font-weight: bold;
  }
}

.browser {
  .url {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 18px;
    left: 0px;

    > span {
      border-radius: $border-radius-base;
      color: $white;
      background: $slate-light;

    }
  }
}

p + button {
    background-color: yellow;
    margin-bottom: .5rem;
  }

@import "chroma";
