[package]
name = "habitat_http_client"
version = "0.0.0"
edition = "2024"
authors = ["The Habitat Maintainers <humans@habitat.sh>"]
workspace = "../../"

[dependencies]
base64 = "*"
log = "0.4"
native-tls = { version = "*", features = ["vendored"] }
pem = "*"
httparse = "*"
reqwest = { version = "*", features = ["blocking", "json", "stream"] }
env_proxy = "*"
serde = "*"
serde_json = { version = "*", features = ["preserve_order"] }
url = "*"

[dependencies.habitat_core]
path = "../core"

[dev-dependencies]
tempfile = "*"

[features]
default = []
functional = []
