[package]
name = "habitat_http_client"
version = "0.0.0"
edition = "2024"
authors = ["The Habitat Maintainers <humans@habitat.sh>"]
workspace = "../../"

[dependencies]
# Please keep these alphabetized
base64 = "*"
env_proxy = "*"
httparse = "*"
log = "0.4"
native-tls = { version = "*", features = ["vendored"] }
pem = "*"
# reqwest 0.13.0 changed the default TLS support from native-tls to rustls
# this feature configuration is about using the features that were in effect
# when our code was still locked to 0.12.8 (so reqwest defaults + our additions)
reqwest = { version = "*", default-features = false, features = [
    "blocking",
    "charset",
    "http2",
    "json",
    "native-tls-no-alpn",
    "stream",
    "system-proxy",
] }
serde = "*"
serde_json = { version = "*", features = ["preserve_order"] }
url = "*"

[dependencies.habitat_core]
path = "../core"

[dev-dependencies]
tempfile = "*"

[features]
default = []
functional = []
