---
title: Chef Habitat Internals
description: Chef Habitat Supervisor topologies, cryptography, and bootstrapping
---

# <a name="internals" id="internals" data-magellan-target="internals">Internals</a>

This section will dive into the implementation details of important Chef Habitat components. These topics are for advanced users. It is not necessary to learn these concepts in order to use Chef Habitat.

