---
title: Chef Habitat - Announcement
description: "Adam Jacob reveals, explains and demonstrates Chef Habitat, the latest open source project from Chef. It's automation that travels with your app."
---

h1 Chef Habitat Announcement Webcast

.flex-video.widescreen
  iframe[width="840" height="472" src="https://www.youtube.com/embed/oxtRP1eYCns" frameborder="0" allowfullscreen]