---
title: Chef Habitat - Chef Habitat and the Modern Application
description: How Chef Habitat includes everything that an app needs, throughout its lifetime, within a Chef Habitat package, including any supporting infrastructure dependencies.
---

h1 Chef Habitat and the Modern Application

p In the article,
  #{link_to '"What Is a Modern Application?"', '/about/what-is-modern-app.html'}
  we talked about what characterizes a modern application and how such
  applications can address the problems of complexity and scale. In this
  article we'll talk about how Chef Habitat lets any application, whether greenfield or legacy,
   have those characteristics.

p The short version is that Chef Habitat offers a new approach to deploying
  applications called <em>application automation</em>.

p Application automation means that the automation is packaged with the
  application and travels with it, no matter where that application is
  deployed. The unit of deployment becomes the application <em>and</em> its
  associated automation. The runtime environment, whether it is a container,
  bare metal, or PaaS, isn't the center of focus. It does not in any way define
  the application.

p Instead of managing the infrastructure and any supporting dependencies
  separately from the application, Chef Habitat includes everything that an
  application needs, throughout its lifetime, within a Chef Habitat package.

p A Chef Habitat package is isolated, immutable, and can establish relationships with
  peers. Chef Habitat gives developers a straightforward way to describe how an
  application should behave in its eventual infrastructure environment.
  Chef Habitat also has an outward-facing API that presents a standard interface to
  the world, so that other components, such as load balancers and monitoring
  solutions, can easily communicate with the application.

p Wrapping any application in a Chef Habitat package gives it the characteristics we
  want in a modern application.

h2 Benefits of application automation with Chef Habitat

p Chef Habitat speaks directly to the problem of complexity <em>and</em>
  high-velocity development. It handles all the management tasks that deflect
  teams from focusing on actually developing new products and features. It
  frees legacy applications from being tied to a particular environment, and
  makes them portable and simpler to manage.

p Chef Habitat also promotes collaboration and transparency. The Chef Habitat files that
  describe an application's behavior are human-readable and can be stored in a
  version control system such as Git. They are also simple to write. The API
  presents a clear interface that make it easy for different team members to
  define the areas that concern them most, such as monitoring.

h2 Chef Habitat Details

p Chef Habitat is a full-featured runtime with deployment coordination and service
  discovery capabilities built in. Chef Habitat is comprised of:

ul
  li A packaging format
  li A Supervisor

p The format defines Chef Habitat packages, which are isolated, immutable, and
  auditable. The term <em>auditable</em> means that the package can keep track
  of what happened to it, who did it, where it happened, how it happened, and
  when. By <em>isolated</em>, we mean that each package contains everything it
  needs to run. There are no outside dependencies. By <em>immutable</em> we
  mean that a particular version of the package never changes. If something
  does change&mdash;including available versions of dependencies&mdash;you
  create a new Chef Habitat package, which has its own unique identifier.

p The Chef Habitat Supervisor knows how to take the packages and run them. It's
  aware of the package's peer relationships, its upgrade strategy and security
  policies.

p Security is important because once distributed pieces of an application begin
  communicating with each other you also need trust relationships. You need to
  have security that's built into the system, not only for policy changes but
  for ongoing compliance.

p In addition, the Chef Habitat ecosystem includes a build service that retrieves
  the source code for a package from a depot and creates the packages. There is
  a cloud-based, public-facing depot maintained by Chef. It is also possible to
  have a private depot. A Chef Habitat depot is similar to
  #{link_to 'Docker Hub', 'https://www.docker.com/products/docker-hub'}
  and the
  #{link_to 'Ubuntu apt service', 'http://manpages.debian.org/cgi-bin/man.cgi?query=apt&sektion=8'}
  .

h2 The Chef Habitat Plan

p To build a package, Chef Habitat uses a build description, called a <em>plan</em>,
  which describes the application, its dependencies, and configuration options.
  The Chef Habitat build service takes all these components and wraps them into a
  single, encrypted or signed artifact, which can be configured dynamically
  when the service starts.

p Here is an example of a plan to create a Chef Habitat package for
  #{link_to 'ElasticSearch', 'https://aws.amazon.com/elasticsearch-service/'}
  :

= code(:bash, title: 'elasticsearch/plan.sh', url: 'https://github.com/habitat-sh/core-plans/blob/master/elasticsearch/plan.sh') do
   |
    pkg_name=elasticsearch
    pkg_origin=chefops
    pkg_version=2.3.2
    pkg_maintainer="Ben Rockwood <benr@chef.io>"
    pkg_license=('Revised BSD')
    pkg_source=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/${pkg_version}/${pkg_name}-${pkg_version}.tar.gz
    pkg_filename=${pkg_name}-${pkg_version}.tar.gz
    pkg_shasum=04c4d3913d496d217e038da88df939108369ae2e78eea29cb1adf1c4ab3a000a
    pkg_deps=(core/glibc chefops/jdk8)
    pkg_bin_dirs=(bin)
    pkg_lib_dirs=(lib)
    pkg_exports=(
      [http-port]=network.port
      [transport-port]=transport.port
    )
    pkg_exposes=(http-port transport-port)
    pkg_svc_run="es/bin/elasticsearch --default.path.conf=${pkg_svc_config_path} 2>&1"
    do_build() {
      return 0
    }
    do_install() {
      build_line "Copying files from $PWD"
      mkdir -p $pkg_prefix/es
      cp -r * $pkg_prefix/es
    }

p The first three values form part of the package's fully qualified name. The
  <code>pkg_source</code> value specifies the archive that contains the
  ElasticSearch pre-compiled binaries, configuration files, and related JAR
  files. The <code>pkg_shasum</code> value is the package's checksum. The
  <code>pkg_deps</code> values list the runtime dependencies for ElasticSearch.
  The <code>pkg_bin_dirs</code> value specifies the location for the
  ElasticSearch binary. The <code>pkg_exports</code> associative array contains a
  mapping of configuration keys to give public aliases to and make publicly
  available. The <code>pkg_exposes</code> values specify which exported
  configuration values representing service ports will be exposed if this
  package is exported to a Docker image. Finally, the <code>pkg_svc_run</code>
  value specifies how the ElasticSearch binary should be run when the Supervisor
  starts the ElasticSearch package payload.

p Build phases, referenced as callbacks, override certain default behaviors such as compiling and
  building binaries from source code and installing them into the package
  directory. Instead, because the ElasticSearch archive does not contain any
  source code to compile, the <code>do_build</code> callback has been
  overridden to simply exit the function. Likewise, the <code>do_install</code>
  callback makes a directory in the package where the archive contents will be
  copied and copies the contents to that location. Other default callback
  functions such as unpacking the archive, verifying its checksum, and
  performing any cleanup work of the archive have not been overridden.

h2 Chef Habitat and the Production Environment

p Applications packaged by Chef Habitat display the following characteristics in a
  production environment:

ul
  li They can be dynamically configured at runtime.
  li They can establish relationships with their peers.
  li They are security aware, which means they are encrypted at the artifact
    and secret level.
  li They can be replaced with new versions according to the policies of the IT
    organization.
  li They can express their state, be monitored, and interact with other
    components.

p The following table summarizes how Chef Habitat creates applications that fulfill
  the requirements of a production environment.

table
  thead
    tr
      th Requirement
      th Chef Habitat
  tbody
    tr
      td Configurable at runtime
      td Chef Habitat allows you to send in configuration information. If it's
        correct, Chef Habitat changes the configuration of the service and restarts
        it using a defined update strategy.
    tr
      td Can establish peer relationships
      td When you start a service, you can specify the peer relationship
        topology. A topology can be standalone (the application doesn't talk to
        anything else) or leader/follower (you supply the IP address of another
        member).
    tr
      td Security aware
      td The Supervisor has a number of built-in security features. For
        example, it can be set up to use wire encryption when speaking with
        peers in a Supervisor network; it can be set up to trust or distrust
        Chef Habitat packages signed with a certain origin key; it can trust or
        distrust configuration policy changes applied by users or by other
        peers. Chef Habitat uses modern cryptography implemented in the
        #{link_to 'NaCl', 'http://nacl.cr.yp.to/'}
        (pronounced "Salt") library.
    tr
      td Software upgrades and rolling deployments
      td The Supervisor understands cluster topologies and has an update
        strategy. The Supervisor triggers that strategy by watching a depot.
        By pointing the Supervisor to the depot and specifying the service, it
        automatically checks, on a periodic basis, to see if there's a new
        package. If there is, it downloads that package and then goes into the
        upgrade cycle and applies the strategy. You can have rolling deployment
        without a central orchestrator.
    tr
      td Status
      td The Chef Habitat Supervisor can determine the state of a service and bring
        it back up if it is down.
    tr
      td Monitoring, health checks, interactions with other components
      td The Chef Habitat Supervisor has an HTTP API that exposes information about
        the package it is supervising, as well as any configuration changes it
        has received. The HTTP API also provides a mechanism for monitoring
        systems to invoke health checks defined by the application author when
        the Chef Habitat package was built. This provides easy integration with
        existing monitoring systems such as Nagios or Sensu, or even with
        entities external to Chef Habitat, such as load balancers.

<hr>
<ul class="main-content--button-nav">
  <li><a href="/about/habitat-and-workload-placement" class="button cta">Next - Chef Habitat and Workload Placement</a></li>
  <li><a href="/about/why-package-automation-with-app">Back - Why Package the App and Its Automation Together?</a></li>
</ul>
