---
title: Add hooks to your plan
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a href="/tutorials/getting-started/mac/add-hooks">Mac</a></li>
  <li><a href="/tutorials/getting-started/linux/add-hooks">Linux</a></li>
  <li><a class="active" href="/tutorials/getting-started/windows/add-hooks">Windows</a></li>
</ul>
<hr />

# Add hooks to your plan
<%= partial "/shared/add_hooks_common" %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/windows/configure-plan" class="button cta">Next - Add configuration to your plan</a></li>
  <li><a href="/tutorials/getting-started/windows/create-plan/">Back to previous step</a></li>
</ul>
