---
title: Building packages concepts
---

<ul class="main-content--version">
  <li>Current version:</li>
  <li><a href="/tutorials/getting-started/mac/basic-concepts">Mac</a></li>
  <li><a href="/tutorials/getting-started/linux/basic-concepts">Linux</a></li>
  <li><a class="active" href="/tutorials/getting-started/windows/basic-concepts">Windows</a></li>
</ul>
<hr />

<%= partial "/shared/basic_concepts" %>

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started/windows/setup-environment" class="button cta">Next - Set up your environment</a></li>
  <li><a href="/tutorials/getting-started/overview/">Back to previous step</a></li>
</ul>
