# Documentation available at https://expeditor-docs.es.chef.io/

github:
  # The file where the MAJOR.MINOR.PATCH version is kept. The version in this file
  # is bumped automatically via the `built_in:bump_version` merge_action.
  version_file: "VERSION"
  # The file where our CHANGELOG is kept. This file is updated automatically with
  # details from the Pull Request via the `built_in:update_changelog` merge_action.
  changelog_file: "CHANGELOG.md"

# Slack channel in Chef Software slack to send notifications about Expeditor actions
slack:
  notify_channel: habitat-notify

# These actions are taken, in order they are specified, anytime a Pull Request is merged.
merge_actions:
  - built_in:update_changelog:
      ignore_labels:
        - "Expeditor: Exclude from Changelog"

changelog:
  categories:
    - "X-change": "Behavioral Changes"
    - "X-feature": "New Features & Enhancements"
    - "X-fix": "Bug Fixes"
