[package]
name = "habitat_pkg_export_tar"
version = "0.0.0"
edition = "2018"
authors = ["The Habitat Maintainers <humans@habitat.sh>"]
workspace = "../../"

[lib]
name = "habitat_pkg_export_tar"

[[bin]]
name = "hab-pkg-export-tar"
path = "src/main.rs"
doc = false

[dependencies]
base64 = "*"
clap = { git = "https://github.com/habitat-sh/clap.git", branch = "v2-master", features = ["suggestions", "color", "unstable"] }
env_logger = "*"
habitat_common = { path = "../common" }
habitat_core = { path = "../core" }
# We need to lock here since v0.30.0 bumps to a version of pest that fails to build on Windows.
handlebars = { version = "0.29.1", default-features = false }
lazy_static = "^1.4.0"
log = "^0.4.11"
mktemp = "*"
serde = { version = "*", features = ["rc"] }
serde_json = { version = "*", features = [ "preserve_order" ] }
tokio = { version = "^0.2", features = ["full"] }
url = "*"
failure = "*"
failure_derive = "*"
tempfile = "*"
tar = "*"
flate2 = "*"
