---
title: Application Rebuild Flow
description:
---
# Application Rebuild Flow
<a target="_blank" href="/images/infographics/habitat-application-rebuild-flow.png">
![Chef Habitat Application Rebuild Flow Diagram](/images/infographics/habitat-application-rebuild-flow.png)
</a>
<small>Click image to view full size in new tab</small>
