---
title: Chef Habitat Architecture Overview
description:
---

# Chef Habitat Architecture Overview
<a target="_blank" href="/images/infographics/habitat-architecture-overview.png">
![Chef Habitat Architecture Overview Diagram](/images/infographics/habitat-architecture-overview.png)
</a>
<small>Click image to view full size in new tab</small>
