---
title: Chef Habitat Builder Architecture
description:
---

# Builder Architecture
<a target="_blank" href="/images/infographics/habitat-builder-architecture.png">
![Chef Habitat Builder Architecture Diagram](/images/infographics/habitat-builder-architecture.png)
</a>
<small>Click image to view full size in new tab</small>
