---
title: Chef Habitat and Kubernetes Overview
description:
---

# Chef Habitat and Kubernetes
<a target="_blank" href="/images/infographics/habitat-and-kubernetes-three-tiers-of-service-deployment.png">
![Chef Habitat and Kubernetes: Three Tiers of Service Deployment Diagram](/images/infographics/habitat-and-kubernetes-three-tiers-of-service-deployment.png)
</a>
<small>Click image to view full size in new tab</small>

<a target="_blank" href="/images/infographics/deploy-services-to-kubernetes-with-habitat-flow.png">
![Deploy Services to Kubernetes with Chef Habitat Flow Diagram](/images/infographics/deploy-services-to-kubernetes-with-habitat-flow.png)
</a>
<small>Click image to view full size in new tab</small>
