---
title: Promote Packages Through Channels
description:
---

# Promote Packages Through Channels
<a target="_blank" href="/images/infographics/habitat-promote-packages-through-channels.png">
![Chef Habitat Promote Packages Through Channels Diagram](/images/infographics/habitat-promote-packages-through-channels.png)
</a>
<small>Click image to view full size in new tab</small>
