<div class="build-detail-component">
  <section class="back">
    <a [routerLink]="['../']">
      <hab-icon symbol="chevron-left"></hab-icon>
      <span>Back to build jobs</span>
    </a>
  </section>
  <div class="summary" *ngIf="buildState">
    <div class="status {{ statusClass }}">
      <div>
        <hab-icon [symbol]="statusIcon" [class]="statusClass" [title]="buildState | titlecase"></hab-icon>
        Build {{ buildState }}
      </div>
    </div>
    <div class="detail">
      <div class="item">
        <div class="label">Build Time</div>
        <div class="data">{{ elapsed || "&mdash;" }}</div>
      </div>
      <div class="item">
        <div class="label">Completed</div>
        <div class="data">{{ completed || "&mdash;" }}</div>
      </div>
    </div>
  </div>
  <div class="controls" [ngStyle]="controlsStyles">
    <button type="button" class="jump-to-top" (click)="scrollToTop()">
      <hab-icon symbol="chevron-up"></hab-icon>
      <span>Jump to top</span>
    </button>
    <button type="button" class="jump-to-end" (click)="toggleFollow()" [class.active]="followLog">
      <hab-icon symbol="chevron-down"></hab-icon>
      <span>{{ completed ? "Jump to end" : "Follow log" }}</span>
    </button>
  </div>
  <div class="output-container {{ statusClass }}">
    <pre class="output"></pre>
  </div>
</div>
