# cargo audit config file
# https://github.com/rustsec/rustsec/blob/main/cargo-audit/audit.toml.example
#
# All of the options which can be passed via CLI arguments can also be
# permanently specified in this file.

[advisories]

# advisory IDs to ignore e.g. ["RUSTSEC-2019-0001", ...]
ignore = [
    # Ignoring this for now as we removed bincode from habitat in
    # https://github.com/habitat-sh/habitat/pull/10103 and this alert is based
    # on a transitive dependency via the ipc-channel crate.  That team has
    # https://github.com/servo/ipc-channel/pull/432 open which will remove
    # bincode from their project.  When that future version of ipc-channel
    # lands in habitat this security alert should clear and we can remove this
    "RUSTSEC-2025-0141",
]

# warn for categories of informational advisories
informational_warnings = ["notice", "unmaintained", "unsound"]

# CVSS severity ("none", "low", "medium", "high", "critical")
severity_threshold = "none"

# Advisory Database Configuration
[database]
path = ".cargo/advisory-db"                        # Path where advisory git repo will be cloned
url = "https://github.com/RustSec/advisory-db.git" # URL to git repo
fetch = true                                       # Perform a `git fetch` before auditing (default: true)
stale = false                                      # Allow stale advisory DB (i.e. no commits for 90 days, default: false)

# Output Configuration
[output]
deny = ["warnings", "unmaintained", "unsound", "yanked"] # exit on error if these are found
format = "terminal"                                      # "terminal" (human readable report) or "json"
quiet = false                                            # Only print information on error
show_tree = true                                         # Show inverse dependency trees along with advisories (default: true)

[yanked]
enabled = true      # Warn for yanked crates in Cargo.lock (default: true)
update_index = true # Auto-update the crates.io index (default: true)
