# cargo audit config file
# https://github.com/rustsec/rustsec/blob/main/cargo-audit/audit.toml.example
#
# All of the options which can be passed via CLI arguments can also be
# permanently specified in this file.

[advisories]
# JAH: The warnings below have been grandfathered dating to the start of our use
# JAH: of cargo audit so that they can be dealt with over time. At the bottom of
# JAH: this file is is a comment block stating what updating each crate would
# JAH: require and what parts of habitat are downstream dependents
#
# advisory IDs to ignore e.g. ["RUSTSEC-2019-0001", ...]
ignore = [
    "RUSTSEC-2021-0137", # Unmaintained: sodiumoxide
    "RUSTSEC-2021-0139", # Unmaintained: ansi_term
    "RUSTSEC-2021-0145", # Unsound, Unmaintained: atty
    "RUSTSEC-2022-0071", # Unmaintained: rusoto
    "RUSTSEC-2024-0370", # Unmaintained: proc-macro-error (used by structopt)
    "RUSTSEC-2024-0375", # Unmaintained: atty (used by clap v2)
    "RUSTSEC-2024-0388", # Unmaintained: derivative (used by log4rs)
    "RUSTSEC-2025-0014", # Unmaintained: humantime (used by log4rs)
]
informational_warnings = [
    "notice",
    "unmaintained",
    "unsound",
] # warn for categories of informational advisories
severity_threshold = "none" # CVSS severity ("none", "low", "medium", "high", "critical")

# Advisory Database Configuration
[database]
path = ".cargo/advisory-db"                        # Path where advisory git repo will be cloned
url = "https://github.com/RustSec/advisory-db.git" # URL to git repo
fetch = true                                       # Perform a `git fetch` before auditing (default: true)
stale = false                                      # Allow stale advisory DB (i.e. no commits for 90 days, default: false)

# Output Configuration
[output]
deny = [
    "warnings",
    "unmaintained",
    "unsound",
    "yanked",
] # exit on error if these are found
format = "terminal" # "terminal" (human readable report) or "json"
quiet = false # Only print information on error
show_tree = true # Show inverse dependency trees along with advisories (default: true)

[yanked]
enabled = true      # Warn for yanked crates in Cargo.lock (default: true)
update_index = true # Auto-update the crates.io index (default: true)

#-------------------------------------------------------------------------------
# "RUSTSEC-2021-0137",    # Unmaintained: sodiumoxide
#-------------------------------------------------------------------------------
#
# Requires selection of replacement cryptography crate
#
# sodiumoxide 0.2.7
# └── habitat_core 0.0.0
#
#-------------------------------------------------------------------------------
# "RUSTSEC-2021-0139",    # Unmaintained: ansi_term
# "RUSTSEC-2021-0145",    # Unsound, Unmaintained: atty
#-------------------------------------------------------------------------------
#
# Requires that we upgrade clap/structopt/configopt
#
# atty 0.2.14
# ansi_term 0.11.0
# └── clap 2.33.1
#     ├── test-probe 0.1.0
#     ├── structopt 0.3.15
#     │   ├── habitat_sup 0.0.0
#     │   ├── hab 0.0.0
#     │   └── configopt 0.1.0
#     │       ├── habitat_sup 0.0.0
#     │       └── hab 0.0.0
#     ├── habitat_sup 0.0.0
#     ├── habitat_pkg_export_tar 0.0.0
#     ├── habitat_pkg_export_container 0.0.0
#     ├── habitat_common 0.0.0
#     ├── habitat-rst-reader 0.0.0
#     └── hab 0.0.0
#
#-------------------------------------------------------------------------------
# "RUSTSEC-2022-0071"     # Unmaintained: rusoto
#-------------------------------------------------------------------------------
#
# Requires selection of new "AWS crate"
#
# rusoto_credential 0.48.0
# ├── rusoto_signature 0.48.0
# │   └── rusoto_core 0.48.0
# │       ├── rusoto_ecr 0.48.0
# │       │   └── habitat_pkg_export_container 0.0.0
# │       └── habitat_pkg_export_container 0.0.0
# ├── rusoto_core 0.48.0
# └── habitat_pkg_export_container 0.0.0
