.origins-page-component {

  .nav-list {
    font-size: $base-font-size;
  }

  .invitation {

    .actions {
      text-align: right;
      color: $hab-blue;
      flex: 0;
      white-space: nowrap;
      padding-right: $default-padding;

      &.column {
        flex: none;
      }

      @include tablet-up {
        flex: 1;
        padding-right: $default-padding * 2;

        &.column {
          flex: 1;
        }
      }

      .action {
        border-radius: $default-radius;
        padding: $default-padding / 4 $default-padding / 2;
        cursor: pointer;
        margin-left: 8px;
        @include transition(color, background-color);

        &:hover {
          background-color: $hab-blue;
          color: white;
        }
      }
    }
  }
}
