<div class="origins-page-component">
  <header>
    <h1>My Origins</h1>
  </header>
  <div class="body">
    <div class="content">
      <section *ngIf="ui.loading">
        <hab-icon symbol="loading" class="spinning"></hab-icon>
      </section>
      <section>
        <a mat-raised-button color="primary" [routerLink]="['/origins', 'create']">Create origin</a>
      </section>
      <div *ngIf="!ui.loading">
        <section *ngIf="origins.size === 0 && !ui.errorMessage">
          <p>
            <strong>You are not currently an owner or member of any origins.</strong>
          </p>
          <p>
            Note: If you've already created an origin with the Habitat CLI tool, then you'll need to create it here, too, using the same
            name.
          </p>
          <p>
            <em>New to Habitat?
              <a href="{{ config['demo_app_url'] }}">Try the demo app</a>.</em>
          </p>
        </section>
        <section *ngIf="origins.size > 0">
          <ul class="nav-list">
            <li class="heading">
              <h4>Origin Name</h4>
              <h4>Packages</h4>
              <h4></h4>
            </li>
            <li class="item" [class.invitation]="isInvitation(item)" *ngFor="let item of origins" (click)="navigateTo(item)">
              <a>
                <span class="column name">{{ name(item) }}</span>
                <span class="column package-count">{{ packageCount(item) }}</span>
                <span class="column actions">
                  <span *ngIf="isInvitation(item)">
                    <span class="action" (click)="accept(item)">
                      <hab-icon symbol="check"></hab-icon>
                      Accept Invitation
                    </span>
                    <span class="action" (click)="ignore(item)">
                      <hab-icon symbol="no"></hab-icon>
                      Ignore Invitation
                    </span>
                  </span>
                </span>
                <hab-icon symbol="chevron-right"></hab-icon>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
