<div class="hab-origins">
  <div class="page-title">
    <h2>My Origins</h2>
  </div>
  <div class="page-body">
    <div class="origin-create">
      <a md-raised-button color="primary" [routerLink]="['/origins', 'create']">Create origin</a>
    </div>
    <hab-icon symbol="loading" class="spinning" *ngIf="ui.loading"></hab-icon>
    <div *ngIf="!ui.loading">
      <p *ngIf="ui.errorMessage">
        Failed to load origins: {{ui.errorMessage}}
      </p>
      <div class="origin-create-intro" *ngIf="origins.size === 0 && !ui.errorMessage">
        <p><strong>You don't currently have any origins. Let's add one now.</strong></p>
        <p>
          In order to begin uploading and distributing your packages, you'll first need to <a [routerLink]="['/origins/create']">create an origin</a>. If you would like to join an existing origin, then you'll need to request an invite from a current member.
        </p>
        <p>
          If you've already created an origin locally via the Habitat CLI tool, then you'll need to create it here too
          using the same name.
        </p>
        <p>
          <em>Not sure how to get started? <a href="{{ config['demo_app_url'] }}">Try the demo app</a> for a hands-on walkthrough.</em>
        </p>
      </div>
      <div *ngIf="origins.size > 0">
        <div class="hab-origins-list">
          <ul class="origins">
            <li class="heading">
              <h3 class="uppercase">Origin Name</h3>
              <h3 class="uppercase">Packages</h3>
            </li>
            <li class="origin" *ngFor="let origin of origins" (click)="routeToOrigin(origin.name)">
              <div class="summary">
                <span class="origin-name">{{ origin.name }}</span>
                <span class="origin-pkg-count">{{ origin.packageCount }}</span>
                <hab-icon symbol="chevron-right"></hab-icon>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="origin-invitations" *ngIf="invitations.size > 0">
        <h3>Pending Invitations</h3>
        <div class="hab-invitations-list">
          <ul class="invitations">
            <li class="heading">
              <h3 class="uppercase invitation-origin-name">Origin Name</h3>
              <h3 class="uppercase invitations-actions">Actions</h3>
            </li>
            <li class="invitation" *ngFor="let invitation of invitations">
              <div class="summary">
                <span class="invitation-origin-name">{{ invitation.origin_name }}</span>
                <span class="invitation-actions">
                    <hab-icon
                      class="action"
                      symbol="check"
                      title="Accept invitation"
                      (click)="acceptInvitation(invitation.origin_invitation_id, invitation.origin_name)"></hab-icon>
                    <hab-icon
                      class="action"
                      symbol="no"
                      title="Ignore invitation"
                      (click)="ignoreInvitation(invitation.origin_invitation_id, invitation.origin_name)"></hab-icon>
                  </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
