.build-status-component {
  display: inline-block;
  
  hab-icon {
    @include icon-size(16);
    right: 52px;

    @each $status, $color in $status-colors {
      &.#{$status} {
        color: #{$color};
      }
    }
    
    &.dispatched, &.processing {
      @extend hab-icon.spinning;
    }
  }
}
