hab-build-status {

  hab-icon {
    width: 16px;
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);

    &.complete {
      color: $hab-green;
    }

    &.dispatched, &.processing {
      @extend hab-icon.spinning;
      color: $hab-orange;
    }

    &.pending {
      color: $hab-blue;
    }

    &.failed, &.rejected {
      color: $hab-red;
    }
  }
}
