// Sass Mixins
// Shared between Habitat web properties

@mixin shadow-float {
  box-shadow: 0px 2px 14px 0px rgba($medium-gray, 0.20);
}

@mixin primary-button {
  border-radius: $global-radius;
  background-image: linear-gradient(240deg, $hab-orange, $hab-orange-dark);
  @include shadow-float;
  font-size: rem-calc(16);
  font-weight: 700;
}
