.hab-header {
  @include outer-container;

  h1 {
    @include span-columns(11);
    display: inline;
  }

  // Temporarily there's nothing in here, but links to things like help
  // and docs will be later.
  &-links {
    padding: 0.3em;
    @include span-columns(0);
    display: inline-block;

    ul {
      display: inline;

      li {
        display: inline;
        margin-right: $base-spacing;
      }
    }
  }
}
