.bldr-header {
  @include outer-container;
  margin-bottom: $base-spacing;

  h1 {
    @include span-columns(2);
    display: inline;
    margin-bottom: 0;
  }

  &-links {
    padding: 0.3em;
    @include span-columns(9);
    display: inline-block;

    ul {
      display: inline;

      li {
        display: inline;
        margin-right: $base-spacing;
      }
    }
  }
}
