.package-detail-component {

  h3 {
    font-family: $base-font-family;
    font-size: 16px;
    text-transform: none;
  }

  dl {

    hab-icon {
      margin-left: 8px;
      @include icon-size(18);
    }

    > div {
      display: flex;

      dt {
        flex: 2;
      }

      dd {
        flex: 10;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }

  .channels {
    margin-bottom: $small-margin;
  }

  .manifest {

    h1:first-child, p {
      display: none;
    }

    h1 {
      margin-top: $default-margin * 2;
    }

    ul {

      li {
        overflow-wrap: break-word;
        word-wrap: break-word;

        code {
          font-family: $monospace-font-family;
          font-size: $monospace-font-size;
        }
      }
    }
  }

  @include desktop-up {
    .deps {
      display: flex;

      .direct-deps {
        flex: 6;
      }

      .transitive-deps {
        flex: 6;
      }
    }
  }

  pre {
    font-family: $monospace-font-family;
    font-size: 12px;
    line-height: 1.6;
    padding: $default-padding;
    background: $dark-blue;
    border-radius: $default-radius;
    color: $white;
    overflow: auto;
  }
}
