.dialog {
  color: $hab-text;

  section {

    &.heading {
      margin: 0 0 $default-margin 0;
      font-size: 16px;
      
      h1 {
        font-family: $heading-font-family;
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        margin: 0;
      }
    }

    &.body {
      margin: $default-margin 0;

      p, textarea {
        margin: 0;
      }
    }

    &.controls {
      margin: $default-margin 0 0 0;

      button, a {
        display: inline-block;
        margin-right: $default-margin;
        cursor: pointer;
      }
    }
  }
}
