<div class="hab-sign-in">
    <div class="page-title">
        <h2>Sign In</h2>
    </div>
    <div class="page-body">
        <div class="button-area">
            <hr>
            <a md-raised-button color="accent" [class.disabled]="isSigningIn || isSignedIn"
               class="button cta" href="{{gitHubLoginUrl}}">
                <hab-icon symbol="github"></hab-icon>
                <span>
                    Sign In with GitHub
                </span>
            </a>
            <hr>
        </div>
        <p>
            New to {{appName}}? To sign up, simply click the GitHub button
            above.
        </p>
        <p>
            The {{appName}} project is maintained on GitHub and packages are
            built from plan files stored in GitHub repositories. GitHub
            accounts are free.
            <a href="{{gitHubJoinUrl}}" _target="blank">Create one now</a>.
        </p>
        <p>
            You can still browse the
            <a href="{{sourceCodeUrl}}">{{appName}} source code</a>,
            <a [routerLink]="['/pkgs']">public packages</a>,
            and <a href="{{docsUrl}}">documentation</a>
            without signing in.
        </p>
    </div>
</div>
