---
title: Getting set up with Habitat
---

# Set up your environment
<%= partial "/shared/setup_environment" %>

That's it. You're all set up and ready to create your first package. The first step in that process is to [review the source files](/tutorials/getting-started-review-source-files) to understand the application that you will be packaging up.

<hr>
<ul class="main-content--button-nav">
  <li><a href="/tutorials/getting-started-review-source-files" class="button cta">Next - Review the source files</a></li>
  <li><a href="/tutorials/getting-started-basic-concepts/">Back to previous step</a></li>
</ul>
