[package]
name = "habitat_butterfly"
version = "0.1.0"
authors = ["Adam Jacob <adam@chef.io>"]
build = "build.rs"
workspace = "../../"

[[bin]]
name = "butterfly"
path = "src/main.rs"
doc = false

[dependencies]
clippy = {version = "*", optional = true}
byteorder = "*"
bytes = "*"
env_logger = "*"
habitat_core = { git = "https://github.com/habitat-sh/core.git" }
log = "*"
lazy_static = "*"
prost = "*"
prost-derive = "*"
rand = "*"
serde = "*"
serde_derive = "*"
tempdir = "*"
time = "*"
threadpool = "*"
toml = { version = "*", default-features = false }
uuid = { version = "*", features = ["v4"] }
zmq = { git = "https://github.com/erickt/rust-zmq", branch = "release/v0.8" }

[dev-dependencies]
habitat_butterfly_test = { path = "../butterfly-test" }
mktemp = "*"

[build-dependencies]
heck = "*"
pkg-config = "0.3"
prost = "*"
prost-build = "*"
tempdir = "*"

[features]
default = ["protocols"]
protocols = []
