allowedPorts = {{cfg.allowedPorts}}
cacheIsShared = {{cfg.cacheIsShared}}
chunkHighMark = {{cfg.chunkHighMark}}
disableIndexing = {{cfg.disableIndexing}}
disableServersList = {{cfg.disableServersList}}
diskCacheRoot = "{{pkg.svc_path}}/cache/"
dnsNameServer = "{{cfg.dnsNameServer}}"
localDocumentRoot = "{{pkg.svc_path}}/www/"
maxNoModifiedAge = {{cfg.maxNoModifiedAge}}
objectHighMark = {{cfg.objectHighMark}}
proxyAddress = "{{cfg.proxyAddress}}"
proxyPort = {{cfg.port}}
serverExpireTime = {{cfg.serverExpireTime}}
tunnelAllowedPorts = {{cfg.tunnelAllowedPorts}}
