<div class="page-body origin-packages-tab">
  <div class="hab-origin--left hab-origin--pkg-list">

    <!--
      TODO: Reconcile these two. It's not over yet.
      <hab-plan-select
        *ngIf="selectingPlan"
        (planSelected)="planSelected($event)"
        (planSelectCanceled)="planSelectCanceled()"></hab-plan-select>
      -->

    <hab-project-settings
      [origin]="origin"
      [integrations]="integrations"
      (toggled)="toggled($event)"
      (saved)="saved($event)"></hab-project-settings>

    <div *ngIf="!selectingPlan">
      <ul class="packages-list">
        <div *ngIf="projectsEnabled">
          <li class="heading" *ngIf="projectsExist">
            <div class="pkg-col-1">
              <h3>Connected Plans</h3>
            </div>
          </li>
          <li *ngFor="let proj of projects">
            <a [routerLink]="['/pkgs', origin, proj, 'latest']">
              <span class="pkg-col-1">{{ proj }}</span>
            </a>
            <hab-icon symbol="chevron-right"></hab-icon>
          </li>
          <li *ngIf="projectsExist">
            <div class="pkg-col-1">&nbsp;
            </div>
          </li>
        </div>
        <li class="heading">
          <div class="pkg-col-1">
            <h3>Packages</h3>
          </div>
        </li>
        <li *ngIf="noPackages">
          <span class="none">
            No packages found.
          </span>
        </li>
        <li *ngFor="let pkg of packages">
          <a [routerLink]="['/pkgs', pkg.origin, pkg.name, 'latest']">
            <span class="pkg-col-1">{{ pkg.name }}</span>
          </a>
          <hab-icon symbol="chevron-right"></hab-icon>
        </li>
      </ul>
      <div *ngIf="packages.size < totalCount">
        Showing {{packages.size}} of {{totalCount}} packages.
        <a href="#" (click)="fetchMorePackages()">
          Load
          {{(totalCount - packages.size) > perPage ? perPage : totalCount - packages.size }}
          more</a>.
      </div>
    </div>
  </div>
</div>
