<div class="body">
  <div class="content">
    <section *ngIf="memberOfOrigin">
      <hab-project-settings
        [origin]="origin"
        [integrations]="integrations"
        (toggled)="toggled($event)"
        (saved)="saved($event)">
      </hab-project-settings>
    </section>
    <section *ngIf="!selectingPlan">
      <ul class="nav-list" *ngIf="projectsExist">
        <li class="heading">
          <h4>Connected Plans</h4>
        </li>
        <li class="item" *ngFor="let proj of projects">
          <a [routerLink]="['/pkgs', origin, proj, 'latest']">
            <span class="column name">{{ proj }}</span>
          </a>
          <hab-icon symbol="chevron-right"></hab-icon>
        </li>
      </ul>
      <ul class="nav-list">
        <li class="heading">
          <h4>Packages</h4>
        </li>
        <li class="none" *ngIf="noPackages">
          <span>No packages found.</span>
        </li>
        <li class="item" *ngFor="let pkg of packages">
          <a [routerLink]="['/pkgs', pkg.origin, pkg.name, 'latest']">
            <span class="column name">{{ pkg.name }}</span>
          </a>
          <hab-icon symbol="chevron-right"></hab-icon>
        </li>
      </ul>
      <div *ngIf="packages.size < totalCount">
        Showing {{packages.size}} of {{totalCount}} packages.
        <a (click)="fetchMorePackages()">
          Load {{(totalCount - packages.size) > perPage ? perPage : totalCount - packages.size }} more.
        </a>
      </div>
    </section>
  </div>
</div>
