<div class="page-body">
  <div class="hab-origin--left hab-origin--pkg-list">
    <div *ngIf="noPackages">
      <p>
        No packages found.
        <span *ngIf="packagesUi.errorMessage">
            Error: {{packagesUi.errorMessage}}
        </span>
      </p>
    </div>
    <hab-plan-select
      *ngIf="selectingPlan"
      (planSelected)="planSelected($event)"
      (planSelectCanceled)="planSelectCanceled()"></hab-plan-select>
    <div *ngIf="!noPackages && !selectingPlan">
      <div class="connect-button" *ngIf="projectsFlag">
        <button (click)="loadRepoSelect()" md-raised-button color="primary">Connect a plan file</button>
      </div>
      <ul class="packages-list">
        <li class="heading">
          <div class="pkg-col-1">
            <h3>Package</h3>
          </div>
        </li>
        <li *ngFor="let pkg of packages">
          <a [routerLink]="['/pkgs', pkg.origin, pkg.name, 'latest']">
            <span class="pkg-col-1">{{ pkg.name }}</span>
          </a>
          <hab-icon symbol="chevron-right"></hab-icon>
        </li>
      </ul>
      <div *ngIf="packages.size < totalCount">
        Showing {{packages.size}} of {{totalCount}} packages.
        <a href="#" (click)="fetchMorePackages()">
          Load
          {{(totalCount - packages.size) > perPage ? perPage : totalCount - packages.size }}
          more</a>.
      </div>
    </div>
  </div>
</div>
