.hab-package-latest {

  .none {
    font-size: rem(14);
    padding: 0 10px;

    p {
      margin-bottom: 12px;

      &:first-child {
        margin-top: 0;
      }
    }

    ol {
      list-style-type: decimal;

      li {
        margin-left: 24px;
      }
    }
  }
}
