// https://github.com/mbitson/mcg
// http://mcg.mbitson.com/#!?mcgpalette0=%2387b09a&mcgpalette1=%234296b4&mcgpalette2=%23ff9012&mcgpalette3=%235c6670&mcgpalette4=%23e8f0f6&mcgpalette5=%23eb6852&themename=mathabitat

$md-mcgpalette0: (
  50 : #f1f6f3,
  100 : #dbe7e1,
  200 : #c3d8cd,
  300 : #abc8b8,
  400 : #99bca9,
  500 : #87b09a,
  600 : #7fa992,
  700 : #74a088,
  800 : #6a977e,
  900 : #57876c,
  A100 : #f0fff6,
  A200 : #bdffda,
  A400 : #8affbd,
  A700 : #70ffaf,
  contrast: (
      50 : #5C6670,
      100 : #5C6670,
      200 : #5C6670,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #5C6670,
      A200 : #5C6670,
      A400 : #5C6670,
      A700 : #5C6670,
  )
);

$md-mcgpalette1: (
  50 : #e8f2f6,
  100 : #c6e0e9,
  200 : #a1cbda,
  300 : #7bb6cb,
  400 : #5ea6bf,
  500 : #4296b4,
  600 : #3c8ead,
  700 : #3383a4,
  800 : #2b799c,
  900 : #1d688c,
  A100 : #c7ebff,
  A200 : #94d9ff,
  A400 : #61c7ff,
  A700 : #47beff,
  contrast: (
      50 : #5C6670,
      100 : #5C6670,
      200 : #5C6670,
      300 : #5C6670,
      400 : #5C6670,
      500 : #5C6670,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #5C6670,
      A200 : #5C6670,
      A400 : #5C6670,
      A700 : #5C6670,
  )
);

$md-mcgpalette2: (
  50 : #fff2e3,
  100 : #ffdeb8,
  200 : #ffc889,
  300 : #ffb159,
  400 : #ffa136,
  500 : #ff9012,
  600 : #ff8810,
  700 : #ff7d0d,
  800 : #ff730a,
  900 : #ff6105,
  A100 : #ffffff,
  A200 : #fff7f3,
  A400 : #ffd4c0,
  A700 : #ffc2a7,
  contrast: (
      50 : #5C6670,
      100 : #5C6670,
      200 : #5C6670,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #5C6670,
      A200 : #5C6670,
      A400 : #5C6670,
      A700 : #5C6670,
  )
);

$md-mcgpalette3: (
  50 : #ebedee,
  100 : #ced1d4,
  200 : #aeb3b8,
  300 : #8d949b,
  400 : #747d85,
  500 : #5c6670,
  600 : #545e68,
  700 : #4a535d,
  800 : #414953,
  900 : #303841,
  A100 : #92c2ff,
  A200 : #5fa5ff,
  A400 : #2c88ff,
  A700 : #137aff,
  contrast: (
      50 : #5C6670,
      100 : #5C6670,
      200 : #5C6670,
      300 : #5C6670,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #5C6670,
      A200 : #5C6670,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-mcgpalette4: (
  50 : #fcfdfe,
  100 : #f8fbfc,
  200 : #f4f8fb,
  300 : #eff5f9,
  400 : #ebf2f7,
  500 : #e8f0f6,
  600 : #e5eef5,
  700 : #e2ecf3,
  800 : #dee9f2,
  900 : #d8e5ef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #5C6670,
      100 : #5C6670,
      200 : #5C6670,
      300 : #5C6670,
      400 : #5C6670,
      500 : #5C6670,
      600 : #5C6670,
      700 : #5C6670,
      800 : #5C6670,
      900 : #5C6670,
      A100 : #5C6670,
      A200 : #5C6670,
      A400 : #5C6670,
      A700 : #5C6670,
  )
);

$md-mcgpalette5: (
  50 : #fdedea,
  100 : #f9d2cb,
  200 : #f5b4a9,
  300 : #f19586,
  400 : #ee7f6c,
  500 : #eb6852,
  600 : #e9604b,
  700 : #e55541,
  800 : #e24b38,
  900 : #dd3a28,
  A100 : #ffffff,
  A200 : #ffe9e7,
  A400 : #ffbab4,
  A700 : #ffa39b,
  contrast: (
      50 : #5C6670,
      100 : #5C6670,
      200 : #5C6670,
      300 : #5C6670,
      400 : #5C6670,
      500 : #5C6670,
      600 : #5C6670,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #5C6670,
      A200 : #5C6670,
      A400 : #5C6670,
      A700 : #5C6670,
  )
);
