// https://material.angular.io/guide/theming
// https://material.io/guidelines/style/color.html#color-color-palette

@import "@angular/material/theming";
@import "theme_palette";
@include mat-core();

$hab-theme-primary: mat-palette($md-mcgpalette0);
$hab-theme-accent: mat-palette($md-mcgpalette2);
$hab-theme-warn: mat-palette($md-mcgpalette5);

$hab-theme: mat-light-theme(
  $hab-theme-primary,
  $hab-theme-accent,
  $hab-theme-warn
);

@include angular-material-theme($hab-theme);
