// https://material.angular.io/guide/theming
// https://material.io/guidelines/style/color.html#color-color-palette

@import "@angular/material/theming";
@import "theme_palette";

$custom-typography: mat-typography-config(
  $font-family: "#{$base-font-family}"
);

$tabs-typography: mat-typography-config(
  $font-family: "#{$tabs-font-family}"
);

$hab-theme-primary: mat-palette($md-mcgpalette0);
$hab-theme-accent: mat-palette($md-mcgpalette1);
$hab-theme-warn: mat-palette($md-mcgpalette5);

$hab-theme: mat-light-theme(
  $hab-theme-primary,
  $hab-theme-accent,
  $hab-theme-warn
);

@include mat-core($custom-typography);
@include mat-tabs-typography($tabs-typography);
@include angular-material-theme($hab-theme);
