<div class="header-component">
  <div class="outer-wrapper" [class.open]="isOpen" [class.signed-in]="isSignedIn">
    <div class="header-container">
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="/assets/images/habitat-logo.svg" [alt]="appName" [title]="appName">
        </a>
      </div>
      <hab-user-nav
        [isOpen]="isUserNavOpen"
        [isSignedIn]="isSignedIn"
        [username]="username"
        [avatarUrl]="avatarUrl"
        [signOut]="signOut"
        [toggleUserNavMenu]="toggleUserNavMenu">
      </hab-user-nav>
      <hab-icon class="toggle" symbol="menu" (click)="toggleMenu()"></hab-icon>
    </div>
    <ul class="links" (click)="handleClick()">
      <li class="menu" *ngIf="signedIn">
        <a [routerLink]="['/origins']">My Origins</a>
      </li>
      <li class="menu">
        <a [routerLink]="['/pkgs']">Search Packages</a>
      </li>
      <li class="main">
        <a href="{{config['learn_url']}}">Learn</a>
      </li>
      <li class="main">
        <a href="{{config['docs_url']}}">Docs</a>
      </li>
      <li class="main">
        <a href="{{config['community_url']}}">Community</a>
      </li>
      <li class="main">
        <a [routerLink]="['/explore']" [class.is-current-page]="area === 'explore'">Explore</a>
      </li>
      <li class="main">
        <a href="{{config['www_url']}}/blog">Blog</a>
      </li>
      <li class="main">
        <a [routerLink]="['/pkgs']" [class.is-current-page]="area === 'depot'">Builder</a>
      </li>
      <li class="sign-in" *ngIf="!isSignedIn">
        <a [routerLink]="['/sign-in']">Sign In</a>
      </li>
      <li class="get-started" *ngIf="!isSignedIn">
        <a mat-button color="accent" class="button" href="{{ config['www_url'] }}/try">Get Started</a>
      </li>
    </ul>
  </div>
</div>
