$slider-transition: 1s;

.carousel-slide {
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity: 0;
  transition: opacity $slider-transition ease;

  &.is-active {
    opacity: 1;
    z-index: 2;
  }
}

.carousel-nav {
  cursor: pointer;
}