$slider-transition: .4s;

.carousel-slide {
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity: 0;
  transition: opacity $slider-transition ease;

  &.is-active {
    opacity: 1;
    z-index: 2;
  }
}

.carousel-nav {
  cursor: pointer;
}

$carousel-infographic-min-width: 960px;

.carousel-infographic {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0px auto 24px;
  padding-left: 10px;
  justify-content: center;
  transition: all 300ms ease;

  > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-left: -30px;
    position: relative;
    cursor: pointer;

    background: {
      image: url('/images/carousel-arrows-vertical.svg');
      repeat: no-repeat;
      color: transparent;
      size: cover;
    }

    .infographic-label {
      position: absolute;
      top: 0px;
      width: 100%;
      text-align: center;

      > span {
        height: 40px;
        line-height: 40px;
        padding: 0px 16px;
        display: inline-block;
        border-radius: 5px;
        background-color: #28AFA4;
      }
    }

    &.carousel-infographic-0 {
      background-position: 0px 0px;
      .infographic-label > span { background-color: #28AFA4; }
    }
    &.carousel-infographic-1 {
      background-position: 1px -229px;
      .infographic-label > span { background-color: #2AA5A2; }
    }
    &.carousel-infographic-2 {
      background-position: 3px -457px;
      .infographic-label > span { background-color: #2E99A0; }
    }
    &.carousel-infographic-3 {
      background-position: 3px -682px;
      .infographic-label > span { background-color: #318F9E; }
    }
    &.carousel-infographic-4 {
      background-position: 4px -912px;
      .infographic-label > span { background-color: #35839C; }
    }

    &.is-active, &:hover {
      &.carousel-infographic-0 > .infographic-cell { background-color: #28AFA4; }
      &.carousel-infographic-1 > .infographic-cell { background-color: #2AA5A2; }
      &.carousel-infographic-2 > .infographic-cell { background-color: #2E99A0; }
      &.carousel-infographic-3 > .infographic-cell { background-color: #318F9E; }
      &.carousel-infographic-4 > .infographic-cell { background-color: #35839C; }
    }

    > .infographic-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      padding: rem-calc(24);
      background-color: rgba(255,255,255,0.1);
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;

      &.logos-deploy {
        background-image: url('/images/infographic-deploy-logos.svg');
      }
      &.logos-run {
        background-image: url('/images/infographic-run-logos.svg');
      }
    }
  }
}

@media screen and (max-width: $carousel-infographic-min-width) {
  .carousel-infographic {
    width: $carousel-infographic-min-width;
    position: relative;
    left: 50%;
    margin: 0px auto 80px;

    &[data-currentidx='0'] { transform: translateX(-135px); }
    &[data-currentidx='1'] { transform: translateX(-295px); }
    &[data-currentidx='2'] { transform: translateX(-465px); }
    &[data-currentidx='3'] { transform: translateX(-655px); }
    &[data-currentidx='4'] { transform: translateX(-815px); }
  }
}

.carousel-slide-title {
  margin-bottom: rem-calc(24);
}

.carousel-bullets {
  margin-bottom: rem-calc(32);
}

.carousel-nav-arrow {
  display: block;
  height: 240px;
  width: 20%;
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 5;

  &.arrow-left { left: 0px; }
  &.arrow-right { right: 0px; }

  @include breakpoint($carousel-infographic-min-width) {
    &.hidden { display: none; }

    width: 50px;
    &.arrow-left {
      background: url('/images/icons/icon-chevron-left.svg') center center no-repeat transparent;
    }
    &.arrow-right {
      background: url('/images/icons/icon-chevron-right.svg') center center no-repeat transparent;
    }
  }
}

.carousel-nav-dots {
  $carousel-nav-dot-color: #c3c6c8;
  display: flex;
  justify-content: center;
  margin-top: rem-calc(24);
  list-style: none;
  position: absolute;
  top: 220px;
  left: 0px;
  width: 100%;

  @include breakpoint($carousel-infographic-min-width) {
    position: relative;
    top: auto;
    left: auto;
  }

  > li {
    text-indent: -9999px;
    border-radius: 50%;
    border: solid 1px $carousel-nav-dot-color;
    height: 17px;
    width: 17px;
    box-shadow: 1;
    background: transparent;
    position: relative;
    z-index: 2;
    padding: 0px;
    margin: 0px 12px;

    &.is-active {
      background: $carousel-nav-dot-color;

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 25px;
        width: 25px;
        z-index: 1;
        border: solid 1px $carousel-nav-dot-color;
        border-radius: 50%;
        top: -5px;
        left: -5px;
      }
    }
  }
}
