pre {
  color: $hab-gray-dark;
  background-color: $hab-gray-light;
  border: 1px solid $hab-gray-dark;
  padding: 0.125rem 0.3125rem 0.0625rem;
  margin-bottom: 15px;

  code {
    background-color: transparent;
    border: none;
    word-wrap: break-word;
  }

  // customization for CodeMirror's line numbers
  .line-numbers {
    margin-right: 15px;
    user-select: none;
  }
}

.code {
  background-color: $hab-slate;
  color: $hab-green-terminal;
  font-family: $font-family-monospace;

  .output {
    color: $hab-gray-light;
  }
}

.browser {
  .url {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 18px;
    left: 0px;

    > span {
      padding: 1px 80px;
      border-radius: $global-radius;
      color: $hab-white;
      background: $hab-slate-light;

    }
  }
}
