$component-small-height: 10px;

.circle {
  display: block;

  &.small {
    height: $component-small-height;
    width: $component-small-height;
    border-radius: ($component-small-height / 2);
  }

  &.gray {
    background: #627B8F;
  }

  &.green {
    background: $hab-green-dark;
  }
}

$tech-icon-height: 40px;

.tech-icon {
  position: relative;
  display: block;
  height: $tech-icon-height;
  width: $tech-icon-height;
  border-radius: ($tech-icon-height / 2);
  background-color: $hab-gray-light;
  text-align: center;

  &.coming-soon {
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      @extend .circle.small;
      @extend .circle.green;
    }
  }
}

.link-external {
  background: url('/images/icons/open-in-new.svg') right bottom no-repeat;
  background-size: 20px;
  padding-right: 22px;
}

//OOCSS
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }
.p { @extend p; }

.relative { position: relative; }
.full-width { width: 100%; }
.float-left { float: left; }
.float-right { float: right; }
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.center { text-align: center; }

.text-white { color: $hab-white; }
.text-link { color: $hab-orange }
.text-gray { color: #C3C6C8; }
.text-gray-dark { color: $hab-gray-dark; }

.overflow-hidden { overflow: hidden; }

.underline { text-decoration: underline; }

.sup-note {
  background: $hab-green;
  color: $hab-white;
  text-transform: uppercase;
  padding: rem-calc(5) rem-calc(10);
  font-size: .5rem;
  font-family: $body-font-family;
  border-radius: 15px;
  position: absolute;
  top: -1rem;
}

.background-white { background-color: $hab-white; }
.background-gray-light { background-color: $hab-gray-light; }

$std-margin: 20;
.mt-0 { margin-top: 0px; }
.mt-1 { margin-top: rem-calc($std-margin); }
.mt-2 { margin-top: rem-calc($std-margin * 2); }
.mt-3 { margin-top: rem-calc($std-margin * 3); }
.mt-4 { margin-top: rem-calc($std-margin * 4); }

.mb-0 { margin-bottom: 0px; }
.mb-1 { margin-bottom: rem-calc($std-margin); }
.mb-2 { margin-bottom: rem-calc($std-margin * 2); }
.mb-3 { margin-bottom: rem-calc($std-margin * 3); }
.mb-4 { margin-bottom: rem-calc($std-margin * 4); }

.background-waves-green {
  background: url('/images/background-waves-green.svg') repeat-x center center;
  background-size: cover;
  width: 100%;
  height: 78px;
  position: relative;
}

.hide-small { @include breakpoint(small only) { display: none; }}
.small-only { @include breakpoint(medium) { display: none; }}

.logo-icon {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background: {
    repeat: no-repeat;
    position: center center;
    color: transparent;
    size: cover;
  }

  &.kubernetes { background-image: url('/images/solutions-logos/icon-kubernetes.svg'); }
  &.mesos { background-image: url('/images/solutions-logos/icon-mesos.svg'); }
  &.mesosphere { background-image: url('/images/solutions-logos/icon-mesosphere.svg'); }
  &.docker { background-image: url('/images/solutions-logos/icon-docker.svg'); }
  &.cloudfoundry { background-image: url('/images/solutions-logos/icon-cloudfoundry-contrast.svg'); }
  &.coreos { background-image: url('/images/solutions-logos/icon-coreos.svg'); }
}

ul.inline {
  list-style-type: none;
  margin: 0px;

  > li {
    display: inline-block;
  }
}

a.icon-only {
  text-indent: -999px;
  display: inline-block;
  overflow: hidden;
  background: {
    position: center center;
    repeat: no-repeat;
    color: transparent;
    size: cover;
  }

  &.small {
    height: 14px;
    width: 14px;
  }

  &.white {
    &.github  { background-image: url('/images/icons/icon-github-white.svg'); }
    &.twitter { background-image: url('/images/icons/icon-twitter-white.svg'); }
    &.slack   { background-image: url('/images/icons/icon-slack-white.svg'); }
    &.youtube { background-image: url('/images/icons/icon-youtube-white.svg'); }
  }

}