// Community Page
// Community Page media queries
$community-small-breakpoint: rem-calc(650);
$community-medium-breakpoint: rem-calc(880);
$community-xlarge-breakpoint: rem-calc(1060);

@mixin small-community {
  @media (max-width: $community-small-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin medium-community {
  @media (min-width: $community-small-breakpoint) and (max-width: $community-medium-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin large-community {
  @media (min-width: $community-medium-breakpoint) {
    @content;
  }
}

@mixin x-large-community {
  @media (min-width: $community-xlarge-breakpoint) {
    @content;
  }
}

@mixin section-left-margin {
  @media (min-width: 1040px) {
    margin-left: rem-calc(104);
  }
}

%section-heading {
  font-size: rem-calc(25);

  @include small-community {
    font-size: rem-calc(18);
  }
}

// Page level styles
.community section {
  margin: rem-calc(96) 0;
  text-align: center;

  h2 {
    margin-bottom: rem-calc(60);
    font-size: rem-calc(24);
  }

  li {
    display: inline-block;

    a.button {
      display: block;
      min-width: 200px;
    }
  }

  li + li a {
    margin-left: rem-calc(20);
  }

  &.community--roadmap {
    margin-bottom: 0;
  }

  &.community--tracker {
    margin-top: 0;
  }

  &.community--tracker,
  &.community--cta {
    h2 {
      margin-bottom: rem-calc(20);
    }
  }
}

// Hero
.community--hero,
.community--cta {

  & > .row {
    position: relative;
  }

  ul {
    margin-bottom: .75rem;
  }

  a.tertiary-cta {
    color: $hab-white;
    opacity: .5;

    &.slack {
      padding-left: rem-calc(30);
      background: url('/images/icons/icons-social.svg') no-repeat;
      background-position: left -31px;
    }

    &:hover {
      opacity: 1;
      transition: opacity .15s;
    }
  }
}

.community--hero--heading {
  color: $white;
  font-size: rem-calc(36);

  @include small-community {
    font-size: rem-calc(20);
  }
}

.community--hero--text {
  margin: 0 auto rem-calc(40);
  max-width: rem-calc(600);
  color: $white;

  & + .community--hero--text {
    margin-top: rem-calc(-20px);
  }
}

// Events
.community--events {
  margin-bottom: -240px !important;
  padding-bottom: 240px;
  position: relative;
  z-index: 10;
  min-height: 600px;
  background: url(../images/graphics/bg-mountains-blue.png) no-repeat center bottom;
  background-size: 100% 430px;

  h2 {
    color: $hab-white;
  }

.community--events--content > .row,
.community--events--card--wrapper {
  display: block;

  @include large-community {
    display: flex;
  }
}

  .community--events--card {
    @extend %card-box;

    .body-content {
      padding: 0;

      h4 {
        position: relative;
        margin-bottom: 0;
        padding: 1.5rem;
        min-height: rem-calc(110);
        box-shadow: 0 2px 4px rgba($hab-gray, .10);
      }

      > p {
        height: 240px;
        margin-bottom: 0;
        padding: 1.5rem;
        background-color: lighten($hab-gray-light, 2);
        overflow-y: scroll;
      }
    }

    .article-detail--meta {
      margin-top: 0;
      padding: 1.5rem;
    }
  }
}

// Roadmap
.community--roadmap {
  background-color: $hab-white;
}

.community--roadmap {
  padding: rem-calc(240) 0 rem-calc(60);
  position: relative;
  z-index: 5;

  .roadmap-headings {
    margin-bottom: rem-calc(10);
    text-align: center;

    h5 {
      display: inline-block;
      padding: rem-calc(5) rem-calc(30);
      border: 1px solid currentColor;
      border-radius: 30px;
      font-family: $body-font-family;
      font-size: rem-calc(16);
      color: $hab-green;
    }
  }
}
// ProdPad Roadmap iframe overrides
iframe {
  border: 1px solid $hab-gray-light;
  border-radius: $global-radius !important;
}

.community--tracker {
  margin-bottom: -100px !important;
  padding-bottom: 100px;
  position: relative;
  z-index: 10;
  min-height: 560px;
  background: url(../images/graphics/bg-mountains-green.png) no-repeat center bottom;
  background-size: 100% 560px;

  .foreground-github {
    display: none;
    margin: 0 auto;
    position: absolute;
    padding-left: 160px;
    bottom: 100px;
    z-index: 15;

    img {
      max-width: 960px;
      width: 100%;
    }

    @include x-large-community {
      display: block;
    }
  }

  .callout-box {
    @include shadow-float;
    margin-top: 100px;
    padding: rem-calc(40);
    background-color: $hab-white;
    border: 1px solid $hab-gray-light;
    border-radius: $global-radius;
    z-index: 12;

    ul {
      margin-bottom: 0;
    }
  }
}

.community--cta {
  padding: rem-calc(160) 0;
  color: $hab-white;

  ul {
    margin-top: rem-calc(30);
  }
}

.community .footer--cta {
  display: none;
}

#community-event-template {
  display: none;
}
