// Community Page
// Community Page media queries
$community-small-breakpoint: rem-calc(650);
$community-medium-breakpoint: rem-calc(880);

@mixin small-community {
  @media (max-width: $community-small-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin medium-community {
  @media (min-width: $community-small-breakpoint) and (max-width: $community-medium-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin large-community {
  @media (min-width: $community-medium-breakpoint) {
    @content;
  }
}

@mixin section-left-margin {
  @media (min-width: 1040px) {
    margin-left: rem-calc(104);
  }
}

%section-heading {
  font-size: rem-calc(25);

  @include small-community {
    font-size: rem-calc(18);
  }
}

// Page level styles
.community section {
  margin: rem-calc(60) 0;
  text-align: center;

  h2 {
    margin-bottom: rem-calc(60);
    font-size: rem-calc(24);
  }

  li {
    display: inline-block;

    a.button {
      display: block;
      min-width: 200px;
    }
  }

  li + li a {
    margin-left: rem-calc(20);
  }
}

// Hero
.community--hero {

  & > .row {
    position: relative;
  }

  .cta-subtext a {
    color: $hab-orange-dark;
  }
}

.community--hero--heading {
  color: $white;
  font-size: rem-calc(36);

  @include small-community {
    font-size: rem-calc(20);
  }
}

.community--hero--text {
  margin: 0 auto rem-calc(40);
  max-width: rem-calc(600);
  color: $white;

  & + .community--hero--text {
    margin-top: rem-calc(-20px);
  }
}

// Events
.community--events {

  h2 {
    color: $hab-white;
  }

  .community--events--card {
    @extend %card-box;
  }
}

// Roadmap
.community--roadmap,
.community--tracker {
  padding: rem-calc(60) 0;
  background-color: $hab-white;
}

// ProdPad Roadmap iframe overrides
iframe {
  border: 1px solid $hab-gray-light;
  border-radius: $global-radius !important;
}

// Sub hero
$sub-hero-skew: 5deg;

.community--sub-hero {
  position: relative;
  z-index: 2;
  padding: rem-calc(160) 0 rem-calc(200);
  margin-top: rem-calc(-100);
  margin-bottom: rem-calc(-100);
  color: $white;

  @include small-community {
    padding-bottom: rem-calc(90);
  }
}

.community--sub-hero--content {
  position: relative;
  @include section-left-margin;
}

.community--sub-hero--heading,
.community--sub-hero--blurb {
  position: relative;
  z-index: 3;
}

.community--sub-hero--heading {
  margin-bottom: rem-calc(60);
  @extend %section-heading;
}

.community--sub-hero--icon {
  margin-bottom: rem-calc(20);
}

.community--sub-hero--blurb {
  @include small-community {
    padding: 0 8%;
    margin-bottom: 5%;
  }

  p {
    color: darken($white, 15%);
  }
}

.community--sub-hero--graphic {
  position: absolute;
  z-index: 2;
  left: 0.9375rem;
  top: rem-calc(-200);

  @include small-community {
    width: 90%;
    top: rem-calc(-215);
  }
}

.community--sub-hero--button {
  margin: rem-calc(40) 0 rem-calc(-35);

  @include small-community {
    margin: rem-calc(20) 0 0 6%;
  }
}
