// CSS for Demo
// Demo Page media queries
$demo-small-breakpoint: rem-calc(650);
$demo-medium-breakpoint: rem-calc(880);
$demo-large-breakpoint: rem-calc(1060);

@mixin small-demo {
  @media (max-width: $demo-small-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin medium-demo {
  @media (min-width: $demo-small-breakpoint) and (max-width: $demo-medium-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin large-demo {
  @media (min-width: $demo-medium-breakpoint) {
    @content;
  }
}

.demo_step #content-outer {
  margin-bottom: rem-calc(184);
}

.demo--page {
  color: $hab-white;
  position: relative;
  padding: 0px 0px rem-calc(150);

  .demo-hero {
    margin-bottom: rem-calc(80);
    text-align: center;

    h3 {
      margin: 0 auto;
      max-width: rem-calc(800);
    }

    .hero--subtitle {
      max-width: rem-calc(640);
    }
  }

  // Demo typography

  p {
    line-height: rem-calc(24);

    &.code {
      padding: rem-calc(8) rem-calc(15);
      border-radius: $global-radius;
      font-size: rem-calc(14);
    }
  }
}

// demo index

#demo-index .row {
  padding: 0px rem-calc(30);
}

.demo--snorkelcat {
  position: relative;


  @include large-demo {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: rem-calc(-80);
      height: rem-calc(250);
      width: 100%;
      background: url('/images/demo/index-snorkelling-habicat.svg') center center no-repeat transparent;
      background-size: contain;
    }
  }
}

.demo--section-title {
  margin-bottom: rem-calc(96);
  color: rgba($hab-white,0.35);

  .h2.no-span {
      display: table;
      white-space: nowrap;
      font-size: rem-calc(18);
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:before, &:after {
        border-top: 1px solid rgba($hab-slate,.40);
        content: '';
        display: table-cell;
        position: relative;
        top: rem-calc(12);
        width: 45%;
      }
      &:before { right: 1.5%; }
      &:after { left: 1.5%; }
  }

  p {
    text-align: center;
  }
}

.demo--callouts {

  @include large-demo {
    display: flex;
  };

  .demo--callout {
    display: flex;
    margin-bottom: rem-calc(80);
    position: relative;
    background-color: rgba($hab-slate, 0.85);
    border-radius: $global-radius;
    transition: all .1s;

    &:hover {
      @include shadow-float-hover;
      transform: translateY(-3px);
      transition: all .15s;
    }

    @include large-demo {
      margin-left: rem-calc(20);

      &:first-child {
        margin-left: 0;
      }
    }

    &.secondary {
      background-color: rgba($hab-slate, 0.35);
    }

    &.contrast {
      background-color: $hab-white;

      h3, p {
        color: $hab-blue-grey;
      }

      &:hover {
        transform: translateY(0);
      }
    }

    .demo--callout-diagrams {
      .columns {
        padding: 0;
      }

      .demo--callout-content--clip {
        padding-top: 1rem;
      }
    }
  }
}

.demo--callout-content {
  border-radius: $global-radius;
  position: relative;
  width: 100%;
  padding: rem-calc(40) rem-calc(16) rem-calc(112);

  .h3 {
    margin-bottom: rem-calc(32);
  }

  .h4 {
    margin-bottom: rem-calc(8);
    color: rgba($hab-white,0.35);
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    margin-bottom: rem-calc(48);
  }

  .footnote {
    margin: .875rem 0 0;
    font-size: .875rem;
    color: rgba($hab-white, 0.35);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -48px;
    right: 10px;
  }

  &.demo--callout-build:after {
    height: rem-calc(75);
    width: rem-calc(129);
    background: url('/images/demo/index-callout-build.svg') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-publish:after {
    height: rem-calc(75);
    width: rem-calc(41);
    background: url('/images/demo/index-callout-publish.svg') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-trigger:after {
    height: rem-calc(75);
    width: rem-calc(154);
    right: 0;
    background: url('/images/demo/index-callout-trigger.svg') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-supervisor:after {
    height: rem-calc(81);
    width: rem-calc(80);
    top: -57px;
    background: url('/images/demo/summary-right.svg') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-assemble:after {
    height: rem-calc(52);
    width: rem-calc(80);
    top: -28px;
    background: url('/images/demo/summary-left.svg') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-habitize:after {
    height: rem-calc(69);
    width: rem-calc(79);
    top: -45px;
    background: url('/images/demo/summary-middle.svg') center center no-repeat;
    background-size: contain;
  }
  .button-bar {
    position: absolute;
    bottom: rem-calc(32);
    left: rem-calc(16);
    padding-top: rem-calc(24);

    .button {
      margin-bottom: 0;
    }
  }

  &.demo--callout-diagrams {
    padding-bottom: 0;
    padding-top: rem-calc(64);

    h4 {
      color: $hab-gray;
    }

    .button-bar {
      position: relative;
      bottom: auto;
      left: auto;
    }

    .button.cta:hover {
      box-shadow: 0 3px 14px rgba($hab-gray, 0.3);
    }

    .demo--callout-content--clip {
      overflow-y: hidden;
    }

    img {
      margin-bottom: -20px;
      transform: translateY(0);
      transition: all .20s;
    }

    &:hover {
      img {
        transform: translateY(-16px);
        transition: all .30s;
      }
    }
  }
}

.demo--get-habitat {
  margin-bottom: rem-calc(104);
  margin-top: rem-calc(16);
  text-align: center;
  color: rgba($hab-white,0.35);

  a {
    color: rgba($hab-white, 0.75);
    border-bottom: 1px solid rgba($hab-white, 0.75);
  }
}

.demo--get-habitat--image {
  margin-right: rem-calc(16);
  height: rem-calc(32);
  vertical-align: text-bottom;
}

// demo steps

.nav-demo_step {
  .main-nav--logo {
    padding: 20px 0px 0px;
    > a > h1 {
      height: 100px;
    }
  }
}

.demo-step--indicators {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

$demo-step-count: 10;
$demo-step-count-packaging: 6;
$demo-step-count-supervisor: 11;
.demo-step--indicator {
  height: 5px;
  width: 100% / $demo-step-count;
  display: block;
  float: left;
  background: #c3c6c8;
  border-right: 3px solid $hab-white;
  transition: background 1000ms ease;

  &:last-child {
    border-right: none;
  }

  &.active, &:hover {
    background: linear-gradient(270deg, #F59B51 0%, #F58251 100%) #F58251;
  }

  &.packaging {
    width: 100% / $demo-step-count-packaging;
  }

  &.supervisor {
    width: 100% / $demo-step-count-supervisor;
  }
}

.demo-step--content {
  position: relative;
  color: $hab-blue-grey;
  background: $hab-white;
  padding: rem-calc(48) rem-calc(40) rem-calc(40);
  border-radius: 0 0 $global-radius $global-radius;

  h3 {
    margin-bottom: rem-calc(8);
  }

  h4 {
    margin-bottom: rem-calc(32);
    color: $hab-gray;
    text-transform: uppercase;
  }

  a {
    color: $hab-orange;
  }

  .footnote {
    margin: rem-calc(40) 0;
    background: $hab-gray-light;
    border-radius: $global-radius;
    padding: rem-calc(16);
    position: relative;

    p {
      font-size: rem-calc(14);
    }

    &.banner-position {
      margin-top: 0;
      background: $hab-white;
      border: 1px solid $hab-blue;
    }

    &.habicat-with-linux:after {
      content: '';
      display: none;
      width: 127px;
      height: 104px;
      position: absolute;
      bottom: -12px;
      right: -18px;
      background: url('/images/demo/habicat-and-tux.svg') center center no-repeat;
      background-size: contain;

      @include breakpoint(large) { display: block; }
    }

    &.habicat-snorkelling:after {
      content: '';
      display: none;
      width: 127px;
      height: 104px;
      position: absolute;
      bottom: -12px;
      right: -18px;
      background: url('/images/demo/index-snorkelling-habicat.svg') center center no-repeat;
      background-size: contain;

      @include breakpoint(large) { display: block; }
    }
  }

  img {
    margin-bottom: rem-calc(20);
  }
}

.step-bottom-nav {
  padding-top: rem-calc(16);
  height: 50px;
  line-height: 50px;
  border-top: 1px solid $hab-gray-light;
}

a.previous-step-link {
  padding-left: 1.875rem !important;
  background: url(../images/icons/icon-chevron-back-orange.png) no-repeat;
  background-size: 6px 12px;
  background-position: 15px 75%;
  color: $hab-blue-grey;
  font-size: rem-calc(14);
  line-height: rem-calc(20);
}

.demo-step--screen-2 {
  max-width: 300px;
}

// demo footer - override global footer settings
.home--section-demo-cta.in-demo {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

// summary
#demo-summary {
  color: $hab-white;
  margin: rem-calc(100) 0px rem-calc(150);

  .header {
    margin-bottom: rem-calc(48);
    position: relative;

    a {
      color: $hab-orange;
    }
  }
  .home--section-demo-cta {
    margin-top: rem-calc(60);
    padding-top: rem-calc(20);
  }
}

.demo-summary--item {
  margin-top: rem-calc(40);

  &:first-child {
    margin-top: 0;
  }

  h3 {
    margin-bottom: rem-calc(8);
  }

  a {
    color: $hab-orange;
    &.previous-step-link { color: $hab-white; }
  }

  .social-icon {
    display: inline-block;
    margin: rem-calc(10) 0 rem-calc(30);
  }
}

.habicat-congrats {
  @include breakpoint(large) {
    position: absolute;
    top: -90px;
    right: 20px;
  }
}

.demo-summary--step-img {
  min-height: 90px;
  display: flex;
  flex-flow: row;

  > img {
    align-self: flex-end;
  }
}

// CSS for Try Habitat

.page-title--heading {
  @include grid-column(12);

  @include breakpoint(medium){
    @include grid-column(6);
  }
}

.progress-container {
  @include grid-column(12);

  @include breakpoint(medium){
    @include grid-column(6);
  }

  .progress {
    margin-bottom: 0;
    margin-top: rem-calc(10);
  }
}

.container__try {
  background-color: $white;
  border-radius: $global-radius;

  h2,
  p {
    max-width: rem-calc(760);
  }
}

.CodeMirror,
#shell-panel {
  margin-bottom: rem-calc(20);
}

.CodeMirror {
  border: 1px solid $light-gray;
  font-family: $font-family-monospace;
}

code {
  display: inline-block;
}

#shell-panel, .shell-panel {
  background-color: #243442;
  border-radius: $global-radius;
  color: #82FF69;
  font-family: $font-family-monospace;
  font-size: rem-calc(13);
  margin-bottom: 18px;
  padding: 1em;
  position: relative;
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;

  pre {
    background-color: inherit;
    border: 0;
    color: inherit;
    font-family: $font-family-monospace;
    font-size: rem-calc(13);
    padding: 0;
    overflow: visible;
  }
}

.ansi-black { color: rgb(0, 0, 0); }
.ansi-red { color: rgb(187, 0, 0); }
.ansi-green { color: rgb(0, 187, 0); }
.ansi-yellow { color: rgb(187, 187, 0); }
.ansi-blue { color: rgb(0, 0, 187); }
.ansi-magenta { color: rgb(187, 0, 187); }
.ansi-cyan { color: rgb(0, 187, 187); }
.ansi-white { color: rgb(255, 255, 255); }
.ansi-bright-black { color: rgb(85, 85, 85); }
.ansi-bright-red { color: rgb(255, 85, 85); }
.ansi-bright-green { color: rgb(0, 255, 0); }
.ansi-bright-yellow { color: rgb(255, 255, 85); }
.ansi-bright-blue { color: rgb(85, 85, 255); }
.ansi-bright-magenta { color: rgb(255, 85, 255); }
.ansi-bright-cyan { color: rgb(85, 255, 255); }
.ansi-bright-white { color: rgb(255, 255, 255); }

.window-buttons {

  ul {
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
      margin-right: rem-calc(10);
      position: relative;

      .button {
        background-color: #3A5369;
        border-radius: $global-radius $global-radius 0 0;
        color: $white;
        font-family: $font-family-monospace;
        font-size: rem-calc(13);
        margin: 0;
        padding: 1em;

        &.active {
          background-color: #243442;

          &:hover {
            background-color: #243442;
          }
        }
      }

      .button-badge {
        background-color: $hab-green;
        border: 1px solid $hab-green-dark;
        border-radius: 100%;
        box-shadow: 0 0 4px $hab-green-dark;
        display: none;
        height: 10px;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 10px;
      }
    }
  }

  + .window-node {

    #shell-panel {
      border-radius: 0 $global-radius $global-radius $global-radius;
    }
  }

  ~ .shell-panel {
    border-radius: 0 $global-radius $global-radius $global-radius;
  }
}

pre.full-output {
  @extend .ansi-bright-cyan;
  display: none;
  margin-top: -1rem;
}

@include breakpoint(small down) {
  #success .secondary {
    @include primary-button;
    color: $white;
  }
}

#mobile-keyboard-trigger {
  color: transparent;
  height: 100px;
  left: -40px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 320px;
}
