// CSS for Demo

.demo--page {
  color: $hab-white;
}

#demo-footer.home--section-demo-cta {
  width: 100%;
  padding: 0px;
}

// demo index

#demo-index .row {
  padding: 0px rem-calc(30);
}

.demo--snorkelcat {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: rem-calc(-100);
    height: rem-calc(250);
    width: 100%;
    background: url('/images/demo/index-snorkelling-habicat.png') center center no-repeat transparent;
    background-size: contain;
  }
}

.demo--callout-content {
  background-color: $hab-slate;
  border-radius: $global-radius;
  position: relative;
  min-height: 130px;
  width: 100%;
  padding: 20px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    right: 20px;
  }

  &.demo--callout-build:after {
    height: rem-calc(95);
    width: rem-calc(163);
    background: url('/images/demo/index-callout-build.png') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-publish:after {
    height: rem-calc(91);
    width: rem-calc(50);
    background: url('/images/demo/index-callout-publish.png') center center no-repeat;
    background-size: contain;
  }
  &.demo--callout-trigger:after {
    height: rem-calc(77);
    width: rem-calc(155);
    background: url('/images/demo/index-callout-trigger.png') center center no-repeat;
    background-size: contain;
  }
}

// demo steps

.nav-demo_step {
  .main-nav--logo {
    padding: 20px 0px 0px;
    > a > h1 {
      height: 100px;
    }    
  }
}

.demo-step--indicators {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

$demo-step-count: 9;
.demo-step--indicator {
  height: 5px;
  width: 100% / $demo-step-count;
  display: block;
  float: left;
  background: #c3c6c8;
  border-right: 3px solid $hab-white;
  transition: background 1000ms ease;

  &:last-child {
    border-right: none;
  }

  &.active, &:hover {
    background: linear-gradient(270deg, #F59B51 0%, #F58251 100%) #F58251;
  }
}

.demo-step--content {
  position: relative;
  color: $hab-blue-grey;
  background: $hab-white;
  padding: rem-calc(58) rem-calc(40);

  a {
    color: $hab-orange;
  }

  .footnote {
    background: $hab-gray-light;
    border-radius: $global-radius;
    padding: rem-calc(20);
    position: relative;

    &.habicat-with-linux:after {
      content: '';
      display: none;
      width: 127px;
      height: 104px;
      position: absolute;
      bottom: -60px;
      right: rem-calc(20);
      background: url('/images/demo/habicat-and-tux.png') center center no-repeat;
      background-size: contain;

      @include breakpoint(large) { display: block; }
    }
  }
}

.step-bottom-nav {
  height: 50px;
  line-height: 50px;
}

a.previous-step-link {
  padding-left: 1.875rem !important;
  background: url(../images/icons/icon-chevron-back-orange.png) no-repeat;
  background-size: 6px 12px;
  background-position: 15px 50%;
  color: $hab-blue-grey;
}

.demo-step--screen-2 {
  max-width: 300px;
}

// summary
.body-demo_summary {
  a {
    color: $hab-orange;
    &.previous-step-link { color: $hab-white; }
  }
  .social-icon {

  }

  #demo-footer {
    display: none;
  }
}

#demo-summary {
  .header {
    position: relative;
  }
  .home--section-demo-cta {
    margin-top: rem-calc(60);
    padding-top: rem-calc(20);
  }
}

.habicat-congrats {
  @include breakpoint(large) {
    position: absolute;
    top: -90px;
    right: 20px;
  }
}

.demo-summary--step-img {
  min-height: 90px;
  display: flex;
  flex-flow: row;

  > img {
    align-self: flex-end;
  }
}

// CSS for Try Habitat

.page-title--heading {
  @include grid-column(12);

  @include breakpoint(medium){
    @include grid-column(6);
  }
}

.progress-container {
  @include grid-column(12);

  @include breakpoint(medium){
    @include grid-column(6);
  }

  .progress {
    margin-bottom: 0;
    margin-top: rem-calc(10);
  }
}

.container__try {
  background-color: $white;
  border-radius: $global-radius;

  h2,
  p {
    max-width: rem-calc(760);
  }
}

.CodeMirror,
#shell-panel {
  margin-bottom: rem-calc(20);
}

.CodeMirror {
  border: 1px solid $light-gray;
  font-family: $font-family-monospace;
}

code {
  display: inline-block;
}

#shell-panel, .shell-panel {
  background-color: #243442;
  border-radius: $global-radius;
  color: #82FF69;
  font-family: $font-family-monospace;
  font-size: rem-calc(13);
  margin-bottom: 18px;
  padding: 1em;
  position: relative;
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;

  pre {
    background-color: inherit;
    border: 0;
    color: inherit;
    font-family: $font-family-monospace;
    font-size: rem-calc(13);
    padding: 0;
    overflow: visible;
  }
}

.ansi-black { color: rgb(0, 0, 0); }
.ansi-red { color: rgb(187, 0, 0); }
.ansi-green { color: rgb(0, 187, 0); }
.ansi-yellow { color: rgb(187, 187, 0); }
.ansi-blue { color: rgb(0, 0, 187); }
.ansi-magenta { color: rgb(187, 0, 187); }
.ansi-cyan { color: rgb(0, 187, 187); }
.ansi-white { color: rgb(255, 255, 255); }
.ansi-bright-black { color: rgb(85, 85, 85); }
.ansi-bright-red { color: rgb(255, 85, 85); }
.ansi-bright-green { color: rgb(0, 255, 0); }
.ansi-bright-yellow { color: rgb(255, 255, 85); }
.ansi-bright-blue { color: rgb(85, 85, 255); }
.ansi-bright-magenta { color: rgb(255, 85, 255); }
.ansi-bright-cyan { color: rgb(85, 255, 255); }
.ansi-bright-white { color: rgb(255, 255, 255); }

.window-buttons {

  ul {
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
      margin-right: rem-calc(10);
      position: relative;

      .button {
        background-color: #3A5369;
        border-radius: $global-radius $global-radius 0 0;
        color: $white;
        font-family: $font-family-monospace;
        font-size: rem-calc(13);
        margin: 0;
        padding: 1em;

        &.active {
          background-color: #243442;

          &:hover {
            background-color: #243442;
          }
        }
      }

      .button-badge {
        background-color: $hab-green;
        border: 1px solid $hab-green-dark;
        border-radius: 100%;
        box-shadow: 0 0 4px $hab-green-dark;
        display: none;
        height: 10px;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 10px;
      }
    }
  }

  + .window-node {

    #shell-panel {
      border-radius: 0 $global-radius $global-radius $global-radius;
    }
  }

  ~ .shell-panel {
    border-radius: 0 $global-radius $global-radius $global-radius;
  }
}

pre.full-output {
  @extend .ansi-bright-cyan;
  display: none;
  margin-top: -1rem;
}

@include breakpoint(small down) {
  #success .secondary {
    @include primary-button;
    color: $white;
  }
}

#mobile-keyboard-trigger {
  color: transparent;
  height: 100px;
  left: -40px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 320px;
}
