// Docs Page
$docs-small-breakpoint: rem-calc(650);
$docs-medium-breakpoint: rem-calc(880);
$docs-xlarge-breakpoint: rem-calc(1060);

@mixin small-docs {
  @media (max-width: $docs-small-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin medium-docs {
  @media (min-width: $docs-small-breakpoint) and (max-width: $docs-medium-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin large-docs {
  @media (min-width: $docs-medium-breakpoint) {
    @content;
  }
}

@mixin x-large-docs {
  @media (min-width: $docs-xlarge-breakpoint) {
    @content;
  }
}

@mixin section-left-margin {
  @media (min-width: 1040px) {
    margin-left: rem-calc(104);
  }
}

%section-heading {
  font-size: rem-calc(25);

  @include small-docs {
    font-size: rem-calc(18);
  }
}

// Page level styles
.docs section {
  background-color: $hab-white;
  border-radius: $global-radius;
  margin-bottom: 30px;
  padding: rem-calc(30) rem-calc(20);
  position: relative;

  h2 {
    margin-bottom: rem-calc(60);
    font-size: rem-calc(24);
  }

  li {
    display: inline-block;
    a.button {
      display: block;
      min-width: 200px;
    }
  }

  li + li a {
    margin-left: rem-calc(20);
  }

  &.download {

    .hab-cli-os {
      position: relative;
      border-top: 1px solid $hab-green;
      margin-bottom: 4px;
      padding: 28px 0 0 0;

      @each $platform in (mac, linux, windows) {
        &.#{$platform} {
          &:before {
            content: '';
            background: url(/images/icons/icon-#{$platform}-dark.svg) no-repeat;
            background-size: contain;
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            left: 8px;
            top: 28px;
          }
        }
      }

      .description {
        padding-left: 50px;

        h3 {
          font-size: 1rem;
          margin-bottom: 6px;
        }

        h4 {
          font-family: $body-font-family;
          font-size: rem-calc(16);
        }
      }

      .buttons {
        text-align: right;

        .button {
          padding-left: inherit;
          text-align: center;
        }
      }
    }
  }
}

// Hero
.docs--hero {

  & > .row {
    position: relative;
  }

  .cta-subtext a {
    color: $hab-orange-dark;
  }
}

.docs--hero--heading {
  color: $hab-navy;
  font-size: rem-calc(36);
  text-align: center;
  @include small-docs {
    font-size: rem-calc(20);
  }
}

.docs--hero--text {
  margin: 0 auto rem-calc(40);
  max-width: rem-calc(600);
  color: $hab-navy;
  text-align: center;

  & + .docs--hero--text {
    margin-top: rem-calc(-20px);
  }
}

// Quicklinks
.docs--quicklink {
  margin-bottom: -240px !important;
  padding-bottom: 240px;
  position: relative;
  z-index: 10;
  min-height: 600px;
  background: url(/images/polygons.svg) no-repeat bottom;
  background-size: 100% 500px;

  text-align: center;
  h2 {
    text-align: center;
    color: $hab-navy;
  }

  h3 {

    color: $hab-white;
  }

  .docs--quicklink--card {
    @extend %card-box;
    padding: 1rem;

    .body-content > p {
      text-align: center;
      max-height: 240px;
      overflow-y: scroll;
    }
  }
}

.docs--cta {
  padding: rem-calc(150) 0 rem-calc(60);
  color: $hab-white;

  ul {
    margin-top: rem-calc(30);
    text-align: center;
  }
}

.docs .footer--cta {
  display: none;
}

section {
  border-radius: $global-radius;
  margin-bottom: 30px;
  padding: rem-calc(30) rem-calc(20);
  position: relative;

  &.download {

    .hab-cli-os {
      position: relative;
      border-top: 1px solid $hab-green;
      margin-bottom: 4px;
      padding: 28px 0 0 0;

      @each $platform in (mac, linux, windows) {
          &.#{$platform} {
            &:before {
              content: '';
              background: url(/images/icons/icon-#{$platform}-dark.svg) no-repeat;
              background-size: contain;
              width: 1.2rem;
              height: 1.2rem;
              position: absolute;
              left: 8px;
              top: 28px;
            }
          }
        }

        .description {
          padding-left: 50px;

          h3 {
            font-size: 1rem;
            margin-bottom: 6px;
          }

          h4 {
            font-family: $body-font-family;
            font-size: rem-calc(16);
          }
        }

        .buttons {
          text-align: right;

          .button {
            padding-left: inherit;
            text-align: center;
          }
        }
      }
    }

    &.sample-app {
      border-radius: 0 0 $global-radius $global-radius;
    }
  }