// Docs Page
$docs-small-breakpoint: rem-calc(650);
$docs-medium-breakpoint: rem-calc(880);
$docs-xlarge-breakpoint: rem-calc(1060);

@mixin small-docs {
  @media (max-width: $docs-small-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin medium-docs {
  @media (min-width: $docs-small-breakpoint) and (max-width: $docs-medium-breakpoint - rem-calc(1)) {
    @content;
  }
}

@mixin large-docs {
  @media (min-width: $docs-medium-breakpoint) {
    @content;
  }
}

@mixin x-large-docs {
  @media (min-width: $docs-xlarge-breakpoint) {
    @content;
  }
}

@mixin section-left-margin {
  @media (min-width: 1040px) {
    margin-left: rem-calc(104);
  }
}

%section-heading {
  font-size: rem-calc(25);

  @include small-docs {
    font-size: rem-calc(18);
  }
}

// Page level styles
.docs section {
  margin: rem-calc(60) 0;
  text-align: center;

  h2 {
    margin-bottom: rem-calc(60);
    font-size: rem-calc(24);
  }


  li {
    display: inline-block;
    a.button {
      display: block;
      min-width: 200px;
    }
  }

  li + li a {
    margin-left: rem-calc(20);
  }
}

// Hero
.docs--hero {
  padding: 0;

  & > .row {
    position: relative;
  }

  .cta-subtext a {
    color: $hab-orange-dark;
  }
}

.docs--hero--heading {
  color: $hab-blue-grey;
  font-size: rem-calc(24);

  @include small-docs {
    font-size: rem-calc(16);
  }
}

.docs--intro {
  padding: 0;

  p {
    margin-bottom: 2rem;
  }
}

//Getting Started
.get-started--boxes {

  .card {
    @include card;
    display: flex;
    flex-wrap: wrap;
    padding: rem-calc(24) rem-calc(24) rem-calc(0) rem-calc(24);
    position: relative;
    border-radius: $global-radius;

    p {
      color: $hab-gray-dark;
      margin-bottom: 0;
    }
  }
}

.logo {
  .logo--image {
    height: rem-calc(64);
    width: rem-calc(64);
    margin-bottom: rem-calc(24);
  }
}

.docs--cta {
  padding: rem-calc(150) 0 rem-calc(60);
  color: $hab-white;

  ul {
    margin-top: rem-calc(30);
    text-align: center;
  }
}

.docs .footer--cta {
  display: none;
}

.docs section {
  border-radius: $global-radius;
  margin-bottom: 30px;
  padding: rem-calc(30) rem-calc(20);
  position: relative;

  &.download {

    .hab-cli-os {
      position: relative;
      border-top: 1px solid $hab-green;
      margin-bottom: 4px;
      padding: 28px 0 0 0;

      @each $platform in (mac, linux, windows) {
          &.#{$platform} {
            &:before {
              content: '';
              background: url(/images/icons/icon-#{$platform}-dark.svg) no-repeat;
              background-size: contain;
              width: 1.2rem;
              height: 1.2rem;
              position: absolute;
              left: 8px;
              top: 28px;
            }
          }
        }

        .description {
          padding-left: 50px;

          h3 {
            font-size: 1rem;
            margin-bottom: 6px;
          }

          h4 {
            font-family: $body-font-family;
            font-size: rem-calc(16);
          }
        }

        .buttons {
          text-align: right;

          .button {
            padding-left: inherit;
            text-align: center;
          }
        }
      }
    }

    &.sample-app {
      border-radius: 0 0 $global-radius $global-radius;
    }
  }
