
.container_enterprise {
  color: $white;

  .cta {
    background-color: $hab-blue-medium;

    &:hover {
      background-color: darken($hab-blue-medium, 5%);
      box-shadow: none;
    }
  }

  .button {
    display: block;
    margin-bottom: 8px;
    margin-left: 0;
    height: 55px;
    line-height: 55px;
    padding-top: 0px;
    padding-bottom: 0px;

    @include breakpoint(medium) {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1rem;
    }

    .chef {
      margin-left: 8px;
    }
  }

  section.header {
    text-align: center;
    margin-bottom: 109px;

    h1 {
      font-size: 35px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 16px;
    }

    .hero--subtitle {
      margin-bottom: 36px;
      max-width: rem-calc(600);
    }
  }

  section.trio {
    background: linear-gradient(90deg, rgba(63,83,100,0) 0%, rgba(40,60,76,0.6) 100%);
    border-bottom: 1px solid rgba(40,60,76,0.6);
    margin-bottom: 48px;

    @include breakpoint(medium) {
      margin-bottom: 128px;
    }

    > div {
      padding: 42px;
      text-align: center;

      > img {
        width: 32px;
        height: 32px;
        margin-bottom: 24px;
      }
    }

    h3 {
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 0;
      color: $text-gray;
    }
  }

  section.bullets {
    margin-bottom: 32px;

    @include breakpoint(medium) {
      margin-bottom: 96px;
    }

    h2 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 48px;
    }

    ul {
      margin: 0;
      list-style-type: none;

      li {
        background: url(/images/icons/icon-bullet.svg) no-repeat;
        background-size: 32px 32px;
        background-position: 0 8px;
        padding-left: 46px;
        margin-bottom: 32px;
        font-size: 18px;
      }
    }
  }
}
