#main-footer {
  position: relative;
  background-color: $hab-green;
  padding: 40px 0px;
  color: $white;
  .graphics {
    position: relative;
    .footer--habicat {
      @include breakpoint(medium) {
        left: auto;
      }
      position: absolute;
      top: -140px;
      height: 110px;
      left: 50%;
    }
  }
}

.footer--sitemap {
  margin-bottom: 20px;
}

.footer--sitemap--link {
  padding: 0px 20px;
  > a { color: $white; }
}

.footer--socials--link {
  padding: 0px 8px;
}

.footer--logo {
  display: block;
  text-align: center;
  @include breakpoint(large) { text-align: left; }

  > img {
    height: 50px;
  }
}

.footer--links {
  @include breakpoint(medium) {
    height: 50px;

  }
  line-height: 50px;
  height: auto;

  &.social {
    text-align: center;

    @include breakpoint(large) { text-align: right; }
  }
}

.footer--legal {
  opacity: 0.5;
  font-size: 12px;
}

.footer--legal--links {
  text-align: center;
  @include breakpoint(large) { text-align: right; }
}

.footer--copyright {
  text-align: center;
  @include breakpoint(large) { text-align: left; }
}

.footer--legal--link {
  padding: 0px 8px;
  > a { color: $white; }
}