$main-nav-breakpoint: 769px;

@mixin large-nav {
  @media (min-width: $main-nav-breakpoint) {
    @content;
  }
}

@mixin small-nav {
  @media (max-width: $main-nav-breakpoint - 1px) {
    @content;
  }
}

.get-started {

  #content-outer {
    background: url(/images/polygons.svg) no-repeat bottom;
    background-size: inherit;
  }
}

.container__getstarted {
  margin-bottom: 80px;

  .get-started--container {
    margin-bottom: 182px;
    padding: rem-calc(40);
    position: relative;
    background-color: #FFF;
    border-radius: $global-radius;

    .h2,
    .h3 {
      font-family: $body-font-family;
    }

    .h2 {
      font-weight: bold;
    }

    .h3 {
      margin-bottom: 1rem;
    }

    section {
      margin-top: rem-calc(40);

      .description {
        margin-bottom: rem-calc(32);
        max-width: rem-calc(760);
        color: $hab-gray-dark;
      }

      &.get-started--icon-list {
        .tech-icons {
          margin-bottom: 0;
        }

        .tech-icons--item {
          @include card;
        }

        .tech-icon {
          padding: rem-calc(24);
          height: auto;
          width: auto;
          border-radius: 0;
          background-color: transparent;

          > span {
            display: block;
            text-align: center;
            font-weight: bold;
          }
        }
        > img {
          height: 60px;
          width: 60px;
        }
      }

      &.get-started--boxes {

        .h4 {
          margin-bottom: rem-calc(12);
        }

        .h6 {
          color: $hab-gray;
          text-transform: uppercase;
        }

        .link-list {
          margin: 0 0 rem-calc(32);
          padding: 0;
        }

        .link-list--item {
          margin-bottom: rem-calc(8);
          list-style: none;
        }

        .card {
          @include card;
          padding: rem-calc(24);

          > p:last-child {
            margin-bottom: 0;
          }

          > iframe {
            max-width: 100%;
          }
        }

        .feature-card {
            background-color: $hab-blue-medium;
            border: none;

            .h4 a {
              font-size: 1.2rem;
              transition: color 200ms;

              &:hover {
                color: rgba(#FFF, 0.9);
                border-bottom: 1px solid #FFF;
                transition: color 200ms;
              }
            }

            .h4 a, > p {
              color: #FFF;
            }

            .h6 {
              color: rgba(#FFF, 0.5);
            }
        }

        .small-12 {
          @include small-nav {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
