$main-nav-breakpoint: 960px;

body.home {
  position: relative;
}

.home > #content-outer {
  color: $white;

  .home--hero--content {

    .hero--subtitle {
      margin: 0 0 rem-calc(24);
    }

    a.button {
      display: block;

      &.with-icon {
        margin-left: 0;
        background: {
          position: calc(50% - 56px) center;
        }
      }
    }

    @include breakpoint(large) {
      a.button {
        display: inline-block;

        &.with-icon {
          margin-left: rem-calc(16);
          background: {
            position: 32px center;
          }
        }
      }
    }
  }

  .video-cat-container {
    overflow: hidden;
    @include breakpoint(medium) { overflow: initial;}
  }

  .video-with-cat {
    margin-top: rem-calc(96);
    position: relative;
    padding-bottom: 52%;
    padding-top: 25px;
    height: 0px;

    &:before {
      content: '';
      position: absolute;
      background: url(/images/habicat-video.svg) center center no-repeat transparent;
      top: -52px;
      right: -29px;
      width: 135px;
      height: 80px;
      z-index: 1;
    }

    > iframe {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    @include breakpoint(medium) {
      margin-top: 50px;
    }
    @include breakpoint($main-nav-breakpoint) { margin-top: 0px; }
  }

  .home--hero-cards {
    margin-top: rem-calc(112);
  }

  .card {
    @include card;
    padding: 24px;

    > h1, h2, h3 {
      color: $hab-blue-grey;
      font-weight: bold;
    }

    color: $dark-gray;
  }

  .home--block {
    background: linear-gradient(90deg, rgba(63,83,100,0) 0%, rgba(40,60,76,0.6) 100%);
    padding: rem-calc(24);
    border-top: 1px solid rgba($hab-navy, .40);
    border-bottom: 1px solid rgba($hab-navy, .40);

    h2 {
      margin-top: .75rem;
    }

    @include breakpoint(medium) {
      &.logo-callout {
        text-align: right;
      }
      padding: rem-calc(48);
    }

    @include breakpoint(small only) {
      &.logo-callout div:first-child {
        margin-bottom: rem-calc(32);
      }
    }
  }

  .home--enterprise-block {
    text-align: left;

    @include breakpoint(medium) {
      text-align: right;
    }
  }

  .home--platform-logos {
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint(medium) { justify-content: normal; }

    > li {
      display: inline-block;

      > .logo-icon {
        height: 72px;
        width: 72px;
      }
    }
  }

  .home--infographic-title {
    margin-top: rem-calc(96);

    p {
      margin-bottom: rem-calc(32);
    }
  }

  .home--carousel-content {
    position: relative;
  }

  .home--infographic {
    margin-bottom: rem-calc(96);
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;

    @include breakpoint($main-nav-breakpoint) {
      padding-bottom: 1.5rem;
    }
  }
}
