// homepage
body.home {
  position: relative;
}

// hero banner
.home--hero {
  margin-bottom: 5px;
  color: $white;

  @include breakpoint(medium) {
    padding-top: 50px;
    margin: 0 auto;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: rem-calc(900);
    z-index: -1;
    background: linear-gradient($hab-navy, $hab-navy-light);

    @include breakpoint(large) {
      height: rem-calc(1000);
    }
  }
}

.home--hero--content {
  position: relative;
  z-index: 3;
  margin-top: rem-calc(20);
  padding: rem-calc(34) 10px 0;
  background: url(/images/homepage/stars.svg) no-repeat center top;
  background-size: contain;
  text-align: center;

  @include breakpoint(medium) {
    padding: 0 rem-calc(15) 0;
    background-size: auto 225px;
  }
}

.home--hero--heading {
  margin: 0 auto rem-calc(30);
  font-size: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(60);
    font-size: rem-calc(30);
  }
}

.home--hero--text {
  margin: 0 auto;
  max-width: rem-calc(530);
  font-family: $header-font-family;
  font-size: rem-calc(14);
}

.home--hero--highlight-wrap {
  position: relative;
  z-index: 10;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    min-height: 311px;
    background: url(/images/homepage/architecture-diagram.svg) no-repeat center top;
    background-size: auto 311px;
  }
}

.home--hero--highlight {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 20;
  margin: 23px auto 0;
  max-width: 600px;
  padding: 10px;
  width: 90%;
  background-color: rgba(#627B8F, 0.5);
  border-radius: 5px;
  color: $white;
  transition: all 0.2s ease;

  @include breakpoint(medium) {
    padding: 0 60px 0 0;

    &:after {
      content: "";
      background: url(/images/homepage/chevron-button.svg) no-repeat;
      width: 20px;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    box-shadow: 0 0 36px 0 rgba(164, 207, 241, 0.21);
  }
}

.home--hero--highlight--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  min-width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #BBDB8D, #62AAA8);
  border-radius: 5px;
  text-align: center;
  font-size: 12px;

  & > span {
    display: block;
    font-size: 22px;
    line-height: 19px;
  }

  @include breakpoint(medium) {
    min-width: 72px;
    height: 72px;
    font-size: 16px;

    & > span {
      font-size: 25px;
      line-height: 20px;
    }
  }
}

.home--hero--highlight--right {
  padding: 10px 0;

  & > p {
    margin-bottom: 0;
    font-size: 14px;
  }

  @include breakpoint(small only) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.home--hero--highlight--title {
  font-family: $header-font-family;
}

.home--hero--highlight--img {
  @include breakpoint(medium) {
    display: none;
  }
}


// Sub Hero
.home--sub-hero {
  position: relative;
  padding: rem-calc(60) 0;
  margin-top: -70px;
  color: $white;
  text-align: center;
  background: linear-gradient($hab-green-light-2, $hab-blue-green);

  @include breakpoint(medium) {
    margin-top: -46px;
  }

  & > .row {
    overflow: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 99%;
    padding-top: 6%;
    background: url(/images/homepage/background-hills.svg) no-repeat center bottom;
    background-size: contain;
  }
}

.home--sub-hero--logos {
  overflow: hidden;
  margin: 0 rem-calc(-15);
  padding: 0 rem-calc(15);

  &.containers {
    @media (max-width: 587px) {
      overflow-x: scroll;
    }
  }

  &.applications {
    margin-top: rem-calc(40);

    @include breakpoint(large) {
      margin-top: 0;
    }

    @media (max-width: 393px) {
      overflow-x: scroll;
    }
  }
}

.home--sub-hero--logo {
  height: rem-calc(79);
  max-width: none;

  @media (min-width: 1024px) and (max-width: 1200px) {
    height: rem-calc(67);
  }
}

.home--sub-hero--icon {
  position: relative;
  z-index: 3;
  margin: rem-calc(-20) 0 rem-calc(-40);
  width: rem-calc(110);
}

.home--sub-hero--heading {
  margin-top: 0;
  font-size: rem-calc(14);
}

.home--sub-hero--text {
  max-width: rem-calc(400);
  margin: rem-calc(-10) auto 0;
  font-size: rem-calc(14px);
}

.home--sub-hero--github {
  margin-top: rem-calc(40);

  @media (min-width: 973px) {
    display: none;
  }

  & > img {
    max-width: rem-calc(45);
    margin-right: rem-calc(10);
  }

  & > a {
    color: $white;
    text-decoration: underline;
    font-size: rem-calc(14);
  }
}

// general home components
.home--button-wrap {
  margin-top: rem-calc(30);
  text-align: center;

  &.hero {
    margin-top: 10px;

    @include breakpoint(small only) {
      margin: 0 auto rem-calc(40);
    }

    @media (max-width: 429px) {
      & > .button.cta {
        display: block;
      }
    }
  }

  & > .button.cta {
    margin: 1rem;
    color: $white;
  }

  & > p {
    margin: 0 auto;
    max-width: rem-calc(400);
    font-size: rem-calc(13);
  }
}

.home--icon {
  position: relative;
  text-align: center;
  font-size: rem-calc(14);
}

.home--icon-img {
  display: block;
  height: rem-calc(110);
  margin: 0 auto rem-calc(20);
}

.home--icon-heading {
  margin-bottom: rem-calc(8);
  font-size: rem-calc(14);
}

.home--icon-code {
  $code-green: #7ed321;

  background: $hab-blue-grey;
  color: $code-green;
  display: inline-block;
  font-family: $font-family-monospace;
  padding: 0 rem-calc(9);
  border-radius: rem-calc(6);

  &:after {
    content: "";
    display: inline-block;
    height: rem-calc(13);
    width: rem-calc(6);
    background: $code-green;
    vertical-align: middle;
    margin-left: rem-calc(3);
  }
}

.has-icon-divider {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: rem-calc(80);
    right: rem-calc(-40);
    top: rem-calc(70);
    opacity: 0.8;
  }

  &.medium:first-child:before {
    @include breakpoint(medium) {
      border-top: 1px dashed $white;
    }
  }

  &.large:before {
    @include breakpoint(large) {
      border-top: 1px dashed $white;
    }
  }
}

// main sections
.main-section {
  overflow: hidden;
  padding-bottom: rem-calc(90);

  &:nth-child(even) {
    background: radial-gradient(center rem-calc(120), $hab-blue-2, $hab-navy-2);
    color: $white;

    .main-section--heading {
      text-shadow: 0 1px 24px rgba($black, .33);
    }
  }
}

.main-section--heading {
  margin-top: rem-calc(90);
  font-size: rem-calc(26);
  text-align: center;
  color: inherit;
}

.main-section--text {
  margin: 0 auto rem-calc(40);
  max-width: rem-calc(580);
  font-family: $header-font-family;
  text-align: center;
  font-size: 0.9em;
}

.main-section--subhead.extra-margin {
  margin-top: 30px;
}

// callouts
.home--callout {
  position: relative;
  background: radial-gradient(center rem-calc(60), $hab-blue-2, $hab-navy-2);
  color: $white;
  overflow: hidden;
  border-radius: 5px;
  padding: rem-calc(40) rem-calc(15) rem-calc(20);
  margin-top: 40px;
  font-size: 14px;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 10px;
  }

  &.development:before {
    background: $hab-orange-dark;
  }

  &.operations:before {
    background: $hab-orange;
  }

  & > .main-section--subhead {
    margin-bottom: 30px;
  }

  @include breakpoint(large) {
    min-height: rem-calc(438);
  }
}

.home--callout--subhead {
  margin-bottom: 10px;
}

// Testimonials slider
$testimonials-slider-transition: 1s;

.testimonials-slider {
  position: relative;
}

.testimonial {
  position: absolute;
  width: 100%;
  margin-bottom: rem-calc(30);
  opacity: 0;
  transition: opacity $testimonials-slider-transition ease;

  &.is-active {
    opacity: 1;
  }
}

@include breakpoint(medium) {
  .testimonial--image,
  .testimonial--blurb {
    display: inline-block;
    vertical-align: middle;
  }
}

.testimonial--image {
  position: relative;
  padding-bottom: 20px;

  & > img {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }

  @include breakpoint(medium) {
    width: 37.2%;
    margin-right: 1%;
    padding-bottom: 15%;

    & > img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.testimonial--blurb {
  @include breakpoint(medium) {
    width: 60.8%;
  }
}

.testimonial--blurb--text {
  margin-bottom: rem-calc(20);
  font-style: italic;
  font-size: rem-calc(18);
}

.testimonial--blurb--attr {
  display: block;
  margin-bottom: rem-calc(20);
  font-size: rem-calc(13);
  font-family: $header-font-family;
}

.testimonials--nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.testimonials--nav--dot {
  cursor: pointer;
  display: inline-block;
  width: rem-calc(14);
  height: rem-calc(14);
  padding: rem-calc(4);
  margin-right: rem-calc(12);
  transition: all $testimonials-slider-transition ease;
  border-radius: 50%;
  background: $hab-gray-dark;
  box-shadow: 0 0 0 3px $white,
    0 0 0 4px transparent;

  &:first-child {
    margin-left: rem-calc(-90);
  }

  &.is-active {
    box-shadow: 0 0 0 3px $white,
      0 0 0 4px $hab-orange-dark;
    background: $hab-orange-dark;
  }
}
