$sidebar-breakpoint: 720px;

body.has-sidebar,
body.try-hab,
body.body-article {
  background: linear-gradient(0deg, $hab-navy-light, $hab-navy) fixed;

  #content-outer {
    margin: 0 0 rem-calc(90);
  }
}

#content-outer {

  @include small-nav {
    // Use this padding when the global message is not being displayed
    padding-top: $header-height-mobile;
    // Use this additional padding when the global message is being displayed
    // padding-top: $header-height-mobile + 110;
  }

  &.has-sticky-nav {
    padding-top: $header-height;
  }
}

.container {
  @include grid-column-row(0);
}

.container__has-sidebar {
  position: relative;
  max-width: rem-calc(1200);
  margin: 0 auto;
  min-height: 675px;
  max-height: auto;

  hr {
    border-bottom-color: lighten($hab-gray, 20%);
  }
}

.main-sidebar {
  a {
    display: block;
    position: relative;
    padding-right: rem-calc(15);
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $hab-primary;
    }

    span {
      position: absolute;
      right: 2px;
      top: -2px;
    }
  }

  .is-active > a {
    font-weight: bold;
    color: $hab-primary;
  }
  
  .sticky {
    width: rem-calc(260);

    &.is-at-top, &.is-anchored {
      max-height: 100%;
      overflow-y: scroll;
      padding: 100px;
    }
  }
}

.main-sidebar--search {
  margin-bottom: rem-calc(15);

  [type='text'] {
    padding: rem-calc(10) rem-calc(20);
    background: transparent;
    border-color: $hab-green;
    color: $white;
    line-height: 1rem;
    height: auto;
    // overrides for Swiftype
    box-sizing: border-box;
    font-size: 1rem;
    width: 90%;
    font-family: inherit;

    @include breakpoint(large) {
      width: 100%;
    }
  }
}

.main-sidebar--list {
  margin-bottom: rem-calc(30);
}

.main-sidebar--list--item--dropdown {
  margin-top: rem-calc(10);
  padding-left: rem-calc(10);
}

.main-sidebar--list--item {
  display: block;
  line-height: rem-calc(24);
  margin-bottom: rem-calc(8);
  padding-left: 0;

  &:last-child {
    margin-bottom: rem-calc(24);
  }

  @include breakpoint(large) {
    min-width: rem-calc(220);
  }
}

.menu  { // specifity to override zurb defaults
  li.main-sidebar--list--item a {
    padding: .5rem 1rem;
  }

  &.nested {
    li:first-child {
      margin-top: .5rem;
    }

    li.main-sidebar--list--item a {
      padding: .33rem 1rem;
    }
  }
}

.main-content__has-sidebar {
  background-color: $hab-white; // fallback
  background: url("/images/graphics/article-watermark.png") no-repeat right bottom $white-slightly-transparent;
  background: url("/images/graphics/article-watermark.svg") no-repeat right bottom $white-slightly-transparent;
  border-radius: $global-radius;
  height: 100%;
  min-height: 70vh;
  padding: rem-calc(30) rem-calc(20) rem-calc(90);
}
