$sidebar-breakpoint: 720px;

body.has-sidebar {
  background: $hab-off-white;

  #content-outer {
    margin-bottom: rem-calc(90);
  }
}

#content-outer {
  @include small-nav {
    padding-top: $header-height-mobile;
  }

  &.has-sticky-nav {
    padding-top: $header-height;
  }
}

.container {
  @include grid-column-row(0);
  background-color: $white;
}

.container__has-sidebar {
  position: relative;
  max-width: rem-calc(1200);
  margin: 0 auto;
  min-height: 675px;
  max-height: auto;

  hr {
    border-bottom-color: lighten($hab-gray, 20%);
  }
}

.main-sidebar {
  padding: rem-calc(40) 0;
  background: $hab-off-white;

  @media (min-width: $sidebar-breakpoint) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }

  a {
    display: block;
    position: relative;
    color: $body-font-color;

    &:hover,
    &:active,
    &:focus {
      color: $hab-primary;
    }
  }

  .is-active > a {
    font-weight: bold;
    color: $hab-primary;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem-calc(12);
      height: rem-calc(12);
      background: url('/images/icons/sidebar-active.png') no-repeat;
      background-size: 100% auto;
    }
  }
}

.main-sidebar--search {
  margin-bottom: rem-calc(30);
}

.main-sidebar--list {
  margin-bottom: rem-calc(30);
}

.main-sidebar--list--item--dropdown {
  padding-left: rem-calc(10);
}

.main-sidebar--list--item {
  display: block;
  line-height: 1.2;
  margin-bottom: rem-calc(13);
  padding-left: 0;
}

.main-content__has-sidebar {
  background-color: $hab-white;
  background: url("/images/graphics/article-watermark.png") no-repeat right bottom $hab-white;
  background: url("/images/graphics/article-watermark.svg") no-repeat right bottom $hab-white;
  padding: rem-calc(40) rem-calc(20) rem-calc(120);

  @media (min-width: $sidebar-breakpoint) {
    margin-left: 300px;
  }
}
