$sidebar-breakpoint: 720px;
$main-nav-breakpoint: 960px;


body.has-sidebar,
body.try-hab,
body.body-article {
  background: linear-gradient(0deg, $hab-navy-light, $hab-navy) fixed;
}

body.circles {
  #content-outer{
    background: {
      image: url(/images/bg-circles-cropped.svg);
      position: center -160px;
      repeat: no-repeat;
      size: contain;
    }
    @include breakpoint($main-nav-breakpoint) {
      background-position: center top;
    }
    @include small-nav {
      background: $hab-slate;
    }
  }
}

#content-outer {
  padding: 100px 10px 50px;

  @include breakpoint($main-nav-breakpoint) {
    padding: 170px 0px 50px;
    margin-bottom: 50px;
  }

  &.has-sticky-nav {
    padding-top: $header-height;
  }
}

.container {
  @include grid-column-row(0);
}

.container__has-sidebar {
  position: relative;
  max-width: rem-calc(1200);
  margin: 0 auto rem-calc(150) auto;
  min-height: 675px;
  max-height: auto;

  hr {
    border-bottom-color: lighten($hab-gray, 20%);
  }
}

.main-sidebar {
  a {
    display: block;
    position: relative;
    padding-right: rem-calc(15);
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $hab-primary;
    }

    span {
      position: absolute;
      right: 2px;
      top: -2px;
    }
  }

  .is-active > a {
    font-weight: bold;
    color: $hab-primary;
  }

  .sticky {
    width: rem-calc(260);

    &.is-at-top, &.is-anchored {
      max-height: 100%;
      overflow-y: auto;
    }
  }

  .sidebar-content {
    padding-right: 17px;
    padding-bottom: 20px;
  }

  @include breakpoint(small only) {
    width: 100%;

    .sticky {
      width: 100%;
      &.is-at-top, &.is-anchored { max-height: none; }
    }
    .sidebar-content { padding-top: 40px; }
  }
}

.main-sidebar--search {
  margin-bottom: rem-calc(15);

  [type='text'] {
    padding: rem-calc(10) rem-calc(20);
    background: transparent;
    border-color: $hab-green;
    color: $white;
    line-height: 1rem;
    height: auto;
    // overrides for Swiftype
    box-sizing: border-box;
    font-size: 1rem;
    width: 90%;
    font-family: inherit;

    @include breakpoint(large) {
      width: 100%;
    }
  }

  .algolia-autocomplete {
    width: 100%;
  }
}

.main-sidebar--list {
  margin-bottom: rem-calc(30);
}

.main-sidebar--list--item--dropdown {
  margin-top: rem-calc(10);
  padding-left: rem-calc(10);
}

.main-sidebar--list--item {
  display: block;
  position: relative;
  line-height: rem-calc(24);
  margin-bottom: rem-calc(8);
  padding-left: 0;

  .submenu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    width: rem-calc(32);
    height: rem-calc(32);
    font-weight: bold;
    color: $hab-green;
  }

  .submenu-toggle-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }

  .submenu-toggle::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $hab-green transparent transparent;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .submenu-toggle[aria-expanded='true']::after {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  &:last-child {
    margin-bottom: rem-calc(24);
  }

  @include breakpoint(large) {
    min-width: rem-calc(220);
  }
}

.menu  { // specifity to override zurb defaults
  li.main-sidebar--list--item a {
    padding: .5rem 1rem;
  }

  &.nested {
    li:first-child {
      margin-top: .5rem;
    }

    li.main-sidebar--list--item a {
      padding: .33rem 1rem;
    }
  }
}

.main-content__has-sidebar {
  background-color: $hab-white; // fallback
  background: url("/images/graphics/article-watermark.png") no-repeat right bottom $white-slightly-transparent ;
  background: url("/images/graphics/article-watermark.svg") no-repeat right bottom  $white-slightly-transparent ;
  border-radius: $global-radius;
  height: 100%;
  min-height: 70vh;
  padding: rem-calc(32) rem-calc(32) rem-calc(90);
}
