$main-nav-breakpoint: 1060px;

@mixin large-nav {
  @media (min-width: $main-nav-breakpoint) {
    @content;
  }
}

@mixin small-nav {
  @media (max-width: $main-nav-breakpoint - 1px) {
    @content;
  }
}

#main-nav {
  position: fixed;
  z-index: 100;
  background: $hab-slate;
  min-height: $header-height-mobile;
  width: 100%;
  transition: top 0.4s ease;
  box-shadow: 0 0 50px 2px transparent;
  z-index: 9000;

  @include large-nav {
    min-height: $header-height;

    &.is-sticky {
      position: fixed;
    }
  }

  &.is-open,
  &.is-sticky {
    background-color: $hab-navy;
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.10);
  }

  &.is-visible {
    top: 0;
  }

  @include small-nav {
    position: fixed;
    top: 0;

    &.has-sidebar {
      background-color: $hab-navy;
    }
  }

  // modifiers for nav on homepage on large screens
  .home &:not(.is-sticky) {

    .main-nav--logo {
      @include large-nav {
        h1 {
          background: url("../images/chef-habitat-inverse.svg") no-repeat left 50%;
          background-size: contain;
        }
      }
    }
  }
}

.main-nav--container {
  max-width: rem-calc(1200);
  margin: 0 auto;

  @include small-nav {
    padding: 0;
    height: rem-calc(75);
    line-height: rem-calc(75);
    position: relative;

    > .columns {
      width: auto;
      padding: 0px;
      height: 100%;
      position: absolute;
      top: 0px;
    }
    > .main-nav--logo {
      left: rem-calc(20);
      z-index: 2;
    }
    > .main-nav--links-wrap {
      right: 0px;
      width: 100%;
      z-index: 1;
    }

    .main-nav--links {
      background-color: $hab-navy;
      top: -1px;
      width: 100%;
      padding: 0 rem-calc(20) rem-calc(20);
    }
  }
}

.main-nav--logo {
  @include breakpoint(medium) {
    @include grid-column(3);
  }

  > a {
    display: block;

    @include small-nav {
      height: 100%;
    }

    > h1 {
      overflow: hidden;
      text-indent: 400%;
      white-space: nowrap;
      background: url("../images/chef-habitat-inverse.svg") no-repeat left 50%;
      color: $white;
      height: $header-height-mobile;
      margin-bottom: 0;
      min-width: rem-calc(140);
      max-width: rem-calc(180);

      @include large-nav {
        min-width: rem-calc(250);
        height: $header-height;
      }

      @include small-nav {
        height: 100%;
      }
    }
  }
}

.main-nav--links-wrap {
  @include large-nav {
    @include grid-column(9);
  }
}

.main-nav--links {
  position: relative;
  display: none;
  clear: both;
  margin-bottom: 0;
  @extend .no-bullet;

  & > li {
    padding: rem-calc(15) 0 0 rem-calc(5);

    &.main-nav--link {
      margin-top: 0;
      height: 45px;
      line-height: 45px;

      &.signed-out, &.signed-in {
        display: none;
      }

      &.signed-in {
        position: relative;
        padding-right: 0;
        margin-right: 12px;

        .avatar {
          display: block;
          border-radius: 50%;
          border: 1px solid $hab-orange;
          padding: 2px;
          margin-left: rem-calc(20);
          cursor: pointer;
          float: right;

          > img {
            display: block;
            border: solid 2px $hab-white;
            border-radius: 50%;
            height: 40px;
            width: 40px;
          }

          @include breakpoint(small only) {
            display: none;
          }
        }

        .dropdown {
          display: none;
          box-shadow: 0 2px 20px 0 rgba(195,198,200,0.4);
          background-color: $hab-white;
          border-radius: 7px;
          height: auto;
          padding: 0.9375rem;
          width: auto;
          color: #a8adb0;
          position: absolute;
          right: 0;
          top: 52px;
          z-index: 10;

          ul {
            margin-left: 0;

            li {
              display: block;
              min-width: 8em;
              padding-bottom: 0.625rem;
              text-align: left;

              &:last-child {
                border-top: 1px solid #D8D8D8;
                margin-top: 0.5rem;
                padding-bottom: 0;
                padding-top: 0.75rem;
              }

              a {
                color: #87B09B;
                line-height: 1.5em;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  @include large-nav {
    display: block;
    float: right;
    clear: none;
    height: $header-height;
    line-height: $header-height;

    & > li {
      display: inline-block;
      vertical-align: middle;
    }

    .main-nav--link {
      padding: 0 rem-calc(30) 0 0;
    }
  }
}

.main-nav--link {
  > a {
    position: relative;
    color: $white;
    transition: color 0.2s ease;
    float: left;

    &:hover,
    &:active,
    &:focus,
    &.is-current-page {
      color: $hab-primary;
    }

    @include small-nav {
      width: 100%;
    }

    @include large-nav {
      &.is-current-page:before {
        content: "";
        position: absolute;
        background: url("../images/nav-active-icon.png") no-repeat center top;
        background: url("../images/nav-active-icon.svg") no-repeat center top;
        background-size: auto 100%;
        width: 120%;
        height: rem-calc(18);
        top: rem-calc(40);
        left: -10%;
      }
    }
  }

  &.cta-link a {
    margin-left: rem-calc(60);
    color: $hab-orange;

    &:hover,
    &:active,
    &:focus,
    &.is-current-page {
      color: lighten($hab-orange, 10);
    }
  }

  @include small-nav {
    &:last-child {
      padding-bottom: rem-calc(30);
    }

    &.cta-link a {
      margin-left: 0;
    }
  }
}

.main-nav--cta {
  float: right;
  padding: rem-calc(4) rem-calc(20) 0 0;

  &.signed-in, &.signed-out {
    display: none;
  }

  .button {
    @include button;
    margin: rem-calc(4) 0 0 0;

    @include small-nav {
      margin: 0;
      padding: rem-calc(10) rem-calc(10);
    }

    @include large-nav {

      margin: 0px
    }
  }

  @include small-nav {
    padding: 0 rem-calc(20) 0 0;
    font-size: rem-calc(14);
  }

  @include large-nav {
    height: 80px;
    line-height: 80px;
    padding: 0;
  }

  @media (max-width: 292px) {
    display: none;
  }
}

.main-nav--toggle {
  float: right;
  display: none;
  width: rem-calc(20);
  height: rem-calc(18);
  margin: 0 rem-calc(20) 0 0;
  padding-top: rem-calc(5);
  cursor: pointer;
  transition: all 0.2s ease;

  @include small-nav {
    display: block;
    height: 100%;
  }

  svg rect {
    transition: fill 0.2s ease;
  }

 .is-open & {
    transform: rotate(90deg);

    svg .bar {
      fill: $hab-orange;
    }
  }
}

.main-nav--github {
  display: none;
  position: absolute;
  left: 0;
  background: linear-gradient(180deg, $hab-navy-light 0%, $hab-navy 100%);
  font-size: 12px;
  line-height: 30px;
  color: $hab-white;
  box-shadow: 0 2px 6px 0 rgba(35,39,39,0.49);
  padding: 0 10px 0 4px;

  &:hover, &:visited {
    color: $hab-white;
  }

  img {
    width: 30px;
    height: 30px;
  }

  > span {
    vertical-align: middle
  }

  @media (min-width: 1150px) {
    .home & {
      display: block;
    }
  }

  .is-sticky & {
    display: none;
  }
}
