$main-nav-breakpoint: 769px;

@mixin large-nav {
  @media (min-width: $main-nav-breakpoint) {
    @content;
  }
}

@mixin small-nav {
  @media (max-width: $main-nav-breakpoint - 1px) {
    @content;
  }
}

#main-nav {
  position: relative;
  z-index: 100;
  background: transparent;
  min-height: $header-height-mobile;
  width: 100%;
  transition: top 0.4s ease;
  box-shadow: 0 0 50px 2px transparent;

  @include large-nav {
    min-height: $header-height;

    &.is-sticky {
      position: fixed;
      top: -100%;
    }
  }

  &.is-open,
  &.is-sticky {
    background-color: $hab-navy;
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.10);
  }

  &.is-visible {
    top: 0;
  }

  &.has-sidebar {
    background: transparent;
  }

  @include small-nav {
    position: fixed;
    top: 0;

    &.has-sidebar {
      background-color: $hab-navy;
    }
  }

  // modifiers for nav on homepage on large screens
  .home &:not(.is-sticky) {
    @include large-nav {
        background: transparent;
    }

    .main-nav--logo {
      @media (min-width: 1150px) {
        width: rem-calc(240);
        height: rem-calc(108);
      }

      @media (max-width: 1550px) and (min-width: 1150px) {
        position: absolute;
        left: rem-calc(180);
      }

      @media (max-width: 1024px) {
        width: rem-calc(100);
      }

      @include large-nav {
        h1 {
          background: url("../images/habitat-logo-light.svg") no-repeat left 40%;
          background-size: contain;
        }
      }
    }
  }
}

.main-nav--container {
  max-width: rem-calc(1200);
  margin: 0 auto;
}

.main-nav--logo {
  @include grid-column(3);

  a {
    display: block;
  }

  h1 {
    overflow: hidden;
    text-indent: 400%;
    white-space: nowrap;
    background: url("../images/habitat-logo-light.svg") no-repeat left 40%;
    background-size: rem-calc(89) auto;
    color: $white;
    height: $header-height-mobile;
    margin-bottom: 0;
    min-width: rem-calc(89);

    @include large-nav {
      background-size: rem-calc(170) auto;
      min-width: rem-calc(170);
      height: $header-height;
    }
  }
}

.main-nav--links-wrap {
  @include large-nav {
    @include grid-column(9);
  }
}

.main-nav--links {
  position: relative;
  display: none;
  clear: both;
  margin-bottom: 0;
  @extend .no-bullet;

  & > li {
    padding: rem-calc(15) 0 0 rem-calc(5);

    &.main-nav--link {
      margin-top: 0;

      &.signed-out, &.signed-in {
        display: none;
      }

      &.signed-in {
        position: relative;
        padding-right: 0;
        margin-right: 12px;

        .avatar {
          display: block;
          float: right;
          border-radius: 50%;
          border: 1px solid $hab-orange;
          padding: 2px;
          cursor: pointer;

          img {
            display: block;
            border: solid 2px $hab-white;
            border-radius: 50%;
            height: 40px;
            width: 40px;
          }

          @include breakpoint(small only) {
            display: none;
          }
        }

        .dropdown {
          display: none;
          box-shadow: 0 2px 20px 0 rgba(195,198,200,0.4);
          background-color: $hab-white;
          border-radius: 7px;
          height: auto;
          padding: 0.9375rem;
          width: auto;
          color: #a8adb0;
          position: absolute;
          right: 0;
          top: 52px;
          z-index: 9999;

          ul {
            margin-left: 0;

            li {
              display: block;
              min-width: 8em;
              padding-bottom: 0.625rem;
              text-align: left;

              &:last-child {
                border-top: 1px solid #D8D8D8;
                margin-top: 0.5rem;
                padding-bottom: 0;
                padding-top: 0.75rem;
              }

              a {
                color: #87B09B;
                line-height: 1.5em;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  @include breakpoint(small only) {
    left: map-get($grid-column-gutter, small)/2;
  }

  @include large-nav {
    display: block;
    float: right;
    clear: none;
    padding-top: rem-calc(40);
    height: $header-height;

    & > li {
      display: inline-block;
      vertical-align: middle;
    }

    .main-nav--link {
      padding: 0 rem-calc(30) 0 0;
    }
  }
}

.main-nav--link {
  a {
    position: relative;
    color: $white;
    transition: color 0.2s ease;

    &:hover,
    &:active,
    &:focus,
    &.is-current-page {
      color: $hab-primary;
    }

    @include large-nav {
      &.is-current-page:before {
        content: "";
        position: absolute;
        background: url("../images/nav-active-icon.png") no-repeat center top;
        background: url("../images/nav-active-icon.svg") no-repeat center top;
        background-size: auto 100%;
        width: 120%;
        height: rem-calc(18);
        top: rem-calc(30);
        left: -10%;
      }
    }
  }

  &.cta-link a {
    margin-left: rem-calc(60);
    color: $hab-orange;

    &:hover,
    &:active,
    &:focus,
    &.is-current-page {
      color: lighten($hab-orange, 10);
    }
  }

  @include small-nav {
    &:last-child {
      padding-bottom: rem-calc(30);
    }

    &.cta-link a {
      margin-left: 0;
    }
  }
}

.main-nav--cta {
  float: right;
  padding: rem-calc(4) rem-calc(20) 0 0;

  &.signed-in, &.signed-out {
    display: none;
  }

  .button {
    @include button;
    margin: rem-calc(4) 0 0 0;

    @include large-nav {
      margin: 0;
    }
  }

  @include small-nav {
    font-size: rem-calc(14);
  }

  @include large-nav {
    padding: rem-calc(30) 0 0 0;
  }

  @media (max-width: 292px) {
    display: none;
  }
}

.main-nav--toggle {
  float: right;
  display: none;
  width: rem-calc(20);
  height: rem-calc(18);
  margin: rem-calc(20) rem-calc(20) 0 0;
  cursor: pointer;
  transition: all 0.2s ease;

  @include small-nav {
    display: inline-block;
  }

  svg rect {
    transition: fill 0.2s ease;
  }

 .is-open & {
    transform: rotate(90deg);

    svg .bar {
      fill: $hab-orange;
    }
  }
}

.main-nav--github {
  display: none;
  position: absolute;
  left: 0;

  @media (min-width: 1150px) {
    .home & {
      display: block;
    }
  }

  .is-sticky & {
    display: none;
  }
}
