.detail-post-title{
  color: $hab-green;
  font-size: 1.7em;
  margin-top: 40px;
}
.detail-post-date{
  font-size: 1.1em;
  color: $hab-gray;
}
.article-detail p{
  font-size: 1.05em;
  line-height: 1.35em;
}
