// Swiftype overrides
input.st-ui-search-input,
input.st-default-search-input {
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  height: auto;
  font-family: inherit;
  font-size: 1rem;
  background-position: 8px 12px;
}

.st-ui-injected-on-page-container {
  font-family: inherit !important;

  .st-ui-type-detail-bold {
    font-size: 14px;
  }

  a.st-ui-result .st-ui-type-detail {
    font-size: 14px;
    max-height: 38px;
  }
}
