@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.menu {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 200px;
}

.menu .arrow {
  opacity: 0.4;
}

.arrow.up,
.arrow.down {
  display: none;
  margin: 20px 0;
}

.menu h1 {
  margin-top: 0;
  font: normal 32px/1.5 'Open Sans', sans-serif;
  color: #3F71AE;
  padding-bottom: 16px;
}

.menu h2 {
  color: #F05283;
}

.menu h2 a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #F05283;
  padding: 10px 15px;
  border-radius: 3px;
  font: bold 14px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.menu h2 a:hover {
  background-color: #F05283;
  transition: 0.2s;
  color: #fff;
}

.menu ul {
  max-width: 600px;
  margin: 60px auto 0;
}

.menu ul a {
  text-decoration: none;
  color: #FFF;
  text-align: left;
  background-color: #B9C1CA;
  padding: 10px 16px;
  border-radius: 2px;
  opacity: 0.8;
  font-size: 16px;
  display: inline-block;
  margin: 4px;
  line-height: 1;
  outline: none;
  transition: 0.2s ease;
}

.menu ul li a.active {
  background-color: #66B650;
  pointer-events: none;
}

.menu ul li a:hover {
  opacity: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
}

@media (max-height:800px) {}

@media (max-width: 900px) {
  .menu {
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .arrow.left,
  .arrow.right {
    display: none;
  }
  .arrow.up,
  .arrow.down {
    display: inline-block;
  }
}
/* -- Demo ads -- */

@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
/* -- Link to Tutorialzine -- */

.tz-link {
  text-decoration: none;
  color: #fff !important;
  font: bold 36px Arial, Helvetica, sans-serif !important;
}

.tz-link span {
  color: #da431c;
}

/* The main content */
.main-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  padding-top: 40px;
  margin: 0 0 40px 260px;
}
/* The left-collapsing sidebar */

.sidebar-left-collapse {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #292c2f;
  width: 180px;
  height: 100%;
  padding: 20px 0;
}

.sidebar-left-collapse > a {
  display: block;
  text-decoration: none;
  font-family: Cookie, cursive;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  font-weight: normal;
  line-height: 2.6;
  border-radius: 50%;
  background-color: #181a1b;
}

.sidebar-left-collapse .sidebar-links {
  margin: 30px auto;
}

.sidebar-links div > a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 10px 0 10px 5px;
  background-color: #35393e;
  text-align: left;
  color: #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  border-left-width: 2px;
  border-left-style: solid;
}

.sidebar-links div.selected > a {
  background-color: #ffffff;
  color: #565d63;
  line-height: 2.3;
  margin: 0;
}

.sidebar-links div > a i.fa {
  position: relative;
  font-size: 20px;
  top: 3px;
  width: 40px;
  text-align: center;
}

.sidebar-links div ul.sub-links {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0 0 0 30px;
  color: #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  transition: 0.4s;
}

.sidebar-links div.selected ul.sub-links {
  max-height: 150px;
  padding: 12px 0 12px 30px;
}

.sidebar-links div .sub-links a {
  text-decoration: none;
  color: #b3bcc5;
  display: block;
  text-align: left;
}
/* Link Colors */

.sidebar-links div.link-blue > a {
  border-color: #487db2;
}

.sidebar-links div.link-blue > a i.fa {
  color: #487db2;
}

.sidebar-links div.link-red > a {
  border-color: #da4545;
}

.sidebar-links div.link-red > a i.fa {
  color: #da4545;
}

.sidebar-links div.link-yellow > a {
  border-color: #d0d237;
}

.sidebar-links div.link-yellow > a i.fa {
  color: #d0d237;
}

.sidebar-links div.link-green > a {
  border-color: #86be2e;
}

.sidebar-links div.link-green > a i.fa {
  color: #86be2e;
}
/* Making the sidebar responsive */

@media (max-width: 900px) {
  .main-content {
    max-width: none;
    padding: 70px 20px;
    margin: 0 0 40px;
  }
  .sidebar-left-collapse {
    width: auto;
    height: auto;
    position: static;
    padding: 20px 0 0;
  }
  .sidebar-left-collapse .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }
  .sidebar-links div {
    display: inline-block;
    width: 100px;
  }
  .sidebar-links div > a {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-left: none;
    border-top-width: 2px;
    border-top-style: solid;
  }
  .sidebar-links div > a i.fa {
    display: block;
    margin: 0 auto 5px;
  }
  .sidebar-links div ul.sub-links {
    display: none;
  }
  .sidebar-links div.selected .sub-links {
    display: block;
    position: absolute;
    text-align: center;
    width: auto;
    left: 0;
    right: 0;
  }
  .sidebar-links div.selected .sub-links li {
    display: inline-block;
  }
  .sidebar-links div.selected .sub-links a {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    color: #748290;
  }
}
/* Smartphone version */

@media (max-width: 450px) {
  .main-content {
    padding: 90px 20px;
  }
  .sidebar-left-collapse {
    padding: 20px 0;
  }
  .sidebar-left-collapse .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
    position: relative;
  }
  .sidebar-links div {
    display: block;
    width: 240px;
    margin: 0 auto 5px;
  }
  .sidebar-links div > a {
    text-align: left;
    padding: 10px 25px;
    vertical-align: middle;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
  }
  .sidebar-links div > a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
  }
  .sidebar-links div.selected .sub-links {
    bottom: -90px;
  }
}
/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
  margin: 0;
  padding: 0;
}