---
title: Habitat - Create a Plan with Scaffolding
---

= partial '/tutorials/partials/platform_switcher', locals: { platform: 'windows' }

section.sample-app
  h1 Create a Plan with Scaffolding

  = partial '/tutorials/partials/create_plan_sample_app', locals: { is_windows: true }

= link_to 'Next: Add Health Monitoring to a Plan', '/tutorials/sample-app/windows/add-health-check-hook/', class: 'button cta'
