---
title: Habitat - Upload the Sample App
---

= partial '/tutorials/partials/platform_switcher', locals: { platform: 'windows' }

section.sample-app
  = partial "/tutorials/partials/upload_package", locals: { is_windows: true }

= link_to 'Next Steps', '/tutorials/sample-app/next-steps/', class: 'button cta'
