---
title: Habitat - Upload the Sample App
type: tutorial
platform: Windows
platform_short: windows
---

= partial '/partials/tutorials/platform_switcher', locals: { platform: 'windows' }

section.sample-app
  = partial "/partials/tutorials/upload_package", locals: { is_windows: true }

= link_to 'Next Steps', '/tutorials/sample-app/next-steps/', class: 'button cta'
