---
title: Sample Markdown Page
description: This page is simply here to demonstrate that you can write the guides in Markdown as well as HTML.
---
# Markdown

You don't have to write the guides in HTML, they can also be written in Markdown by using the .html.md.erb file extension.
The URL for this example page would simply be <a href="/guides/rails/markdown">/guides/rails/markdown</a>
