{
  "openapi": "3.0.0",
  "info": {
    "title": "Builder API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://bldr.habitat.sh/v1",
      "variables": {
        "rootUri": {
          "description": "The root URI for the particular installation of Builder\n",
          "default": ""
        },
        "version": {
          "default": ""
        }
      },
      "x-amf-parameters": {
        "rootUri": {
          "description": "The root URI for the particular installation of Builder\n",
          "example": "bldr.habitat.sh, api.habitat.sh, localhost:9636"
        },
        "version": {}
      }
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "HTTPS"
  ],
  "paths": {
    "/status": {
      "get": {
        "description": "Returns the health of the service",
        "responses": {
          "200": {
            "description": "Service is healthy"
          },
          "500": {
            "description": "Server fault"
          },
          "503": {
            "description": "Service temporarily unavailable"
          }
        }
      },
      "head": {
        "responses": {
          "200": {
            "description": "Service is healthy"
          },
          "500": {
            "description": "Server fault"
          },
          "503": {
            "description": "Service temporarily unavailable"
          }
        }
      }
    },
    "/ext": {},
    "/ext/installations/{install_id}": {
      "parameters": [
        {
          "name": "install_id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/ext/installations/{install_id}/repos/{repo_id}": {
      "parameters": [
        {
          "name": "install_id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/ext/installations/{install_id}/repos/{repo_id}/contents/{path}": {
      "parameters": [
        {
          "name": "install_id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Get content from github",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/content"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad search query parameter provided"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ext/integrations/{registry_type}": {
      "parameters": [
        {
          "name": "registry_type",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/ext/integrations/{registry_type}/credentials/validate": {
      "parameters": [
        {
          "name": "registry_type",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Validates registry credentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "user": "user",
                  "password": "password",
                  "url": "url"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registry credentials validated"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "description": "Retrieve your profile",
        "responses": {
          "200": {
            "description": "Retrieved profile",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "1234567890",
                    "name": "jimmy",
                    "email": "jimmy@example.com"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/userProfile"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "patch": {
        "description": "Update your profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "email": "jimmy@example.com"
                },
                "type": "object",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/userProfileUpdate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update successful"
          },
          "401": {
            "description": "Authentication failed"
          },
          "422": {
            "description": "Bad JSON submitted"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/profile/access-tokens": {
      "get": {
        "description": "Retrieve your personal access tokens",
        "responses": {
          "200": {
            "description": "Retrieved tokens",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "id": 1,
                      "account_id": 2,
                      "token": "abcdefg",
                      "created_at": "2022-01-29 09:42:15.273364+00"
                    },
                    {
                      "id": 3,
                      "account_id": 21,
                      "token": "abcdefgihijk",
                      "created_at": "2022-01-31 09:42:15.273364+00"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/accountTokens"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "post": {
        "description": "Generate a new personal access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated personal access token",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Received a malformed JSON body"
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/profile/access-tokens/{id}": {
      "parameters": [
        {
          "name": "id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete (revoke) a personal access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete successful"
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/jobs": {},
    "/jobs/{jobId}": {
      "parameters": [
        {
          "name": "jobId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the status of the given job",
        "responses": {
          "200": {
            "description": "Retrieved job status",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "73089155726360582",
                    "origin": "core",
                    "project": "nginx",
                    "version": "1.0.0",
                    "release": "20170505001756",
                    "state": "Complete",
                    "created_at": "2017-05-05 00:42:35.213765+00",
                    "build_started_at": "2017-05-05 00:43:11.729835+00",
                    "build_finished_at": "2017-05-05 00:44:00.896919+00"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/job"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Received a jobId that was not a number"
          }
        }
      }
    },
    "/jobs/{jobId}/log": {
      "parameters": [
        {
          "name": "jobId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the build log (or a portion thereof) for the\ngiven job. Until an SSE endpoint can be implemented,\nthis endpoint can be used to poll for the logs of a\ncurrently-running job; use of the `start` query\nparameter ensures that only the portion of the log\nthat is \"new\", relative to a prior request, will be\nretrieved.\n",
        "parameters": [
          {
            "name": "start",
            "description": "Return the portion of the log output that\nstarts at the zero-indexed line\nspecified. A request with no given value\ndefaults to `0`; in other words, the\nentire log will be sent back.\n",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Return the portion of the log output that\nstarts at the zero-indexed line\nspecified. A request with no given value\ndefaults to `0`; in other words, the\nentire log will be sent back.\n",
              "default": 0,
              "example": 100,
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "color",
            "description": "Whether or not to include embedded ANSI color\ncodes in the log output. By default, all ANSI\nsequences are removed, yielding plain output.\n\nThe following values are interpreted as `true`:\n  * `true`\n  * `TRUE`\n  * `t`\n  * `T`\n  * `1`\n  * `on`\n  * `ON`\n\nThe following values are interpreted as `false`:\n  * `false`\n  * `FALSE`\n  * `f`\n  * `F`\n  * `0`\n  * `off`\n  * `OFF`\n\nAll other values are considered `false`.\n",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Whether or not to include embedded ANSI color\ncodes in the log output. By default, all ANSI\nsequences are removed, yielding plain output.\n\nThe following values are interpreted as `true`:\n  * `true`\n  * `TRUE`\n  * `t`\n  * `T`\n  * `1`\n  * `on`\n  * `ON`\n\nThe following values are interpreted as `false`:\n  * `false`\n  * `FALSE`\n  * `f`\n  * `F`\n  * `0`\n  * `off`\n  * `OFF`\n\nAll other values are considered `false`.\n",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved build log",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "start": 0,
                    "stop": 2,
                    "content": [
                      "this is the first line",
                      "this is the second line"
                    ],
                    "is_complete": false
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/jobLog"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Received a jobId that was not a number, or\nan invalid value for the `start` query\nparameter (e.g., negative, or larger than\nthe actual size of the log file.\n"
          },
          "404": {
            "description": "Job does not exist with corresponding jobId,\nor no log was found for the given job.\n"
          }
        }
      }
    },
    "/jobs/group/{id}": {
      "parameters": [
        {
          "name": "id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/jobs/group/{id}/cancel": {
      "parameters": [
        {
          "name": "id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Cancels a job group",
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "ID or channel not provided"
          },
          "404": {
            "description": "Group not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/jobs/group/{id}/rebuild": {
      "parameters": [
        {
          "name": "id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Rebuilds a job group",
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "ID or channel not provided"
          },
          "404": {
            "description": "Group not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/jobs/group/{id}/promote/{channel}": {
      "parameters": [
        {
          "name": "id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "channel",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Promote every successful project in a job group to the specified channel",
        "responses": {
          "200": {
            "description": "Successful promotion"
          },
          "400": {
            "description": "ID or channel not provided"
          },
          "404": {
            "description": "Group not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/jobs/group/{id}/demote/{channel}": {
      "parameters": [
        {
          "name": "id",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "channel",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Demote every successful project in a job group to the specified channel",
        "responses": {
          "200": {
            "description": "Successful demotion"
          },
          "400": {
            "description": "ID or channel not provided"
          },
          "404": {
            "description": "Group not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/user": {},
    "/user/invitations": {
      "get": {
        "description": "Get invitations for the specified user",
        "responses": {
          "200": {
            "description": "Retrieved invitations",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "origin": "core",
                    "account_id": 1,
                    "account_name": "hab",
                    "owner_id": 1331,
                    "ignored": false
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originInvitation"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/user/origins": {
      "get": {
        "description": "Get origins for the specified user",
        "responses": {
          "200": {
            "description": "Retrieved origins",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    "origin1",
                    "origin2"
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/stringList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/projects": {
      "post": {
        "description": "Creates a new project for building a Habitat plan scoped to the given origin. The\nresulting project will be created with an identifier containing the origin and name\nof the project the plan is building separated by a forward slash (i.e. `core/nginx`).\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "origin": "core",
                  "plan_path": "components/builder-api/plan.sh",
                  "installation_id": 1234,
                  "repo_id": 4567
                },
                "type": "object",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/projectCreate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "habitat/builder-api",
                    "plan_path": "components/builder-api/plan.sh",
                    "vcs": {
                      "type": "git",
                      "url": "https://github.com/habitat-sh/habitat.git"
                    }
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/project"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Received a malformed JSON body"
          },
          "409": {
            "description": "This project already exists"
          },
          "422": {
            "description": "The request body contained missing or invalid values or the file at the given\nlocation was unreadable or did not contain a valid plan.\n"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/projects/{origin}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the list of project names for the specified origin",
        "responses": {
          "200": {
            "description": "Retrieved project names",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    "foo",
                    "bar",
                    "baz"
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/stringList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/projects/{origin}/{name}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Return the project matching the given ID",
        "responses": {
          "200": {
            "description": "Retrieved project",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "habitat/builder-api",
                    "plan_path": "components/builder-api/plan.sh",
                    "vcs": {
                      "type": "git",
                      "url": "https://github.com/habitat-sh/habitat.git"
                    }
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/project"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "description": "Update the project matching the given ID",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "plan_path": "components/builder-api/plan.sh",
                  "github": {
                    "organization": "habitat-sh",
                    "repo": "habitat"
                  }
                },
                "type": "object",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/project"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Project updated successfully"
          },
          "400": {
            "description": "Received a malformed JSON body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          },
          "422": {
            "description": "The request body contained missing or invalid values or the file at the\ngiven location was unreadable, did not contain a valid plan, or the name\nof the package it builds does not match the projectId's `name`\n"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "delete": {
        "description": "Destroys the project matching the given ID",
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/projects/{origin}/{name}/{visibility}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "visibility",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Toggle the visibility settings on a project. Public projects that are made\nprivate will change to hidden instead. Changes made to a project's\nvisibility settings will cascade to its packages.\n",
        "responses": {
          "204": {
            "description": "Visibility settings toggled successfully"
          },
          "400": {
            "description": "Missing origin, name, visibility. Visibility other than public or private submitted."
          },
          "403": {
            "description": "Not authorized to modify this origin"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/projects/{origin}/{name}/jobs": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve the most recently started jobs for the given project.",
        "responses": {
          "200": {
            "description": "Retrieved recently started jobs",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "range_start": 0,
                    "range_end": 5,
                    "total_count": 6,
                    "data": [
                      {
                        "id": "73089155726360582",
                        "origin": "core",
                        "project": "nginx",
                        "version": "1.0.0",
                        "release": "20170505001756",
                        "state": "Complete",
                        "created_at": "2017-05-05 00:42:35.213765+00",
                        "build_started_at": "2017-05-05 00:43:11.729835+00",
                        "build_finished_at": "2017-05-05 00:44:00.896919+00"
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/jobs"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/projects/{origin}/{name}/integrations/{integration}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "integration",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/projects/{origin}/{name}/integrations/{integration}/default": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "integration",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the specified integration",
        "responses": {
          "200": {
            "description": "Retrieved integration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "project_id": 121,
                    "integration_id": 14641,
                    "origin": "core",
                    "body": "NoContent",
                    "created_at": "2017-05-05 00:43:11.729835+00"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/projectIntegration"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          }
        }
      },
      "put": {
        "description": "Creates a project integration",
        "responses": {
          "204": {
            "description": "Integration created"
          },
          "400": {
            "description": "Error parsing integration"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "description": "Deletes an integration",
        "responses": {
          "204": {
            "description": "Integration deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/depot/origins": {
      "post": {
        "description": "Create a new origin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "name": "reset",
                  "owner_id": 1965
                },
                "type": "object",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/origin"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created origin",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1965,
                    "name": "core",
                    "owner_id": 3861225,
                    "default_package_visibility": "Public"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/origin"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Origin already exists"
          },
          "417": {
            "description": "Expectation failed"
          },
          "422": {
            "description": "Malformed origin in request body"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get origin",
        "responses": {
          "200": {
            "description": "Origin retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1965,
                    "name": "test",
                    "owner_id": 1965,
                    "default_package_visibility": "Public"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/origin"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Origin not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "description": "Update existing origin",
        "responses": {
          "204": {
            "description": "Origin updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "description": "Delete an origin",
        "responses": {
          "204": {
            "description": "Origin deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/users": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List all members of an origin",
        "responses": {
          "200": {
            "description": "Retrieved origin members",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "origin": "core",
                    "members": [
                      "glibc",
                      "cmake"
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originMemberList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/users/{user}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete origin member",
        "responses": {
          "204": {
            "description": "Member deleted from origin"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Must be owner of origin to delete"
          },
          "422": {
            "description": "Cannot remove owner with existing origins"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/users/{user}/role": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Update an origin member's role",
        "parameters": [
          {
            "name": "role",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member role updated"
          },
          "403": {
            "description": "Unauthorized to perform this action"
          },
          "404": {
            "description": "Invalid origin or username given"
          },
          "422": {
            "description": "Origin member parse error"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "get": {
        "description": "Retrieve an origin member's role",
        "responses": {
          "200": {
            "description": "Retrieved origin member role",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "role": "administrator"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/memberRole"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/users/{user}/invitations": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Create an invitation to this origin for this user",
        "responses": {
          "201": {
            "description": "Invitation created successfully"
          },
          "204": {
            "description": "Invitation creation request received"
          },
          "400": {
            "description": "No origin or username given"
          },
          "401": {
            "description": "You are not authorized to send invitations on behalf of this origin"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/transfer/{user}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Transfer ownership of origin to new origin member",
        "responses": {
          "204": {
            "description": "Transfer successful"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not authorized to transfer ownership"
          },
          "422": {
            "description": "Cannot transfer to self or non-members"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/depart": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Leave an origin you no longer wish to be a member of",
        "responses": {
          "200": {
            "description": "Origin member departed"
          },
          "400": {
            "description": "Invalid origin or name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Origin owner cannot depart origin"
          },
          "422": {
            "description": "User is not a member of the specified origin"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/invitations": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Return list of invitations for the specified origin",
        "responses": {
          "200": {
            "description": "Retrieved invitations for origin",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "origin": "test",
                    "invitations": [
                      {
                        "id": 1,
                        "origin": "test",
                        "account_id": 411,
                        "account_name": "test",
                        "owner_id": 144,
                        "ignored": false
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originInvitationList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/keys": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Return a list of key revisions for an organization",
        "responses": {
          "200": {
            "description": "Retrieved key revisions",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "origin": "core",
                      "revision": "20160423193732",
                      "location": "/origins/core/keys/20160423193732"
                    },
                    {
                      "origin": "core",
                      "revision": "20160423193733",
                      "location": "/origins/core/keys/20160423193733"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originKeys"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "post": {
        "description": "Create a new set of keys",
        "responses": {
          "201": {
            "description": "New keys created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/keys/latest": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Download latest origin key",
        "responses": {
          "200": {
            "description": "Downloaded latest origin key",
            "content": {
              "text/plain": {
                "schema": {
                  "example": "Jpmj1gD9oTFCgz3wSLltt/QB6RTmNRWoUTe+xhDTIHc=",
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/keys/{revision}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "revision",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Download a key revision for a specific origin",
        "responses": {
          "200": {
            "description": "Downloaded key revision for origin",
            "content": {
              "text/plain": {
                "schema": {
                  "example": "SIG-PUB-1\ncore-20160423193745\nJpmj1gD9oTFCgz3wSLltt/QB6RTmNRWoUTe+xhDTIHc=\n",
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "post": {
        "description": "Upload a new key revision for an origin",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "example": "SIG-PUB-1\ncore-20160423193745\n\nJpmj1gD9oTFCgz3wSLltt/QB6RTmNRWoUTe+xhDTIHc=\n"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key successfully uploaded"
          },
          "403": {
            "description": "Authenticated user not a member of the given origin"
          },
          "409": {
            "description": "Key already exists in origin"
          },
          "422": {
            "description": "Invalid key content"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/encryption_key": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Download public encryption key for origin responses",
        "responses": {
          "200": {
            "description": "Key downloaded",
            "content": {
              "text/plain": {
                "schema": {
                  "example": "Jpmj1gD9oTFCgz3wSLltt/QB6RTmNRWoUTe+xhDTIHc=\n"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/depot/origins/{origin}/secret": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Upload a secret payload body",
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Missing field or payload decryption error"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "description": "Get a list of all secrets for the specified origin",
        "responses": {
          "200": {
            "description": "Retrieved secrets for origin",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "value": [
                      {
                        "id": 1,
                        "origin_id": 11,
                        "name": "origin1",
                        "value": "Jpmj1gD9oTFCgz3wSLltt/QB6RTmNRWoUTe+xhDTIHc="
                      },
                      {
                        "id": 2,
                        "origin_id": 12,
                        "name": "origin2",
                        "value": "Qpmj1gDxoTFCgz3wSL8nt!Qg9RTmsrroUTe+xhD8IHc="
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originSecrets"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/secret/{secret}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "secret",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete a secret for an origin given a secret name",
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/secret_keys/latest": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve the latest secret key",
        "responses": {
          "200": {
            "description": "Retrieved latest secret key",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "11",
                    "origin_id": "121",
                    "name": "core",
                    "revision": "20210407112205",
                    "body": "OK",
                    "owner_id": "1331"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/secret_key"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Secret key already exists in origin"
          }
        }
      }
    },
    "/depot/origins/{origin}/secret_keys/{revision}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "revision",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Upload origin secret key",
        "responses": {
          "201": {
            "description": "Origin secret key uploaded"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid secret key content"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/integrations": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get an object of all integrations",
        "responses": {
          "200": {
            "description": "Retrieved all integrations",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "names": [
                      "integration1",
                      "integration2"
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/integrationList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/integrations/{integration}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "integration",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/depot/origins/{origin}/integrations/{integration}/names": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "integration",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get integrations for specified origin",
        "responses": {
          "200": {
            "description": "Retrieved integration names",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "names": [
                      "integration1",
                      "integration2"
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/integrationList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid origin"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/integrations/{integration}/{name}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "integration",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get integration for specified origin and name",
        "responses": {
          "200": {
            "description": "Retrieved integration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "origin": "test",
                    "integration": "test",
                    "name": "test",
                    "body": "test"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originIntegration"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid origin"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Encryption error"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "description": "Create integration for specified origin and name",
        "responses": {
          "201": {
            "description": "Integration created"
          },
          "400": {
            "description": "Invalid origin or name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Encryption error"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "description": "Delete integration for specified origin and name",
        "responses": {
          "204": {
            "description": "Integration deleted"
          },
          "400": {
            "description": "Invalid origin or name"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/origins/{origin}/invitations/{invitationId}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "invitationId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Accept this invitation",
        "responses": {
          "204": {
            "description": "Accepted the invitation"
          },
          "400": {
            "description": "No origin or invitation id given"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invitation parse error"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      },
      "delete": {
        "description": "Rescind an invitation that hasn't already been ignored",
        "responses": {
          "204": {
            "description": "Invitation rescinded"
          },
          "400": {
            "description": "No origin or invitation id given"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invitation parse error"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/origins/{origin}/invitations/{invitationId}/ignore": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "invitationId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Ignore this invitation",
        "responses": {
          "204": {
            "description": "Invitation ignored"
          },
          "400": {
            "description": "No origin or invitation id given"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invitation parse error"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/depot/pkgs": {},
    "/depot/pkgs/{origin}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List packages for an origin",
        "parameters": [
          {
            "name": "distinct",
            "description": "Whether to show a distinct list of packages or not",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Whether to show a distinct list of packages or not",
              "default": false,
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Packages were found and fit on one page",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "owner_id": 2,
                        "ident": {
                          "origin": "core",
                          "name": "redis"
                        }
                      },
                      {
                        "id": 2,
                        "owner_id": 2,
                        "ident": {
                          "origin": "core",
                          "name": "gcc"
                        }
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/packageList"
                    }
                  ]
                }
              }
            }
          },
          "206": {
            "description": "Packages were found and require pagination",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "owner_id": 2,
                        "ident": {
                          "origin": "core",
                          "name": "redis"
                        }
                      },
                      {
                        "id": 2,
                        "owner_id": 2,
                        "ident": {
                          "origin": "core",
                          "name": "gcc"
                        }
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/packageList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List packages for a specified origin and package name",
        "responses": {
          "200": {
            "description": "Packages were found and fit on one page",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "owner_id": 2,
                        "ident": {
                          "origin": "core",
                          "name": "redis"
                        }
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/packageList"
                    }
                  ]
                }
              }
            }
          },
          "206": {
            "description": "Packages were found and require pagination",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "owner_id": 2,
                        "ident": {
                          "origin": "core",
                          "name": "redis"
                        }
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/packageList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/versions": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns all versions and a count of releases for each version for a given package",
        "responses": {
          "200": {
            "description": "Retrieved all package versions",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "origin": "core",
                      "name": "redis",
                      "version": "3.2.1",
                      "release_count": 3,
                      "latest": "20170215222111",
                      "platforms": [
                        "linux"
                      ],
                      "visibility": "Public"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originPackageVersions"
                    }
                  ]
                }
              }
            }
          },
          "206": {
            "description": "Package versions were found and require pagination",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "origin": "core",
                      "name": "redis",
                      "version": "3.2.1",
                      "release_count": 3,
                      "latest": "20170215222111",
                      "platforms": [
                        "linux"
                      ],
                      "visibility": "Public"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originPackageVersions"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Origin or package name not supplied"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/latest": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get latest package for specified origin and package",
        "responses": {
          "200": {
            "description": "Retrieved latest package",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "owner_id": 2,
                    "ident": {
                      "origin": "core",
                      "name": "redis"
                    }
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/package"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/{version}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get packages with specified origin, package name, and version",
        "responses": {
          "200": {
            "description": "Retrieved packages",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "origin": "core",
                      "name": "redis",
                      "version": "3.2.1",
                      "release_count": 3,
                      "latest": "20170215222111",
                      "platforms": [
                        "linux",
                        "windows"
                      ],
                      "visibility": "Public"
                    },
                    {
                      "origin": "core",
                      "name": "bundler",
                      "version": "1.0.1",
                      "release_count": 4,
                      "latest": "20210215222111",
                      "platforms": [
                        "linux"
                      ],
                      "visibility": "Private"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/originPackageVersions"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Origin, package name, or version not supplied"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/{version}/latest": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get latest package with specified origin, package name, and version",
        "responses": {
          "200": {
            "description": "Retrieved latest package",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "owner_id": 2,
                    "ident": {
                      "origin": "core",
                      "name": "redis"
                    }
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/package"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/{version}/{release}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Gets package for specified origin, package name, version, and release",
        "responses": {
          "200": {
            "description": "Retrieved package for specified origin, package name, version, and release",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "owner_id": 2,
                    "ident": {
                      "origin": "core",
                      "name": "redis"
                    }
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/package"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "description": "Uploads a package",
        "responses": {
          "201": {
            "description": "Package uploaded"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Invalid package, target, or checksum"
          },
          "424": {
            "description": "Has circular dependencies"
          },
          "500": {
            "description": "Internal server error"
          },
          "501": {
            "description": "Not implemented"
          }
        }
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Package release deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Could not complete process due to rdeps, channel, or target"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/{version}/{release}/{visibility}": {
      "parameters": [
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "visibility",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Change the visibility of a package",
        "responses": {
          "200": {
            "description": "Successfully changed"
          },
          "400": {
            "description": "Missing origin or name or version or release or visibility. Visibility not \"public\" or \"private\"."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Unauthorized to change packages for this origin"
          },
          "404": {
            "description": "Package not found"
          },
          "422": {
            "description": "Could not complete process due to origin, name, or visibility"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/{version}/{release}/download": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Downloads the package with specified origin, name, version, and release",
        "responses": {
          "200": {
            "description": "Package downloaded"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          },
          "422": {
            "description": "Could not complete process due to invalid target"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/{origin}/{name}/{version}/{release}/channels": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "version",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Gets list of channels for this origin, package name, version, and release",
        "responses": {
          "200": {
            "description": "Retrieved channel list",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "channel": "stable",
                      "created_at": "2020-12-28T20:24:49.588691",
                      "promoted_at": "2020-12-28T20:24:49.588691"
                    },
                    {
                      "channel": "unstable",
                      "created_at": "2021-12-28T20:24:49.588691",
                      "promoted_at": "2021-12-28T20:24:49.588691"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/channelWithPromotionList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Could not complete process due to invalid identifier or target"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/search/{query}": {
      "parameters": [
        {
          "name": "query",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Search for packages with a query string",
        "parameters": [
          {
            "name": "distinct",
            "description": "Whether to show a distinct list of packages or not",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Whether to show a distinct list of packages or not",
              "default": false,
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Packages were found and fit on one page",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "origin": "core",
                        "name": "redis"
                      },
                      {
                        "origin": "core",
                        "name": "node"
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/packageList"
                    }
                  ]
                }
              }
            }
          },
          "206": {
            "description": "Packages were found and require pagination",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "origin": "core",
                        "name": "redis"
                      },
                      {
                        "origin": "core",
                        "name": "node"
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/packageList"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Query parse error"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/schedule/{groupid}": {
      "parameters": [
        {
          "name": "groupid",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get schedule for specified group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 1,
                    "state": "active",
                    "name": "jobsrv",
                    "project": "sample",
                    "target": "linux"
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/jobGroup"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Group id parse error"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/schedule/{origin}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/depot/pkgs/schedule/{origin}/status": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get origin schedule status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "id": 1,
                      "state": "active",
                      "name": "jobsrv",
                      "project": "sample",
                      "target": "linux"
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/jobGroups"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/pkgs/schedule/{origin}/{pkg}": {
      "parameters": [
        {
          "name": "origin",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "pkg",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Schedule a job group",
        "responses": {
          "201": {
            "description": "Scheduled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/depot/events": {
      "get": {
        "description": "Get local builder events",
        "parameters": [
          {
            "name": "nextRange",
            "description": "Paginated index of next range to return",
            "required": true,
            "in": "query",
            "schema": {
              "description": "Paginated index of next range to return",
              "type": "integer"
            }
          },
          {
            "name": "fromDate",
            "description": "From date to include in query results (inclusive)",
            "required": true,
            "in": "query",
            "schema": {
              "description": "From date to include in query results (inclusive)",
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "description": "To date to include in query results (inclusive)",
            "required": true,
            "in": "query",
            "schema": {
              "description": "To date to include in query results (inclusive)",
              "type": "string"
            }
          },
          {
            "name": "query",
            "description": "Query parameters",
            "required": true,
            "in": "query",
            "schema": {
              "description": "Query parameters",
              "default": "",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved local builder events",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "range_start": 0,
                      "range_end": 1,
                      "total_count": 1,
                      "data": [
                        {
                          "operation": "Promote"
                        },
                        {
                          "origin": "core"
                        },
                        {
                          "channel": "stable"
                        },
                        {
                          "package_ident": [
                            {
                              "origin": "core"
                            },
                            {
                              "name": "hab-backline"
                            },
                            {
                              "version": "1.6.420"
                            },
                            {
                              "release": 20211101174345
                            }
                          ]
                        },
                        {
                          "created_at": "2021-12-28T20:24:49.588691"
                        }
                      ]
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/events"
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "Retrieved local builder events but requires pagination",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "range_start": 1,
                      "range_end": 2,
                      "total_count": 1,
                      "data": [
                        {
                          "operation": "Promote"
                        },
                        {
                          "origin": "core"
                        },
                        {
                          "channel": "stable"
                        },
                        {
                          "package_ident": [
                            {
                              "origin": "core"
                            },
                            {
                              "name": "hab-zipline"
                            },
                            {
                              "version": "1.6.420"
                            },
                            {
                              "release": 20211101174345
                            }
                          ]
                        },
                        {
                          "created_at": "2021-12-28T20:24:49.588691"
                        }
                      ]
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/events"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad search query parameter provided"
          }
        }
      }
    },
    "/depot/events/saas": {
      "get": {
        "description": "Get SAAS builder events",
        "responses": {
          "200": {
            "description": "Retrieved SAAS builder events",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "range_start": 0,
                      "range_end": 1,
                      "total_count": 1,
                      "data": [
                        {
                          "operation": "Promote"
                        },
                        {
                          "origin": "core"
                        },
                        {
                          "channel": "stable"
                        },
                        {
                          "package_ident": [
                            {
                              "origin": "core"
                            },
                            {
                              "name": "hab-backline"
                            },
                            {
                              "version": "1.6.420"
                            },
                            {
                              "release": 20211101174345
                            }
                          ]
                        },
                        {
                          "created_at": "2021-12-28T20:24:49.588691"
                        }
                      ]
                    }
                  ],
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/events"
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "",
            "content": {
              "null": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "projectCreate": {
        "type": "object",
        "required": [
          "origin",
          "plan_path",
          "github"
        ],
        "properties": {
          "origin": {
            "type": "string"
          },
          "plan_path": {
            "type": "string"
          },
          "github": {
            "type": "object",
            "required": [
              "organization",
              "repo"
            ],
            "properties": {
              "organization": {
                "type": "string"
              },
              "repo": {
                "type": "string"
              }
            }
          }
        }
      },
      "memberRole": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string"
          }
        }
      },
      "package": {
        "type": "object",
        "required": [
          "id",
          "owner_id",
          "ident"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "owner_id": {
            "type": "integer"
          },
          "ident": {}
        }
      },
      "originInvitation": {
        "type": "object",
        "required": [
          "id",
          "origin",
          "account_id",
          "account_name",
          "owner_id",
          "ignored"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "origin": {
            "type": "string"
          },
          "account_id": {
            "type": "integer"
          },
          "account_name": {
            "type": "string"
          },
          "owner_id": {
[...]
