[build]
  publish = "public"
  command = "make assets; hugo --gc --minify --enableGitInfo"

[build.environment]
  HUGO_VERSION = "0.69.0"
  HUGO_ENABLEGITINFO = "true"
  GO_VERSION = "1.12"
  NODE_ENV = "development"

[build.processing]
  skip_processing = true

[context.deploy-preview]
  command = "make assets; hugo --gc --minify --enableGitInfo --buildFuture"

## redirects traffic from old InSpec docs inspec.io/docs/
## https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file

[[redirects]]
  from = "/inspec/reference/*"
  to = "/inspec/:splat"
  status = 301
