.hab-build-list {

  .active {
    @include row;

    line-height: rem(42);
    border-radius: 7px;
    font-size: rem(14);
    padding: 0 12px;
    margin-bottom: 22px;

    a {
      text-decoration: underline;
    }

    &.dispatched, &.processing {
      border: 1px solid $hab-orange;
      color: $hab-orange;

      a {
        color: $hab-orange;
      }
    }

    &.pending {
      border: 1px solid $hab-blue;
      color: $hab-blue;

      a {
        color: $hab-blue;
      }
    }
  }

  ol {

    li {
      @include row;
      position: relative;

      font-size: rem(12);
      border-bottom: 1px solid $very-light-gray;
      padding: 0 10px;

      &.heading {
        font-weight: bold;
        font-family: $heading-font-family;
        text-transform: uppercase;
      }

      &.item {
        line-height: rem(60);
        color: $dim-slate-gray;

        &:hover {
          cursor: pointer;
          background-color: rgba($medium-gray, 0.05);

          .icons {
            .octicon-chevron-right {
              display: block;
            }
          }
        }

        .version {
          font-weight: bold;
          font-family: $heading-font-family;
          color: $dark-gray;
        }
      }

      .version {
        @include span-columns(3);
      }

      .count {
        @include span-columns(3);
      }

      .created {
        @include span-columns(3);
      }

      .icons {
        @include span-columns(3);

        .octicon {
          font-size: rem(20);
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          &.status {
            right: 52px;
          }

          &.complete {
            color: $hab-green;
          }

          &.dispatched, &.processing {
            color: $hab-orange;
            height: rem(20);
            width: rem(16);
            top: 36%;
            transform: translateY(-36%);
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: spinning;
            animation-timing-function: linear;
          }

          &.pending {
            color: $hab-blue;
          }

          &.failed, &.rejected {
            color: $hab-red;
          }

          &.octicon-chevron-right {
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          @keyframes spinning {
            from {
              transform: rotate(0deg);
            }

            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
