<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    The 'debug' setting is deprecated and may not work as desired in a future release
    of the windows-service. Use the 'ENV_RUST_LOG' setting instead and set it to 'debug'.
    -->
    <add key="debug" value="false" />
    <add key="ENV_HAB_FEAT_IGNORE_SIGNALS" value="true" />
    <add key="launcherArgs" value="--no-color" />
  </appSettings>
</configuration>
