<header>
  <h1>Create New Origin</h1>
</header>
<div class="body">
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="createOrigin(form.value)" #formValues="ngForm">
      <section>
        <h3>Origin Name</h3>
        <p>
          Must be unique and contain no spaces, and begin with a lowercase letter or number. Allowed characters include
          <strong>a&thinsp;&ndash;&thinsp;z</strong>,
          <strong>0&thinsp;&ndash;&thinsp;9</strong>,
          <strong>_</strong>, and
          <strong>-</strong>. No more than {{maxLength}} characters.
        </p>
        <hab-checking-input
          displayName="Name"
          [form]="form"
          id="origin-name"
          [isAvailable]="isOriginAvailable"
          name="name"
          [value]="isFirstOrigin ? username : ''">
        </hab-checking-input>
      </section>
      <section>
        <h3>Privacy Setting</h3>
        <p>
          Build artifacts (.hart files) can be made available to all Habitat users or restricted to members of this origin.
        </p>
        <hab-visibility-selector [setting]="visibility" (changed)="settingChanged($event)"></hab-visibility-selector>
      </section>
      <section>
        <h3>Origin Keys</h3>
        <p>
          Required for signing .hart files. Available for download once origin is created.
        </p>
        <p>
          <hab-icon symbol="info-outline" class="info"></hab-icon>
          A key pair will be generated automatically and stored under the Keys tab.
        </p>
      </section>
      <section>
        <button mat-raised-button color="primary" [disabled]="!form.valid || creating" (click)="createOrigin">
          <span *ngIf="creating">Saving&hellip;</span>
          <span *ngIf="!creating">Save & Continue</span>
        </button>
      </section>
    </form>
  </div>
</div>
