---
title: Habitat - Build Your WebApp with Habitat
---

section
 h2.h2 Build Your web application with Habitat

 p Each guide below is tailored by platform and you can switch between guides using the selector at the top of each page.

 .buttons
   =link_to 'Ruby', '/tutorials/build-your-own/ruby/', class: 'button outline ruby'
   =link_to 'Node.js', '/tutorials/build-your-own/node/', class: 'button outline node'
   =link_to 'Gradle', '/tutorials/build-your-own/gradle/', class: 'button outline gradle'
   =link_to 'ASP.NET Core', '/tutorials/build-your-own/aspnet-core/', class: 'button outline aspnet-core'
