.origin-keys-tab {
  @include row;

  .page-content {
    @include span-columns(9);
  }

  .page-sidebar {
    @include span-columns(3);
    padding-left: 20px;
    border-left: 1px solid $very-light-gray;

    p {
      margin: 0 0 rem(20);
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: rem(20);
    font-size: rem(12);
    text-transform: uppercase;
  }

  section {
    margin-bottom: 28px;

    &.generate {
      margin-bottom: 18px;
    }

    button {
      color: $hab-green;
      border: 1px solid $hab-green;
      box-shadow: none;
    }

    ul {
      margin-bottom: 20px;

      li {
        @include row;
        border-bottom: 1px solid $very-light-gray;
        padding: 14px;
        font-size: rem(12);

        .none {
          font-size: rem(14);
        }

        .key {
          @include span-columns(10);
          font-weight: bold;

          hab-icon {
            width: 16px;
            height: 16px;
          }
        }

        h3.key {
          font-weight: normal;
        }

        .actions {
          @include span-columns(2);
          text-align: right;

          a {
            cursor: pointer;
            display: block;
          }

          hab-icon {
            margin-right: 0;
            color: $hab-blue;
            transition: color .2s linear;
            width: 16px;
            height: 16px;

            &:hover {
              color: darken($hab-blue, 10%);
            }
          }
        }
      }
    }
  }
}
