<div class="page-body">
  <div class="hab-origin--left">
    <div class="hab-origin--key-list" *ngIf="iAmPartOfThisOrigin">
      <p>
        <button
          md-raised-button
          color="basic"
          (click)="openKeyAddForm('private')"
          [disabled]="!iAmPartOfThisOrigin">
          <hab-icon symbol="file-upload"></hab-icon> Upload private key
        </button>
      </p>
      <hab-key-list
        *ngIf="privateKeyNames.size > 0"
        [keys]="privateKeyNames"
        keyType="private">
      </hab-key-list>
    </div>
    <hr>
    <div class="hab-origin--key-list">
      <p *ngIf="ui.publicKeyListErrorMessage">
          Failed to load public keys:
          {{ui.publicKeyListErrorMessage}}.
      </p>
      <hab-key-list
          *ngIf="!ui.publicKeyListErrorMessage"
          [keys]="publicKeys"
          keyType="public">
      </hab-key-list>
      <p>
        <button
          md-raised-button
          color="basic"
          *ngIf="iAmPartOfThisOrigin"
          (click)="openKeyAddForm('public')"
          [disabled]="!iAmPartOfThisOrigin">
          <hab-icon symbol="file-upload"></hab-icon> Upload public key
        </button>
      </p>
    </div>
  </div>
</div>
