<div class="origin-keys-tab-component body">
  <div class="content">
    <section class="generate" *ngIf="memberOfOrigin">
      <button mat-raised-button color="primary" (click)="generateKeys()">
        Generate a key pair
      </button>
    </section>
    <section class="private" *ngIf="memberOfOrigin">
      <ul class="action-list">
        <li class="heading">
          <h4>Private Key</h4>
          <h4>Actions</h4>
        </li>
        <li class="none" *ngIf="!privateKey">
          <span>No private key found. You can generate a key pair above.</span>
        </li>
        <li class="item" *ngIf="privateKey">
          <span class="column name">
            <hab-icon symbol="visibility-off"></hab-icon>
            <span>{{ privateKey }}</span>
          </span>
          <span class="column actions">
            <a (click)="downloadPrivateKey()">
              <hab-icon symbol="file-download" title="Download this key"></hab-icon>
            </a>
          </span>
        </li>
      </ul>
      <button mat-raised-button color="basic" (click)="openKeyAddForm('private')" *ngIf="memberOfOrigin">
        <hab-icon symbol="file-upload"></hab-icon>
        Upload a private key
      </button>
    </section>
    <hr>
    <section class="public">
      <ul class="action-list">
        <li class="heading">
          <h4>Public Keys</h4>
          <h4>Actions</h4>
        </li>
        <li class="none" *ngIf="publicKeys.size === 0">
          <span class="none">
            <strong>No public key found</strong>. You can generate a key pair above.
          </span>
        </li>
        <li class="item" *ngFor="let key of publicKeys">
          <span class="column name">
            <hab-icon symbol="visibility"></hab-icon>
            <span>{{ key.origin }}-{{ key.revision }}</span>
          </span>
          <span class="column actions">
            <a href="{{ urlFor(key) }}">
              <hab-icon symbol="file-download" title="Download this key"></hab-icon>
            </a>
          </span>
        </li>
      </ul>
      <button mat-raised-button color="basic" *ngIf="memberOfOrigin" (click)="openKeyAddForm('public')">
        <hab-icon symbol="file-upload"></hab-icon>
        Upload a public key
      </button>
    </section>
  </div>
  <aside>
    <h3>About Origin Keys</h3>
    <p>
      Origin keys are used to sign .hart files, providing the capability to verify their authenticity at both build and runtime.
    </p>
    <p>
      Only one
      <strong>private key</strong> exists for an origin at any given time.
    </p>
    <p>
      Read the docs for more information on
      <a href="{{ config['docs_url'] }}/glossary/#sts=Origin Keys" target="_blank">Origin Keys</a>.
    </p>
  </aside>
</div>

