hab-visibility-selector {

  .pkg-selector-wrapper {
    display: flex;
    margin-bottom: 18px;

    .active {
      background-color: $very-light-gray;
    }

    .pkg-visibility-selector {
      flex: 1;
      border: 1px solid $very-light-gray;
      padding: 10px;
      margin-left: 10px;
      border-radius: $base-border-radius;

      h3 {
        font-size: rem(12);
        text-transform: uppercase;
      }

      h4 {
        font-family: $base-font-family;
        font-weight: 600;
        font-size: rem(14);
        letter-spacing: normal;
        text-transform: none;
      }

      .mat-radio-label {
        position: relative;
        text-transform: none;

        .mat-radio-container {
          position: absolute;
          top: 2px;
          left: 0;
        }

        .mat-radio-label-content {
          white-space: normal;
          margin-left: 20px;

          hab-icon {
            margin-left: 6px;
          }
        }
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
