.visibility-selector-component {

  .wrapper {
    display: flex;
    flex-direction: column;

    @include tablet-up {
      flex-direction: row;
    }

    .active {
      background-color: $very-light-gray;
    }

    .selector {
      flex: 1;
      border: $default-border;
      padding: $default-padding;
      border-radius: $default-radius;
      margin-bottom: $default-margin;

      h5 {
        margin-top: 0;
      }

      .mat-radio-label {
        position: relative;

        .mat-radio-container {
          position: absolute;
          top: 0;
          left: 0;
        }

        .mat-radio-label-content {
          white-space: normal;
          margin-left: $default-margin;
          padding-left: $default-padding;

          hab-icon {
            margin-left: $small-margin;
          }
        }
      }

      @include tablet-up {
        &:first-of-type {
          margin-right: $default-margin;
        }
      }
    }
  }
}
