hab-icon {
  display: inline-block;
  line-height: initial;
  width: 1.1em;
  height: 1em;
  vertical-align: sub;

  .mat-icon {
    width: auto;
    height: auto;
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: currentColor;
    }
  }

  &.spinning {
    svg {
      transform-origin: 50%;
      animation: threeSixty 1s linear infinite;
    }
  }

  @keyframes threeSixty {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
