.DS_Store

# ignore doctree files in translation folders
*.doctree
*.pickle

public/
/resources/

**/.sass-cache
**/.sass-cache/*
*.css.map
*.css_t.map

/.delivery/cli.toml

/.vscode

/.venv

*.*~
*~
TAGS

results/

static/fonts/fontawesome
node_modules
vendor

