.hab-build-notice {
  padding-bottom: $default-padding / 2;
  margin-bottom: $default-margin;

  hab-icon {
    &.dispatched, &.processing {
      @extend hab-icon.spinning;
    }
  }

  a {
    text-decoration: underline;
  }

  &.dispatched, &.processing {
    $processing: map-get($status-colors, processing);
    border-bottom: 2px solid $processing;
    color: $processing;

    a {
      color: $processing;
    }
  }

  &.pending {
    $pending: map-get($status-colors, pending);
    border-bottom: 2px solid $pending;
    color: $pending;

    a {
      color: $pending;
    }
  }
}
