<div class="sign-in-page-component">
  <a class="logo" href="{{ wwwUrl }}">
    <img src="/assets/images/habitat-logo.svg" alt="Habitat">
  </a>
  <div class="body">
    <div class="content">
      <section class="upper">
        <a mat-raised-button color="primary" class="button" href="{{ gitHubLoginUrl }}">
          <hab-icon symbol="github"></hab-icon>
          <span>Sign In with GitHub</span>
        </a>
      </section>
      <section class="lower">
        <p>
          Don't have a GitHub account?
          <a href="{{ gitHubJoinUrl }}" target="_blank">Sign up, it's free</a>.
        </p>
        <p>
          New to Habitat? Signing in will also create a new account.
        </p>
      </section>
    </div>
  </div>
  <p class="footnote">
    By clicking on "Sign in with GitHub", you are agreeing to the
    <a href="{{ wwwUrl }}/legal/terms-and-conditions/" target="_blank">Terms of Service</a> and
    <a href="{{ wwwUrl }}/legal/privacy-policy/" target="_blank">Privacy Policy</a>.
  </p>
  <img class="habicat" src="/assets/images/habicat.svg">
</div>
