<div class="visibility-selector-component">
  <mat-radio-group class="wrapper" [(ngModel)]="setting" (change)="change($event)">
    <mat-radio-button class="selector" [class.active]="setting === 'public'" value="public">
      <h5>
        Public packages
        <hab-icon symbol="public"></hab-icon>
      </h5>
      <span>
        Package build will appear in public search results and can be utilized by any user.
      </span>
    </mat-radio-button>
    <mat-radio-button class="selector" [class.active]="setting === 'private'" value="private">
      <h5>
        Private packages
        <hab-icon symbol="lock"></hab-icon>
      </h5>
      <span>
        Package builds will NOT appear in public search results and can ONLY be utilized by members of this origin.
      </span>
    </mat-radio-button>
  </mat-radio-group>
</div>
