<div class="docker-export-settings">
  <h3>
    <hab-icon symbol="docker"></hab-icon>
    Publish to Docker Hub
  </h3>
  <p>
    Export the resulting .hart file as a Docker container and publish it to your
    Docker Hub account. Integration settings are managed under the origin Settings tab.
  </p>
  <div class="toggle">
      <md-slide-toggle [(ngModel)]="enabled" [disabled]="!configured">
        {{ enabled ? "On" : "Off" }}
      </md-slide-toggle>
      <span class="unconfigured" *ngIf="!configured">
        You can configure this integration in the origin Integrations tab.
      </span>
  </div>
  <div *ngIf="enabled && configured">
    <div class="integrations">
      <md-radio-group [(ngModel)]="name">
        <md-radio-button *ngFor="let integration of integrations" [value]="integration">
          <hab-icon symbol="docker"></hab-icon>
          <span>{{ integration }}</span>
        </md-radio-button>
      </md-radio-group>
    </div>
    <div class="fields">
      <label>Docker Organization and Repository</label>
      <input type="text" [(ngModel)]="repoName" placeholder="{{ repoPlaceholder }}">
      <label>Custom Tag (Optional)</label>
      <input type="text" [(ngModel)]="customTag" [placeholder]="'yourtag or \{\{ channel \}\}'">
      <label>Additional Tags</label>
      <md-checkbox [(ngModel)]="latestTag">:latest</md-checkbox>
      <md-checkbox [(ngModel)]="versionTag">:pkg_version</md-checkbox>
      <md-checkbox [(ngModel)]="releaseTag">:pkg_version-pkg_release</md-checkbox>
    </div>
  </div>
</div>
