<a class="return" style="background-color:#007FAB; display:block; text-align:center; width:228px; margin:1rem 0 1.5rem 16px; padding:8px 0; color:white; text-decoration:none font-size:14px; text-transform:uppercase" href='https://www.habitat.sh/docs/'>Return to Docs</a>

<redoc spec-url='/data/docs/builder-api.json'></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc/bundles/redoc.standalone.js"> </script>
