<button class="return" style="font-size:16; background-color:#007FAB; height:2.5rem;width:10rem; margin:1rem; border-radius:0.33rem"><a style="color:white; text-decoration:none" href='https://www.habitat.sh/docs/'>Return to Docs</a></button>

<redoc spec-url='/data/docs/sup-api.json'></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc/bundles/redoc.standalone.js"> </script>
