section.callout-enterprise {
  padding: 0;
  color: $white;
  margin-bottom: 104px;

  .wrapper {
    box-shadow: 0 2px 22px 0 #2F3F4C;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  .header {
    background-color: #3F5364;
    padding: 56px 0;
    border-top: 1px solid #4e6070;

    > div {

      @include breakpoint(medium) {
        &:first-child {
          padding-left: 54px;
        }

        &:last-child {
          text-align: right;
          padding-right: 52px;
        }
      }
    }

    p {
      margin-bottom: 0;
      background: url(/images/icons/icon-videoconference.svg) no-repeat;
      background-size: 32px 32px;
      background-position: 0 8px;
      padding-left: 48px;
      font-size: 18px;
      margin-bottom: 24px;

      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }
  }

  .body {
    padding: 64px 0;
    background-color: $white;
    color: $hab-blue-grey;
    text-align: center;

    h1 {
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 28px;
      color: rgba(92,102,112,0.7);
    }

    .button.outline {
      border: 1px solid $text-gray;
      color: $hab-blue-grey;

      &:hover {
        background-color: $hab-off-white;
        box-shadow: none;
      }
    }
  }
}
