.bldr-header-user {
  @include span-columns(3);
  @include omega();

  text-align: right;

  .username span {
    font-size: 75%;
  }

  li {
    padding-left: 1em;
    display: inline;
    white-space: nowrap;
  }
}
