<div class="hab-dashboard">
  <div class="page-title">
    <h2>Dashboard</h2>
    <h3 class="username">{{ store.getState().users.current.username }}</h3>
  </div>
  <div class="page-body">
    <hab-icon symbol="loading" [class.spinning]="loading" *ngIf="loading"></hab-icon>
    <section class="intro" *ngIf="noOrigins">
      <div class="image">
        <img src="/assets/images/run-icon.svg">
      </div>
      <div class="text">
        <div>
          <strong>New to Habitat? It's easy to get started.</strong>
          <p>
            Check out the Quick Start demo for a brief overview, then
            jump into the tutorials to build and upload your first package.
          </p>
        </div>
      </div>
      <div class="buttons">
        <div>
          <a class="button cta" href="{{ config['www_url'] }}/try">View Demo</a>
          <a class="button cta" href="{{ config['tutorials_url'] }}">Start Tutorial</a>
        </div>
      </div>
    </section>
    <section class="upper" *ngIf="showSection('upper')">
      <div class="origins">
        <div class="heading">
          <h4>My Origins</h4>
          <div class="controls">
            <a [routerLink]="['origins']" title="Add an Origin">
              <hab-icon symbol="add-box"></hab-icon>
            </a>
          </div>
        </div>
        <div class="content">
          <ul *ngIf="myOrigins.size > 0">
            <li *ngFor="let origin of myOrigins">
              <a [routerLink]="['/origins', origin.name]">
                {{ origin.name }}
              </a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
          </ul>
          <div class="none" *ngIf="noOrigins">
            <p>
              Create your first origin, then begin uploading packages.
            </p>
            <p>
              Already created an <strong>origin</strong> on the CLI?
              You'll need to create one here too, using the same name.
            </p>
          </div>
        </div>
      </div>
      <div class="top">
        <div class="heading">
          <h4>My Top Dependencies</h4>
        </div>
        <div class="content">
          <ul>
            <li>
              <a href="#">gcc</a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
            <li>
              <a href="#">coreutils</a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
            <li>
              <a href="#">glibx</a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
          </ul>
        </div>
      </div>
      <div class="favorites">
        <div class="heading">
          <h4>My Recent Favorites</h4>
          <div class="controls">
            <a href="#">
              <hab-icon symbol="list-bulleted"></hab-icon>
            </a>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              <a href="#">python</a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
            <li>
              <a href="#">mysql</a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
            <li>
              <a href="#">unicorn</a>
              <hab-icon symbol="chevron-right"></hab-icon>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="lower">
      <div class="recent">
        <div *ngIf="myOrigins.size > 0">
          <h4>My Recent Packages</h4>
          <label>Show Packages From</label>
          <select #origin (change)="selectOrigin(origin.value)">
            <option *ngFor="let origin of myOrigins">
              {{ origin.name }}
            </option>
          </select>
        </div>
        <ul class="packages" *ngIf="myPackages.size">
          <li class="heading">
            <div class="package-origin">
              <h5>Origin</h5>
            </div>
            <div class="package-name">
              <h5>Package</h5>
            </div>
            <div class="package-updated">
              <h5>Latest</h5>
            </div>
            <div class="package-icons">
              <!-- TBD -->
            </div>
          </li>
          <li class="item" *ngFor="let pkg of myPackages" (click)="navigateToPackage(pkg)">
            <div class="package-origin">
              {{ pkg.origin }}
            </div>
            <div class="package-name">
              {{ pkg.name }}
            </div>
            <div class="package-updated">
              {{ releaseToDate(pkg.release) }}
            </div>
            <div class="package-icons">
              <hab-platform-icon [platform]="pkg.platforms[0]"></hab-platform-icon>
            </div>
            <hab-icon symbol="chevron-right"></hab-icon>
          </li>
        </ul>
        <div class="none" *ngIf="noOrigins">
          <p>
            <a [routerLink]="['origins']">Create your first origin</a>, then begin uploading packages.
          </p>
          <p>
            Already created an <strong>origin</strong> on the CLI?
            You'll need to create one here too, using the same name.
          </p>
        </div>
        <div class="none" *ngIf="myOrigins.size > 0 && myPackages.size === 0">
          <p>
            You haven't uploaded any packages to this origin yet.
            <a href="{{ config['docs_url'] }}/share-packages-overview/">Learn how to upload packages</a>.
          </p>
        </div>
      </div>
      <div class="new" *ngIf="showSection('blog')">
        <h4>New in Habitat</h4>
        <ul>
          <li>
            <a href="#">Some new blog post with a longer title than most</a>
          </li>
          <li>
            <a href="#">A new version of Habitat has been released!</a>
          </li>
          <li>
            <a href="#">Another blog post title</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
