.settings-tab {
  @include span-columns(8);
  @include omega;

  h3, h4 {
    font-size: rem(12);
    text-transform: uppercase;
  }

  .title-description {
    font-size: 14px;
    line-height: 18px;
  }

  .mat-radio-container {
    width: 16px;
    height: 16px;

    .mat-radio-outer-circle {
      border-width: 1px;
    }

    .mat-radio-ripple {
      left: -12px;
      top: -12px;
    }
  }
}
