[package]
name = "habitat_core"
version = "0.0.0"
authors = ["Adam Jacob <adam@chef.io>", "Jamie Winsor <reset@chef.io>", "Fletcher Nichol <fnichol@chef.io>", "Joshua Timberman <joshua@chef.io>", "Dave Parfitt <dparfitt@chef.io>"]
workspace = "../../"

[dependencies]
errno = "*"
lazy_static = "*"
libarchive = "*"
libc = "*"
log = "*"
regex = "*"
rustc-serialize = "*"
toml = "*"
url = "*"

### !!NOTE!! sodiumoxide and libsodium-sys are using an override, via the
### .cargo/config file. When https://github.com/dnaq/sodiumoxide/pull/103
### is merged, we can get rid of this hack.
sodiumoxide = "*"
libsodium-sys = "*"
time = "*"

[target.'cfg(not(windows))'.dependencies]
users = "*"

[dev-dependencies]
tempdir = "*"

[dev-dependencies.hyper]
version = "*"
default-features = false

[features]
functional = []
