.hab-package-component {

  h3 {
    text-transform: uppercase;
    font-size: rem(12);
  }

  .page-body {
    padding-top: 30px;
    @include row;

    .page-content {
      @include span-columns(12);
      min-height: 1px;
    }

    .page-sidebar, hab-build-notice {
      display: none;
    }

    &.with-sidebar {

      .page-content {
        @include span-columns(8);
      }

      .page-sidebar {
        @include span-columns(4);
        display: block;
        padding-left: 20px;
        border-left: 1px solid $very-light-gray;
      }
    }

    &.with-active-build {

      hab-build-notice {
        display: block;
      }
    }
  }

  hab-platform-icon {
    margin-right: 4px;
  }
}
