<div class="hab-package-component">
  <div class="page-title">
    <h2>
      <hab-package-breadcrumbs [ident]="ident"></hab-package-breadcrumbs>
    </h2>
    <h4>package</h4>
  </div>
  <div class="page-subnav">
    <ul class="tabs">
      <li *ngIf="enabled('latest')">
        <a [routerLink]="['./latest']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Latest</a>
      </li>
      <li *ngIf="enabled('readme')">
        <a [routerLink]="['./readme']"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">Readme</a>
        </li>
      <li *ngIf="enabled('versions')">
        <a [routerLink]="['./']"
           [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">Versions</a>
      </li>
      <li *ngIf="enabled('builds')">
        <a [routerLink]="['./builds']"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">Build Jobs</a>
      </li>
      <li *ngIf="enabled('settings')">
        <a [routerLink]="['./settings']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Build Settings</a>
      </li>
    </ul>
  </div>
  <div class="page-body">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    <div class="page-sidebar">
      <hab-package-sidebar [origin]="origin" [name]="name"></hab-package-sidebar>
    </div>
  </div>
</div>
