<div class="hab-package-component">
  <div class="page-title">
    <h2>
      <hab-package-breadcrumbs [ident]="ident"></hab-package-breadcrumbs>
    </h2>
    <h4>package</h4>
  </div>
  <nav md-tab-nav-bar>
    <a md-tab-link *ngIf="enabled('latest')"
       routerLink="latest"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Latest
    </a>
    <a md-tab-link *ngIf="enabled('readme')"
       routerLink="readme"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Readme
    </a>
    <a md-tab-link *ngIf="enabled('versions')"
      routerLink="./"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      Versions
    </a>
    <a md-tab-link *ngIf="enabled('builds')"
       routerLink="builds"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Build Jobs
    </a>
    <a md-tab-link *ngIf="enabled('settings') && isOriginMember"
       routerLink="settings"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Settings
    </a>
  </nav>
  <div class="page-body" [class.with-sidebar]="showSidebar" [class.with-active-build]="showActiveBuild">
    <hab-build-notice [build]="activeBuild"></hab-build-notice>
    <div class="page-content">
      <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
    </div>
    <div class="page-sidebar">
      <hab-package-sidebar [origin]="origin" [name]="name" [building]="building" [buildable]="buildable"></hab-package-sidebar>
    </div>
  </div>
</div>
