<div class="package-versions-component">
  <ul class="toggle-list">
    <li class="heading">
      <h4>Version</h4>
      <h4>Releases</h4>
      <h4>Updated</h4>
      <h4>Platforms</h4>
    </li>
    <li class="none" *ngIf="versions.length === 0">
      <span>There are no available versions for this package.</span>
    </li>
    <div *ngFor="let version of versions" (click)="toggle(version)">
      <li class="item">
        <span class="column name">{{ version.version }}</span>
        <span class="column">{{ version.release_count }}</span>
        <span class="column">{{ releaseToDate(version.latest) }}</span>
        <span class="column">
          <hab-platform-icon [platform]="platform" *ngFor="let platform of platforms"></hab-platform-icon>
        </span>
        <hab-icon class="toggle" [symbol]="toggleFor(version)"></hab-icon>
      </li>
      <div *ngIf="selected === version">
        <ul class="nav-list">
          <li class="item" *ngFor="let pkg of packagesFor(version)" (click)="navigateTo(pkg)">
            <a>
              <div class="column name release">
                <span class="release-name">{{ packageString(pkg) }}</span>
                <hab-channels [channels]="pkg.channels"></hab-channels>
                <hab-package-promote [origin]="pkg.origin" [name]="pkg.name" [version]="pkg.version" [release]="pkg.release" channel="stable"
                  *ngIf="promotable(pkg)"></hab-package-promote>
              </div>
              <div class="column build-date">
                {{ releaseToDate(pkg.release) }}
              </div>
              <div class="column os">
                <hab-platform-icon [platform]="pkg.platforms[0]"></hab-platform-icon>
              </div>
              <div class="column visibility">
                <!-- TBD -->
              </div>
              <div class="column build-source">
                <!-- TBD -->
              </div>
              <hab-icon symbol="chevron-right"></hab-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </ul>
</div>
