---
title: Habitat - Run the Sample App
type: tutorial
platform: Linux
platform_short: linux
---

= partial '/partials/tutorials/platform_switcher', locals: { platform: 'linux' }

= partial '/partials/tutorials/sample_app_run_app'
