a class="github-button" href="https://github.com/habitat-sh/habitat" data-icon="octicon-star" data-show-count="true" aria-label="Star habitat-sh/habitat on GitHub" Star

script async="true" defer="true" src="https://buttons.github.io/buttons.js"