# <a name="plan-helpers" id="plan-helpers" data-magellan-target="plan-helpers" class="anchor">Plan Helpers</a>

Chef Habitat not only allows you to use [Handlebars-based](http://handlebarsjs.com) tunables in your plan, but you can also use both built-in Handlebars helpers as well as Chef Habitat-specific helpers to define your configuration logic.

- [Built-in Helpers](#builtin-helpers)
- [Plan Helpers](#plan-helpers)

<h3 id="builtin-helpers" class="anchor">Built-in Helpers</h3>

<%= partial '/partials/docs/built-in-helpers'%>

<h3 id="plan-helpers" class="anchor">Plan Helpers</h3>

<%= partial "/partials/docs/plan-helpers"%>
