# <a name="helpers" id="helpers" data-magellan-target="helpers" class="anchor">Handlebars Helpers</a>

Chef Habitat not only allows you to use [Handlebars-based](http://handlebarsjs.com) tunables in your plan, but you can also use both built-in Handlebars helpers as well as Chef Habitat-specific helpers to define your configuration logic. 

- [Built-in Helpers](#builtin-helpers)
- [Chef Habitat Helpers](#habitat-helpers)

<h3 id="builtin-helpers" class="anchor">Built-in Helpers</h3>

<%= partial '/partials/docs/built-in-helpers'%>

<h3 id="habitat-helpers" class="anchor">Chef Habitat Helpers</h3>

<%= partial "/partials/docs/reference-handlebars-helpers"%>
