---
title: Chef Habitat and Other Software
description: Chef Habitat works with Terraform, Cloud Formation, Docker, CoreOS, Kubernetes, CI, and popular configuration management tools
---

# <a name="installing-packages" id="installing-packages" data-magellan-target="installing-packages">Chef Habitat and Other Software</a>
Chef Habitat helps build, deploy, and manage your applications. To help understand Chef Habitat, we explore how Chef Habitat integrates, complements, or overlaps with other popular software.

