hab-integration-credentials-dialog {

  h3 {
    margin-bottom: 22px;
    font-size: rem(16);
  }

  .docker-credentials-form {
    font-size: rem(14);

    .form-input-full-width {
      width: 100%;
      margin-bottom: 18px;

      label {
        font-size: rem(12);
        font-family: $heading-font-family;
        text-transform: uppercase;
      }

      input {
        border: 1px solid $medium-gray;

        &.ng-pristine:focus {
          border: 1px solid $medium-gray;
          box-shadow: inherit;
        }

        &::placeholder {
          color: $medium-gray;
        }
      }
    }

    p {
      font-size: rem(13);
      margin: 18px 0;

      &.validating {
        color: $medium-gray;
      }

      &.success {
        color: $success-color;
      }
    }

    .controls {
      margin-top: 22px;

      a {
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}
