<h3>
  <hab-icon symbol="docker"></hab-icon> Add Registry account
</h3>
<form class="docker-credentials-form" (ngSubmit)="onSubmit()" #dockerForm="ngForm">
  <div class="form-input-full-width">
    <label>Integration Name</label>
    <input name="name" #name="ngModel" [(ngModel)]="model.name" placeholder="Integration name" [class.invalid]="name.invalid && name.dirty"
      required>
  </div>
  <div class="form-input-full-width" *ngIf="data.type !== 'docker'">
    <label>Registry Url</label>
    <input name="registry_url" #registry_url="ngModel" [(ngModel)]="model.registry_url" placeholder="Registry URL" [class.invalid]="registry_url.invalid && registry_url.dirty">
  </div>
  <div class="form-input-full-width">
    <label>Docker Hub Username</label>
    <input name="username" #username="ngModel" [(ngModel)]="model.username" placeholder="username" [class.invalid]="username.invalid && username.dirty"
      required>
  </div>
  <div class="form-input-full-width">
    <label>Docker Hub Password</label>
    <input name="password" #password="ngModel" [(ngModel)]="model.password" type="password" placeholder="password" [class.invalid]="password.invalid && password.dirty"
      required>
  </div>
  <div *ngIf="creds.validating || creds.validated">
    <p [class]="status.className">
      <hab-icon [symbol]="status.icon" [class.spinning]="creds.validating"></hab-icon>
      {{ creds.message }}
    </p>
  </div>
  <div class="controls">
    <button mat-raised-button tabindex="1" color="primary" type="submit" [disabled]="!dockerForm.form.valid">Save Account</button>
    <a (click)="close()">Cancel</a>
  </div>
</form>
