.dialog-header {
  margin-bottom: 20px;
}
.hab-key-add-form {
  h6 {
    font-size: rem(14px);
  }
  textarea {
    // resize: none;
    margin-bottom: 0;
  }
  .options-row {
    margin-top: 25px;
  }
}
