<h3 class="dialog-header"><hab-icon [symbol]="icon"></hab-icon> Upload {{type}} key</h3>
<label>{{type}} Key</label>
<form class="hab-key-add-form" [formGroup]="form" #formValues="ngForm"
(ngSubmit)="submit(formValues.value.key)">
  <div>
    <textarea
      mdInput
      name="key"
      [formControl]="form.controls['key']"
      placeholder="Begins with '{{keyFileHeaderPrefix}}'"
      rows=6>
    </textarea>
    <div class="hint" *ngIf="control.pristine">
      Paste your key here. Check the documentation for a guide on
      <a href="{{docsUrl}}/create-packages-build/#sts=Create origin keys">generating keys</a>.
    </div>
    <div class="error" *ngIf="control.dirty && control.errors">
      <span *ngIf="control.errors.required">
        A value is required.
      </span>
      <span *ngIf="control.errors.invalidFormat">
        This is not a valid key format.
      </span>
      <span *ngIf="control.errors.invalidType">
        Key must begin with '{{keyFileHeaderPrefix}}'.
      </span>
      <span *ngIf="control.errors.invalidOrigin">
        Key origin must match '{{originName}}'.
      </span>
    </div>
    <div class="error" *ngIf="errorMessage">
      Failed to save key: {{errorMessage}}.
    </div>
  </div>
  <div class="controls">
    <button md-raised-button color="primary" tabindex="1" type="submit" [disabled]="!form.valid">
        Upload Key
    </button>
    <a (click)="close()">Cancel</a>
  </div>
</form>
