.hab-pkg-builds {

  .page-title {

    h4 {
      font-weight: normal;
      text-transform: none;
    }
  }

  .page-body {

    hab-build-list {
      margin-top: 8px;
      @include span-columns(9);
    }
  }
}
