.build-detail-component {
  position: relative;

  @each $status, $color in $status-colors {
    .#{$status} {
      color: #{$color};
    }
  }

  .summary {
    border: $default-border;
    border-radius: $default-radius;
    padding: $default-padding;
    font-size: $small-font-size;;
    color: $dark-gray;
    margin-bottom: $default-margin;

    @include tablet-up {
      display: flex;
    }

    .status {
      flex: 6;
      font-weight: 600;

      div {
        display: block;
        font-size: $base-font-size;
        margin-bottom: $default-margin;
      }

      hab-icon {
        &.dispatched, &.processing {
          @extend hab-icon.spinning;
        }
      }
    }

    .detail {
      flex: 6;

      .item {
        
        @include tablet-up {
          display: flex;
        }

        .label {
          flex: 2;
          font-weight: 600;
        }

        .data {
          flex: 6;
        }
      }
    }
  }

  .controls {
    padding: $default-padding / 4;
    background: $white;
    border-radius: $default-radius;
    @include shadow;

    button {
      display: block;
      background: $dark-blue;
      font-size: $small-font-size;
      text-transform: none;
      text-align: left;
      width: 100%;
      padding: 2px 8px;
      outline: none;
      border: none;
      color: $white;
      font-family: $base-font-family;
      cursor: pointer;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        margin-top: 1px;
        border-radius: 0 0 4px 4px;
      }

      &:hover {
        background-color: $hab-green;
      }

      &.active {
        background-color: $hab-green;
      }

      hab-icon {
        margin-right: 4px;
      }
    }
  }

  .output-container {
    padding-left: $default-padding / 2;
    border-left: 2px solid transparent;
    border-radius: 2px;

    @each $status, $color in $status-colors {
      &.#{$status} {
        border-color: #{$color};
      }
    }
  }

  .output {
    min-height: 120px;
    font-family: $monospace-font-family;
    font-size: $monospace-font-size;
    padding: $default-padding;
    background: $dark-blue;
    border-radius: $default-radius;
    color: $medium-gray;
    overflow: auto;
  }
}
