<div class="hab-build">
  <div class="summary" *ngIf="info.state">
    <div class="status">
      <hab-icon [symbol]="iconFor(info.state)" [class]="info.state | lowercase"></hab-icon>
      <strong>Build {{ info.state }}</strong>
    </div>
    <div class="detail">
      <div class="item">
        <div class="label">Build Time</div>
        <div class="data">{{ elapsed || "&mdash;" }}</div>
      </div>
      <div class="item">
        <div class="label">Completed</div>
        <div class="data">{{ completed || "&mdash;" }}</div>
      </div>
    </div>
  </div>
  <div class="controls" [ngStyle]="controlsStyles">
    <button type="button" class="jump-to-top" (click)="scrollToTop()">
      <hab-icon symbol="chevron-up"></hab-icon>
      <span>Jump to top</span>
    </button>
    <button type="button" class="jump-to-end" (click)="toggleFollow()" [class.active]="followLog">
      <hab-icon symbol="chevron-down"></hab-icon>
      <span>{{ completed ? "Jump to end" : "Follow log" }}</span>
    </button>
  </div>
  <pre class="output"></pre>
</div>
