<div class="origin-integrations-tab-component body">
  <div class="content">
    <section>
      <h3>
        <hab-icon symbol="docker"></hab-icon>
          Container Registries
      </h3>
      <p>
        When connecting a plan file to the Habitat Build Service, you can optionally export the result of your package build jobs
        (.hart file) to a Docker container and publish it to your registry account(s).
      </p>
      <div class="buttons">
        <div class="wrapper" *ngFor="let provider of providers">
          <button mat-raised-button (click)="addIntegration(provider.key)">
            <div class="tile {{ provider.key }}">
              <hab-icon [symbol]="provider.key"></hab-icon>
            </div>
            <div class="add-icon">
              <hab-icon symbol="add-circle"></hab-icon>
            </div>
            <div class="label">
              {{ provider.name }}
            </div>
          </button>
        </div>
      </div>
    </section>
    <section>
      <ul class="action-list">
        <li class="heading">
          <h4>Registry Account</h4>
          <h4>Actions</h4>
        </li>
        <li class="none" *ngIf="(integrations | habKeysPipe).length === 0">
          <span class="none">
            No container registry accounts found.
          </span>
        </li>
        <ng-container *ngFor="let type of integrations | habKeysPipe">
          <li class="item" *ngFor="let integration of integrations[type]">
            <span class="column name">
              <hab-icon [symbol]="type"></hab-icon>
              <span>{{ integration }}</span>
            </span>
            <span class="column actions">
              <hab-icon symbol="cancel" title="Delete this integration" (click)="deleteIntegration(integration, type)"></hab-icon>
            </span>
          </li>
        </ng-container>
      </ul>
    </section>
  </div>
</div>
