---
title: Habitat - Build and Test
platform: Node.js
platform_short: node
---

= partial '/partials/tutorials/scaffolding_switcher', locals: { platform: "#{current_page.data.platform}" }

= partial '/partials/tutorials/web_guide_build_test'