[package]
name = "habitat_sup"
version = "0.5.0"
authors = ["Adam Jacob <adam@chef.io>", "Jamie Winsor <reset@chef.io>", "Fletcher Nichol <fnichol@chef.io>", "Joshua Timberman <joshua@chef.io>", "Dave Parfitt <dparfitt@chef.io>"]
build = "build.rs"

[lib]
name = "habitat_sup"

[[bin]]
name = "hab-sup"
doc = false

[[test]]
name = "functional"

[dependencies]
rustc-serialize = "*"
log = "*"
env_logger = "*"
ansi_term = "*"
hyper = "*"
tempdir = "*"
toml = "*"
regex = "*"
libc = "*"
url = "*"
iron = "*"
router = "*"
time = "*"
temp_utp = "*"
rand = "*"
threadpool = "*"
urlencoded = "*"
openssl = "*"
lazy_static = "*"
handlebars = "*"

[dependencies.habitat_core]
path = "../core"

[dependencies.habitat_common]
path = "../common"

[dependencies.habitat_depot_core]
path = "../depot-core"

[dependencies.habitat_depot_client]
path = "../depot-client"

[dependencies.uuid]
version = "*"
features = ["rustc-serialize"]

[dependencies.wonder]
path = "../../vendor/wonder"

[dependencies.clap]
version = "*"
features = ["suggestions", "color"]

[profile.release]
lto = true
