[package]
name = "habitat_sup"
version = "0.0.0"
edition = "2018"
authors = ["Adam Jacob <adam@chef.io>", "Jamie Winsor <reset@chef.io>", "Fletcher Nichol <fnichol@chef.io>", "Joshua Timberman <joshua@chef.io>", "Dave Parfitt <dparfitt@chef.io>"]
build = "./build.rs"
workspace = "../../"

[lib]
name = "habitat_sup"

[[bin]]
name = "hab-sup"
path = "src/main.rs"
doc = false

[dependencies]
actix = "*"
actix-web = { version = "*", default-features = false, features = [ "rust-tls" ] }
ansi_term = "*"
bitflags = "*"
byteorder = "*"
clap = { version = "*", features = [ "suggestions", "color", "unstable" ] }
env_logger = "*"
features = "*"
futures = "*"
glob = "*"
hab = { path = "../hab" }
habitat_butterfly = { path = "../butterfly", default-features = false }
habitat_common = { path = "../common" }
habitat_core = { git = "https://github.com/habitat-sh/core.git" }
habitat_api_client = { path = "../builder-api-client" }
habitat-launcher-client = { path = "../launcher-client" }
habitat-sup-protocol = { path = "../sup-protocol", default-features = false }
lazy_static = "*"
libc = "*"
log = "*"
notify = "*"
num_cpus = "*"
prost = "*"
protobuf = { version = "1.5.1", features = ["bytes"] }
rand = "*"
regex = "*"
rustls = "*"
serde = { version = "*", features = ["rc"] }
serde_derive = "*"
serde_json = "*"
serde_yaml = "*"
serde-transcode = "*"
tempfile = "*"
time = "*"
toml = { version = "*", default-features = false }
tokio = "*"
tokio-core = "*"
tokio-codec = "*"
url = "*"
valico = "*"

[target.'cfg(target_os = "linux")'.dependencies]
caps = "*"

[target.'cfg(windows)'.dependencies]
ctrlc = "*"
winapi = "*"

[dev-dependencies]
# Pending upgrade activities in https://github.com/habitat-sh/core/issues/72
hyper = "0.10"
json = "*"

[dev-dependencies.habitat_core]
git = "https://github.com/habitat-sh/core.git"

[features]
default = []
apidocs = []

