[package]
name = "habitat_sup"
version = "0.0.0"
edition = "2018"
authors = ["The Habitat Maintainers <humans@habitat.sh>"]
build = "./build.rs"
workspace = "../../"

[lib]
name = "habitat_sup"

[[bin]]
name = "hab-sup"
path = "src/main.rs"
doc = false

[dependencies]
bytes = "*"
actix-web = { version = "*", default-features = false, features = [ "rustls" ] }
actix-rt = "*"
byteorder = "*"
clap = { git = "https://github.com/habitat-sh/clap.git", branch = "v2-master", features = [ "suggestions", "color", "unstable" ] }
configopt = { git = "https://github.com/davidMcneil/configopt.git" }
cpu-time = "*"
futures = { version = "0.3.1" }
glob = "*"
hab = { path = "../hab" }
habitat_butterfly = { path = "../butterfly", default-features = false }
habitat_common = { path = "../common" }
habitat_core = { path = "../core" }
habitat_api_client = { path = "../builder-api-client" }
habitat_http_client = { path = "../http-client" }
habitat-launcher-client = { path = "../launcher-client" }
habitat-sup-protocol = { path = "../sup-protocol", default-features = false }
lazy_static = "*"
libc = "*"
log = "*"
log4rs = "*"
notify = "*"
num_cpus = "*"
parking_lot = "*"
pin-project = "*"
prometheus = "*"
prost = "*"
prost-derive = "*"
prost-types = "*"
rand = "*"
rants = "*"
regex = "*"
# Pinning for now. Since upgrading to 0.17.0 results in conflicts with other crates
# See https://github.com/habitat-sh/habitat/issues/7523
rustls = "0.16.0"
serde = { version = "*", features = ["rc"] }
serde_derive = "*"
serde_json = "*"
serde_yaml = "*"
serde-transcode = "*"
state = "*"
structopt = { git = "https://github.com/habitat-sh/structopt.git" }
tempfile = "*"
termcolor = "*"
toml = { version = "*", default-features = false }
tokio = { version = "*", features = ["full"] }
tokio-util = { version = "*", features = ["full"] }
url = "*"
valico = "*"

[target.'cfg(target_os = "linux")'.dependencies]
caps = "*"

[target.'cfg(target_family = "unix")'.dependencies]
jemallocator = "*"
jemalloc-ctl = "*"

[target.'cfg(windows)'.dependencies]
ctrlc = "*"
mio-named-pipes = "*"
# Pinning for now. Since upgrading to 0.7.0 results in conflicts with other crates
# See https://github.com/habitat-sh/habitat/issues/7522
mio = "0.6.21"
uuid = { version = "*", features = ["v4"] }
winapi =  { version = "*", features = ["namedpipeapi", "tlhelp32"] }

[dev-dependencies]
habitat_core = { path = "../core" }
hyper = "*"
json = "*"

[build-dependencies]
prost-build = "*"

[features]
default = []
apidocs = []
ignore_integration_tests = []
lock_as_rwlock = ["habitat_common/lock_as_rwlock"]
lock_as_mutex = ["habitat_common/lock_as_mutex"]
