nav > footer {
  background-color: $body-font-color;
  padding: rem-calc(32px 0px);

  .logo {
    margin-left: rem-calc(16);

    img {
      width: 100px;
    }

    a {
      opacity: 1;
      padding-left: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  .legal {
    color: $footer-text;
    opacity: 0.4;
    font-size: 12px;
    line-height: 1.4;
    margin: rem-calc(16) 0 0 rem-calc(16);
  }

  .menu {
    margin-top: rem-calc(32);

    li {
      font-size: 14px;

      a {
        color: $footer-text;
        opacity: 0.7;

        &:last-child {
          padding-right: 0px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .modified {
    color: $footer-text;
    opacity: 0.7;
    font-size: 14px;
    padding-left: 1rem;
    margin: rem-calc(16px 0);
  }
}
