nav {
  &.sticky {
    z-index: 1 !important;
  }

  &.is-stuck {
    // Make sure sticky nav is above all other elements on the page
    z-index: 20 !important;

    @include transition();

    header {
      border-bottom: 1px solid $ash;

      #header-logo {

        img {
          @include transition();
          padding: 8px 0;
          width: 90px;
          margin-top: 2px;
        }
      }

      #header-menu {
        margin-bottom: 0px;
      }
    }
  }

  header {
    background-color: $white;

    #header-logo {
      img {
        padding: 24px 0;
        width: 121px;
      }
    }

    #header-menu {
      margin-bottom: rem-calc(24);

      .pre {
        font-size: 14px;
        color: $blue;
        margin-right: 5px;
      }

      ul.menu {
        li {
          text-transform: uppercase;
        }

        a {
          // Override Foundation Defaults to get the styling we want
          background-color: $white !important;

          color: $body-font-color;
          font-weight: 700;
          font-size: 15px;
          opacity: 0.7;
          transition: opacity 0.2s;

          &:hover {
            opacity: 1;
            color: $body-font-color;
          }
        }
      }

      @include breakpoint(small only) {
        ul.menu {
          margin: 0;
          padding-bottom: rem-calc(16);
          border-bottom: 1px solid $lightgray;

          li {
            &.active {
              a {
                border-left: 3px solid $blue;
              }
            }
          }

          a {
            border-left: 3px solid $white;
          }
        }
      }

      @include breakpoint(medium) {
        ul.menu {
          height: 100%;
          float: right;
          margin: rem-calc(0px 24px 0 32px);

          li {
            text-transform: uppercase;
            margin-right: rem-calc(30px);

            &:last-child {
              margin-right: 0px;
            }

            &.active {
              position: relative;

              &:after {
                content: "";
                height: 3px;
                width: 100%;
                background-color: $blue;
                position: absolute;
                bottom: 0;
                left: 0;
              }

              a {
                opacity: 1;
              }
            }

            a {
              // Override Foundation Defaults to get the styling we want
              top: 50%;
              position: relative;
              transform: translateY(-50%);
              padding: 0 !important;
            }
          }
        }
      }

      @include breakpoint(large) {
        ul.menu {
          margin: rem-calc(0px 0 0 32px);
        }
      };
    }

    #header-toggle {
      @include breakpoint(medium) {
        display: none;
      }

      text-align: center;

      button {
        color: $charcoal;
        cursor: pointer;
      }
    }
  }
}

.has-sidebar {
  @include breakpoint(medium) {
    header {
      background: $white;
      border-bottom: 1px solid $sidebargray;
    }

    #header-menu {
      margin-bottom: 0;
      background-color: $white;

      ul.menu {
        float: right;

        li a {
          padding: rem-calc(16) 0 rem-calc(24) !important;
        }
      }
    }
  }

  @include breakpoint(large) {
    header {
      background: linear-gradient(90deg, $sidebargray 50%, $white 50%);
    }

    #header-menu ul.menu {
      float: left;
    }
  }
}


@import "utility-bar";
