@charset "utf-8";

// node_modules imports relative to node_modules/

@import "variables";
@import "foundation-sites/scss/foundation";
@include foundation-everything;

@import "mixins";
@import "typography";
@import "buttons";

@import "base";
@import "toc";

@import "header";
@import "footer";
@import "homepage";

body {
	@include font-smoothing();
  @include base-type();
}

@import "partials/alerts";
@import "partials/grid";
@import "partials/bg";

@import "partials/callout";
@import "partials/padding";
@import "partials/sidebar";
@import "partials/tabs";
@import "partials/blurbs";
@import "partials/copycode";
@import "partials/runbook";

