<header>
  <h1>
    <hab-package-breadcrumbs [ident]="ident"></hab-package-breadcrumbs>
  </h1>
  <h2>package</h2>
</header>
<nav class="tabs" mat-tab-nav-bar>
  <a mat-tab-link routerLink="latest" routerLinkActive #latest="routerLinkActive" [active]="latest.isActive">
    Latest
  </a>
  <a mat-tab-link routerLink="./" [routerLinkActiveOptions]="{exact: true}" routerLinkActive #versions="routerLinkActive" [active]="versions.isActive">
    Versions
  </a>
  <a mat-tab-link *ngIf="isOriginMember" routerLink="builds" routerLinkActive #jobs="routerLinkActive" [active]="jobs.isActive">
    Build Jobs
  </a>
  <a mat-tab-link *ngIf="isOriginMember" routerLink="settings" routerLinkActive #settings="routerLinkActive" [active]="settings.isActive">
    Settings
  </a>
</nav>
<div class="body">
  <div class="content">
    <hab-build-notice [build]="activeBuild" *ngIf="showActiveBuild"></hab-build-notice>
    <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
  </div>
  <aside *ngIf="showSidebar">
    <hab-package-sidebar [origin]="origin" [name]="name" [building]="building" [buildable]="buildable"></hab-package-sidebar>
  </aside>
</div>
