# https://github.com/actions-rs/audit-check
name: Rust Cargo Audit
on:
  push:
jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.81.0
      - uses: ClementTsang/cargo-action@v0.0.6
        with:
          command: install
          args: cargo-audit
      - uses: ClementTsang/cargo-action@v0.0.6
        with:
          command: audit
