<div class="hab-keys-list">
  <p *ngIf="keys.size === 0">
    No {{type}} keys found.
  </p>
  <ul class="keys">
    <li class="heading">
      <h3 class="key-name uppercase">{{keyType}} Keys</h3>
      <h3 class="uppercase download" *ngIf="publicKey">Actions</h3>
    </li>
    <li *ngFor="let key of keys" class="key">
      <div class="summary">
        <span class="key-name">
          <hab-icon class="key-icon" [symbol]="icon"></hab-icon>
          <span *ngIf="publicKey">{{key.origin}}-{{key.revision}}</span>
          <span *ngIf="!publicKey">{{key.name}}</span>
        </span>
        <a *ngIf="publicKey" class="download" href="{{apiUrl}}/depot{{key.location}}">
          <hab-icon symbol="file-download" title="Download this key"></hab-icon>
        </a>
      </div>
    </li>
  </ul>
</div>
