[Unit]
Description=Habitat Supervisor

[Service]
Environment=RUST_LOG=${log_level}
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment SSL_CERT_FILE=$(hab pkg path core/cacerts)/ssl/cert.pem"
ExecStart=/bin/hab run ${flags}

[Install]
WantedBy=default.target
