[Unit]
Description=Habitat Supervisor

[Service]
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment SSL_CERT_FILE=$(hab pkg path core/cacerts)/ssl/cert.pem"
ExecStart=/bin/hab sup run --peer ${peer_ip}:${gossip_listen_port} ${flags}

[Install]
WantedBy=default.target
