---
title: Habitat - Configure Your Workstation
---

partial '/partials/global/configure-workstation'

  p That's it. You're all set up and ready to use Habitat to build and run packages!
  
= link_to 'Next: Build a Sample App', '/tutorials/sample-app/', class: 'button cta'
