---
title: Habitat - Download and Install Habitat
---
section.download

  = partial '/partials/global/download-and-install'


= link_to 'Next: Create a Habitat Account', '/tutorials/download/create-account/', class: 'button cta'
